<template>
	<div>
		<div class="container-fluid bg-afirme">
			<header-component />
			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />
					<div class="d-none d-md-block text-center mt-md-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto AFIRME</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>

		<!-- *****************  C O N T E N I D O  *****************-->
		<div class="container-fluid p-t pt-md-4 pt-lg-5 mt-3 mt-md-0">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Requisitos para contratar tu Seguro Afirme</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Afirme Seguros tiene una amplia gama de atención al cliente, esta es
						la que ofrece seguros Afirme, deberás completar un formulario de
						contacto, además de ello puedes ingresar a un cotizador de seguros
						de auto, desde cualquier lugar del país, no pagues más y conoce las
						coberturas necesarias para ti y tus especificaciones.
					</p>
					<p class="text">
						Solo necesitas conocer tu perfil, tus necesidades y las de tu
						vehículo, podrás contratar tu Seguro Afirme solo necesitas juntar
						los requisitos, que se te piden, estos son muy sencillos y fáciles
						de juntar.
					</p>
					<p class="text">
						Seguros Afirme desea que no demores tu satisfacción de sentir la
						certeza de saber si te sientes bien o amparado, no puedes adivinar
						en qué momento tendrás percances, por ello contratar tu seguro lo
						antes posibles es la mejor decisión que puedes tomar.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Ventajas de Contratar Seguros de autos Afirme
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Seguros Afirme, se caracteriza por otorgar la más alta calidad en
						cada uno de sus servicios, además que te brinda la solidez
						financiera que necesitas, para poder respaldarlo ante cualquier
						imprevisto que pueda ponerte en riesgo, a ti, tu familia o tu
						economía, así como la estabilidad y el futuro de tu familia.
					</p>
					<p class="text">
						Afirme se logra concretar como una compañía aseguradora que además
						de brindar seguridad y tranquilidad, puedas sentirte protegido en
						todo momento, ya que es una de las aseguradoras más confiables de
						México. Afirme considera que tu economía es uno de los aspectos más
						importantes, por ello es que con tu Seguro de Autos Afirme podrás
						estar tranquilo, pues este no es un gasto, es una inversión y es que
						al no contar con una protección como un seguro de auto te encuentras
						expuesto a mayores riesgos económicos.
					</p>
					<p class="text">
						Afirme Seguros cuenta con una amplia gama de coberturas, mismas que
						se logran adaptar a cada una de las personas y sus necesidades
						reales como cliente, además de que se caracteriza como una de las
						pocas compañías que te brinda la libertad de que seas tú quien elija
						la suma asegurada para tu vehículo desde el momento de la
						contratación.
					</p>
					<p class="text">
						Sin pensarlo será el Seguro de Auto que necesitas lo encontrarás en
						Afirme Seguros, este te brinda las mejores atenciones y servicios
						para que puedas sentirte seguro y respaldado; sabemos que para poder
						encontrar el seguro y la cobertura que mejor nos convenga
						necesitamos analizar las diferentes opciones que el mercado nos
						ofrece, por ello es que en Compara Ya nos encargamos de recabar la
						información necesaria para que puedas conseguir la mejor alternativa
						y que con Seguro Afirme contrates la cobertura más adecuada a tu
						estilo de vida.
					</p>
					<p class="text">
						Con Afirme Seguros comenzaras a recibir la atención que requieres,
						pues con ello estarás protegido en todo momento, puedes conocer a
						fondo las diferentes coberturas que ofrece esta aseguradora, además
						que con Afirme podrás asegurar tu auto, camioneta, vehículo de
						carga, así como los camiones de transporte público. Por si esto
						fuera poco, lograras disponer de la protección en toda la república
						mexicana, a continuación conocerás las ventajas principales que
						Seguros Afirme ofrece:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Automóvil Turista: Para los
							vehículos de uso particular turístico que circulan en México por
							un tiempo determinado y que fueron adquiridos en el extranjero.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura Básica: Son protecciones
							que AIG auto, ofrece la cobertura básica que respalda a su
							patrimonio y a la tranquilidad de su familia asegurando su auto
							contra los daños a terceros o de la responsabilidad civil con un
							límite único y de combinado, así como los gastos médicos de los
							ocupantes, asistencia vial, defensa legal y de fianza.
						</li>
					</ul>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Puedes asegurar más de dos
							unidades en una sola póliza de Seguros Afirme.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En tu Responsabilidad Civil
							estarás protegido en todo el país, con una suma asegurada hasta
							por 3 millones de pesos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En la atención de tus eventos
							estos son ilimitados en asistencia vial, en donde se te incluye,
							el envío de gasolina y los servicios de grúa.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes recibir asesoría legal en
							tiempo y forma, como tu lo requieras y en caso de necesitar la
							defensa por parte de un abogado, así como en el pago de las
							fianzas ante cualquier circunstancia en la que te encuentres.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con un auto sustituto ante
							el robo o la pérdida total del vehículo.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="afirme#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">
						Más Privilegios con Afirme Seguros en Compara Ya
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Sabemos que tu seguridad es muy importante, además de la protección
						para ti, tu patrimonio y tu familia, conocer las diferentes
						coberturas que ofrece cada compañía aseguradora debe ser tu
						prioridad, para ello en Compara Ya nos encargamos de rescatar los
						puntos importantes de cada una de las opciones que te interesa en
						especial de Afirme Seguros.
					</p>
					<p class="text">
						Sabemos que tu protección es uno de los puntos más importantes a la
						hora de buscar una cobertura de seguro de auto, esta que sea capaz
						de respaldarlo en cualquier momento, pues en la actualidad nos
						encontramos expuestos a sufrir alguna clase de imprevistos cuales
						pueden repercutir de gran manera a nuestra economía.
					</p>
					<p class="text">
						Por todo esto es importante que te decidas y conozcas las ventajas
						que puedes disfrutar con Afirme Seguros, esto te va a garantizar la
						seguridad que necesitas, pues con más de 20 años en el mercado
						asegurador, Afirme Seguros es avalado por la calidad en todos y cada
						uno de sus servicios.
					</p>
					<p class="text">
						Afirme Seguros es una marca que pertenece a uno de los sectores
						financieros con mayor importancia en el norte de nuestro país, Grupo
						Financiero Afirme, es de origen 100% mexicano, a través de los
						Seguros de Autos Afirme ha podido conseguir, el consolidarse como
						una de las compañías aseguradoras más reconocidas y con mayor
						importancia en nuestro país, Afirme Seguros cuenta con diferentes
						alternativas, como un respaldo sólido que se basa en una estructura
						financiera de mayor calidad a sus más de 1 millón de clientes.
					</p>
					<p class="text">
						Esta brinda las mejores opciones del mercado asegurador, pues con
						Seguros Afirme estarás protegido en cualquier parte de la República
						Mexicana, sin importar en donde te encuentres con Afirme conseguirás
						protección a tu medida, esta es una de las compañías aseguradoras
						con mayor solidez financiera que en realidad necesitas, puedes estar
						respaldado ante cualquier tipo de siniestro e imprevisto que te
						pueda ocurrir, para que estos no pongan en riesgo tu patrimonio y
						que puedas conservar la estabilidad económica que tienes, además que
						estos pueden ocasionar serios problemas para el futuro y la
						estabilidad de tu familia.
					</p>
					<p class="text">
						Afirme Seguros se caracteriza por ser una de las compañías
						aseguradoras con mayor confiabilidad entre sus clientes en todo
						México, además de que te cuidan a cada instante en tu camino tras él
						volantes, esta te ofrece respaldo y solución antes cada problema que
						puedas tener, que los imprevistos que se generan a causa de un
						accidente, serán resueltos por tu seguro y no solo eso, pues también
						responderá por todas las personas que estén contigo al momento de un
						accidente o siniestro.
					</p>
					<p class="text">
						Afirme Seguros, cuenta con una trayectoria que lo respalda, gracias
						a su trabajo y capacidad de respuesta en todo México, este seguro te
						permite saber en qué circunstancia se encuentra el arreglo de tu
						auto, así como la asistencia vial ante fallas mecánicas en cada uno
						de tus traslados, ya sea por tu localidad o en carreteras.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">Coberturas importantes de Afirme Seguros</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Con la aseguradora Afirme podrás manejar tranquilo, esta compañía
						cuenta con un seguro de auto especial para ti, en donde podrás
						agrupar en una sola póliza de seguro, más de un auto de tu familia.
						Además de menos papeleo, menos trámites, y mayor agilidad en tu
						contratación; Seguros Afirme cuenta con Auto, Vida y Casa, dentro de
						las categorías se pueden agrupar pólizas en las que sin duda
						obtendrás la mejor solución que necesitas.
					</p>
					<p class="text">
						Estamos hablando de una institución que ofrece múltiples servicios,
						mismos que proponen una amplia gama de opciones en las que los
						seguros requieres como, precios accesible,s contratación fácil,
						planes que se adecuan a cada una de tus necesidades, opciones y
						planes de pago, ya sea mensual, trimestral, semestral o de contado,
						cuenta con la atención personalizada, de línea directa, si lo crees
						conveniente podrás contratar extensiones de coberturas, haz tu cargo
						a la cuenta Afirme o con tarjeta de crédito, para que tu póliza de
						seguro sea segura.
					</p>
					<p class="text">
						En el caso de la póliza de seguro por Responsabilidad Civil en
						Estados Unidos y Canadá será gratis, al igual que en algunos estados
						del país, además que también podrás contratar más de dos seguros de
						auto en la misma póliza de seguro.
					</p>
					<p class="text">
						Contarás con diferentes opciones, con tres paquetes principales,
						desde Amplio que es uno de los paquetes más completos de la gama,
						Limitado y Básico. Conforme al paquete que prefieras, serán los
						beneficios a los que estás dispuesto, los tres se encargaran de
						cubrir los daños materiales, el robo total, la responsabilidad
						civil, gastos médicos para ocupantes del auto y asistencia jurídica
						y vial.
					</p>
					<ul id="check" class="ps-3">
						<p class="text">
							Todas las coberturas que ofrece Afirme Seguros cuentan con:
						</p>
						<li class="text lista">
							<span class="circulito"></span> Daños materiales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo Total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos para los ocupantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia legal y asesoría
							jurídica.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia vial.
						</li>
					</ul>
					<ul id="check" class="ps-3">
						<p class="text">
							Afirme Seguros ofrece tres paquetes diferentes entre ellos están:
						</p>
						<li class="text lista">
							<span class="circulito"></span> Amplio: para autos con antigüedad
							máxima de 10 años.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Limitada: con antigüedad máxima de
							15 años.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil: con una
							antigüedad máxima de 20 años.
						</li>
					</ul>
					<p class="text">
						Seguros Afirme se caracteriza por contar con un Seguro Básico
						Estandarizado, este es solo para autos particulares, lo anterior
						implica que no cubre ni a las motocicletas, ni de transporte
						público, como taxis, ni vehículos de carga. Sin embargo, para esos
						usos Afirme cuenta con servicios que son especialmente específicos,
						por último es necesario que te mencionemos que este es un producto
						que cubre únicamente los requisitos básicos del seguro de
						Responsabilidad Civil Obligatorio a nivel nacional.
					</p>
					<p class="text">
						En cada uno de los seguros de auto que Afirme ofrece, cuenta con una
						cobertura del seguro de auto de Afirme Seguros podrás contar con los
						siguientes deducibles y montos asegurados.
					</p>
					<p class="text">
						Recuerda que para elegir una compañía aseguradora necesitas
						consultar por lo menos con tres opciones diferentes para ello lo
						mejor es Compara Ya.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';

export default {
	layout: 'sin-alerta',


	beforeCreate() {
				this.$store.state.config.aseguradora = 'AFIRME';
		this.$store.state.config.corePer = true;
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.asegDescuento = true;
		this.$store.state.config.telefonoAS = '88902309';
		this.$store.state.config.grupoCallback = 'VN Afirme';
		this.$store.state.config.from = 'COMPARAYA-AFIRME';
		this.$store.state.config.idPagina = 187;
		this.$store.state.config.idMedioDifusion = 1288;
		this.$store.state.config.idInteraccion = 2710; //VN Interacción
		this.$store.state.config.idEcommerce = 2709; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 43;
		this.$store.state.config.idSubRamo = 49; //8
		this.$store.state.config.imgaseg = 'afirme-01';
		this.$store.state.config.urlRedireccion = 'afirme';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'AFIRME|comparaya-mx-afirme';

		this.$store.state.config.interior = 'afirme';
		this.$store.state.config.respuesta = "AFIRME"
	},
	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'Afirme Seguros  - Cotiza Seguros de Autos Afirme - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Afirme, Afirme Seguros, Seguros Afirme, Seguros de autos Afirme, Cotizador Afirme, Aseguradora Afirme, Cotizar seguro de auto Afirme, Seguros Afirme Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con Seguros Afirme al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Afirme. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/afirme',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #02903e;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #02903e;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #02903e;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #02903e;
	}
}
</style>
