<template>
	<div>
		<div class="container-fluid bg-migo">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto Migo</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!-- C O N T E N I D O-->
		<div class="container-fluid p-t pt-4 pt-lg-5  top-fichas">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class=" borde-tit">
						Migo Seguros, la aseguradora que llegó a romper los estándares del
						Seguro de Auto
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						La llegada de Migo Seguros al mercado de seguros en México ha
						causado revuelo. Sus coberturas, sus beneficios y los servicios que
						maneja han despertado interés en sus compatriotas, esto gracias a
						que ofrece una protección completa, íntegra y de calidad, asimismo,
						a buen precio.
					</p>
					<p class="text">
						Compara Ya, también se impresionó ante las cualidades que rinde a
						sus clientes, por eso se unió, y oportuna el acercamiento sencillo y
						práctico a la contratación de algunas de las pólizas que maneja Migo
						Seguros.
					</p>
					<p class="text">
						Pero sabemos que necesitas más información para decidir y contratar
						el Seguro de tu Auto con Seguros Migo. Y con esto en mente, Compara
						Ya pasa a describir los aspectos que te interesan al momento de
						inclinar la balanza por una aseguradora.
					</p>
					<p class="text">
						Se muestran las coberturas y ventajas que maneja Migo, con las que
						causó el resquebrajamiento y, la despedida, de los estándares que
						habían establecido con anterioridad las aseguradoras que antes
						dominaban el mercado.
					</p>
					<p class="text">
						Pero sin duda, lo que causó mayor impacto fue los precios que
						manejaba. Porque antes se consideraba que calidad y precio iban
						separados, que no había modo de que fuera juntos. Hasta que llegó
						esta aseguradora, y mostró que la relación calidad-precio sí existe
						y que es estrecha.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-4 pt-lg-5  top-fichas">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Migo Seguros: coberturas sin igual</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Esta aseguradora mexicana sabe que el fundamento de los Seguros de
						Autos, está en sus coberturas, y que si contratas un seguro es
						porque quieres que estas coberturas te respalden en los momentos
						apremiantes en donde las requieres.
					</p>
					<p class="text">
						Y que gran parte de la protección a tu cliente esté concentrado en
						esta parte, coberturas, es por lo que debes prestar toda atención y
						esfuerzos a crear las mejores. Y eso es lo que hizo Seguros Migo,
						atender y esforzarse por hacer estas coberturas.
					</p>
					<p class="text">
						El resultado de tener dicha convicción, es lograr fundar la
						protección que te apoya de la mejor manera cuando más la necesitas.
						El modo como logro obtener esta protección, fue con una búsqueda
						incesante; esta búsqueda lo llevó a analizar a otras empresas de
						seguros.
					</p>
					<p class="text">
						Ahí es donde comprendió los flancos débiles de los Seguros de Autos.
						Y este acontecimiento dio pie a la tarea de crear sus propias
						protecciones, ya sin ese talón de Aquiles con él cargan las demás
						coberturas.
					</p>
					<p class="text">
						Y el fruto de ese trabajo es lo que se describe a continuación.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5  top-fichas">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">
						Coberturas Migo Seguros, protecciones que rompen cualquier
						inseguridad.
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Después de saber que la fortaleza de un plan de seguros está en sus
						coberturas. Se pasa a revisar el producto de la fortaleza de Migo
						Seguros.
					</p>
					<p class="text">
						Con el propósito de que sea más sencillo revisar y comparar, se
						adjunta una tabla con las principales fortalezas del Seguro de Auto
						Migo.
					</p>

					<div class="table-responsive row">
						<table class="table table-striped col-6 offset-lg-3" id="migo">
							<thead>
								<tr>
									<th scope="col" class="text-center tabtit">
										Coberturas y Beneficios
									</th>
									<th scope="col" class="text-center tabtit">
										Amplia Prus Migo
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td scope="row" class="text-center">Muerte al Conductor</td>
									<td class="text-center">$150 mil</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">
										Gastos Médicos Mayores
									</td>
									<td class="text-center">$100 mil</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Responsabilidad Civil</td>
									<td class="text-center">$1.5 millones</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Robo y Pérdida Total</td>
									<td class="text-center">Deducible 0%</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Daños Materiales</td>
									<td class="text-center">Deducible 10%</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Póliza de Vida</td>
									<td class="text-center">$50 mil</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">
										Extensión de Responsabilidad Civil
									</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">Daños Materiales</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">Extensión de Gastos Médicos</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">Robo de Objetos Personales</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">Larry</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">Atropellamiento</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">Asesoría y Defensa Legal</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">Gastos Médicos Ocupantes</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">Responsabilidad Civil</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">Reparación en Agencia</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">Muerte Accidental al Conductor</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Protección:</td>
									<td class="text-center">Responsabilidad Civil Familiar</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">Descuentos:</td>
									<td class="text-center">40%</td>
								</tr>
								<tr>
									<td scope="row" class="text-center">
										MSI (Meses sin Intereses):
									</td>
									<td class="text-center">6</td>
								</tr>
							</tbody>
						</table>
					</div>

					<p class="text">
						Entre coberturas y beneficios tu auto está protegido con calidad de
						19 modos. Que conforman un seguro a un buen precio, sin dejar de
						lado toda la calidad en servicio y protección.
					</p>
					<p class="text">
						La protección que obtienes, no hay que olvidar, su propósito es tu
						plena confianza de dejar atrás las preocupaciones, que se han
						generado por la seguridad de tu auto. Lo cual se consigue con las
						coberturas y beneficios enlistados. Asimismo, es importante
						mencionar que es un seguro hecho a la medida de tu auto.
					</p>
					<p class="text">
						Y es hecho a la medida porque con Migo Seguros eliges, defines y
						específicas cómo va a ser tu protección, esto lo veremos con calma
						en la sección de los pasos a seguir para la contratación.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5  top-fichas">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Migo Seguros, esfuerzo y constancia, resultado: las mejores
						coberturas
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Se ha llegado a la parte esencial del Seguro de Auto Migo. Lo hecho
						hasta este punto es para explicar porqué las coberturas son las que
						necesitas en tu auto; no hay otras, éstas son las que te harán
						olvidar las preocupaciones por tu auto, y te dan la libertad de
						conducir y disfrutar tu recorrido.
					</p>
					<p class="text">
						Ya no hay porqué buscar más, Compara Ya te pone en tus manos, la
						opción de contratar fácil y sencillo la protección que tanto has
						buscado.
					</p>
					<p class="text">
						Se detallan algunas de las coberturas, para terminar con las
						inquietudes que puedas tener.
					</p>

					<strong style="color:#888888"
						>Robo Total y Pérdida Total sin Deducible</strong
					>
					<p class="text">
						Una cobertura importante en cualquier plan es Robo total y pérdida
						total. Y más si pensamos que la tasa de robos en México es
						alarmante, el año pasado subió un 35%
					</p>
					<p class="text">
						Cómo opera esta cobertura es de la siguiente forma: te indemniza
						cuando te quedes sin tu auto, ya sea a causa de robo o por los daños
						materiales, o sea, ya no tienes auto.
					</p>
					<p class="text">
						Estas dos circunstancias se cubren normalmente con una compensación
						que se llama valor comercial, ésta se establece en tu póliza recién
						la contratas. La mayoría de las aseguradoras así lo manejan, y
						parece no haber mayor problema.
					</p>
					<p class="text">
						Lo funesto o que ya no es una ayuda para ti, inicia cuando de esa
						compensación que se te va entregar, por perder tu auto; para tener
						el derecho de recibirla, tienes que pagar una parte proporcional,
						que casi siempre es el 5 %, sino lo haces el pago no se realiza.
					</p>
					<p class="text">
						Migo Seguros no maneja ese deducible ni nada relativo a una
						disminución de tu indemnización. Tampoco tienes que obtener un
						derecho para obtenerla. En esta aseguradora dejan que recibas tu
						dinero integro, para que te sea más fácil volver adquirir tu auto.
						Pues al final, contratamos para eso un seguro, para que nos ayuden
						cuando estemos en situación problemática.
					</p>

					<strong style="color:#888888">Cobertura Atropellamiento</strong>
					<p class="text">
						Accidente fuera del auto, igual estás protegido. Esta protección
						funciona cuando camines por la calle, sin ninguna preocupación y
						sufras el atropello repentino de algún vehículo.
					</p>
					<p class="text">
						Contar con esta cobertura es indispensable, tanto como fijarse en
						los dos lados al pasar la calle. Pues, según Informes de Seguridad
						Pública, al diario fallecen 21 personas por el impacto de un coche.
					</p>
					<p class="text">
						Este socorro funciona cubriendo los daños físicos y materiales que
						resulten del accidente, también cuenta con una suma asegurada para
						gastos médicos.
					</p>

					<strong style="color:#888888"
						>Robo de Objetos Personales en tu Automóvil</strong
					>
					<p class="text">
						Esta cobertura es la protección que te ayuda cuando dejas tu auto
						estacionado y al regresar: ¡oh, sorpresa!, el cristal de tu auto
						está roto y se robaron sus pertenencias que estaban al interior del
						automóvil.
					</p>
					<p class="text">
						Este tipo de robo es de los más acostumbrados y menos protegidos por
						las aseguradoras. Migo Seguros, como dijimos no es tradicional, y te
						cubre en esta eventualidad.
					</p>
					<p class="text">
						Y los objetos en que te respalda Seguros Migo son los siguientes:
					</p>

					<div class="table-responsive row">
						<table class="table table-striped col-6 offset-lg-3">
							<thead>
								<tr>
									<th scope="col" class="tabtit">
										Piezas o artículos de oro, plata
									</th>
									<th scope="col" class="tabtit">Ropa</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td scope="row">Prendas de Piel</td>
									<td>Accesorios del vestido</td>
								</tr>
								<tr>
									<td scope="row">Piedras preciosas</td>
									<td>Celulares</td>
								</tr>
								<tr>
									<td scope="row">Artículos deportivos, incluye bicicletas</td>
									<td>Tablet</td>
								</tr>
								<tr>
									<td scope="row">Aparatos ortopédicos o médicos</td>
									<td>Relojes</td>
								</tr>
								<tr>
									<td scope="row">Plumas y Lapiceros</td>
									<td>Lentes</td>
								</tr>
								<tr>
									<td scope="row">Dinero en efectivo</td>
									<td>Bolsas</td>
								</tr>
								<tr>
									<td scope="row">Lapiceros</td>
									<td>Joyas</td>
								</tr>
							</tbody>
						</table>
					</div>

					<p class="text">
						El límite de la suma asegurada es de 5 mil pesos y el sublímite de 2
						mil pesos, mientras que el deducible son 15 UMAS.
					</p>

					<strong style="color:#888888">Cobertura de Daños Materiales</strong>
					<p class="text">
						Esta cobertura es fundamental en cualquier protección. Y lo es por
						su utilidad y que es muy probable que la tengas que usar; si la
						comparamos con la cobertura de robo, que quizás la probabilidad de
						llegar a utilizarla es baja, con la posibilidad de sufrir un daño
						material, podrás ver que esta última es más común y por lo mismo más
						necesaria.
					</p>
					<p class="text">
						Los acontecimientos en que te protege son: choques, volcaduras,
						desastres naturales, daños por traslado en grúa, el auto está
						estacionado y le pegan, y otras más.
					</p>
					<p class="text">
						Ante lo dicho, Migo, la agrega en su plan de protección.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="migo#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5  top-fichas">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Beneficios que refuerzan la protección de tu auto
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Seguros Migo, así como ideó sus coberturas, también ideó sus
						beneficios. Ambas tienen la finalidad de cubrir de forma total a tu
						auto, por eso el esmero, tanto en las coberturas como en los
						beneficios, cada una forma parte del esfuerzo por ofrecer el mejor
						Seguro de Auto en el Mercado.
					</p>
					<p class="text">
						De allí la importancia por explicar algunos de los beneficios que ya
						seencontraban en la tabla anterior.
					</p>
					<p class="text">
						Rebajas al contratar tu Seguro de Automóvil: ¿Por qué quién dijo que
						tener protegido tu auto debía ser tan caro?
					</p>
					<p class="text">
						Migo rompe con esa idea, y te ofrece calidad a un precio ideal. Al
						obtener por primera vez tus coberturas con Migo Seguros, tienes una
						rebaja del 40 %. Y lo mejor, es que no hay distinción de coberturas
						al obtener este beneficio, no disminuye la calidad de tu protección:
						es la protección que deseabas, solo que a un buen precio.
					</p>

					<strong style="color:#888888"
						>Coberturas a meses sin intereses</strong
					>
					<p class="text">
						Este beneficio se suma al descuento que obtienes al contratar. Lo
						que significa doble beneficio para ti, puesto que obtienes un
						descuento en tu póliza de Seguro de Auto y, además, lo pagas a los
						meses que mejor te convenga.
					</p>
					<p class="text">
						Y por si fuera poco tienes las coberturas de mejor calidad que hasta
						ahora existen en el mercado.
					</p>

					<strong style="color:#888888"
						>Tu Seguro de Auto tiene la mejor relación precio-calidad del
						mercado</strong
					>
					<p class="text">
						Cada plan elaborado por Migo está creado a la medida de tu auto, por
						lo mismo, no sobra ni falta nada.
					</p>
					<p class="text">
						Lo que conlleva a pagar un precio justo por tu protección. Y esto es
						posible gracias a que Seguros Migo, permite que elijas, caracterices
						y que tengas la oportunidad de supervisar las coberturas que cuidan
						de tu auto en todo momento.
					</p>

					<strong style="color:#888888"
						>¿El auto es prestado?, en éste también estás protegido por Seguros
						Migo</strong
					>
					<p class="text">
						El auto que manejas es prestado por tu amigo o algún conocido, y por
						azares del destino tienes un accidente en este vehículo. No te
						preocupes, tu protección de Migo, te ayuda en los gastos médicos de
						ese accidente, y sin cobro de deducible o algo parecido.
					</p>

					<strong style="color:#888888">
						Cuidar tus bienes no significa olvidar proteger tu vida</strong
					>
					<p class="text">
						Este beneficio es de sus protecciones más atractivas de Migo
						Seguros, porque establecieron una cobertura de vida dentro de tu
						Seguro de Auto. El plan consiste en que tengas una cobertura de
						indemnización de vida por 50 mil pesos.
					</p>
					<p class="text">
						Y en Migo no trabajan como en otras aseguradoras, que tienes este
						auxilio, pero con una póliza adicional, lo que implica pagarla
						aparte. Acá, con esta aseguradora ya está incluida en tu póliza sin
						un costo adicional.
					</p>

					<strong style="color:#888888"> Reparación en Agencia</strong>
					<p class="text">
						Cuando tu auto necesite de una reparación después de un accidente, y
						lo lleves a un taller mecánico para su reparación, Migo la hará en
						una agencia exclusiva.  Lo anterior con el propósito de que sea
						eficaz y veloz, además, de que las piezas que se utilicen para
						reparar tu auto sean auténticas.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5  top-fichas">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">
						Tan sencillo contratar tu seguro con Migo, que has tardado más en
						leer hasta aquí, que contratarlo
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Compara Ya y Migo Seguros saben que tu tiempo no lo quieres
						desperdiciar, por eso implementaron hacer la contratación más
						sencilla que se pueda:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Después de leer, regresa al inicio
							de esta página y da clic en contratar tu Seguro.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Ingresa tus datos personales y de
							tu auto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Da clic y encuentra la mejor
							cobertura al mejor precio.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Después revisa la que más te
							convenga y da clic en ella.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Realizado este paso, un ejecutivo
							te habla, solo para confirmar la contratación.
						</li>
						<li class="text lista">
							<span class="circulito"></span> ¡Listo! Ya estas protegido con
							Migo.
						</li>
					</ul>
					<p class="text">
						Son 5 los clics que necesitas para estar protegido. Así de sencillo
						y rápido es con Compara Ya.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'MIGO';
		this.$store.state.config.paqueteCotizacion = 'MIGO';
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.descuento = 30;
		this.$store.state.config.telefonoAS = '28815933';
		this.$store.state.config.grupoCallback = 'VN Agregadores';
		this.$store.state.config.from = 'COMPARAYA-MIGO';
		this.$store.state.config.idPagina = 187;
		this.$store.state.config.idMedioDifusion = 1525; //VN MIGO
		this.$store.state.config.idInteraccion = 2444; //VN Interacción
		this.$store.state.config.idEcommerce = 2443; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 151;
		this.$store.state.config.idSubRamo = 30; //9
		this.$store.state.config.imgaseg = 'migo';
		this.$store.state.config.urlRedireccion = 'migo';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'MIGO|comparaya-mx-migo';

		this.$store.state.config.interior = 'migo';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'Seguros - Seguro de auto al mejor precio - Compara Ya',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Migo Seguros, Seguros Migo, Seguros de autos Migo, Aseguradora Migo, Migo Seguros Autos, Migo',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'Cotiza Migo Seguros al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Migo. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/migo/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #ff3e31;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #ff3e31;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #ff3e31;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #ff3e31;
	}
}
</style>
