<template>
  <div class="bg-migo">
        <header-component/>
    <div class="container-fluid espacio-arr">
      <div class="row ">
        <div class="col-4 offset-1 d-none d-md-block">
         
          <div class="text-end">
            <img src="/seguros-de-autos/img/mono2.png" alt="mono compara" class="mono-grac">
          </div>
        </div>
        
        <div class="col-12 col-md-5 ms-md-5 my-4 my-md-auto">
          <h3 id="graciasPorcotizar" class="asegcoloraba titlethanks mb-0 mt-0">Hola {{this.$store.state.formData.nombre}},</h3>
          <h3 class="asegcoloraba titlethanks mb-0 mt-0"> ya tenemos las coberturas para tu seguro de auto:</h3>
          <h5 class="texto-a"> {{this.$store.state.formData.marca}} {{this.$store.state.formData.modelo}} {{this.$store.state.formData.descripcion}}   {{this.$store.state.formData.detalle}} </h5>
        </div>

      </div>
    </div>
    <!--<div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card card-body mt-3">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="media">
                  <img class="ms-0 mt-0 img-fluid axaimg imgaseg" src="/seguros-de-autos/img/aseguradoras-logo/color/migo.svg">
                  <div class="media-body ms-3">
                    <h5 class="asegcolorm mt-2">Seguros Migo</h5>
                    <p class="review">reviews 4.5</p>
                    <span class="starthanks comparacolor">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                <h3 id="graciasPorcotizar" class="asegcolorm titlethanks mb-0 mt-0">Hola {{this.$store.state.formData.nombre}} ya tenemos las coberturas para tu seguro de auto:</h3>
                <h5 class="texto-a"> {{this.$store.state.formData.marca}} {{this.$store.state.formData.modelo}} {{this.$store.state.formData.descripcion}}   {{this.$store.state.formData.detalle}} </h5>
                <p>Asesor: {{this.$store.state.solicitud.nombreEjecutivo}}   Tel&eacute;fono: {{this.$store.state.solicitud.telefonoAS}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <Thankmigo-content/>

    <div class="container mt-2 mt-md-5">
      <div class="row">
        <div class="col-6 col-md-3 text-center">
          <img src="/seguros-de-autos/img/reparacion.png" alt="reparación">
          <p class="text-center mb-0">Reparaciòn </p>
          <p class="text-center">en agencias</p>

        </div>
        <div class="col-6 col-md-3 text-center">
          <img src="/seguros-de-autos/img/medicos.png" alt="extension">
          <p class="text-center mb-0">Extensiòn de Gastos</p>
          <p class="text-center">Mèdicos Mayores</p>
          
        </div>
        <div class="col-6 col-md-3 text-center">
          <img src="/seguros-de-autos/img/robo.png" alt="robo">
          <p class="text-center mb-0">Robo de Objetos</p>
          <p class="text-center">Personales</p>
          
        </div>
        <div class="col-6 col-md-3 text-center">
          <img src="/seguros-de-autos/img/atropellado.png" alt="atropellamiento">
          <p class="text-center mb-0">Atropellamiento</p>
          
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  import HeaderComponent from '~/components/common/Header-gracias.vue'
  import ThankmigoContent from '~/components/content/agradecimiento/Thankmigo.vue'
  export default {
    layout: 'thanks',
    async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
      HeaderComponent,
      ThankmigoContent
    },
     head() {
      return {
        title: 'Migo Seguros - Seguro de auto al mejor precio - Compara Ya',
        meta: [
         {hid: 'keywords', name: 'keywords', content: 'Migo Seguros, Seguros Migo, Seguros de autos Migo, Aseguradora Migo, Migo Seguros Autos, Migo'}, 
          {hid: 'description', name: 'description', content: 'Cotiza Migo Seguros al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Migo. ¡Es fácil y rápido!'}, 
          {hid: 'author', name: 'author', content: 'twitter | @vargasdesignMx'}, 
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'}, 
          {hid: 'canonical', rel: 'canonical', href:'https://comparaya.mx/seguros-de-autos/migo/gen/thanks/'}, 
          {hid: 'robots', name:'robots', content:'noindex, nofollow'},
        ]
      }
    },
    created: function () {
      if (this.$store.state.formData.nombre != '') {
        this.$store.state.config.loading = true;
        this.$store.state.cotizacionInterna = true;
        this.$store.state.isMigo = true;
          this.$store.commit('validateData');
      }
      else {
        this.$router.replace({path: '/error/'});
      }
      this.$store.state.config.telefonoAS = '5547495115';
    }
  
  };
  
</script>


