<template>
	<div>
		<div class="container-fluid bg-ana">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto ANA</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!--**************  C O N T E N I D O S  ****************-->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Más Privilegios con ANA Seguros en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						ANA Seguros y Compra Ya, trabaja de la mano para agregarle valor a
						nuestros clientes, con las mejores coberturas y planes de pago.
					</p>
					<p class="text">
						En entidades como la Ciudad de México es obligatorio contratar una
						póliza de seguro, el número de autos con una póliza de seguro pasó
						de 6.8% a 8% según las cifras de la Comisión Nacional para la
						Protección y Defensa de los Usuarios de Servicios Financieros o
						conocida como la Condusef, mientras que apenas un 25% del parque
						vehicular nacional cuenta con una póliza de seguro.
					</p>
					<p class="text">
						Una de las cosas que se destaca de esta es la falta de prevención en
						nuestro país, además de las pérdidas económicas ya sea por las
						multas o porque se absorbe el costo de la reparación de tu auto en
						caso de siniestro o accidente, todo esto puede ocasionar serios
						problemas legales en los casos que causes daños a un tercero, si
						bien sea en sus bienes materiales o que le ocasionan lesiones
						físicas.
					</p>
					<p class="text">
						ANA Seguros es una compañía aseguradora que se especializa en el
						seguro de autos, además esta es perteneciente al consorcio 100%
						mexicano que se dedica a diseñar pólizas especializadas para los
						ramos específicos. El tipo de vehículos que Ana Seguros protege son:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Automóviles particulares.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Camiones de carga o de transporte.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Motocicletas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Autos para turistas o de renta.
						</li>
						<li class="text lista"><span class="circulito"></span> Taxi.</li>
					</ul>
					<p class="text">
						Una de las características de Ana Seguros es que tratan de
						especializarse y sobre todo de centralizar sus esfuerzos en cada uno
						de los casos de sus clientes por ello es que desarrollan programas
						para cada tipo de vehículo que aseguran, cada uno de estos debe de
						cubrir los siguientes usos:
					</p>
					<ul class="ulstyle">
						<li class="text lista">
							<span class="circulito"></span> De uso particular: transporte de
							personas o de enseres domésticos o de mercancías sin fines
							comerciales y de lucro.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Carga: transporte de mercancías y/
							carga con fines comerciales y que pueda generar un lucro para el
							contratante, asegurado o designado.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Transporte Público o de pasajeros:
							este tipo de uso es para los vehículos que transportan personas o
							denominados pasajeros, a cambio de una retribución monetaria o
							pago.
						</li>
					</ul>
					<p class="text">
						Como parte de sus orígenes ANA Seguros se encuentra en la Asociación
						Nacional Automovilística A.C. mejor conocida como la ANA empresa que
						se fundó en el año de 1930 como un auto club de servicio, capaz de
						desarrollar y fomentar el automovilismo organizado en nuestro país,
						la prestación de servicios de auxilio vial y de trámites vehiculares
						para sus afiliados.
					</p>
					<p class="text">
						ANA Seguros es una compañía aseguradora centrada en el ramo de
						autos, además cuenta con el conocimiento, solidez y compromiso,
						además de buscar la excelencia en la calidad de sus servicios, para
						poder respaldar a través de la tecnología de punta y con su personal
						altamente capacitado con el fin principal de cumplir con los
						compromisos asumidos por cada uno de sus agentes.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Ventajas de Contratar Seguros de autos ANA</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p>
						En Compara Ya nos encargamos de ver cada una de las características
						y cláusulas de las compañías aseguradoras para que puedas valorar
						sus beneficios y especificaciones y con ello tomes una correcta
						decisión.
					</p>
					<p>
						Para que puedas contratar con tranquilidad que necesitas revisar la
						compañía que se adapte a tus necesidades y sobre todo que esta te
						ofrezca el respaldo que necesitas, conoce las ventajas que puedes
						disfrutar con ANA Seguros a continuación:
					</p>
					<p>
						En el momento que decidas elegir un seguro de auto, necesitas saber
						que existen diferentes alternativas, mismas que logran diferenciarse
						entre sí a partir de lo que estas llegan a cubrir o el respaldo que
						te ofrece, por lo que, no es la misma protección que ofrece para un
						contratante de una cobertura solo de responsabilidad civil que la
						que obtiene aquel cliente que desea opta por un servicio más
						completo como lo es el de una cobertura amplia.
					</p>
					<p>
						A los clientes o beneficiarios que prefieren una protección
						completa, les interesa en conocer más sobre la cobertura amplia pero
						sobre todo de las ventajas que pueden obtener con ANA Seguros al
						momento de contratar su póliza de seguros, ANA Seguros ofrece
						grandes beneficios para sus clientes con un mayor renombre en
						nuestro país.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Roturas materiales: Este beneficio
							consiste en que la compañía aseguradora ANA Seguros, de cubre los
							daños materiales de tu auto, además de incluir la reparación
							mecánica, en hojalateria y pintura.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo completo o total: En caso de
							que tu auto sea robado en su totalidad o no es recuperado en un
							periodo de tiempo determinado, ANA Seguros te indemnizará como
							automovilista, esto con el valor convenido de la póliza de seguro
							que hayas contratado.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura de Responsabilidad Civil
							de bienes y personas: La compañía responderá por los daños que
							pueda provocar su asegurado a los terceros.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Auxilio vial: Esta también te
							apoya y es válido en el momento de que el asegurado se encuentre
							de viaje, además que es un servicio que incluye el envío de
							unidades especializadas ante alguna avería del auto, así como el
							arrastre con grúa a un taller cercano.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos en Medicina: ANA Seguros se
							encargará de cubrir los gastos en medicina en los que lleguen a
							incurrir los familiares u ocupantes del vehículo al momento de que
							ocurra un accidente.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Defensa y asesoría jurídica legal:
							La compañía aseguradora se encargará de brindarte la asistencia en
							caso de que por un siniestro o accidente el titular del servicio
							sea trasladado a una unidad jurídica.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Coberturas adicionales: Esta es la
							parte en la que la compañía de seguros ANA te brinda planes
							adicionales o beneficios específicos que creas conveniente agregar
							a tu póliza de seguro convencional, esto con el fin principal de
							estar protegido y respaldado ante cualquier situación no prevista
							en la póliza de seguro o en el plan de cobertura que hayas
							elegido.
						</li>
					</ul>
					<p class="text">
						En todo lo anterior detallado como parte de las ventajas que ofrece
						ANA Seguros, está su servicio adicional sin costo extra en su
						cobertura amplia para el asegurado y sus acompañantes.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Auto Sustituto en caso de la
							pérdida total de tu vehículo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cancelación de deducibles por
							pérdidas completas o parciales derivados de tumultos populares.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Extensión de coberturas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Muerte por accidente.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Desbielamiento en el motor este
							que haya sido causa de algún desastre meteorológico como
							inundaciones.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Arreglo de tu auto en caso de
							daños parciales en la agencia del mismo auto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo Parcial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguro para los neumáticos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Arreglo en taller certificado.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura por multas y corralones.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="ana#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">Coberturas de ANA Seguros de Auto</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Si lo que estás buscando es un plan de cobertura ideal para tus
						necesidades y las exigencias de tu auto, ANA Seguros es la compañía
						aseguradora ideal para ti, conoce más las coberturas que Compara Ya
						analizó para ti; si deseas proteger tu estabilidad económica en caso
						de siniestro o accidente en el auto entonces el seguro de ANA es lo
						que requieres para prevenir gastos futuros ya que cuenta con
						coberturas que te respaldan a ti, a tu auto y los gastos ocasionados
						con el mismo.
					</p>
					<p class="text">
						Al momento de que elijas una cobertura de seguro puedes tomar en
						cuenta diferentes alternativas, por ello y si eres de los clientes
						más exigentes te mostramos los beneficios que puedes disfrutar con
						la cobertura amplia de ANA Seguros.
					</p>
					<p><strong>ANA Seguros Cobertura amplia:</strong></p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Rotura de cristales: este plan te
							cubre los daños materiales de tu auto, incluyendo la reparación
							mecánica en hojalateria y pintura.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo total o completo: en caso de
							que tu auto sea robado en su totalidad y/o que este no sea
							recuperado cuenta con la indemnización que ofrece esta cobertura.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad de bienes y
							personas: tu aseguradora responderá por los daños que llegues a
							provocar a terceros.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos: cubre los gastos
							en medicina en los que pueda incurrir el asegurado o sus
							acompañante al momento de que ocurra un accidente.
						</li>
					</ul>
					<p>
						<strong>Cobertura de Asistencia Vial y Viajes ANA Seguros:</strong>
						Es un plan de cobertura que brinda la atención específica para cada
						cliente, además que es una póliza ideal para ti si lo que necesitas
						es contratar un seguro que por ley es obligatorio.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Pago y envío de grúa a causa de
							falla mecánica o descompostura.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cambio de neumático.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Paso de tomacorriente.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Envío de gasolina.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Envio de refacciones.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Servicio de cerrajero para la
							apertura del auto en caso de robo o del extravío de las llaves.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Referencia de talleres autorizados
							y calificados por Seguros ANA.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Referencia médica y hospitalaria
							en caso de accidente y daño a terceros.
						</li>
					</ul>
					<p><strong>Coberturas Adicionales de ANA Seguros:</strong></p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Sin pago de deducible por pérdida
							parcial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil por daños a
							los ocupantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Extensión de responsabilidad
							civil: es el plan que te ampara por conducir un auto no asegurado,
							siempre y cuando tenga similitudes a tu vehículo asegurado.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Únicamente Pérdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura SeguLlantas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos a causa de muerte
							accidental.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Equipo especial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> ANA Asistencia médica.
						</li>
						<li class="text lista">
							<span class="circulito"></span> ANA Asistencia informatica.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Extensión de ANA Rent.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Auto sustituto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Rotura Accidental de Llantas y
							Rines.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos de transportación.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Desbielamiento.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Devolución de Prima y Deducible.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';

export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.corePer = true;
		this.$store.state.config.aseguradora = 'ANA';
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizacion = false;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '88902340'; //'88902340';
		this.$store.state.config.grupoCallback = 'VN ANA';
		this.$store.state.config.from = 'COMPARAYA-ANA';
		this.$store.state.config.idPagina = 187; //modificado como el archivo de drive
		this.$store.state.config.idMedioDifusion = 1285; //modificado como el archivo de drive
		this.$store.state.config.idInteraccion = 2714; //VN Interacción
		this.$store.state.config.idEcommerce = 2713; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 44; //se modifico
		this.$store.state.config.idSubRamo = 46; //era 43
		this.$store.state.config.imgaseg = 'ana';
		this.$store.state.config.urlRedireccion = 'ana';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'ANA|comparaya-mx-ana';

		this.$store.state.config.interior = 'ana';
	},
	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'ANA Seguros - Cotiza Seguros de Autos ANA - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'ANA Seguros, Seguros ANA, Seguros de autos ANA, Cotizador ANA, Aseguradora ANA, Cotizar seguro de auto ANA, Seguros ANA Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con ANA Seguros al mejor precio en Comparaya.mx! Compara 20 Aseguradoras, elige y en 30 Segundos tendrás tu seguro de auto ANA. ¡Es fácil y rápido! ',
				},
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/ana',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #bb2954;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #bb2954;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #bb2954;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #bb2954;
	}
}
</style>
