<template>
    <div class="bg-aig">
                <header-component/>
      <div class="container-fluid espacio-arr">
        <div class="row ">
          <div class="col-4 offset-1 d-none d-md-block">
           
            <div class="text-end">
              <img src="/seguros-de-autos/img/mono2.png" alt="mono compara" class="mono-grac">
            </div>
          </div>
          
          <div class="col-12 col-md-5 ms-md-5 my-4 my-md-auto">
            <h3 id="graciasPorcotizar" class="asegcoloraba titlethanks mb-0 mt-0">Hola {{this.$store.state.formData.nombre}},</h3>
            <h3 class="asegcoloraba titlethanks mb-0 mt-0"> ya tenemos las coberturas para tu seguro de auto:</h3>
            <h5 class="texto-a"> {{this.$store.state.formData.marca}} {{this.$store.state.formData.modelo}} {{this.$store.state.formData.descripcion}}   {{this.$store.state.formData.detalle}} </h5>
          </div>
  
        </div>
      </div>
      <!--<div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card card-body mt-3">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="media">
                    <img class="ms-0 mt-0 img-fluid axaimg imgaseg" src="/seguros-de-autos/img/aseguradoras-logo/color/aig.svg">
                    <div class="media-body ms-3">
                      <h5 class="asegcolor mt-2">Seguros AIG</h5>
                      <p class="review">reviews 4.5</p>
                      <span class="starthanks comparacolor">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                  <h3 id="graciasPorcotizar" class="asegcolor titlethanks mb-0 mt-0">Hola {{this.$store.state.formData.nombre}} ya tenemos las coberturas para tu seguro de auto:</h3>
                  <h5 class="texto-a"> {{this.$store.state.formData.marca}} {{this.$store.state.formData.modelo}} {{this.$store.state.formData.descripcion}}   {{this.$store.state.formData.detalle}} </h5>
                  <p>Asesor: {{this.$store.state.solicitud.nombreEjecutivo}}   Tel&eacute;fono: {{this.$store.state.solicitud.telefonoAS}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <thankaig-content/>
    </div>
  </template>
  <script>
    import HeaderComponent from '~/components/common/Header-gracias.vue'
    import ThankaigContent from '~/components/content/agradecimiento/Thankaig.vue'
    export default {
      layout: 'thanks',
  
      components: {
        HeaderComponent,
        ThankaigContent
      },
      head() {
        return {
          title: 'AIG Seguros - Cotiza Seguros de Autos AIG - Comparaya.mx',
          meta: [
           {hid: 'keywords', name: 'keywords', content: 'AIG, AIG Seguros, Seguros AIG, Seguros de autos AIG, Cotizador AIG, Aseguradora AIG, Cotizar seguro de auto AIG, Seguros AIG Autos'}, 
            {hid: 'description', name: 'description', content: '¡Cotiza con AIG Seguros al mejor precio en Comparaya.mx! Compara 20 Aseguradoras, elige y en 30 Segundos tendrás tu seguro de auto AIG. ¡Es fácil y rápido!'}, 
            {hid: 'author', name: 'author', content: 'twitter | @vargasdesignMx'}, 
            {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'}, 
            {hid: 'canonical', rel: 'canonical', href:'https://comparaya.mx/seguros-de-autos/aig/cotiza-aig/thanks/'}, 
            {hid: 'robots', name:'robots', content:'noindex, nofollow'},
          ]
        }
      },
      created: function () {
        if (this.$store.state.formData.nombre != '') {
          this.$store.state.config.loading = true;
          this.$store.state.cotizacionInterna = true;
          this.$store.commit('validateData');
        }
        else {
     this.$router.replace({path: '/error/'});
        }
            this.$store.state.config.reload= false;
      }
    
    };
    
  </script>
  <style>
    .asegcolor{color: #6ea2d6;font-weight: bold;}
    .btnv{display: none;}
    .subtitleh1{color: #888;}
    .h1style{color: #555;}
  </style>