<template>
	<div>
		<div class="container-fluid bg-qualitas">
			<header-component />

			<div class="row ">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>

					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto Quálitas</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!--************  C O N T E N I D O S  ************-->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Requisitos para contratar tu Seguro de Auto Quálitas
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Los mejores beneficios están en Compara Ya y Seguros de Auto
						Qualitas, este le ofrece al mercado, diferentes planes y necesidades
						cubiertas, ahora los podrás obtener de la manera más rápida y fácil.
						Recuerda que sus requisitos son básicos y muy simples.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Modelo, marca, versión y número de
							puertas de tu auto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Tarjeta de Circulación.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Número de serie del vehículo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Identificación Oficial.
						</li>
						<li class="text lista"><span class="circulito"></span> RFC.</li>
						<li class="text lista">
							<span class="circulito"></span> Código postal de tu domicilio.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Más Privilegios con Quálitas en Compara Ya</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Qualitas Seguros, es la compañía aseguradora que desea ser la nueva
						generación de seguros de auto a través de la innovación en productos
						con los cuáles puedan satisfacer las necesidades de protección y
						seguridad de cada uno de sus clientes, con una actitud de servicio
						efectivo y cordial.
					</p>
					<p></p>
					<p class="text">
						Además de poder consolidarse con una buena posición en el mercado
						asegurador, marcando una diferencia real en el servicio a cada uno
						de sus asegurados e intermediarios, para que puedan preservar la
						solidez financiera, así como el objetivo de asesorar en conjunto con
						sus intermediarios a aquellos asegurados que tienen el riesgo de una
						mayor siniestralidad, minimizando su ocurrencia y así favorecer la
						continuidad de los procesos del cliente.
					</p>
					<p class="text">
						Qualitas significa calidad en latín, de ello su objetivo por brindar
						mayor estabilidad a sus clientes; más que un nombre comercial, esta
						compañía opta su nombre como una actitud que impera en toda la
						organización y que gracias a ello, pueda lograr un rápido y sólido
						crecimiento.
					</p>
					<p class="text">
						Seguros de autos Qualitas, te ofrece la asesoría en conjunto con sus
						intermediarios y sobre todo a sus asegurados que tienen la necesidad
						de contratar con el mejor seguro de auto, puedan satisfacer cada una
						de sus necesidades con una mejor oferta, para ello es que Compara Ya
						trabaja con Qualitas, ofreciendo lo mejor de esta aseguradora para
						sus clientes.
					</p>
					<p class="text">
						Dentro de los principios que consolidan a esta compañía aseguradora
						Qualitas encontramos:
					</p>
					<ul class="ps-3 ">
						<li class="text lista">
							<span class="circulito"></span> Parte del crecimiento como empresa
							se le debe al capital humano, que como razón de ser, parte del
							esfuerzo y desafío fundamental para el aprovechamiento de su
							talento.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Como concepto de empresa Qualitas
							seguros de auto ofrece ser un medio de realización personal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La innovación es una de los
							principios característicos de Qualitas, capaz de ofrecer un
							servicio de gran valor y con ello poder ofrecer un mejor servicio
							desde otro ángulo, inventando nuevas formas de ser y realizar para
							el bien de clientes y empresa.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Una labor profesional que como
							punto clave en la asesoría, apoyo, atención y guía durante el
							contrato de una póliza que pueda asegurar el patrimonio, como el
							seguro de auto de cada uno de los asegurados.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Qualitas Seguros de Autos y su
							tecnología como fuerza de impulso hacia una mejor creatividad y
							calidad de vida.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La globalización creciente de esta
							empresa le permite proyectar sus productos y servicios hacia
							horizontes más amplios y retadores en materia de seguros de autos.
						</li>
					</ul>
					<p class="text">
						Si lo que deseas es un servicio de calidad, garantía y servicio
						Qualitas Seguros y Compara Ya, son la combinación perfecta que te
						ofrece los mejores precios de seguros de auto en tan solo minutos,
						sin que esperes más tiempo y desde la comodidad de tu hogar u
						oficina, solo necesitas tu ordenador y una conexión de internet,
						esto te va a facilitar las gestión y la búsqueda de tu mejor
						propuesta de seguro de auto.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="qualitas#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-5 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">
						Ventajas de Contratar Seguros de autos Qualitas
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Para que todo te resulte más cómodo, te recomendamos tener a la mano
						algunos documentos; para todo esto es necesario que conozcamos
						algunos datos sobre tu vehículo, para darte el precio del seguro, al
						momento que tengas un presupuesto para tu vehículo y tu perfil de
						conducción, llega al momento de contratar la modalidad que mejor se
						adapte y te convenza, si deseas conocer el precio puedes continuar
						desde esa misma pantalla de Compara Ya.
					</p>
					<p class="text">
						Si quieres un comparador de seguros puedes conocer Compara Ya, este
						te ofrecerá un precio único, con un número de presupuesto para que
						completes los datos que necesites; al elegir Qualitas como tu
						compañía aseguradora, eliges grandes ventajas y beneficios, con gran
						servicio al cliente, con más de 350 oficinas a servicio del
						consumidor, lo que significa que tendrás un punto de atención cerca
						de casi cualquier lugar donde te encuentres.
					</p>
					<p class="text">
						A la hora de que elijas Qualitas Seguros, también tienes que tener
						presente que puedes consultar en su Web los talleres asociados, para
						que puedas elegir el mecánico que mejor te convenga, o más cerca
						esté. Los beneficios de éste tipo de asesoramiento virtual, te
						ahorrarán tiempo y esfuerzo, para ello te darán diversidad de
						ofertas y que puedas tomar la decisión de quien se ocupe de auto.
					</p>
					<p class="text">
						En Qualitas Seguros, saben que tu economía es lo más importante para
						un buen futuro, pues está compañía aseguradora se preocupa en cuidar
						de tu inversión, y en caso de que no cuentes con la protección ideal
						en seguros de autos, corres el riesgo de perder todo.
					</p>
					<p class="text">
						Una de las principales ventajas es que esta es una compañía
						especializada totalmente en el sector de autos y camiones, con una
						sola intención, que es poder brindar una extensa gama de coberturas,
						mismas que se adapten a las necesidades reales de cada uno de sus
						clientes, además de que se encargan de diseñar planes accesibles y
						atractivos, estos que se fijan con un mayor valor para la
						indemnización en caso de siniestros, pues en Qualitas Seguros es una
						de las pocas compañías que determina los deducibles desde su
						contratación, lo que te puede permitir darte las mejores opciones
						para la suma asegurada de tu auto desde el inicio.
					</p>
					<p class="text">
						Seguros de Autos Qualitas, es una de las compañías con quien podrás
						asegurar tu auto, camioneta, vehículo de equipo pesado, así como de
						transporte público, además de que puedas contar con el respaldo de
						una de las pocas compañías aseguradoras que maneja sistemas
						especializados para la prevención del robo de autos, y que sean
						eficientes para una rápida recuperación o de la localización de los
						vehículos, todo esto a través de la protección de las unidades por
						rastreo satelital.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'QUALITAS';
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 20;
		this.$store.state.config.telefonoAS = '88902221';
		this.$store.state.config.grupoCallback = 'VN QUALITAS';
		this.$store.state.config.from = 'COMPARAYA-QUALITAS';
		this.$store.state.config.idPagina = 187 ; //SE MODIFICO A BASE DEL ARCHIVO
		this.$store.state.config.idMedioDifusion = 1266; //VN QUALITAS
		this.$store.state.config.idInteraccion = 2483; //VN Interacción
		this.$store.state.config.idEcommerce = 2482; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 1; //SE MODIFICO A BASE DEL ARCHIVO
		this.$store.state.config.idSubRamo = 35; //8
		this.$store.state.config.imgaseg = 'qualitas';
		this.$store.state.config.urlRedireccion = 'qualitas';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'QUALITAS|comparaya-mx-qualitas';
		this.$store.state.config.interior = 'qualitasnuevo';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'Quálitas - Cotiza Seguros de Autos Quálitas - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Qualitas, Quálitas Seguros, Seguros Qualitas, Seguros de autos Qualitas, Qualitas Cotizador, Aseguradora Qualitas, Cotizar seguro de auto qualitas, Qualitas Seguros Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza tu seguro Quálitas al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Quálitas. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/qualitas/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #6f097b;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #6f097b;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #6f097b;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #6f097b;
	}
}
</style>
