<template>
	<div>
		<div class="container-fluid bg-latino">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto La Latino</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!--********************  CONTENIDOS  ********************-->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Más Privilegios con La Latino Seguros en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Poder contar con una excelente cobertura en tu seguro de auto es
						algo que está en tus manos, pues solo necesitas conocer las
						coberturas que cada compañía aseguradora te ofrece, además de que
						antes de tomar una buena decisión, debes entrar a Compara Ya, y así
						tener la certeza de que estas contratando la mejor alternativa.
					</p>
					<p class="text">
						Realmente poder decir que tenemos el mejor seguro de auto quizá se
						resuma en que pasamos mucho tiempo buscando la mejor opción, además
						que contratar a un precio que se adapte a las necesidades personales
						es un tanto complicado y junto con eso en caso de que surjan
						problemas, que estos nos otorguen las indemnizaciones y demás
						soluciones cuando a ellas las precisemos en diferentes momentos, por
						lo que creemos que en nuestro país es posible recibir por parte de
						las instituciones aseguradoras una correcta atención y
						aseguramiento.
					</p>
					<p class="text">
						En realidad son muchas las opciones que ofrecen seguro para auto,
						una más grandes que otras, sin embargo, sucede que en la mayoría de
						las ocasiones que una persona no sepa por cuál optar debido a que
						tenga ciertos miedos, riesgos y que también esta resulte en
						incertidumbre de aquellas cosas, que se deben tomar en cuenta al
						contratar.
					</p>
					<p class="text">
						Seguros La Latino, es la primera y más sencilla respuesta para tus
						necesidades, esta es una aseguradora, se caracteriza por sus más de
						100 años en el mercado asegurador mexicano y sobre todo lo más
						importante, es que también dentro de su relevancia se encuentra en
						sus capitales 100% nacionales. La torre en donde se encuentran las
						oficinas de administración de dicha entidad es una de las más altas
						en toda América Latina, y de allí se concentran cada uno de los
						esfuerzos para que usted contrate un seguro siempre de manera eficaz
						y con la garantía que es la mejor alternativa.
					</p>
					<p class="text">
						Puedes encontrar las mejores ofertas con Seguros La Latino, además
						que te sentirás más tranquilo y con innovación en las coberturas,
						algo que es muy importante es que para este punto los valores que
						necesitas desarrollar son integridad, trabajo en equipo,
						experiencia, calidad y también respeto.
					</p>
					<p class="text">
						Sin dudar esta es una compañía aseguradora que ofrece una entidad
						mejor, y con el motivo de que pueda ser el mejor, eso que será
						tomado en cuenta con productos de excelencia como lo puede ser Auto
						Latino, el cual se ofrece en tres modalidades diferentes, como
						Amplia, Limitada y de Responsabilidad Civil, por lo que deseamos
						centrarte en la primera, como de análisis pues hoy en día cuentan
						con más clientes.
					</p>
					<p class="text">
						Con lo mismo se van a amparar en un sinfín de riesgos y algunos de
						los que deseamos destacar será la asistencia de dos maneras, legal y
						vial, con respuestas en costos médicos que se tienen para algún
						ocupante, como los robos, la responsabilidad civil en cada una de
						las formas, daños que se consideren materiales, entre otras
						circunstancias. En los próximos ítems lo que revisaremos son las
						ventajas que este servicio tiene:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Las condiciones que son generales
							para el seguro de auto son excelentes en todo momento.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La solicitud por medio de la cual
							el beneficiario tiene acceso al producto, es muy simple, no de
							ninguna manera que se le van a presentar burocracias.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Los requisitos que la contratación
							tienen como mínimo, en horas se puede reunir sin dudas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con talleres especializados
							para la contratación, mismo que tiene como mínimos, en horas
							podrás reunirlo sin dudas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con los talleres para el
							chequeo del auto en cada una de las ciudades del país, mismo que
							para que se controle su auto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> De las indemnizaciones que son
							adecuadas ante cualquier siniestro o colisión, en efectivo y
							cubriendo lo que precise.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puede ser que se varía en la
							póliza que depende de lo que se desea cubrir, es muy personalizado
							en el servicio.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Ventajas de Contratar Seguros de autos La Latino
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Con Seguros La Latino puedes encontrar los planes de cobertura y
						servicio que necesitas, además de que se encarga de ofrecer las
						mejores coberturas para tu seguro de auto. En Compara Ya puedes
						encontrar lo mejor de las coberturas de tu seguro de auto, por ello
						te brindamos toda la información que necesitas para poder contratar
						tu mejor seguro de auto.
					</p>
					<p class="text">
						Dentro de la filosofía de esta empresa, se logra revisar de manera
						constante lo que llega a requerir el usuario, por ello es una de las
						compañías aseguradoras con mejor desempeño; la misión de la La
						Latino Seguros, otorga una gran seguridad y tranquilidad a las
						familias o empresas mexicanas. Como ejemplo de ello y dentro de la
						constancia de innovación es la garantía de indemnización dentro de
						las 24 horas por el robo total, mismo que se encarga de hacer los
						pagos más rápidos, y que cuenta con una aplicación móvil para
						disposición de cada uno de sus clientes.
					</p>
					<p class="text">
						Con La Latino Seguros puedes contar con los planes de seguir
						creciendo y expandiendo, por lo que como objetivo principal cuenta
						con la seguridad que brinda la mejor cobertura y atención a cada uno
						de sus usuarios.
					</p>
					<p class="text">
						Los grandes ventajas que esté seguro de auto te brinda son:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Latino +10: En caso de que el
							beneficiario necesite cubrirse en los montos por encima de lo que
							en realidad vale tu auto, este es el producto que tiene como
							objetivo dar el 10% más el costo de la unidad en caso de que
							suceda alguna pérdida total o que también en caso de robos totales
							del vehículo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Auto Sustituto: Para las
							situaciones en caso de que su auto sea indispensable en la vida
							cotidiana por las actividades, si no puede disponer de la unidad
							por los robos o de las pérdidas se lo va a indemnizar de manera
							inmediata con las sumas que llegan a los $10,000 sin problemas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Traslado Ejecutivo: En caso de que
							el beneficiario resida en la Ciudad de México y tenga algún tipo
							de inconvenientes con el funcionamiento de su auto esta
							institución pone en el acto de la disposición un conductor por un
							tiempo que pueda ser máximo de 5 horas para que lo traslade de un
							lugar a otro.
						</li>
					</ul>
					<p class="text">
						Además de que cada uno de los usuarios envían muchos comentarios
						agradables, sobre el servicio que ofrece La Latino Seguros, brinda
						las facilidades correctas con las que puedes disfrutar de tu auto al
						máximo.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="la-latino#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">
						Coberturas exclusivas de La Latino Seguros Autos
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Recordemos que esta es una empresa que ha crecido lentamente en el
						país, por lo que esta empresa aseguradora ya cuenta con talleres
						propios y con agencias para la reparación de autos en casi el 50%
						del territorio nacional, aunque lo mismo que te ofrece los servicios
						mediante terceros ante cualquier parte.
					</p>
					<p class="text">
						La Latino Seguros RC Básico Estandarizado, con un plan de protección
						que solamente cubre la Responsabilidad Civil por hasta 250 mil
						pesos, por lo que dicho contrato de la póliza de seguro puede servir
						para dar el cumplimiento que por ley de tránsito se debe tener en
						caminos y puentes federales, además de cumplir con los requisitos de
						diversos estados.
					</p>
					<p class="text">
						Póliza de Responsabilidad Civil, este es un plan mediante el que
						puedes contratar la suma asegurada que este desee, además de cubrir
						las eventualidades por daños ocasionados a terceros en sus bienes
						materiales o en su persona física, este te permite que la
						contratación de las coberturas adicionales en los gastos médicos a
						los ocupantes y accidentes del conductor. Otras coberturas
						adicionales resultan ser la asistencia vial y asistencia legal.
					</p>
					<p class="text">
						Plan Limitado: Es la que brinda la posibilidad de una cobertura de
						Robo Total a la póliza de responsabilidad civil; por lo que es
						posible incrementar la protección con las cláusulas Latino +10, Auto
						Sustituto y Traslado ejecutivo.
					</p>
					<p class="text">
						Cobertura Amplia, Con póliza de protección total: con las sumas
						aseguradas a la medida de cada uno de los clientes, mediante la
						asesoría de los agentes, con diversas alternativas de contratación
						de coberturas adicionales, por lo general se le añade la protección
						por daños materiales a la póliza limitada.
					</p>
					<p class="text">
						La Latino Seguros para Autos Taxis: Diferentes planes de cobertura
						Básica, Limitada y Amplia, para poder escoger la protección de los
						automóviles que presten el servicio de taxis.
					</p>
					<p class="text">
						Póliza Revista: Este es el plan mínimo indispensable que todo auto
						que ofrezca el servicio de taxi debe tener, se encarga de cubrir la
						responsabilidad civil por daños a terceros y al mismo pasajero.
					</p>
					<p class="text">
						Camino Latino: Son diferentes planes de protección para los
						vehículos que son pertenecientes a las compañías aseguradoras, con
						las demás coberturas desde la básica hasta la cobertura amplia y con
						las opciones de contratación de coberturas adicionales.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'LATINO'; //se deja esto por que no tiene su propio webservice
		this.$store.state.config.motor = true;		
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true; // se modifica el 16 de julio
		// this.$store.state.config.cotizacionInterna = true
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '88902330';
		this.$store.state.config.grupoCallback = 'VN LATINO';
		this.$store.state.config.from = 'COMPARAYA-LALATINO';
		this.$store.state.config.idPagina = 159;
		this.$store.state.config.idMedioDifusion = 1291;
		this.$store.state.config.idInteraccion = 2730; //VN Interacción
		this.$store.state.config.idEcommerce = 2729; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 43;
		this.$store.state.config.idSubRamo = 41; //14
		this.$store.state.config.imgaseg = 'lalatino';
		this.$store.state.config.urlRedireccion = 'la-latino';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'LATINO|comparaya-mx-lalatino';

		this.$store.state.config.interior = 'lalatino';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title:
				'La Latino Seguros - Cotiza Seguros de Autos La Latino - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'La Latino, La Latino Seguros, Seguros La Latino, Seguros de autos La Latino, La Latino Cotizador, Aseguradora La Latino, Cotizar seguro de auto La Latino',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza La Latino Seguros al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto La Latino. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/la-latino/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
</style>
