<template>
	<div>
		<div class="container-fluid bg-miituo">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto Miituo</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!----------------------------------***************  C O N T E N I D O S  ************------------------------------------>
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Ventajas de Contratar Seguros de autos Miituo
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Poder contar con un seguro de auto, especifico para tus necesidades,
						lograrás encontrar buenos beneficios, además que tendrás las mejores
						ventajas para que le saques el jugo necesario, con Miituo; esta es
						una empresa que asegura tu auto por una prima que se obtiene para
						calcular los kilómetros que recorres en él al mes. En todas las
						pólizas de este seguro de auto por lo que están suscritas por
						seguros atlas y que cuentan con dos tipos de planes a elegir.
					</p>
					<p class="text">
						La Ciudad de México, es la primer entidad de nuestro país que
						normalizo como ley, la necesidad de contratar un seguro de auto, ya
						que obliga a muchos conductores a hacer uso limitado del vehículo,
						por lo que Miituo es uno de los modelos de aseguramiento en el que
						el consumidor sólo paga por los seguros que han irrumpido en el
						mercado asegurador, que desde sus inicios en noviembre de 2017, hoy
						se puede considerar por el Instituto Nacional del Emprendedor como
						ante el proyecto de alto impacto en México.
					</p>
					<p class="text">
						En nuestro país, se tiene una escasa cultura de aseguramiento, por
						lo que es común que los conductores piensen que no se necesita
						adquirir un seguro anual siendo que no se ocupa el auto con
						demasiada frecuencia, por ello es que se espera aportar con una
						cultura vial, para ofrecer mejores beneficios a cada uno de clientes
						de seguro.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Con el seguro Miituo se logra
							buscar tener un mercado de conductores que puedan ahorrar y que
							cuiden el medio ambiente, para utilizar de manera moderada con el
							automotor, además que este es un modelo que logra fortalecer en lo
							que se basa como Confianza.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Propósito, por lo que este esquema
							es que los ciudadanos logren conocer una cobertura que se adapte a
							las necesidades, o que se presenten dos paquetizaciones, limitado
							y amplio, por lo que cada uno de los beneficios de cualquier
							póliza y además está ofrezca las tarifas especiales, con respecto
							a los kilómetros recorridos, por lo que es una de las excelentes
							alternativas de seguro de auto para los que no utilizan mucho su
							vehículo, pero que sin embargo estos requieren contar con la
							protección ideal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Contar con un producto que sea
							digital, a través de la página de Miituo, el usuario debe llenar
							un formulario con el que es proceso de contratación será más
							eficaz, además de que contarás con un modelo de mayor seguridad,
							la compañía de seguros podrá ir monitoreando los kilómetros que
							recorre la posibilidad de verse involucrado en un accidente
							automovilístico y menor por el riego para la aseguradora, por lo
							que es el precio de una prima menor.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img src="/seguros-de-autos/img/circulo-mono.png" alt="mono2" class="monocirc d-none d-md-block" />
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="miituo#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Más Privilegios con Seguros de Auto Miituo en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Conseguir el mejor seguro de auto es posible, y para que lo puedas
						conseguir solo necesitas conocer las especificaciones de tu auto,
						tus necesidades y sobre todo debes darte a la tarea de comprar pues
						con ello, lograrás encontrar la cobertura ideal, para ti, entra a
						Compara Ya, conoce cada una de las aseguradoras que hay en el
						mercado y sobre todo las coberturas que estas te ofrecen, además que
						encontrarás lo mejor que te pueda funcionar.
					</p>
					<p class="text">
						En la actualidad puedes contratar un seguro de auto de la manera más
						rápida y efectiva, además que tener una cobertura de seguro de auto,
						ya es obligatorio por ley, este es necesario para poder circular en
						carreteras y puentes federales de nuestro país, pero si eres de los
						que desea ahorrar dinero en la contratación de tu seguro de auto,
						necesitas escuchar esto, hoy en día hay una buena noticia, Miituo,
						es el primer seguro de auto kilómetro, por lo que puede hacer
						realidad tu sueño, ya que ha diseñado la manera ideal de calcular la
						prima con base en los kilómetros que tu auto recorra.
					</p>
					<p class="text">
						En la actualidad puedes contratar un seguro de auto, con la mayor
						efectividad, en Compara Ya encontraras los planes ideales para ti y
						tu auto, ya que esta es una de las cosas que los automovilistas no
						deben siquiera pensar en la opción de evadir y sin embargo aún
						podemos encontrarnos en nuestro camino con vehículos sin seguro de
						ningún tipo, aún cuando el seguro de daños a terceros que se ha
						vuelto obligatorio.
					</p>
					<p class="text">
						Pues en el momento que suceda esto es que las aseguradoras han
						diseñado paquetes de seguros, junto con coberturas que por un tiempo
						fueron variados pero al paso de los años se han homologado los
						planes de cobertura amplia y limitada, capaz de dejar pocas
						alternativas al cliente que debe elegir entre el seguro caro o el
						barato.
					</p>
					<p class="text">
						Para que puedas tener la mejor póliza de seguro, es importante que
						conozcas las compañías aseguradoras que han creado paquetes de
						seguros con coberturas que por cierto tiempo fueron variados pero
						con el paso de los años se han podido homologar en la cobertura
						amplia y limitada, esto se dejó para pocas alternativas con el
						cliente que debe elegir entre el seguro.
					</p>
					<p class="text">
						Lo que antes se consideraba un problema, es que los seguros de auto
						que no se consideran cuántos kilómetros se hayan utilizado con el
						automóvil, esto significa que una persona que utiliza el auto de
						manera activa, es decir, a diario puede recorrer grandes distancias,
						por lo que se estaría pagando lo mismo que un automovilista pasivo
						que sólo utiliza el auto en fines de semana.
					</p>
					<p class="text">
						Afortunadamente se creó unas semanas, por lo que se ha estado dando
						a conocer una alternativa ideal para cada uno de los clientes que
						cuentan en el mercado, y no se trata de una compañía aseguradora que
						se maneja bajo los mismos esquemas que ya conoces; esta es una
						empresa que asegura tu auto con una prima capaz de obtener la misma
						prima que se adquiere calculando los kilómetros que recorres en él
						mes; cada una de las pólizas que esté seguro de auto ofrece están
						contempladas en las compañías aseguradoras que se manejan bajo los
						esquemas que conoces.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">Coberturas de Seguros de Auto Miituo</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Entre las ventajas del seguro de auto Miituo puedes lograr conseguir
						los mejores beneficios, como el seguro por kilómetros, ya que es
						independiente de si el auto asegurado atorado en un embotellamiento,
						estacionado o que éste recorra poca distancia en el mes, o que
						siempre esté cubierto, además que es un sistema post pago, es decir
						que se liquida sólo lo que se consumen los treinta días anteriores,
						lo que te permite como usuario poder ahorrar en la prima mensual.
					</p>
					<p class="text">
						Bajo la premisa de pagar solo por lo que consumes, un apasionado de
						los autos, se desarrolló Miituo, la primera plataforma creada en
						territorio mexicano para proporcionar a cada uno de sus clientes,
						con el poder del consumo equitativo, con esto se les permite
						contratar un seguro de auto por kilómetro recorrido y no al mes o
						por año. Más que una marca, Miituo es un movimiento y un conector de
						cambios para las personas que desean y buscan poder contribuir con
						las ideas y acciones para la mejoría de todos los clientes.
					</p>
					<ul class="ps-3">
						<p class="text">
							<strong>
								Miituo es una marca joven que cuenta con la capacidad financiera
								y buen uso de recursos tecnológicos que inició actividades, por
								la que se rige su sistema en dos puntos clave:</strong
							>
						</p>
						<li class="text lista">
							<span class="circulito"></span> Confianza.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Consumo equitativo.
						</li>
					</ul>
					<p class="text">
						Otra de las principales ventajas de esta compañía aseguradora es que
						es una empresa que ofrece un producto disruptivo en nuestro país,
						con ello es el seguro de auto por kilómetro, que a su vez maneja de
						una clásica Cobertura Limitada y que no puede faltar una Cobertura
						Amplia o que es respaldada por los Seguros Atlas.
					</p>
					<p class="text">
						Además que sólo se debe pagar al mes la distancia que hayas
						recorrido, este es una de las experiencias totalmente diferente al
						seguro de auto convencional, que de tal manera puedes observar como
						es la mejor manera de contratar tu seguro de auto con Miituo.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Entra en Compara Ya, para cotizar
							el seguro de auto que ofrece Miituo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Revisa la cobertura y póliza de
							seguro que te convenga, podrás pagar de manera mensual, recuerda
							que puedes pagar con tarjeta.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Por lo menos una vez al mes se te
							recordará que vayas a tu aplicación y captures tu odómetro.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'MIITUO';
		this.$store.state.config.aseguradoraCatalogos = 'HDI';
		this.$store.state.config.motor = true;
		this.$store.state.config.ventaLead = false;
		//this.$store.state.config.eCotizar = true;
		this.$store.state.config.cotizacion = false;
		this.$store.state.config.emision = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '88902347';
		this.$store.state.config.grupoCallback = 'VN ABA';
		this.$store.state.config.from = 'COMPARAYA-ABA';
		this.$store.state.config.idPagina = 159; // se cambio 1220;
		this.$store.state.config.idCampana = 4; //se cambio 43;
		//this.$store.state.config.idSubRamo = 21; //8;
		this.$store.state.config.idSubRamo = 21;
		this.$store.state.config.idMedioDifusion = 1791;
		this.$store.state.config.idInteraccion = 2732; //VN Interacción
		this.$store.state.config.idEcommerce = 2731; //Venta en Linea Ecommerce
		this.$store.state.config.imgaseg = 'miituo1';
		this.$store.state.config.urlRedireccion = 'miituo';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'MIITUO|comparaya-mx-miituo';
		    this.$store.state.config.interior = "miituo";

	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title:
				'Miituo Seguros - Cotiza Seguros por Kilometro Miituo - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Miituo, Miituo Seguros, Seguros Miituo, Seguros de autos Miituo, Seguro por Kilómetro Miituo',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con Miituo Seguros al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro por kilómetro Miituo. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/miituo',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
</style>
