<template>
	<div>
		<div class="container-fluid bg-general">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">
						Cotiza tu Seguro de Auto General de Seguros
					</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!--*******************  C O N T E N I D O  *********************-->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Ventajas de Contratar Seguros de autos General de Seguros
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						General de Seguros cuenta con diferentes tipos de seguros, mismos
						que van dirigidos tanto para el público que requiere coberturas
						básicas de protección como para los que prefieren contar con
						coberturas más completas.
					</p>
					<p class="text">
						Conoce las variedades de seguros que te ofrece General de Seguros y
						compara las coberturas, prima, deducibles y beneficios, sin olvidar
						que la mejor elección de tu servicio viene posterior a un análisis y
						comparación a detalle; asimismo, General de Seguros cuenta con
						diferentes tipos de seguro y coberturas con las que podrás contratar
						la mejor protección y respaldo en cualquier momento.
					</p>
					<p class="text">
						Seguro de Auto Prestigio de General de Seguros: esta es una
						cobertura más completa para el conductor y su vehículo, pues este te
						paga más en caso de la pérdida total del auto. Los autos último
						modelo o nuevos que necesitan protección total ante cada riesgo que
						conlleva a utilizar este tipo de autos de hasta 10 años de
						antigüedad.
					</p>
					<p class="text">Es la Cobertura que ofrece protección ante:</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Daños Materiales Pérdida Total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Daños Materiales Pérdida Parcial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo Total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil por Daños a
							Terceros (L.U.C.).
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil por
							Fallecimiento.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil por
							Ocupantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección G5 Extensión de
							Responsabilidad Civil.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos Médicos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Jurídica G5.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Vial y en Viajes G5.
						</li>
						<li class="text lista">
							<span class="circulito"></span> G5 Sigue.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo Parcial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección G5 Objetos Personales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección G5 Asalto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Daños al Vehículo por Tercero sin
							Seguro.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Muerte Accidental al Conductor.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="general-de-seguros#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-gen">
						Más Privilegios con General de Seguros en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						General de Seguros es una empresa mexicana que cuenta con más de 45
						años de experiencia en el mercado asegurador. La principal misión de
						esta empresa aseguradora es que se compromete con los clientes ante
						cada uno de los siniestros que se pueda presentar, siempre que se
						enfoquen en la necesidad de escucharlos, entenderlos y atenderlos
						con la mejor atención, con servicio de calidad.
					</p>
					<p class="text">
						Es una compañía aseguradora considerada como una de las
						instituciones que se considera como una de las 10 compañías más
						importantes del sector asegurador en nuestro país. Además de que es
						reconocida por su calidad en cada uno de sus servicios y de la
						prontitud de respuesta ante los siniestros; con sus principales
						valores que se basan en la confianza, honestidad y responsabilidad
						hacia cada uno de sus usuarios.
					</p>
					<p class="text">
						Esta es una aseguradora 100% mexicana que se fundó en 1970, logra
						contar con la presencia nacional con más de 20 sucursales, ofrece
						una amplia gama de productos de seguros de auto, con la sede central
						de General de Seguros.
					</p>
					<p class="text">
						Las necesidades de la actualidad llevan a que un grupo de
						funcionarios y agentes del sector asegurador pudieran crear una
						compañía de seguros que responda a la demanda sobre el mercado, así
						surge General de Seguros, pero es un año después, que éste conjunto
						de emprendedores compra la compañía Aseguradora de Crédito con la
						que inició sus operaciones en el ramo de Daños y Accidentes
						Personales.
					</p>
					<p class="text">
						Para esa época se iniciaron los trámites de la Secretaría de
						Hacienda y Crédito Público, con el que se puede realizar
						transacciones bajo el nombre de General de Seguros S.A. en la década
						de los noventa, además que se pudo diversificar en la oferta de sus
						productos e inicia con la comercialización de Seguros de Vida.
					</p>
					<p class="text">
						Para cuatro años más tarde, se vuelca en grandes esfuerzos en el
						ramo agropecuario siendo éste el segundo sector de mayores ventas en
						primas. En 1997, la empresa mexicana es precursora en la línea de
						productos dedicados a la salud; para principios del siglo XXI, la
						compañía había crecido tanto en éste ramo que se mantuvo de manera
						exclusiva en la calidad de servicio.
					</p>
					<p class="text">
						Lo primero que debes saber de contratar un seguro de auto con
						General de Seguros es importante que cuentes con alguno de los
						vehículos para los que ofrece en tu póliza de seguro de auto. Dichos
						vehículos son los que tienen acceso y servicio para el seguro de
						auto General de Seguros.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Automóviles particulares.
						</li>
						<li class="text lista"><span class="circulito"></span> Pickup.</li>
						<li class="text lista">
							<span class="circulito"></span> Motocicletas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Unidad de carga de máximo 3.5
							toneladas.
						</li>
					</ul>
					<p class="text">
						El vehículo que tengas que asegurar debe ser utilizado para alguno
						de los usos que cubre la compañía; esto significa que para proteger
						tu auto con General de Seguros tu vehículo deberá de tener alguno de
						los siguientes usos:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Particular.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Transporte público.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Los vehículos blindados que
							también pueden asegurarse, sin embargo, deben pasar por una
							revisión del Área de Suscripción de General de Seguros.
						</li>
					</ul>
					<p class="text">
						Cada uno de los vehículos que deseen ser asegurados por General de
						Seguros deben de:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Tener placas o permiso de
							circulación en nuestro país o en los Estados Unidos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Ser fabricados en México o por
							compañías que cuenten con distribuidores nacionales autorizados.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-gen">
						Coberturas importantes de General de Seguros
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						En Compara Ya estas seguros que encontraras una cobertura completa y
						óptima para cada una de tus necesidades, General de Seguros cuenta
						con múltiples ventajas que te servirán, conoce sus principales
						coberturas y los beneficios de cada una.
					</p>
					<p class="text">
						Seguro de Responsabilidad Civil General de Seguros: Este es un plan
						de coberturas que ofrece el pago de los daños por los perjuicios que
						puedas llegar a ocasionar a las demás personas por los hechos no
						intencionales que causen daños en las propiedades, además del
						deterioro de la salud o de la muerte en las mismas.
					</p>
					<p class="text">
						General de Seguros te va a respaldar al momento de afrontar
						legalmente en caso de que ocurra un accidente, incendio, lesiones a
						personas a consecuencia del desarrollo de tus actividades, o por el
						consumo y el empleo de algún tipo de producto que sea elaborado por
						una empresa, por los servicios prestados en la ejecución de obras,
						participación de ferias, derivado de las actividades que sean
						personales y del uso de los equipos o de la maquinaria que se
						emplea.
					</p>
					<p class="text">
						Si cuentas con un taller o con algún tipo de estacionamiento, este
						tipo de Seguro te cubre ante cualquier responsabilidad civil que
						pudieras enfrentar sobre cualquier tipo de vehículo que hayan sido
						recibidos en tu establecimiento, mientras se encuentre bajo la
						custodia por los daños o de las pérdidas de los mismos, o durante su
						reparación.
					</p>
					<p class="text">
						Viajero, es la cobertura con la que puedes contratar en caso de que
						tu vehículo sea utilizado para el servicio de transporte de
						pasajeros, urbano, suburbano, foráneo o de turismo, así como de
						empleados o escolar, para lo cual tendrás que contar tanto con la
						licencia como con las placas que le correspondan. Si llegas a ser
						responsable de algún accidente de tránsito o en el cual sufra alguna
						lesión el pasajero, para cubrir el pago de cualquier daño o de la
						lesión que hayas causado.
					</p>
					<p class="text">
						Seguro de Confort Amplia General de Seguros: Este es el seguro ideal
						con la flexibilidad de ampliar y poder elegir las coberturas que
						necesitas, este es un seguro para personas con vehículos nuevos o de
						modelos recientes que necesitan protección ante las eventualidad de
						tránsito que existen al conducir este tipo de vehículos hasta por 20
						años de antigüedad.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Daños Materiales Pérdida Parcial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Daños Materiales Pérdida Total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil por Daños a
							Terceros (L.U.C.).
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil por
							Fallecimiento.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos Médicos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Jurídica General de
							Seguros.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Vial General de
							Seguros.
						</li>
						<li class="text lista">
							<span class="circulito"></span> General de Seguros Sigue.
						</li>
					</ul>
					<p class="text">
						Confort Limitada General de Seguros: Es el plan de cobertura que te
						protege tu inversión tu auto y que te paga en caso de robo, para las
						personas con autos convencionales, ya sean nuevos o seminuevos de
						hasta 20 años de antiguedad mismos que desean de manera primordial
						protección de su patrimonio.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Robo Total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil por Daños a
							Terceros.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos Médicos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Jurídica General de
							Seguros.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Vial en Viajes General
							de Seguros.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil Ocupantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección General de Seguros
							extensión de responsabilidad civil.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cero deducible robo total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Muerte accidental al conductor.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Adaptaciones y Conversiones.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';

export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'GENERALDESEGUROS';
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizacion = false;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.corePer = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '88801536';
		this.$store.state.config.grupoCallback = 'VN General de Seguros';
		this.$store.state.config.from = 'COMPARAYA-GS';
		this.$store.state.config.idPagina = 159;
		this.$store.state.config.idMedioDifusion = 1290;
		this.$store.state.config.idInteraccion = 1524; //VN Interacción
		this.$store.state.config.idEcommerce = 2304; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 43;
		this.$store.state.config.idSubRamo = 42;
		this.$store.state.config.imgaseg = 'general-de-seguros';
		this.$store.state.config.urlRedireccion = 'general-de-seguros';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo =
			'GS|comparaya-mx-generaldeseguros';

		this.$store.state.config.interior = 'general-de-seguros';
	},
	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        ////console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title:
				'General de Seguros - Cotiza Seguros de Autos General - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'General de Seguros, Seguros General, Seguros de autos General, Cotizar seguro de auto General',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza General de Seguros al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto General. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/general-de-seguros/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #264085;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #264085;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #264085;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #264085;
	}
}
</style>
