<template>
	<div>
		<div class="container-fluid bg-potosi">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto El Potosí</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!-------------------------------------******** C O N T E N I D O S  ******------------------------------------------>
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Más Privilegios con Seguros El Potosi en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Una de las primeras cosas que debes conocer es que Seguros El
						Potosí, cuenta con la experiencia de casi 70 años en el mercado
						asegurador de nuestro país, esta es una de las compañías 100%
						mexicanas, esto puede agregarle cierto valor, pues conoce las
						necesidades puntuales de los ciudadanos mexicanos.
					</p>
					<p class="text">
						Es una empresa que confió y se desarrolló en este lugar para brindar
						así la oportunidad para muchas familias, la satisfacción de cumplir
						con sus sueños de cuidar su patrimonio. Cuenta con casi más de un
						millón de clientes contentos, por ello es que sigue eligiendo a
						Seguros el Potosí a diario y son este tipo de acciones las que
						demuestran las buenas opiniones con las que cuenta Seguros el
						Potosi.
					</p>
					<p class="text">
						Una de las maneras en las que se logra destacar sobre las
						características y los beneficios de esta aseguradora es que puedes
						utilizar su cotizador para poder observar tu perfil, además de que
						podrás conseguir las mejores coberturas y ofertas que existen el
						mercado, una de las cosas que merece mayor atención y ser analizado
						son los seguros de auto, El Potosí siempre cuenta con las mejores
						opiniones de sus clientes, porque esta es una empresa que responde y
						responde bien.
					</p>
					<p class="text">
						Ya sea que estés buscando un seguro lo más barato posible, o que
						este sea el más completo con el que puedas tener mayores ventajas
						sobre otros, en caso de que necesites una cómoda relación entre las
						dos, puedes contar con cada una de las posibilidades gracias a su
						cobertura básica, cobertura más, cobertura amplia, cobertura amplia
						más o de la cobertura amplia total.
					</p>
					<p class="text">
						Tener un auto más que un lujo o necesidad representa una
						responsabilidad, además que es una decisión importante en la vida de
						cualquier individuo, esta es una de las inversiones más importantes
						y relevantes que hacemos a lo largo de nuestra vida adulta, por
						tanto, proteger tanto nuestro patrimonio como nuestro auto suelen
						representar una estabilidad económica, además que esto será una de
						tus prioridades cuando somos propietarios de un auto, por todo ello
						es que la elección del seguro de auto es extremadamente relevante.
					</p>
					<p class="text">
						Por esto es que en Compara Ya trabajamos para ofrecerte una
						estabilidad y confianza que te mereces, nuestro objetivo es
						esclarecer tus dudas, además de poner a tu disposición la
						información a detalle de los beneficios, ventajas, precios y
						coberturas que existen en el mercado asegurador, en esta ocasión
						veremos las alternativas que Seguros el Potosí tienen para ti.
					</p>
					<p class="text">
						En la actualidad Seguros El Potosí ofrece una extensa variedad de
						paquetes y planes de coberturas para cada auto, por todo ello es que
						necesitas conocer qué es lo que estas te incluyen y sobre toda cada
						cobertura en general, pues cada una de las aseguradoras de nuestro
						país cuentan con diferentes alternativas dentro de su gama de
						opciones, cada una con el propósito de ayudarte a tomar la mejor
						decisión y así tener un comparativo entre el costo y beneficios de
						lo que puede ser tu nuevo seguro de auto y que como cliente quedes
						satisfecho.
					</p>
					<p class="text">
						Resaltamos que Seguros el Potosí es una empresa socialmente
						responsable además de ser en su totalidad de origen mexicano con una
						trayectoria de más de 70 años de vida. Esta es una de las compañías
						que ofrece y define como mejor seguro de auto a una póliza
						accesible, flexible, rápida y confiable.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Ventajas de Contratar Seguros el Potosí</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Una de las cosas que destaca de esta compañía aseguradora es que
						puedes contar con un seguro de auto para cada vehículos, con Seguros
						el Potosí puedes aplicar póliza de seguro para los siguientes tipos
						de vehículos:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Automóviles de uso particular.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Pick ups.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Camiones.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Camiones de carga.
						</li>
					</ul>
					<p class="text">
						Tu seguro de auto el Potosí, se debe considerar para cualquier
						persona que sea dueña de un vehículo, sin embargo, necesitas tomar
						en cuenta que esta solamente cubre a los automóviles que cumplan con
						las características de:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Vehículo para uso particular.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Vehículos de uso público como los
							de transporte de personas o de carga.
						</li>
					</ul>
					<p class="text">
						El Potosí destaca por las características recién mencionadas además
						de que tiene una variedad y amplitud de coberturas, con las que
						además ofrece algunos beneficios exclusivos por sobre las demás
						aseguradoras.
					</p>
					<p class="text">
						El objetivo primordial es que el cliente se encuentre con la
						protección ante los diferentes tipos de siniestros que se le puedan
						presentar o que le lleguen a ocurrir en las vialidades y carreteras
						de México o de los países vecinos, a esto se le logra añadir, en sus
						coberturas base los talleres mecánicos de confianza, hojalateria y
						algunas ventajas que ofrece como:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Talleres certificados que se
							encuentran repartidos alrededor de todo el país, para que en caso
							de sufrir un accidente o incidente mecánico puedan solicitar la
							atención de manera rápida y eficaz.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Respaldo ante daños que te puedan
							ocasionar a terceros como consecuencia de un accidente
							determinado, o de los daños tanto a terceras personas como a los
							bienes materiales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos para quien conduce
							y para los acompañantes a bordo en el supuesto caso de que sufras
							un accidente o problema con tu vehículo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Vial para cuando sea
							necesaria una grúa, el envío de combustible gasolina, pasa
							corriente o del camino de los neumáticos de forma urgente, todo
							ello sin una cantidad de eventos determinada, lo que lo convierte
							es un excelente ventaja.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img src="/seguros-de-autos/img/circulo-mono.png" alt="mono2" class="monocirc d-none d-md-block" />
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="el-potosi#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">Coberturas de Seguros de Auto El Potosí</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Con Seguros El Potosí estamos seguros que encontrarás la protección
						ideal y óptima para tus necesidades y las de tu auto, conoce la
						importancia de la salud y sobre todo del bienestar económico de cada
						cliente, para ello es que brinda una amplia protección en cada uno
						de los aspectos posibles y que vayan en relación con tu conducción,
						las coberturas que se buscan ofrecer, son de un balance óptimo entre
						la calidad y el precio, para que estas mismas puedan ser accesibles
						para cada cliente.
					</p>
					<p class="text">
						Las coberturas que se encuentran como disponibles de seguros el
						Potosí van desde la Responsabilidad Civil que ya es obligatoria,
						para cada tipo de conductor y que todos debemos tener al conducir
						nuestro auto y las coberturas Amplia, seguida por la Plus y por
						último la más completa de todas las coberturas que ofrece El Potosí
						la cobertura Total.
					</p>
					<p class="text">
						En un supuesto caso en el que un asegurado sufra algún tipo de
						siniestro deberá tener en claro que los pasos a seguir son
						sencillos, pero para agilizar su reporte y trámite, debe considerar
						evitar tener más problemas o demoras en su trámite, para ello es
						importante que lea las especificaciones de su póliza de seguro.
					</p>
					<p class="text">
						Deberá contar con los datos de su número de póliza, la ubicación
						exacta en donde se encuentra en el momento del accidente, permanecer
						en el lugar del accidente o siniestro en conjunto con las personas
						afectadas e involucradas, para esperar al ajustador. En todo ello se
						recomienda no admitir responsabilidades ni intentar realizar
						arreglos o algún tipo de pago.
					</p>
					<p class="text">
						Para que contrates alguna de las coberturas de tu seguro de auto el
						Potosí, los interesados deberán tener alguno de los datos básicos
						como la marca del auto, la sub,marca, el modelo entre algunos otros
						datos que detallaremos más adelante; conoce cuáles son las
						coberturas de seguros el Potosí y contrata la que mejor te convenza.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Plan de Cobertura Básica Seguros el Potosí:</strong> esta
							es una cobertura que te ofrece la protección sencilla y
							obligatoria de Responsabilidad Civil, con gastos médicos y una
							extensión en caso de fallecimiento accidental.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Plan de Cobertura Amplia Seguros el Potosí:</strong>
							podrás agregar a la cobertura Básica una protección ante un robo o
							una pérdida total del vehículo, así como los daños materiales o a
							terceros ocasionados.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Plan de Cobertura Plus Seguros el Potosí:</strong> con
							este plan puedes añadir a tu anterior una suma de Responsabilidad
							Civil mayor y los gastos de transporte incurridos al encontrarse
							sin vehículo, aún estando éste en reparación o por haber sufrido
							una pérdida total. Incluye gastos médicos por cirugías
							reconstructivas, estéticas de los ocupantes al momento del
							accidente.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Plan de Cobertura “Total” Seguros el Potosí:</strong>
							hablamos de la más completa de todas las coberturas, brinda todos
							los beneficios de las pólizas anteriores sumando una extensión en
							el deducible por robo del vehículo o de la pérdida total del
							mismo, más un seguro familiar para accidentes o gastos médicos.
						</li>
					</ul>
					<p class="text">
						También te brinda soluciones en seguridad social, con servicios
						especializados en laboratorios clínicos, consultoría en gestión de
						riesgos, instituciones que se encargan de prestar servicios de salud
						y seguros especializados como el del seguro para quemaduras,
						fracturas de hueso y de desempleo, entre otros.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';

export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'ELPOTOSI';
		this.$store.state.config.cotizacion = false;
		this.$store.state.config.motor = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 30;
		this.$store.state.config.telefonoAS = '88902315';
		this.$store.state.config.grupoCallback = 'VN El Potosi';
		this.$store.state.config.from = 'COMPARAYA-ELPOTOSI';
		this.$store.state.config.idPagina = 159;
		this.$store.state.config.idMedioDifusion = 1293;
		this.$store.state.config.idInteraccion = 2724; //VN Interacción
		this.$store.state.config.idEcommerce = 2723; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 43;
		this.$store.state.config.idSubRamo = 33; //8
		this.$store.state.config.imgaseg = 'elpotosi';
		this.$store.state.config.urlRedireccion = 'el-potosi';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'ELPOTOSI|comparaya-mx-elpotosi';

		this.$store.state.config.interior = 'elpotosi';
	},
	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title:
				'Seguros el Potosí - Cotiza Seguros de Autos el Potosí - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'El Potosí, Seguros el Potosí, El Potosí Seguros, Seguros de autos el Potosí, Aseguradora El Potosí, Seguros El Potosí Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza Seguros El Potosí al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto El Potosí. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/el-potosi/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #a41630;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #a41630;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #a41630;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #a41630;
	}
}
</style>
