<template>
  
    <div class="section background-image">
    <!--noscriptiframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KRCFZQ' height='0' width='0' style='display:none;visibility:hidden')
    -->
        <div class="container"><div id="sff_127__widget-container"></div>
            <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="nav navbar-nav">
                <ul class="nav navbar navbar-light">
                    <li class="nav-item"><a class="nav-link active ms-33" href="/">
                        <div class="sprite-logo"></div></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a></li>
                    <li class="nav-item">
                    <!--img.sizelogo(src='img/images/best_prize.png' alt='Logotipo Ahorra Seguros Autos' title='Logotipo Ahorra Seguros Autos' class="img-fluid")-->
                    </li>
                </ul>
                </div>
            </div>
            <div class="container">
                <div class="col-12 pb-3 center">
                <h5 class="sbold linea-b colorAhorra movile_text">¡{{this.$store.state.formData.nombre}}, encontramos los mejores precios para tu seguro de auto!</h5>
                </div>
                <div class="mb-5 mb70 text-center d-none d-sm-none d-md-block">
                <p class="atencion">La atención de nuestros asesores es de Lunes a Viernes de 8:00 a 21:00hrs. / Sabados de 9:00 a 14:00 hrs.</p>
                <!--p.infospantel.mt-1 {{$store.state.aseguradoras[cotizacion.Aseguradora].horario_atencion}}-->
                <!--ul.f11
                li.ulline
                    span.fa.fa-info-circle.fa-lg.colorinfo
                    |  Verifica que la versión de tu auto sea la correcta
                li.ulline
                    span.fa.fa-info-circle.fa-lg.colorinfo
                    |  Haz clic en el botón verde de todas las aseguradoras que te interesen
                -->
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <!--.col-12.p-12leo
            div.alert.alert-warning.alert-dismissible.d-none.d-sm-none.d-md-block
                | Haz clic en el botón verde de todas las aseguradoras que te interesen.
                button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span| &times;
            
            .mb-5.text-center.d-sm-block.d-md-none.d-lg-none.f11.mb-15
                .alert.alert-warning.alert-dismissible(role='alert')
                    p.hline.mt-1 Haz clic en el botón verde de todas las aseguradoras que te interesen.
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                        span(aria-hidden='true') &times;
            -->
            </div>
        </div>
        <div>
            <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-12"><br/>
                    <div class="tab-content"></div>
                    <ul class="nav nav-tabs listcategori tab" role="tablist">
                        <li class="nav-item"></li>
                    </ul>
                    </div>
                </div>
                <div>
                    <div id="accordion" v-if="$store.state.control.vista">
                    <div class="box mb-2" v-for="(c, indexList) in $store.state.cotizaciones" v-bind:key="(c, indexList)" :data_id="''+indexList+''">
                        <list-component :cotizacion="c" :indice="indexList"></list-component>
                    </div>
                    <div class="header-card box mb-2" v-for="(a, indexList) in $store.state.allAseguradoras" v-bind:key="(a, indexList)"  :data_id="''+indexList+''">
                        <aseguradoras-sin-cotizacion :aseguradora="a" :indice="indexList"></aseguradoras-sin-cotizacion>
                    </div>
                    </div>
                </div>
                <!--loader-component(v-if="$store.state.config.loading")-->
                </div>
            </div>
            </div>
        </div>
    </div>
   
</template>
<script>

   

    export default {
        data() {
            return {
                vista: false,
                alerts: [
                    {message: 'Haz clic en el botón verde de todas las aseguradoras que te interesen.'}
                ]
            }
        },
        async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
           
        },
        created() {
            var idSolicitud = this.$store.state.formData.correo;//ok
            var idCampana = 'ID Campaña: funnel-EKOMI';//ok
            console.log('Ekomi funciona :D');
            console.log(idCampana);
            console.log(idSolicitud);
            setTimeout(function(){ 
         if (process.client) {

          (function(w) {
                  w['_ekomiServerUrl'] = 'https://smartforms.ekomi.com';
                  w['_ekomiShopId'] = '128680';
                  w['_ekomiFormId'] = '122228';
                  w['_ekomiTransactionId'] = idSolicitud;
                  w['_ekomiProductIds'] = idCampana;
                  w['_ekomiWidgetWidth'] = '600px';
                  w['_ekomiWidgetHeight'] = '800px';
                  w['_ekomiEmbedWidget'] = '0';
                  w['_ekomiEmail'] = '';
                  var s = document.createElement('script');
                  s.src = w['_ekomiServerUrl']+'/script/widget.js?v='+ new Date().getTime();
                  s.async = true;
                  var e = document.getElementsByTagName('script')[0];
                  e.parentNode.insertBefore(s, e);
              })(window);
         }
       }, 2000);//30000

        },
        methods: {
            removeAlert(index) {
                this.alerts.splice(index, 1);
            },
        }
    };
</script>
<style>
    body {background-color: white !important;}
    .linea-b {border-bottom: solid 2px #04de66; color: #284460; font-size:28px;}
    .ulline{float: left;padding:0px 16px;}
    .colorinfo{color:#1ab366;}
    .f11{font-size: 12px;}
    .background-image {background-color: #f2f2f2;}
    .alert-dismissible{padding-right: 58px;}
    .btn-secondary {border: none !important;}
    .alert-dismissible .close {position: absolute;top: 0;right: 0;padding: 10px 20px;color: inherit;font-size: 20px;}
    .alert-warning {background-color: #bef0d9;border-color: #bef0d9;color:#302e2e;}
    .infospan{font-size: 12px;color: #888;}
    .absolute {top: 10px;right: 0px;width: 400px;height: 65px;color: #302e2e;z-index: 1;padding: 12px 22px;position: fixed;font-size: 13px;border-radius: 5px;animation: timer 3s;
    }
    @keyframes timer { 0% {opacity: 0;} 100% {opacity: 1;} }
    .hline{line-height: 14px;}
    .atencion { text-align: center; color: #284460;}
    @media(min-width: 240px) and (max-width: 425px){
      .linea-b {border-bottom: solid 2px #04de66; color: #284460; font-size:20px;}
    }
</style>

