<template>
	<div>
		<div class="container-fluid bg-cotiza px-md-5">
			<!--<div class="ondas"></div>-->
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5 p-0">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block mt-3 text-center mt-5">
						<picture>
							<source srcset="/seguros-de-autos/img/monkey.webp" type="image/webp" />
							<source srcset="/seguros-de-autos/img/monkey.png" type="image/png" />
							<img
								src="/seguros-de-autos/img/monkey.png"
								alt="monoCompara"
								class="img-fluid"
								width="400"
								height="363"
							/>
						</picture>
					</div>

					<!--<div class="row d-none d-md-flex">
              <div class="col-12 col-md-4 mb-lg-3 text-center">
                <span class="tarjeta1"></span>
                <small class=" text-white">12 Meses Sin Intereses </small>
              </div>
              <div class="col-12 col-md-4 mb-lg-3 text-center">
                <span class="etiq1"></span>
                <small class=" text-white">Ahorra hasta el 50%</small>
              </div>
              <div class="col-12 col-md-4 mb-lg-3 text-center">
                <span class="reloj1"></span>
                <small class=" text-white">compara en 10 segundos</small>
              </div>
          </div>-->
				</div>

				<div class="col-md-7 col-lg-6 ms-lg-5 px-1 px-lg-5  mb-lg-4 f-form">
					<span class="tprincot1 text-center text-muted"
						>¿Qué auto quieres cotizar?</span
					>
					<small class="text-center text-peq d-block text-white"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form :config="this.$store.state.config"></autos-form>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<!--<div class="row  d-md-none py-3">
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="tarjeta1"></span>
          <small class=" text-white">12 Meses Sin Intereses </small>
        </div>
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="etiq1"></span>
          <small class=" text-white">Ahorra hasta el 50%</small>
        </div>
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="reloj1"></span>
          <small class=" text-white">compara en 10 segundos</small>
        </div>
      </div>-->

			<div
				class="modal fade bd-example-modal-lg"
				id="exampleModal"
				tabindex="-1"
				role="dialog"
				aria-labelledby="myLargeModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								AVISO DE PRIVACIDAD INTEGRAL
							</h5>
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close"
							>
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								TRIGARANTE, AGENTE DE SEGUROS Y DE FIANZAS, S.A. DE C.V. con
								nombre comercial Compara Ya S.A. de C.V. y domicilio en
								Francisco Tamagno 223, Vallejo, Ciudad de México, CDMX, Gustavo
								A. Madero, Vallejo, 07870. Tel 52810870 quien en lo sucesivo
								será responsable de la protección de tus datos personales de
								conformidad con lo que establece la Ley General de Protección de
								Datos en Posesión de los Particulares, (Ley) pone a su
								disposición el siguiente Aviso de privacidad de conformidad con
								lo siguiente:
							</p>
							<ul class="text ps-3">
								<li>
									<strong
										>1. FINALIDADES DEL TRATAMIENTO DE DATOS PERSONALES</strong
									>
								</li>
								<li>
									Los datos personales que recabaremos de usted, serán
									utilizados conforme a lo que establece la Ley, tales datos
									podrán ser obtenidos de manera directa, indirecta o de otras
									fuentes, mismos datos nos son necesarios para proporcionarle
									los servicios que se deriven o sean accesorios de la misma, y
									con ello dar cumplimiento a las siguientes finalidades
								</li>
								<li>Intermediación de seguros y de fianzas.</li>
								<li>
									Cumplimiento de las obligaciones contenidas en nuestro
									contrato, convenio o de cualquier relación jurídica que
									establezcamos conforme a la Legislación aplicable vigente.
								</li>
								<li>
									Realizar las gestiones propias y necesarias para el
									cumplimiento de los servicios.
								</li>
								<li>
									Para intermediar en la evaluación de su solicitud de seguro,
									cotizar seguros y fianzas, brindarle la asesoría necesaria
									para la contratación de su seguro, en la renovación del mismo
									y en caso de siniestro;
								</li>
								<li>Atender cualquier queja, pregunta o comentario.</li>
								<li>
									Enviar notificaciones de cambios a este aviso de privacidad.
								</li>
								<li>
									Promoción de productos financieros y/o de filiales, esta
									información puede ser transferida a instituciones de crédito o
									instituciones financieras:
								</li>
								<li>
									Ofrecer y prestar servicios de telemercadeo y servicios
									relacionados.
								</li>
							</ul>
							<p>Finalidades Secundarias</p>
							<p>No utilizaremos sus datos para finalidades secundarias.</p>

							<ul>
								<li><strong>2. TIPOS DE DATOS</strong></li>
								<li>
									Para llevara a cabo las finalidades primarias descritas en el
									presente aviso de privacidad, requerimos de los siguientes
									datos personales:
								</li>
								<li>Identificación y de contacto.</li>
								<li>
									Además podremos utilizar única y exclusivamente para las
									finalidades primarias descritas en el presente aviso los
									siguientes datos personales, mismos que son considerados como
									sensibles, por lo que requieren de cuidado y protección
									especial, los cuales consisten en:
								</li>
								<li>Datos de salud.</li>
								<li>Datos de características físicas.</li>
								<li>Datos patrimoniales y/o financieros.</li>
								<li>
									La información que proporcione el Titular no podrá ser
									enajenada por terceras personas. Sin embargo, y con apego a la
									Ley podrá ser revelada en los siguientes casos:
								</li>
								<li>
									A) Cuando el titular de dicha información otorgue su
									consentimiento de manera expresa.
								</li>
								<li>
									B) Cuando la transferencia de información se efectué con
									terceros para dar cumplimiento a los servicios, gestiones u
									obligaciones pactadas con el Titular.
								</li>
								<li>
									C) En los casos que lo exija la Ley, la procuración o
									administración de justicia.
								</li>
								<li>
									Asimismo los datos personales pueden ser compartidos dentro
									del país con prestadores a organizaciones del sector
									asegurador, con motivo de las finalidades primarias para fines
									de contratación de sus pólizas, selección de riesgos,
									prevención de fraude, ajustadores de seguro, servicios
									hospitalarios y legales para atenderle durante algún
									siniestro.
								</li>

								<li>
									<strong
										>3. OPCIONES Y MEDIOS PARA LIMITAR EL USO O DIVULGACION DE
										SUS DATOS</strong
									>
								</li>
								<li>
									En un plazo de cinco días el titular podrá oponerse al
									tratamiento y transferencia de sus datos cuando este aviso de
									privacidad no se le da a conocer de manera directa o personal.
									Para limitar el uso y divulgación de su información personal,
									así como para manifestar su oposición para recibir mensajes
									promocionales de nuestra parte, agradeceremos envíe su
									solicitud a través de la siguiente dirección:
									info@trigarante.com
								</li>

								<li><strong>4. DERECHOS ARCO</strong></li>
								<li>
									Acceso: Conocer qué datos personales tenemos y para qué los
									utilizamos.
								</li>
								<li>
									Rectificación: Solicitar corrección de información o por estar
									desactualizada.
								</li>
								<li>
									Cancelación: Consiste en la eliminación de datos de nuestra
									base de datos, por uso inadecuado.
								</li>
								<li>
									Oposición: Oponerse al uso de sus datos para fines
									específicos.
								</li>
								<li>Estos derechos se conocen como derechos ARCO.</li>

								<li>
									<strong
										>5. MECANISMOS PARA EL EJERCICIO DE DERECHOS ARCO Y
										REVOCACIÓN DE CONSENTIMIENTO</strong
									>
								</li>
								<li>
									Para proceder al ejercicio de sus derechos ARCO o para la
									revocación del consentimiento o para limitar la transferencia
									de sus datos, es necesario dirija su solicitud a nuestro
									Departamento de Protección de Datos Personales, ubicado en el
									domicilio antes indicado, o bien, enviando un correo
									electrónico a: info@trigarante.com de conformidad con lo
									siguiente:
								</li>
								<li>
									Ingresar solicitud por escrito o enviar como se ha dicho la
									solicitud por correo electrónico. La solicitud deberá contener
									y acompañarse de lo siguiente:
								</li>
								<li>
									A) Nombre completo del titular de los datos y su domicilio,
									correo electrónico u otro medio para comunicarte la respuesta
									a su solicitud.
								</li>
								<li>
									B) Documentos que acrediten su identidad, Identificación
									oficial o documento con el que se acredite la representación
									de tu representante legal.
								</li>
								<li>
									C) Descripción clara y precisa de la información respecto de
									la cual se solicite el acceso, rectificación, oposición o
									cancelación, según sea el caso. En caso de solicitudes de
									rectificación, acompañar la documentación que sustente su
									petición y las modificaciones a realizarse.
								</li>
								<li>
									D) Cualquier otro elemento o documento que facilite la
									localización de sus datos personales.
								</li>
								<li>
									Se dará respuesta a su solicitud en un plazo máximo de 20 días
									hábiles contados desde la fecha en que la recibimos y de
									resultar procedente conforme a la Ley aplicable, se hará
									efectiva dentro de los 15 días hábiles siguientes a la fecha
									en que se te comunique la respuesta.
								</li>
								<li>
									Tratándose de solicitudes de acceso a datos personales
									procederá la entrega mediante cualquier medio físico o
									electrónico, previa acreditación de la identidad del
									solicitante o representante legal, según corresponda, con los
									documentos originales para su cotejo.
								</li>
								<li>
									Los plazos antes referidos podrán ser ampliados una sola vez,
									por un periodo igual, siempre y cuando así lo justifiquen las
									circunstancias del caso.
								</li>
								<li>
									La obligación de acceso a su información se dará por cumplida
									cuando se ponga a su disposición los datos personales o bien
									mediante la entrega de copias, documentos electrónicos u otro
									soporte, la entrega de los datos será gratuita, debiendo el
									titular cubrir únicamente los gastos justificados de envío o
									el costo de reproducción de copias u otros formatos.
								</li>
								<li>
									En los casos de rectificación o cancelación o se trate de
									solicitudes de oposición al tratamiento, te informaremos la
									resolución correspondiente debidamente fundada de conformidad
									con lo establecido por la Ley Federal de Protección de Datos
									en Posesión de los Particulares. Sin embargo, es importante
									que tengas en cuenta que no en todos los casos podremos
									atender su solicitud o concluir el uso de forma inmediata, ya
									que es posible que por alguna obligación legal necesitemos
									seguir tratando sus datos personales.
								</li>
								<li>
									Si desea usar el formulario de solicitud que ponemos a su
									disposición para facilitar el ejercicio de derechos ARCO,
									puede solicitarlo a través de la siguiente dirección
									electrónica: info@trigarante.com
								</li>

								<li><strong>6. MODIFICACIONES</strong></li>
								<li>
									El presente aviso de privacidad puede ser susceptible de
									modificaciones, cambios o actualizaciones derivadas de la
									legislación aplicable. Los cambios o actualizaciones a este
									Aviso de privacidad podrán ser consultados, en nuestro sitio
									de internet Compara Ya S.A. de C.V. en el vínculo de “aviso de
									privacidad”.
								</li>

								<li><strong>7. COOKIES</strong></li>
								<li>
									La cookie es una breve información que el portal de Internet
									utiliza y envía a tu PC, la cual queda almacenada en el disco
									duro, para que la próxima vez que ingreses a nuestro portal,
									podamos usar la información almacenada en la cookie para
									facilitarte el uso a nuestro sitio de internet. Cabe mencionar
									que las mismas pueden ser eliminadas en el momento que lo
									desee siguiendo las instrucciones que se proporcionan a través
									de su navegador de internet.
								</li>

								<li>
									<strong
										>8. CONSENTIMIENTO PARA EL TRATAMIENTO DE SUS DATOS
										PERSONALES</strong
									>
								</li>
								<li>
									En caso de que el titular no manifieste la oposición al
									tratamiento de sus datos personales, se entenderá que el mismo
									consiente tácitamente el tratamiento de su información
									personal en los términos indicados en el Aviso de Privacidad.
								</li>

								<li>
									<strong>9. Compara Ya S.A. de C.V. LE RECUERDA:</strong>
								</li>
								<li>
									Los depósitos bancarios se realizan exclusivamente en cuentas
									a nombre de las compañías de seguros y nunca a nombre de
									particulares.
								</li>
								<li>
									Para mayor información puedes acudir a nuestro domicilio,
									comunicarte al 52810870 extensión 805; enviarnos correo
									electrónico a: correo electrónico a: info@trigarante.com, o
									consultar nuestra página web, haciendo click en el
									info@trigarante.com, o consultar nuestra página web, haciendo
									click en el vínculo de “aviso de privacidad”
								</li>
							</ul>
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn btn-primary"
								data-dismiss="modal"
							>
								Cerrar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row m-0">
			<div
				class="col-12 col-md-11  col-lg-12 ms-md-3 ms-lg-0  mt-3 mt-md-4 pt-4"
			>
				<ul class="row imgl p-0 mt-lg-3 mb-lg-3">
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 offset-lg-1 text-center mb-5"
					>
						<span class="qualitas"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="gnp"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="axa"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="banorte"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="zurich"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="inbursa"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="hdi"></span>
					</li>
					<!--<li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mb-5"><img class="imgstylet" src="~/static/img/aseguradoras-logo/color/elaguila.svg"/></li>-->
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="ana"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="atlas"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="afirme"></span>
					</li>

					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 offset-lg-1 text-center mb-5"
					>
						<span class="aig"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="latino"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="general"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="bxmas"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="aba"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="sura"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="potosi"></span>
					</li>
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="mapfre"></span>
					</li>
					<!--<li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mb-5"><img class="imgstylet" src="~/static/img/aseguradoras-logo/bn/primeroseguros.svg"/></li>-->

					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="miituo"></span>
					</li>
					<!--<li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mb-5"><img class="imgstylet" src="~/static/img/aseguradoras-logo/bn/multiva.svg"/></li>-->
					<li
						style="display:inline;"
						class="col-4 col-md-2 col-lg-1 text-center mb-5"
					>
						<span class="migo"></span>
					</li>
					<!--<li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mb-5"><span class="crabi"></span></li>-->
				</ul>
			</div>
		</div>

		<div class="row cbenef m-0 py-3">
			<div class="col-6 col-md-3 text-center py-4">
				<svg class="icons"><use xlink:href="#escudo"></use></svg>
				<p class="txt-b mb-0 tsmall">Cotiza, compara</p>
				<p class="txt-b mb-0 tsmall">y contrata Online</p>
			</div>
			<div class="col-6 col-md-3 text-center py-4">
				<svg class="icons"><use xlink:href="#archivo"></use></svg>
				<p class="txt-b mb-0 tsmall">Recibe tu póliza</p>
				<p class="txt-b mb-0 tsmall">hoy mismo</p>
			</div>
			<div class="col-6 col-md-3 text-center py-4">
				<svg class="icons"><use xlink:href="#money"></use></svg>
				<p class="txt-b mb-0 tsmall">Promociones</p>
				<p class="txt-b mb-0 tsmall">todo el año</p>
			</div>
			<div class="col-6 col-md-3 text-center py-4">
				<svg class="icons"><use xlink:href="#comentario"></use></svg>
				<p class="txt-b mb-0 tsmall">Atención</p>
				<p class="txt-b mb-0 tsmall">personalizada</p>
			</div>
		</div>

		<!--C O N T E N I D O-->
		<div class="container-fluid m-t">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Por qué contratar un Seguro de Auto en Compara Ya?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Dentro de las diferentes inversiones que hacemos a lo largo de
						nuestra vida una de las que más nos conviene proteger es nuestro
						auto. Realizar el proceso de comprar un auto, pocas veces es algo
						fácil pues en la actualidad existen en el mercado diferentes marcas,
						modelos y precios.
					</p>
					<p class="text">
						A la hora de considerar el presupuesto con el que contamos para
						invertir en un auto, también se debe considerar que junto con el
						dinero que necesitamos para adquirir el auto debemos pensar en la
						prima que tendremos que pagar para asegurar nuestro patrimonio y
						nueva inversión.
					</p>
					<p class="text">
						El poder asegurar nuestro auto es una de las principales acciones
						que debemos tomar en cuenta para que nuestro patrimonio se encuentre
						protegido, todo esto debido a que en el instante que comenzamos a
						circular nuestro auto por las calles y carreteras, estamos expuestos
						a distintos riesgos y posibles eventualidades que pueden poner en
						riesgo nuestra integridad y patrimonio.
					</p>
					<ul class="text ps-0 ps-md-3">
						<li class="text ">
							Hay muchas razones para que tengamos un seguro de auto entre
							estas:
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguro de auto Obligatorio por
							ley, en regiones como la Ciudad de México, en donde ya es
							obligatorio contar con un seguro de auto, pues al no contar con
							uno te podrán multar por incumplimiento.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguridad en caso de que sufras
							una colisión o choque, inclusive si no fue provocado por ti.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección ante Responsabilidad
							Civil, en algunas ocasiones las personas reciben demandas por
							daños a terceros, el seguro de tu auto te ayudará a pagar los
							daños materiales y las lesiones físicas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protege tu estabilidad económica,
							ante un accidente no pagarás una fuerte cantidad de dinero,
							conforme a datos estadísticos, los accidentes viales están ligados
							a un costo de entre los 25 mil y 50 mil pesos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección médica, los accidentes
							de auto puede ocurrir en cualquier instante, por ello es mejor
							estar protegido y no usarlo, a necesitarlo y no tenerlo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Ahorrar tiempo y dinero; según la
							experiencia de tu compañía aseguradora esta te va a ayudar durante
							el proceso posterior al accidente, que suele implicar la
							negociación con la aseguradora del otro conductor, hacer el
							trámite y las reclamaciones, encontrar un taller de reparaciones
							si tu auto lo necesita.
						</li>
					</ul>
				</div>
			</div>
			<div class="row m-t" style="margin-right: 0px;">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0 ">
					<h3 class="borde-tit">Ventajas de contar con un Seguro de Auto.</h3>
				</div>
			</div>
			<div class="row" style="margin-right: 0px;">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-3 ">
					<p class="text">
						Un seguro de auto es un contrato capaz de protegerte en caso de
						tener un contratiempo o accidente vial, de la misma manera, este va
						a cubrir el pago total o parcial ante los daños o del robo de tu
						auto, además de que te brinda la protección como asegurado en caso
						de que provoquen lesiones físicas o pérdidas materiales a terceros,
						a causa de un accidente, tu seguro de auto te ofrece diferentes
						beneficios y ventajas al firmar con tu compañía aseguradora de
						elección, pero como tener el mejor seguro de auto, en Compara Ya,
						conocerás las opciones que mejor se adapten a tus necesidades y
						capacidad de pago.
					</p>
					<p class="text">
						Además de proteger tu auto, el seguro te logra garantizar tu
						tranquilidad, así como la de tus acompañantes, esto a la hora de que
						surja algún tipo de imprevisto o siniestro que no puedas controlar,
						como: los accidentes, los robos o los desastres naturales. Por ello
						es que esto es una inversión necesaria para que puedas solventar
						diferentes siniestros en los que puedas resultar involucrado.
					</p>
					<p class="text">
						En una obligación por ley que el auto que conduzcas cuente con un
						seguro de auto; por mínimo con una cobertura de Responsabilidad
						Civil, si esto no te parece suficiente o convence por completo
						conoce las principales ventajas de contar con tu seguro de auto.
					</p>
					<ul class="text ps-0 ps-md-3">
						<li class="lista">
							<span class="circulito"></span>
							<strong> Protege tu patrimonio:</strong> Tu eres el principal
							interesado en cuidar de tu patrimonio, sin importar que modelo es
							o la antigüedad del mismo, un auto puede ser representante de una
							inversión familiar, por ello creemos que es importante cuidar y
							contar con un seguro, que te dé la certeza de que en caso de que
							algún imprevisto te surja puedas recuperar quizá todo o cierto
							porcentaje significativo del valor de tu auto.
						</li>
						<li class="lista">
							<span class="circulito"></span>
							<strong> Asistencia Médica:</strong> Ante un accidente o
							siniestro, además de los daños al auto, otro punto que puede
							resultar muy caro son los gastos médicos, ante una necesidad de
							este tipo. La ventaja que te ofrece tu seguro de auto es que te
							protege a ti, a tus acompañantes y a las demás personas afectadas
							por lo que no tendrás que pagar de tu bolsillo, las atenciones
							médicas de primera necesidad que requieras.
						</li>
						<li class="lista">
							<span class="circulito"></span>
							<strong> Asistencia Vial:</strong> Nada es predecible, y menos
							cuando se nos pueda pinchar un neumático o si se vaya a
							descomponer nuestro auto, esto puede ser a una cuadra de nuestra
							casa o en un viaje en carretera a cientos de kilómetros de la
							civilización, en estos casos, con tu seguro de auto cuentas con la
							tranquilidad de que te otorgará un servicio de grua a cualquier
							hora.
						</li>
						<li class="lista">
							<span class="circulito"></span>
							<strong> Defensa jurídica y asesoría legal:</strong> Quizá uno de
							los puntos que menos tomamos en cuenta o consideremos, pues no nos
							preocupa tanto es contar con una defensa legal, pero con tu seguro
							de auto estas protegido con el apoyo de expertos en caso de que
							requieras asistencia legal por algún accidente que ocurra en tu
							auto.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid ">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-4 mt-md-5">
					<p class="text">
						Compara Ya será tu aliado, para que elijas la tarjeta correcta
						acorde a tus necesidades y las de tu familia, además que podrás
						disfrutar de la veracidad y ahorro de tiempo, con nosotros puedes
						realizar todo tu tramite de manera rápida y sencilla, ten la
						garantía de que podrás contar con un respaldo financiero pues te
						ayudaremos a que encuentres la mejor opción para ti y tu estilo de
						vida, atrévete y Compara Ya.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid m-t">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">
						Coberturas importantes en tu Seguro de Auto.
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Al contratar un seguro de auto, es importante que consideres el
						costo del mismo, pues este suele variar conforme a la cobertura, los
						beneficios y las ventajas adicionales, por ello es necesario que
						utilices el comparador de seguros Compara Ya, para que conozcas cuál
						es la mejor oferta y opción para ti, así como la amplitud de la
						cobertura que te sea otorgada.
					</p>
					<p class="text">
						Para que puedas definir qué tanta cobertura necesitas, esto suele
						depender directamente de tus necesidades personales y de la
						evaluación de los posibles riesgos a los que te veas expuesto en tu
						vida diaria. Ya sea que te preocupas más por los daños que le puedas
						ocasionar a un tercero, como los daños que puedas sufrir ante un
						accidente, o si tu auto pudiese ser robado, estas son algunos de los
						factores considerados que se deben tomar en cuenta a la hora de
						contratar un seguro de auto.
					</p>
					<p class="text">
						Contratar la cobertura que mejor se adapte a ti y a las necesidades
						de auto es posible utiliza el cotizador de Compara Ya y haz una
						sabia elección, puedes obtener el mejor seguro de auto, a través de
						alguna de las compañías de seguros con las que trabajamos, estas son
						las más confiables y seguras, capaces de brindar las cláusulas más
						atractivas del mercado al menor precio posible.
					</p>
					<ul class="text ps-0 ps-md-3">
						<li class="lista">
							<span class="circulito"></span>Todo el seguro de auto debe contar
							con partes obligatorias y opcionales, esto conforme al tipo de
							póliza que mejor te convenga, por lo regular estas incluyen:
						</li>
						<li class="lista">
							<span class="circulito"></span>
							<strong> Protección por colisión o choque:</strong> Tu seguro de
							auto va a cubrir los daños del auto al chocar contra otro vehículo
							o en caso de que hayas chocado contra alguna estructura, así como
							las volcaduras del mismo.
						</li>
						<li class="lista">
							<span class="circulito"></span>
							<strong>
								Responsabilidad Civil por daños materiales a terceros:</strong
							>
							Pago de los daños que sean causados a otros vehículos, al igual
							que de las propiedades como postes, edificios o vías públicas.
						</li>
						<li class="lista">
							<span class="circulito"></span>
							<strong> Responsabilidad Civil por lesiones físicas:</strong> En
							tu póliza de seguro se te pueden incluir a otras personas, como
							los miembros de tu familia, e incluso aunque estos no manejen un
							auto propio.
						</li>
						<li class="lista">
							<span class="circulito"></span>
							<strong>
								Asistencia médica o protección contra lesiones
								personales:</strong
							>
							En los gastos médicos derivados de un accidente tu seguro de auto
							te cubre, así como el reembolso de los gastos médicos de los
							pasajeros u acompañantes en tu auto, por ejemplo la
							hospitalización, honorarios y tratamientos derivados de los daños
							sufridos en un accidente.
						</li>
					</ul>
					<p class="text">
						Para que contrates un seguro de auto, primero Compara Ya, además que
						debes identificar qué tipo de protección necesitas para contratar la
						póliza de seguro, así como las ventajas que deseas obtener, cada
						aseguradora ofrece diferentes coberturas, esto depende de la
						compañía dentro de las más comunes encontramos:
					</p>

					<ul class="text ps-0 ps-md-3">
						<li class="lista">
							<span class="circulito"></span>Cobertura de Responsabilidad Civil.
						</li>
						<li class="lista">
							<span class="circulito"></span> Cobertura Limitada o Básica.
						</li>
						<li class="lista">
							<span class="circulito"></span> Cobertura Amplia.
						</li>
						<li class="lista">
							<span class="circulito"></span> Cobertura Amplia Plus.
						</li>
						<li class="lista">
							<span class="circulito"></span>
							<strong> Coberturas adicionales: </strong>en el extranjero, auto
							sustituto, etc.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid m-t">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">
						Más Privilegios en tu Seguro de Auto en Compara Ya.
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						La importancia de contar con un seguro de calidad, capaz de
						garantizarnos la estabilidad, seguridad y confianza que un seguro de
						auto nos brinda es muy alta, sin embargo aún se escucha que hay
						muchas preguntas e incertidumbres al respecto por ello es que en
						Compara Ya queremos ser tu experto aliado, para que puedas comparar
						y decidir cuál es la mejor oferta para ti, solo necesitas conocer
						tus necesidades, capacidad de pago, y nosotros te ofreceremos las
						opciones más aptas para ti Compara Ya y cuida de tu bienestar.
					</p>
					<p class="text">
						Las personas solemos subestimar las posibilidades de que algo malo
						nos pase, creyendo en el típico “a mi no me va a pasar”, esto sumado
						a que nos llama la atención más los gastos que vienen con ciertas
						gratificaciones instantáneas, hace que más de 70% de las personas
						prefieran hacer gastos hoy y darse algunos gustos antes que prever
						el futuro y sobre todo su estabilidad económica, esto que puede ser
						cuidado al contratar un seguro de auto.
					</p>
					<p class="text">
						Según datos de la Asociación Mexicana de Instituciones de Seguros
						más del 70% de los autos que circulan en nuestro país no se
						encuentran asegurados, siendo esta una de las cifras alarmantes en
						materia de vialidad, pues en caso de accidente o siniestros son más
						los autos que no cuentan con esa protección que los que sí; mientras
						menos del 30% de las personas decide invertir en un seguro de auto,
						el 85% de la población cuenta con otros productos de lujo antes que
						la seguridad de estar protegidos con un seguro para auto.
					</p>
					<p class="text">
						La mayoría de las personas crees que con ponerle alarma a su auto
						éste está seguro, pero en un país como el nuestro, esto no es
						posible, además que estamos considerados como uno de los países en
						los que ocurren más robos, asaltos y accidentes viales, la alarma no
						parece ser suficiente. A pesar de ello, los conductores dudan antes
						de contratar un seguro para auto, quedando así expuestos a perder su
						estabilidad financiera en cuestión de segundos.
					</p>
					<p class="text">
						Además del evidente riesgo por los robos de autos, encontramos las
						pérdidas monetarias que puede ocasionar un accidente de auto, ya que
						este es uno de los bienes que corren más riesgo de daño y
						considerando que también es uno de los más costosos que uno posee,
						sin lugar a duda no vale la pena arriesgarnos a perder esto a causa
						de un imprevisto, pues con tu seguro de auto se te permite poder
						ahorrar, además de la tranquilidad de que el seguro te respalda las
						24 horas del día los 365 días del año.
					</p>
				</div>
			</div>
		</div>
	</div>

	<!--<div class="row">
        <div class="masthead text-center bggray" style="height: 400px;">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-12 col-md-10 col-lg-10 offset-md-2 ps-md-4" id="cotizacion">
                        <h1 class="tprincipal text-p ms-md-3 ms-lg-5"> ¡Cotiza tu Seguro de Auto en segundos! </h1>
                    </div>
                </div>
                <formulario-content/>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="row recuadro">
            <div class="row">
                <div class="col-12 p-0">
                    <listaaseguradoras-content/>
                </div>
            </div>
            
            <div class="col-12 col-md-6 ms-md-3 ms-lg-0 ps-md-0 ps-lg-5">
                <h4 class="fuente">Beneficios.</h4>
                <ul class="ps-3">
                    <li class="text"><span><i class="fa fa-check list"/></span>Compara ya te ofrece los mejores precios,
                        de las aseguradoras.
                    </li>
                    <li class="text"><span><i class="fa fa-check list"/></span>Representamos a las más importantes
                        aseguradoras del país.
                    </li>
                    <li class="text"><span><i class="fa fa-check list"/></span>Descuentos, ofertas y planes de pago
                        especialmente para ti.
                    </li>
                    <li class="text"><span><i class="fa fa-check list"/></span>Le otorgamos el mismo valor a tu auto que
                        tu.
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-fluid m-t">
            <div class="row">
                <div class="col-12 col-md-11 ms-md-3 ms-lg-5 ps-md-0">
                    <h3 class="fuente">¿Por qué contratar un Seguro de Auto en Compara Ya?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
                    <p class="text">Dentro de las diferentes inversiones que hacemos a lo largo de nuestra vida una de
                        las que más nos conviene proteger es nuestro auto. Realizar el proceso de comprar un auto, pocas
                        veces es algo fácil pues en la actualidad existen en el mercado diferentes marcas, modelos y
                        precios.</p>
                    <p class="text">A la hora de considerar el presupuesto con el que contamos para invertir en un auto,
                        también se debe considerar que junto con el dinero que necesitamos para adquirir el auto debemos
                        pensar en la prima que tendremos que pagar para asegurar nuestro patrimonio y nueva
                        inversión.</p>
                    <p class="text">El poder asegurar nuestro auto es una de las principales acciones que debemos tomar
                        en cuenta para que nuestro patrimonio se encuentre protegido, todo esto debido a que en el
                        instante que comenzamos a circular nuestro auto por las calles y carreteras, estamos expuestos a
                        distintos riesgos y posibles eventualidades que pueden poner en riesgo nuestra integridad y
                        patrimonio.</p>
                    <ul class="text ps-3">
                        <li class="text"> Hay muchas razones para que tengamos un seguro de auto entre estas:</li>
                        <li class="text"><span><i class="fa fa-check list"/></span> Seguro de auto Obligatorio por ley,
                            en regiones como la Ciudad de México, en donde ya es obligatorio contar con un seguro de
                            auto, pues al no contar con uno te podrán multar por incumplimiento.
                        </li>
                        <li class="text"><span><i class="fa fa-check list"/></span> Seguridad en caso de que sufras una
                            colisión o choque, inclusive si no fue provocado por ti.
                        </li>
                        <li class="text"><span><i class="fa fa-check list"/></span> Protección ante Responsabilidad
                            Civil, en algunas ocasiones las personas reciben demandas por daños a terceros, el seguro de
                            tu auto te ayudará a pagar los daños materiales y las lesiones físicas.
                        </li>
                        <li class="text"><span><i class="fa fa-check list"/></span> Protege tu estabilidad económica,
                            ante un accidente no pagarás una fuerte cantidad de dinero, conforme a datos estadísticos,
                            los accidentes viales están ligados a un costo de entre los 25 mil y 50 mil pesos.
                        </li>
                        <li class="text"><span><i class="fa fa-check list"/></span> Protección médica, los accidentes de
                            auto puede ocurrir en cualquier instante, por ello es mejor estar protegido y no usarlo, a
                            necesitarlo y no tenerlo.
                        </li>
                        <li class="text"><span><i class="fa fa-check list"/></span> Ahorrar tiempo y dinero; según la
                            experiencia de tu compañía aseguradora esta te va a ayudar durante el proceso posterior al
                            accidente, que suele implicar la negociación con la aseguradora del otro conductor, hacer el
                            trámite y las reclamaciones, encontrar un taller de reparaciones si tu auto lo necesita.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row m-t" style="margin-right: 0px;">
                <div class="col-12 col-md-11 ms-md-3 ms-lg-5 ps-md-0 ">
                    <h3 class="fuente">Ventajas de contar con un Seguro de Auto.</h3>
                </div>
            </div>
            <div class="row" style="margin-right: 0px;">
                <div class="col-12 col-md-11 ms-md-3 ms-lg-5 ps-3 ">
                    <p class="text">Un seguro de auto es un contrato capaz de protegerte en caso de tener un
                        contratiempo o accidente vial, de la misma manera, este va a cubrir el pago total o parcial ante
                        los daños o del robo de tu auto, además de que te brinda la protección como asegurado en caso de
                        que provoquen lesiones físicas o pérdidas materiales a terceros, a causa de un accidente, tu
                        seguro de auto te ofrece diferentes beneficios y ventajas al firmar con tu compañía aseguradora
                        de elección, pero como tener el mejor seguro de auto, en Compara Ya, conocerás las opciones que
                        mejor se adapten a tus necesidades y capacidad de pago.</p>
                    <p class="text">Además de proteger tu auto, el seguro te logra garantizar tu tranquilidad, así como
                        la de tus acompañantes, esto a la hora de que surja algún tipo de imprevisto o siniestro que no
                        puedas controlar, como: los accidentes, los robos o los desastres naturales. Por ello es que
                        esto es una inversión necesaria para que puedas solventar diferentes siniestros en los que
                        puedas resultar involucrado.</p>
                    <p class="text">En una obligación por ley que el auto que conduzcas cuente con un seguro de auto;
                        por mínimo con una cobertura de Responsabilidad Civil, si esto no te parece suficiente o
                        convence por completo conoce las principales ventajas de contar con tu seguro de auto.</p>
                    <ul class="text ps-3">
                        <li><span><i class="fa fa-check list"/></span> <strong> Protege tu patrimonio:</strong> Tu eres
                            el principal interesado en cuidar de tu patrimonio, sin importar que modelo es o la
                            antigüedad del mismo, un auto puede ser representante de una inversión familiar, por ello
                            creemos que es importante cuidar y contar con un seguro, que te dé la certeza de que en caso
                            de que algún imprevisto te surja puedas recuperar quizá todo o cierto porcentaje
                            significativo del valor de tu auto.
                        </li>
                        <li><span><i class="fa fa-check list"/></span> <strong> Asistencia Médica:</strong> Ante un
                            accidente o siniestro, además de los daños al auto, otro punto que puede resultar muy caro
                            son los gastos médicos, ante una necesidad de este tipo. La ventaja que te ofrece tu seguro
                            de auto es que te protege a ti, a tus acompañantes y a las demás personas afectadas por lo
                            que no tendrás que pagar de tu bolsillo, las atenciones médicas de primera necesidad que
                            requieras.
                        </li>
                        <li><span><i class="fa fa-check list"/></span><strong> Asistencia Vial:</strong> Nada es
                            predecible, y menos cuando se nos pueda pinchar un neumático o si se vaya a descomponer
                            nuestro auto, esto puede ser a una cuadra de nuestra casa o en un viaje en carretera a
                            cientos de kilómetros de la civilización, en estos casos, con tu seguro de auto cuentas con
                            la tranquilidad de que te otorgará un servicio de grua a cualquier hora.
                        </li>
                        <li><span><i class="fa fa-check list"/></span> <strong> Defensa jurídica y asesoría
                            legal:</strong> Quizá uno de los puntos que menos tomamos en cuenta o consideremos, pues no
                            nos preocupa tanto es contar con una defensa legal, pero con tu seguro de auto estas
                            protegido con el apoyo de expertos en caso de que requieras asistencia legal por algún
                            accidente que ocurra en tu auto.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="row call-to-action2 mt-3 text-white text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 borde2">
                        <p class="text-center fuente2"> Compara Ya mí experto aliado.</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid ">
            <div class="row">
                <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-4 mt-md-5">
                    <p class="text">Compara Ya será tu aliado, para que elijas la tarjeta correcta acorde a tus
                        necesidades y las de tu familia, además que podrás disfrutar de la veracidad y ahorro de tiempo,
                        con nosotros puedes realizar todo tu tramite de manera rápida y sencilla, ten la garantía de que
                        podrás contar con un respaldo financiero pues te ayudaremos a que encuentres la mejor opción
                        para ti y tu estilo de vida, atrévete y Compara Ya.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid m-t">
            <div class="row">
                <div class="col-12 col-md-11 ms-md-3 ms-lg-5 ps-md-0">
                    <h4 class="fuente">Coberturas importantes en tu Seguro de Auto.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
                    <p class="text">Al contratar un seguro de auto, es importante que consideres el costo del mismo,
                        pues este suele variar conforme a la cobertura, los beneficios y las ventajas adicionales, por
                        ello es necesario que utilices el comparador de seguros Compara Ya, para que conozcas cuál es la
                        mejor oferta y opción para ti, así como la amplitud de la cobertura que te sea otorgada.</p>
                    <p class="text">Para que puedas definir qué tanta cobertura necesitas, esto suele depender
                        directamente de tus necesidades personales y de la evaluación de los posibles riesgos a los que
                        te veas expuesto en tu vida diaria. Ya sea que te preocupas más por los daños que le puedas
                        ocasionar a un tercero, como los daños que puedas sufrir ante un accidente, o si tu auto pudiese
                        ser robado, estas son algunos de los factores considerados que se deben tomar en cuenta a la
                        hora de contratar un seguro de auto.</p>
                    <p class="text">Contratar la cobertura que mejor se adapte a ti y a las necesidades de auto es
                        posible utiliza el cotizador de Compara Ya y haz una sabia elección, puedes obtener el mejor
                        seguro de auto, a través de alguna de las compañías de seguros con las que trabajamos, estas son
                        las más confiables y seguras, capaces de brindar las cláusulas más atractivas del mercado al
                        menor precio posible.</p>
                    <ul class="text ps-3">
                        <li><span><i class="fa fa-check list"/></span>Todo el seguro de auto debe contar con partes
                            obligatorias y opcionales, esto conforme al tipo de póliza que mejor te convenga, por lo
                            regular estas incluyen:
                        </li>
                        <li><span><i class="fa fa-check list"/></span> <strong> Protección por colisión o
                            choque:</strong> Tu seguro de auto va a cubrir los daños del auto al chocar contra otro
                            vehículo o en caso de que hayas chocado contra alguna estructura, así como las volcaduras
                            del mismo.
                        </li>
                        <li><span><i class="fa fa-check list"/></span> <strong> Responsabilidad Civil por daños
                            materiales a terceros:</strong> Pago de los daños que sean causados a otros vehículos, al
                            igual que de las propiedades como postes, edificios o vías públicas.
                        </li>
                        <li><span><i class="fa fa-check list"/></span> <strong> Responsabilidad Civil por lesiones
                            físicas:</strong> En tu póliza de seguro se te pueden incluir a otras personas, como los
                            miembros de tu familia, e incluso aunque estos no manejen un auto propio.
                        </li>
                        <li><span><i class="fa fa-check list"/></span> <strong> Asistencia médica o protección contra
                            lesiones personales:</strong> En los gastos médicos derivados de un accidente tu seguro de
                            auto te cubre, así como el reembolso de los gastos médicos de los pasajeros u acompañantes
                            en tu auto, por ejemplo la hospitalización, honorarios y tratamientos derivados de los daños
                            sufridos en un accidente.
                        </li>
                    </ul>
                    <p class="text">Para que contrates un seguro de auto, primero Compara Ya, además que debes
                        identificar qué tipo de protección necesitas para contratar la póliza de seguro, así como las
                        ventajas que deseas obtener, cada aseguradora ofrece diferentes coberturas, esto depende de la
                        compañía dentro de las más comunes encontramos:</p>
                    <ul class="text ps-3">
                        <li><span><i class="fa fa-check list"/></span>Cobertura de Responsabilidad Civil.</li>
                        <li><span><i class="fa fa-check list"/></span> Cobertura Limitada o Básica.</li>
                        <li><span><i class="fa fa-check list"/></span> Cobertura Amplia.</li>
                        <li><span><i class="fa fa-check list"/></span> Cobertura Amplia Plus.</li>
                        <li><span><i class="fa fa-check list"/></span> <strong> Coberturas adicionales: </strong>en el
                            extranjero, auto sustituto, etc.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid m-t">
            <div class="row">
                <div class="col-12 col-md-11 ms-md-3 ms-lg-5 ps-md-0">
                    <h4 class="fuente">Más Privilegios en tu Seguro de Auto en Compara Ya.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
                    <p class="text">La importancia de contar con un seguro de calidad, capaz de garantizarnos la
                        estabilidad, seguridad y confianza que un seguro de auto nos brinda es muy alta, sin embargo aún
                        se escucha que hay muchas preguntas e incertidumbres al respecto por ello es que en Compara Ya
                        queremos ser tu experto aliado, para que puedas comparar y decidir cuál es la mejor oferta para
                        ti, solo necesitas conocer tus necesidades, capacidad de pago, y nosotros te ofreceremos las
                        opciones más aptas para ti Compara Ya y cuida de tu bienestar.</p>
                    <p class="text">Las personas solemos subestimar las posibilidades de que algo malo nos pase,
                        creyendo en el típico “a mi no me va a pasar”, esto sumado a que nos llama la atención más los
                        gastos que vienen con ciertas gratificaciones instantáneas, hace que más de 70% de las personas
                        prefieran hacer gastos hoy y darse algunos gustos antes que prever el futuro y sobre todo su
                        estabilidad económica, esto que puede ser cuidado al contratar un seguro de auto.</p>
                    <p class="text">Según datos de la Asociación Mexicana de Instituciones de Seguros más del 70% de los
                        autos que circulan en nuestro país no se encuentran asegurados, siendo esta una de las cifras
                        alarmantes en materia de vialidad, pues en caso de accidente o siniestros son más los autos que
                        no cuentan con esa protección que los que sí; mientras menos del 30% de las personas decide
                        invertir en un seguro de auto, el 85% de la población cuenta con otros productos de lujo antes
                        que la seguridad de estar protegidos con un seguro para auto.</p>
                    <p class="text">La mayoría de las personas crees que con ponerle alarma a su auto éste está seguro,
                        pero en un país como el nuestro, esto no es posible, además que estamos considerados como uno de
                        los países en los que ocurren más robos, asaltos y accidentes viales, la alarma no parece ser
                        suficiente. A pesar de ello, los conductores dudan antes de contratar un seguro para auto,
                        quedando así expuestos a perder su estabilidad financiera en cuestión de segundos.</p>
                    <p class="text">Además del evidente riesgo por los robos de autos, encontramos las pérdidas
                        monetarias que puede ocasionar un accidente de auto, ya que este es uno de los bienes que corren
                        más riesgo de daño y considerando que también es uno de los más costosos que uno posee, sin
                        lugar a duda no vale la pena arriesgarnos a perder esto a causa de un imprevisto, pues con tu
                        seguro de auto se te permite poder ahorrar, además de la tranquilidad de que el seguro te
                        respalda las 24 horas del día los 365 días del año.</p>
                </div>
            </div>
        </div>
    </div>-->
</template>

<script>
import HeaderComponent from '~/components/common/Header-principal.vue';

import AutosForm from '~/components/forms/AutosFormLandingInternos.vue';
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';
import getInsurersPromos from '~/plugins/promoData.js';

export default {
	//layout: 'hotsale-generico', ///E S T O   E S    P R O M O C I O N   D E   H O T   S A L E
	beforeCreate() {
		this.$store.state.config.aseguradora = 'QUALITAS';
		this.$store.state.config.catalogo_directo = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.ekomi = true;
		this.$store.state.config.telefonoAS = '47495142';

		this.$store.state.config.interior = 'principal';
	},
	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		AutosForm,
		HeaderComponent,
		ficha,
	},

	async created() {
		// *************SE TRAEN TODAS LAS PROMOS PARA TODAS LAS ASEGURADORAS **************
		this.$store.state.insurers = await getInsurersPromos();
		
		//Se establece el mensaje extra de la promo 
		// Buscamos la aseguradora recomendada. 
			const recommendedInsurer = this.$store.state.insurers.find(
				insurer => insurer.name === this.$store.state.asegRecNombre
			);

			this.promoRecommendedInsurer = recommendedInsurer.promotions.find(
				promo => promo.type === 'standard'
			);
		
		// se trae la promo especifica para este funnel.
		const promoFunnel = this.$store.state.insurers
		.find(insurer => insurer.name === "funnel")
		.promotions.find(promo => promo.type === "compara-ya");

		/*this.$store.state.config.funnelDto = promoFunnel.dto;
		this.$store.state.config.funnelMsi = promoFunnel.msi;
		this.$store.state.config.promocionEspecial = promoFunnel.isSpecial;
		this.$store.state.config.promoLabel = promoFunnel.label;
		this.$store.state.config.promoImg = promoFunnel.urlImg;*/

		this.$store.state.config.dto = promoFunnel.dto;
		this.$store.state.config.msi = promoFunnel.msi;
		this.$store.state.config.promoSpecial = promoFunnel.isSpecial;
		this.$store.state.config.promoLabel = promoFunnel.label;
		this.$store.state.config.promoImg = promoFunnel.urlImg;
		//this.$store.state.config.extraMsg = insurer.promoFunnel.extraMsg; 

		/*****************************************************************************************************/
	},
	head() {
		return {
			title: 'Compara ya',
			meta: [
				{ name: 'viewport', content: 'width=device-width, initial-scale=1' },
				// {hid: 'keywords', name: 'keywords', content: 'Compara ya, Seguros de Autos, Seguros para Autos, Cotizar Seguro de Auto Aseguradoras, Aseguradoras de Autos, cuál es el Compara ya, cotizador de seguros, seguro de auto, Seguros de Autos en México, Aseguradoras en México'},
				//  {hid: 'description', name: 'description', content: 'Cotiza Seguros de Autos en México al Mejor Precio. Contrata en el Compara ya beneficios y coberturas exclusivas en Seguros para autos. Cotiza fácil, rápido y ahorra hasta 25% en el Comparaya.Mx'},
				//  {hid: 'author', name: 'author', content: 'twitter | @vargasdesignMx'},
				//  {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/ekomi/',
				},
				{ hid: 'robots', name: 'robots', content: 'noindex, nofollow' },
			],
		};
	},
};
</script>
