<template>
	<div>
		<div class="container-fluid bg-bxm">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto Ve por Más</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!---------------------------------------------***************  C O N T E N I D O  *****************-------------------------------------------->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Ventajas de Contratar Seguros de autos Ve Por Más
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Con Ve Por Más puedes asegurar lo más importante, tu tranquilidad,
						ya que estarás preparado para proteger cada día de tu vida, tu auto
						y a tu familia, tus bienes, hogar, salud y empresa, con el que
						además te puedes acercar a un especialista, junto con el que
						encontrarás la solución de protección que necesitas. Para ello es
						necesario que conozcas las ventajas de Seguros Ve Por Más y elige el
						que mejor se adapte a tu vida.
					</p>
					<p class="text">
						Un evento desafortunado como un accidente o siniestro, puede ser
						causado por un descuido o de la irresponsabilidad de un tercero,
						mismo que puede suceder en cualquier momento, ya que nadie de estos
						resultará exento o que pueda perjudicar la salud o los bienes
						materiales.
					</p>
					<p class="text">
						Para la tranquilidad de cada uno de los automovilistas, la empresa
						brinda una póliza de seguro para autos de uso particular, mismos que
						se ajustan ante cualquier estilo de vida, por ello es que puede
						contar con diferentes paquetes como el de Responsabilidad Civil,
						Limitado y Amplio.
					</p>
					<p class="text">
						Para que puedas contar con la asistencia correcta, Seguro de Auto Ve
						Por Más cuenta con las protecciones que ofrece cada uno de los
						paquetes, con distintas especificaciones, por ejemplo, el seguro de
						Responsabilidad Civil se limita a cumplir con las responsabilidades
						que se derivan de los daños, o que pueda ocasionar el conductor en
						los bienes y personas de terceros, o con el mismo contraste, ya que
						si se busca un paquete integral para cada conductor, que pueda
						obtener las siguientes coberturas:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Daños Materiales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Rotura de Cristales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cubre Responsabilidad Civil.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos Médicos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Legal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Auto Sustituto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Regreso Seguro.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Auxilio Vial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Muerte accidental del conductor.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Extensión del deducible.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Extensión de Responsabilidad
							Civil.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Equipo Especial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia por pérdida de boleto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Daño de las llantas.
						</li>
					</ul>
					<p class="text">
						En caso de que requieras asegurar alguno de tus vehículos, es
						importante que conozcas cómo puedes completar tu cobertura, pues
						lograrás añadir una cobertura adicional con la que si el vehículo
						que deseas asegurar es una pick up puedes cubrir tu equipo especial.
					</p>
					<p class="text">
						En Ve Por Más los planes se pueden distinguir en el mercado
						asegurador por ser una de las pocas compañías aseguradoras, mismas
						que ofrecen las pólizas para los autos de una empresa, local o
						negocio, esto significa que ofrece la protección a uno más de los
						dueños de autos, capaces de tener un vehículo con seguro, ya sea de
						uso comercial o destinado para transporte de personal.
					</p>
					<p class="text">
						Todo esto mediante la póliza de Seguros de Camiones y del equipo
						pesado, con los socios y directivos de una empresa misma que se
						obtenga en los siguientes beneficios:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Aseguramiento para los autos
							residentes, pick up y camiones de carga.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección en caso de Robo Total y
							de los Daños Totales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cubre Gastos Médicos para los
							ocupantes de los autos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Este incluye la Asistencia Legal,
							misma que se necesita para una empresa y de los conductores en
							caso de accidente.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Ventajas extra o adicionales en
							costo y condiciones preferentes por la integración del seguro,
							para cada vehículo en una póliza de flotilla.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="ve-por-mas#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-5 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Más Privilegios con Ve Por Más Seguros en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						La Institución bancaria Ve Por Más en poco tiempo ha sido reconocido
						como uno de los bancos más innovadores del sector, además de que en
						el año 2009 obtuvo el Premio a la innovación, mismo que fue
						entregado por la revista World Finance BX+ este que nació en el año
						2003, gracias al Dresdner Bank México.
					</p>
					<p class="text">
						Como parte de su crecimiento Ve por Más le otorgó gran valor a cada
						uno de sus clientes con su oferta de seguros de auto, tu
						tranquilidad y bienestar son lo más importante, por ello es que en
						Compara Ya, nos encargamos de mostrarte lo mejor, para poder otorgar
						los mejores beneficios, con los que podrás tener tu seguro de auto
						ideal para tus necesidades, además de que podrás ahorrarte la
						cobertura adecuada para tu auto.
					</p>
					<p class="text">
						Si bien es cierto que existen épocas en el año en que las
						condiciones climáticas, mismas que suelen complicar la vida en las
						ciudades, en lo particular la época de lluvias es una temporada
						difícil, ya que por consiguiente hay más tráfico y más agua al
						momento que circules por las calles,lo cual puede aumentar la
						incidencia en los accidentes vehiculares.
					</p>
					<p class="text">
						Si eres el propietario de un auto debes de estar consciente de este
						tipo de riesgos, además de tomar las medidas necesarias con las que
						puedas reducir las consecuencias en caso de accidente. Por todo ello
						es que debes buscar la cobertura que más te convenza, con las
						diferentes opciones de seguros de auto que hay en el mercado para
						que puedas tomar la decisión correcta.
					</p>
					<p class="text">
						Una de las cosas que mejor debes es que los autos cubiertos por el
						seguro de auto Ve Por Más brinda la cobertura de tu seguro de auto,
						que puede ser aplicada si tu vehículo es uno de los siguientes:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Automóvil.
						</li>
						<li class="text lista"><span class="circulito"></span> Pickups.</li>
						<li class="text lista">
							<span class="circulito"></span> Motocicletas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Microbuses.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Camiones.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Autobuses.
						</li>
					</ul>
					<p class="text">
						Dentro de los usos que cubre el seguro de auto Ve por Más, es muy
						importante que este ampare el seguro de auto, además que ofrece la
						cobertura siempre y cuando tu auto sea utilizado para los siguientes
						fines.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Particular: es el que se destina
							al transporte de personas, de uso familiar o de transporte de
							enseres domésticos o de mercancías sin fines comerciales o de
							lucro.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Comercial: se puede utilizar para
							los transportes de mercancías y/o carga con fines comerciales de
							lucro para el contratante, con el asegurado o del conductor (aun
							cuando sea de manera ocasional.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Ambulancia: El vehículo puede ser
							transporte de personas enfermas o heridas, desde el momento del
							tratamiento, mismo que debe contar con la cromática respectiva y
							torreta, para la debida identificación.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Autoescuela: Es de control
							sencillo o doble control: Con el vehículo para la enseñanza de
							conducción de automóviles.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Carroza: Suele ser utilizado en
							los actos oficiales, solemnes o que se destinen al transporte de
							ataúdes, mismo que contienen en los restos mortales de una
							persona.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Turismo: Este es el que suele ser
							utilizado para los transportes de personas que prestan el servicio
							de turismo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Taxi Individual o Colectivo: El
							servicio de transporte de personas sin una ruta predeterminada,
							mediante el cual un tercero paga una tarifa al conductor del auto
							a cambio del servicio prestado; este será el vehículo que puede o
							no estar adaptado para ser identificado.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">
						Coberturas importantes de Ve Por Más Seguros
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Entre los paquetes básicos de seguro de auto, se logra manejar
						coberturas y paquetes básicos que ofrece el seguro de auto de Ve Por
						Más. Entre los paquetes básicos o más conocidos se encuentran las
						coberturas tradicionales como plan de seguro amplio, limitado y de
						Responsabilidad Civil.
					</p>
					<p class="text">
						Adicional a ello el seguro de auto de Ve Por Más cuenta con las
						coberturas adicionales diferentes, mismas que son diferentes o que
						no ofrecen casi ninguna otra compañía aseguradora o de asistencia
						por pérdida de llaves o de la misma asistencia por pérdida de
						boletos. En las Coberturas que incluye cada uno de los diferentes
						planes.
					</p>
					<p class="text">
						Existe la modalidad del Seguro de Responsabilidad Civil Obligatorio,
						con el que se puede circular sin ningún tipo de restricción en
						lugares como la Ciudad de México o de las carreteras federales del
						país. Mismas que se pueden evaluar en los productos de Buró de
						Entidades Financieras de las Comisión Nacional para la Protección y
						Defensa de los Usuarios de Servicios Financieros conocido como la
						Condusef, este se diseñó en 2014 con una matriz para calificar el
						desempeño de las compañías aseguradoras que brindan en este
						producto.
					</p>
					<p class="text">
						Algunos de los servicios que se pueden valorar de los seguros Ve Por
						Más son:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Banca en Línea: Esta puede hacer
							las operaciones en cualquier sitio.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Bx+ Móvil: Es la aplicación con la
							que se puede realizar las operaciones financieras como de los
							trámites y administración del dinero.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Línea Bx+: Atención Telefónica con
							las 24 horas para cualquier tipo de movimiento.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Casa de Bolsa Móvil Bx+: En caso
							de desear administrar y controlar las inversiones desde el
							teléfono celular.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Bx+ en tu puerta: Puedes contar
							con un ejecutivo, este puede ir a la casa o al domicilio del
							contratante para asesorar o entregar sus valores.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Servicio Fiduciario: Esta puede
							ser una protección patrimonial, individual o de negocio.
						</li>
					</ul>
					<p class="text">
						Cada institución también logra ofrecer cuentas con las que puede
						administrar el dinero sin importar el lugar en el que el
						beneficiario se encuentre o si desea comenzar a controlar la
						seguridad de su patrimonio, se puede contar con un seguro para auto.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'BXMAS';
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.corePer = true
		this.$store.state.config.motor = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 20;
		this.$store.state.config.telefonoAS = ' 88807357';
		this.$store.state.config.grupoCallback = 'VN Multiva Bx+';
		this.$store.state.config.from = 'COMPARAYA-BXMAS';
		this.$store.state.config.idPagina = 159;
		this.$store.state.config.idMedioDifusion = 1286;
		this.$store.state.config.idInteraccion = 2718; //VN Interacción
		this.$store.state.config.idEcommerce = 2717; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 21;
		this.$store.state.config.idSubRamo = 36;
		this.$store.state.config.imgaseg = 'bxmas';
		this.$store.state.config.urlRedireccion = 've-por-mas';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'BXMAS|comparaya-mx-bxmas';

		this.$store.state.config.interior = 'bxmas';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title:
				'Seguros Ve Por Más- Cotiza Seguros de Autos Ve por Más - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Ve por Más, Bx+, Seguros Ve por Mas, Seguros Bx+, Seguros de Autos Ve por Más, Seguros de autos Bx+, Cotizar Seguros Ve por Más, Aseguradora Ve por Más ',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza Seguros Ve por Más al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Ve por Más. ¡Es fácil y rápido!',
				},
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/ve-por-mas/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #bfcd26;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #bfcd26;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #bfcd26;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #bfcd26;
	}
}
</style>

