<template>
	<div>
		<div class="container-fluid bg-aguila">
			<header-component />
			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto El Aguila</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!--**********************  C O N T E N I D O S  *********************-->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Ventajas de Contratar Seguros</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						En Compara Ya puedes encontrar las mejores coberturas y planes de
						pago, para tu seguro de auto, para ello te ofrecemos las ventajas
						que maneja Seguros.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Obtén una atención personalizada,
							más eficaz y rápida al instante que te ocurra algún tipo de
							siniestro.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Una de las ventajas más
							reconocidas de esta compañia aseguradora es que no pagas deducible
							en tus primero accidentes de auto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En caso de que tu auto no funcione
							después de un accidente será trasladado al taller para su
							reparación, en donde además podrás recibir un auto sustituto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La indemnización por robo de auto
							te puede cubrir al 100%.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Obtén un 5% de descuento, además
							de meses sin intereses al contratar tu póliza de seguro de auto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Si tu vehículo resulta como
							pérdida total, tu seguro de auto te cubre en su totalidad.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes recibir el pago de tus
							gastos médicos ya sea para ti y para tu familia, o los
							acompañantes de tu auto en el momento de que ocurra algún
							accidente.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuentas con asesoría jurídica y
							defensa legal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Obtén asistencia vial en caso de
							falla mecánica, a cualquier hora del día.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Con tu póliza de seguro para auto
							estás asegurado en caso de que conduzcas otro vehículo, si
							conduces un auto que no de tu propiedad y llegas a tener un
							siniestro tu seguro de auto te protege.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Más Privilegios con Seguros en Compara Ya</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Seguros es una institución que se cataloga como una empresa
						especializada en el seguro de auto, la cual opera en el mercado
						mexicano desde hace años, esta aplica un novedoso procedimiento con
						el que puede determinar un seguro de calidad.
					</p>
					<p class="text">
						En Compara Ya sabemos que en Seguros se encargan de ser una empresa
						de seguros especializados en el segmento de automóviles de uso
						particular, además de estar en contacto con cada uno de sus clientes
						a través de múltiples canales y que buscan de manera permanente la
						satisfacción de sus usuarios, además de poder evaluar el riesgo de
						forma integral o que considera las características del conductor,
						esta institución crea un valor para cada uno de sus accionistas y
						colaboradores a través de la innovación y el reconocimiento de la
						misma marca.
					</p>
					<p class="text">
						Como parte de su visión Seguros es una de las primeras opciones del
						cliente en su compra de seguro de auto, para mantener un alto
						reconocimiento por la especialización y profesionalismo de cada uno
						de sus clientes que además otorga en todo momento las soluciones más
						confiables, con un trato personal y una red de proveedores de
						excelente calidad.
					</p>
					<p class="text">
						Como parte fundamental y a resaltar de Seguros encontramos:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Seguros trabaja con el propósito
							de lograr que cada uno de sus colaboradores muestre con trabajo y
							hechos la responsabilidad, rectitud, honestidad, coherencia y
							compromiso que tiene en la empresa, además de mostrarlo a sus
							clientes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Trabajo en equipo, para poder
							lograr los resultados a través del respeto, confianza, cooperación
							y apoyo entre todos los colaboradores de la empresa, que con todo
							ello se pueda tomar en cuenta la comunicación y valor en el tiempo
							de los demás.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Esto puede ofrecer productos,
							servicios y procesos creativos y flexibles para cada uno de sus
							clientes sin la necesidad de perder el objetivo establecido para
							la empresa.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La eficiencia que muestra Seguros
							aprovecha y optimiza para alcanzar las metas que ofrece con
							calidad en servicio y atención.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Trabaja para ofrecer servicio de
							calidad, destaca su trato con calidez y amabilidad a cada cliente,
							proveedor y colaborador, otorgando la información veraz y oportuna
							para que se pueda crear fidelidad y confianza.
						</li>
					</ul>
					<p class="text">
						Es un agente de seguros con más de 20 años de experiencia que
						utiliza sus mejores beneficios y las prácticas correctas para
						brindar la seguridad y la tranquilidad para las familias de nuestro
						país. Por ello es necesario que conozcas las opciones de seguro para
						auto que ofrece; paquetes para daños materiales, robos, daños
						parciales y la pérdida total de tu auto.
					</p>
					<p class="text">
						Con Seguros te ofrece paquetes para gastos médicos, asistencia vial
						ilimitada y defensa jurídica, además que puedes contribuir en tu
						ahorro económico y a la vez proteger tu patrimonio, pregunta por los
						principales requisitos de cada una de ellas y contrata tu seguro, te
						ofrece la protección en cualquier momento. Obtén la mayor cobertura
						para tu auto y los daños que le llegues a ocasionar a terceros, con
						un seguro de autos que te ofrezca el respaldo necesario para tu
						patrimonio.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="el-aguila#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-5 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">Coberturas de Seguros</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Contar con un seguro de auto que te de la importancia necesaria para
						cuidar tu patrimonio, es algo primordial ya que al contratar con el
						está obteniendo una protección que cubre tu vehículo en caso de que
						este sufra daños en su totalidad o parciales ante cualquier
						siniestro; en la actualidad a pesar del incremento de robos de auto,
						de accidentes viales en nuestro país solo 3 de cada 10 autos que
						circulan de manera activa, cuentan con una póliza de seguro para
						auto.
					</p>
					<p class="text">
						Sin embargo, contar con un seguro de auto es sumamente primordial e
						importante ya que es obligatorio por la nueva normativa del país con
						el que podrás circular en las vialidades y carreteras federales. No
						contar con tu seguro de auto te puede traer una multa de hasta
						$2,900 pesos.
					</p>
					<p class="text">
						Seguros es una compañía aseguradora que se especializa en seguros de
						autos, misma que opera en el mercado mexicano con más de 20 años,
						además de brindar un servicio de calidad con la mejor protección a
						sus clientes con las que pueda afrontar cualquier situación que
						pudiera poner en riesgo su patrimonio. Por ello debemos conocer cómo
						es su funcionamiento y sobre todo las ventajas que podemos conseguir
						al contratar con esta compañía aseguradora.
					</p>
					<p class="text">
						Es importante que conozcas las coberturas que los seguros de autos
						ofrece; esta compañía con más de 20 años en el mercado, por ello es
						que cuenta con millones de clientes que lo solicitan, además de las
						principales que ofrecen como su cobertura amplia, con la cual
						estarás cubierto ante los daños materiales de tu auto, el robo total
						del vehículo, la cobertura por responsabilidad civil y los gastos
						médicos de las personas que se encuentren a bordo del auto en el
						momento de que ocurra un imprevisto o accidente.
					</p>
					<p class="text">
						Por otro lado la cobertura más sencilla o limitada y la más
						importante, es la que te brinda grandes beneficios como cero
						deducible en los primeros accidentes, un auto sustituto y una
						extensión de responsabilidad civil. Con estas coberturas tu vehículo
						estará protegido, además de tener la garantía de que es un apoyo
						total en caso de siniestro.
					</p>
					<p class="text">
						Seguros es una de las mejores compañías de seguros que ofrece la
						protección completa para ti y tu auto; con tu póliza de seguro
						estarás siempre protegido ante colisión o robo total, puesto que
						durante los primeros dos choques que puedan ocasionar Daños
						Materiales a Terceros, el asegurado no pagará deducible por la
						reparación de los mismos. Además, que en caso de sustracción total
						de la unidad, el deducible que se tenga que pagar es sólo del 3% y
						con la cobertura que otorga el contratante de 10 mil pesos
						adicionales a la indemnización del valor del auto.
					</p>
					<p class="text">
						Otro plus que puede ofrecer esta póliza es que el deducible
						resultante es del 3% para las colisiones y las subsiguientes de la
						segunda, que además puedan poner sólo es del 3% para las colisiones
						subsiguientes de la segunda, y que ponen a disposición del
						contratante un auto sustituto si el vehículo asegurado se encuentra
						en el taller. Por otra parte, en caso de que el conductor asegurado
						se encuentre a cargo de otro que no es el de su propiedad y este
						sufre un percance, la compañía aseguradora se hará cargo de los
						daños a terceros, esto es considerando las mismas condiciones del
						auto.
					</p>
					<ul class="ps-3">
						<p class="text lista">
							<span class="circulito"></span> Cobertura Amplia Seguros :
						</p>
						<li class="text lista">
							<span class="circulito"></span> Deducible en daños del 5%.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Deducible por robo del 10%.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cubre tu Responsabilidad Civil.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos para ti y
							acompañantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Vial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Terssa, única en México, cubre los
							daños materiales a tu auto, a causa de un tercero sin seguro
							evitando que pierdas el tiempo en el ministerio público, o que te
							quedes sin auto por estar en el corralón, pagar la multa por los
							días que tengan tu auto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asesoría Legal y defensa jurídica.
						</li>
					</ul>
					<ul class="ps-3">
						<p class="text lista">
							<span class="circulito"></span> Cobertura semi Amplia:
						</p>
						<li class="text lista">
							<span class="circulito"></span> Deducible en pérdida total por
							colisión, misma que equivale al deducible de Robo Total
							contratado.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Deducible en robo total 10%.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos Médicos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Vial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asesoría jurídica y defensa legal.
						</li>
					</ul>
					<ul class="ps-3">
						<p class="text lista">
							<span class="circulito"></span> Cobertura Limitada Seguros:
						</p>
						<li class="text lista">
							<span class="circulito"></span> Deducible en robo total al 10%.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos Médicos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Vial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asesoría y defensa legal.
						</li>
					</ul>
					<p class="text">
						Te recomendamos que conozcas las coberturas que te ofrece, Compara
						Ya y decídete por la que mejor te convenga, cubre tus necesidades y
						siéntete protegido al andar, tu tranquilidad y economía nos
						interesan.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';
export default {
	//layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'ELAGUILA';
		this.$store.state.config.motor = true;
		this.$store.state.config.corePer = true;
			this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '47495125'; //SE MODIFICO
		this.$store.state.config.grupoCallback = 'VN EL AGUILA';
		this.$store.state.config.from = 'COMPARAYA-ELAGUILA';
		this.$store.state.config.idPagina = 187; //SE MODIFICO EN BASE DEL ARCHIVO
		this.$store.state.config.idMedioDifusion = 1269; //SE MODIFICO EN BASE DEL ARCHIVO
		this.$store.state.config.idInteraccion = 2722; //VN Interacción
		this.$store.state.config.idEcommerce = 2721; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 12; //SE MODIFICO
		this.$store.state.config.idSubRamo = 48; //8
		this.$store.state.config.imgaseg = 'elaguila';
		this.$store.state.config.urlRedireccion = 'el-aguila';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'ELAGUILA|comparaya-mx-el-aguila';

		this.$store.state.config.interior = 'elaguila';
	},
	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'Seguros de Autos - Cotiza Seguro de Auto  - Comparaya.mx ',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Seguros de Autos, Seguros de Autos, Seguros de Autos, Seguros de autos , Cotizador  Aseguradora , Cotizar seguro de auto , Seguros de Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza Seguros  al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto . ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/el-aguila/',
				},
				{ hid: 'robots', name: 'robots', content: 'noindex, nofollow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 240px) {.tpromo,.tdesc {color: #223c7e;}}
</style>
