<template>
  <div class="row mx-auto">
    <div class="col-12 col-md-6 text-center" v-show="$store.state.mostrarBoton">
      <div id="tooltip">
        <small class="mb-0 text-white text-center"
          >Un ejecutivo se pondrá en contacto contigo.</small
        >
      </div>
      <button
        class="btn p-0"
        @click="conectarAInteraccion()"
        v-bind:class="{ disabled: this.$store.state.config.btnEmisionDisabled }"
        :disabled="this.$store.state.config.btnEmisionDisabled"
      >
        <img
          src="img/btn-llamada.svg"
          alt="contacto llamada"
          width="188"
          height="59"
          class="img-fluid"
        />
      </button>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content modal-asesoria">
            <div class="modal-header">
              <img
                class="figure-img img-fluid rounded img-modal"
                :src="'img/aseguradoras-logo/color/aba.svg'"
                alt="logo"
              />
            </div>
            <div class="modal-body">
              <p class="text-center">
                ABA Te contactará a la brevedad, asegura tu auto y obtén
                {{ $store.state.aseguradoras.ABA.promo }}
              </p>
              <p
                class="text-center"
                :href="'tel:' + $store.state.aseguradoras.ABA.phonecotizar"
              >
                o si lo prefieres llama ahora al
                <span class="numas">
                  {{ $store.state.aseguradoras.ABA.phonecotizar }}</span
                >
              </p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-verde" type="button" data-dismiss="modal">
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-md-6"
      style="display: flex; flex-direction: column-reverse"
      v-show="$store.state.cargandocotizacion"
    >
      <a
        class="btn p-0"
        target="_blank"
        rel="nofollow"
        role="button"
        @click="conectarAEmision()"
        v-bind:class="{ disabled: this.$store.state.config.btnEmisionDisabled }"
        :disabled="this.$store.state.config.btnEmisionDisabled"
        
      >
        <img
          src="img/btn-compralinea.svg"
          alt="contacto online"
          width="188"
          height="59"
          class="img-fluid"
        />
      </a>
    </div>
  </div>
</template>

<script>
import services from "~/plugins/services";
const urlSitio = process.env.urlSitio
const motorAsegmotor = {
  ABA: process.env.motorAba,
  AFIRME: process.env.motorAfirme,
  AIG: process.env.motorAig,
  ANA: process.env.motorAna,
  ATLAS: process.env.motorAtlas,
  AXA: process.env.motorAxa,
  CHUBB: process.env.motorAba,
  EKOMI: process.env.motorEkomi,
  GNP: process.env.motorGnp,
  HDI: process.env.motorHdi,
  INBURSA: process.env.motorInbursa,
  MAPFRE: process.env.motorMapfre,
  MIGO: process.env.motorMigo,
  MIITUO: process.env.motorMiituo,
  MULTIVA: process.env.motorMultiva,
  QUALITAS: process.env.motorQualitas,
  SURA: process.env.motorSura,
  BANORTE: process.env.motorBanorte,
  ZURICH: process.env.motorZurich,
};
let motorB = "";
let sitio = "";
export default {
  data() {
    return {
      disabled: false,
    };
  },
  methods: {
    conectarAEmision(indice) {
      this.$store.state.config.btnEmisionDisabled = true;

      switch (this.$store.state.config.dataPeticionCotizacion.aseguradora) {
        case "LATINO":
          sitio = this.$store.state.config.dataPeticionCotizacion.aseguradora =
            "LA-LATINO";
          motorB = process.env.motorLatino;
          break;
        case "ELAGUILA":
          sitio = this.$store.state.config.dataPeticionCotizacion.aseguradora =
            "ELAGUILA";
          motorB = process.env.motorAguila;
          break;
        case "ELPOTOSI":
          sitio = this.$store.state.config.dataPeticionCotizacion.aseguradora =
            "EL-POTOSI";
          motorB = process.env.motorPotosi;
          break;
        case "GENERALDESEGUROS":
          sitio = this.$store.state.config.dataPeticionCotizacion.aseguradora =
            "GENERAL-DE-SEGUROS";
          motorB = process.env.motorGds;
          break;
        case "MAPFRE":
          motorB = process.env.motorMapfre;
          break;
        case "BXMAS":
          motorB = process.env.motorBxmas;
          break;
        case ("QUALITAS", "UBER", "DIDI", "CABIFY", "BEAT"):
          motorB = process.env.motorQualitas;
          break;
        default:
          this.$store.state.config.dataPeticionCotizacion.aseguradora =
            this.$store.state.config.dataPeticionCotizacion.aseguradora;
          sitio = this.$store.state.config.aseguradora.toLowerCase();
          motorB = motorAsegmotor[this.$store.state.config.aseguradora];
      }
      this.$store.state.clickEcommerce = true;
      let dataEmision = {
        idPagina: this.$store.state.config.idPagina,
        idEstadoCotizacion: 6,
        idMedioDifusion: this.$store.state.config.idEcommerce,
        idTipoContacto: 6,
        idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
        peticion: JSON.stringify(
          this.$store.state.config.dataPeticionCotizacion
        ),
        idHubspot:this.$store.state.formData.idHubspot,
        respuesta: JSON.stringify(this.$store.state.cotizacion),
        idSubRamo: this.$store.state.config.idSubRamo,
        isMailValid: this.$store.state.formData.emailValid,
        isTelefonoValid:
          this.$store.state.formData.telefonoValid === "MOVIL" ||
          this.$store.state.formData.telefonoValid === "FIJO"
            ? true
            : false,
        isCpValid: this.$store.state.formData.codigoPostalValid,
        msgSms: this.$store.state.config.textoSMS,
      };

      services
        .newLeadEmision(
          JSON.stringify(dataEmision),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          //Conexion a motor de pago online
          if (resp.data.data != undefined) {
            resp = resp.data.data;
          } else {
            resp = resp.data;
          }
          //Conexion a motor de pago online
          if (
            resp.idSolicitudes != 0 &&
            resp.idCotizacionesAli != 0 &&
            resp.idCotizaciones != 0 &&
            resp.idProductoSolicitud != 0 &&
            resp.idProspecto != 0 &&
            this.$store.state.config.precio > 1000
          ) {
           let peticionMotor =
              resp.idSolicitudes +
              "|" +
              resp.idCotizacionesAli +
              "|" +
              resp.idCotizaciones +
              "|" +
              resp.idProductoSolicitud +
              "|" +
              resp.idProspecto +
              "|" +
              urlSitio + sitio;
            let xAseg = Buffer.from(JSON.stringify(peticionMotor)).toString(
              "base64"
            );
            xAseg = xAseg.replace('"', "");
              if (this.$store.state.config.motor) {
                if (this.$store.state.config.aseguradora == "BANORTE") {
                  if (resp.distribution === true) {
                    window.open(resp.urlNewEcommerce, "_blank");
                  } else {
                    window.open(motorB + "/?id=" + xAseg, "_blank");
                  }
                } else {
                  window.open(motorB + "/?id=" + xAseg, "_blank");
                }
              }
          }
        })
        .catch((error) => {
          this.$store.state.idEndPoint = 422;
          this.$store.state.status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          this.$store.state.message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: dataEmision,
              })
            : JSON.stringify({
                error: error,
                peticion: dataEmision,
              });
          if (this.$store.state.status === 401) {
            this.dispatch("getToken")
              .then((resp) => {
                this.accessToken = resp.data.accessToken;
                this.saveEmision();
              })
              .catch((error) => {
                this.$store.state.idEndPoint = 155;
                this.$store.state.status =
                  error.response !== undefined ? error.response.status : 500;
                this.$store.state.message =
                  error.response !== undefined
                    ? JSON.stringify({
                        error: error.response.data,
                        peticion: { tokenData: dbService.tokenData },
                      })
                    : JSON.stringify({
                        error: error,
                        peticion: { tokenData: dbService.tokenData },
                      });
                console.log("Hubo un problema al generar el token");
                this.saveEmision();
              });
          } else {
            console.log("Hubo un problema al entrar al motor");
          }
        });
    },
    conectarAInteraccion() {
      document.getElementById("tooltip").className = "d-block mx-auto";
      this.$store.state.config.btnEmisionDisabled = true;

      this.$store.state.clickInteraccion = true;
      let dataInteraccion = {
        idPagina: this.$store.state.config.idPagina,
        idEstadoCotizacion: 7,
        idMedioDifusion: this.$store.state.config.idInteraccion,
        idTipoContacto: 1,
        idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
        idCotizacion: this.$store.state.config.numCotizacionUsuario,
        peticion: JSON.stringify(
          this.$store.state.config.dataPeticionCotizacion
        ),
        idHubspot:this.$store.state.formData.idHubspot,
        respuesta: JSON.stringify(this.$store.state.cotizacion),
        idSubRamo: this.$store.state.config.idSubRamo,
        isMailValid: this.$store.state.formData.emailValid,
        isTelefonoValid:
          this.$store.state.formData.telefonoValid === "MOVIL" ||
          this.$store.state.formData.telefonoValid === "FIJO"
            ? true
            : false,
        isCpValid: this.$store.state.formData.codigoPostalValid,
        msgSms: this.$store.state.config.textoSMS,
      };
      services
        .newLeadInteraccion(
          JSON.stringify(dataInteraccion),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          console.log("Contacto guardado con éxito");
        })
        .catch((error) => {
          this.$store.state.idEndPoint = 424;
          this.$store.state.status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          this.$store.state.message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: dataInteraccion,
              })
            : JSON.stringify({
                error: error,
                peticion: dataInteraccion,
              });
          if (this.$store.state.status === 401) {
            this.dispatch("getToken")
              .then((resp) => {
                this.accessToken = resp.data.accessToken;
                this.saveInteraccion();
              })
              .catch((error) => {
                this.$store.state.idEndPoint = 155;
                this.$store.state.status =
                  error.response !== undefined ? error.response.status : 500;
                this.$store.state.message =
                  error.response !== undefined
                    ? JSON.stringify({
                        error: error.response.data,
                        peticion: { tokenData: dbService.tokenData },
                      })
                    : JSON.stringify({
                        error: error,
                        peticion: { tokenData: dbService.tokenData },
                      });
                console.log("Hubo un problema al generar el token");
                this.saveInteraccion();
              });
          } else {
            console.log("Hubo un problema al cargar los detalles");
          }
        });
    },
  },
};
</script>
<style>
#tooltip {
  width: auto;
  max-width: 300px;
  display: none;
  background: #463c3c;
  border: 3px solid #463c3c;
  padding: 10px;
  position: relative;
  top: -15px;
  word-wrap: break-word;
  border-radius: 5px;
  margin-top: -54px;
  z-index: 2;
  color: white !important;
}

#tooltip:after {
  content: "";
  position: absolute;
  display: block;
  top: 103%;
  left: 45%;
  margin: 0auto;
  width: 0;
  height: 0;
  border-color: #463c3c transparent transparent transparent;
  border-style: solid;
  border-width: 15px;
}
</style>
