<template>
  <div>
    <div
      v-if="!this.$store.state.config.promoSpecial"
      class="row contenedorPromo"
    >
      <div class="container-fluid p-0 m-0 adornosProm">
        <div class="row mx-0 pt-3 pb-1 px-0">
          <div class="col-4 m-auto text-center">
            <img
              v-if="this.$store.state.config.interior === 'aba'"
              src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/insurance/chubb/chubb-dark.webp"
              alt="logo promocion"
              class="m-auto img-fluid"
              width="140"
              height="34"
            />
            <img
              v-else-if="this.$store.state.config.interior === 'hdi'"
              :src="this.$store.state.config.logoAseguradora.hdi"
              alt="logo promocion"
              class="m-auto img-fluid"
              width="80"
              height="34"
            />
            <img
              v-else-if="this.$store.state.config.interior === 'mapfre'"
              src="https://prod-mx.sfo3.digitaloceanspaces.com/insurance/mapfre/logotipo-agente.png"
              alt="logo promocion"
              class="m-auto img-fluid"
              width="70"
              height="70"
            />
            <img
              v-else-if="this.$store.state.config.interior === 'gnp'"
              src="https://prod-mx.sfo3.digitaloceanspaces.com/insurance/gnp/logotipo-agente.png"
              alt="logo promocion"
              class="m-auto img-fluid"
              width="110"
              height="34"
            />
            <img
              v-else
              :src="
                'img/aseguradoras-logo/color/' +
                this.$store.state.config.interior +
                '.svg'
              "
              alt="logo promocion"
              class="m-auto img-fluid"
              width="140"
              height="34"
            />
          </div>
          <div v-if="this.$store.state.config.promoSpecial" class="col-2 px-1">
            <img
              :src="this.$store.state.config.promoImg"
              alt="logo promocion"
              class="m-auto img-fluid"
              width="75"
              height="75"
            />
          </div>
          <div
            :class="this.$store.state.config.promoSpecial ? 'col-6 ' : 'col-8 '"
          >
            <small class="labelPromo">{{
              this.$store.state.config.promoLabel
            }}</small>

            <p class="descuentosProm">{{ $store.state.config.dto }}</p>
            <div v-if="this.$store.state.config.msi !== ''">
              <small class="msiPromo">{{ this.$store.state.config.msi }}</small>
              <section
                v-if="
                  !this.$store.state.config.msi.toLowerCase().includes('meses')
                "
              >
                <small
                  v-if="this.$store.state.config.aseguradora == 'QUALITAS'"
                  class="labelendPromo"
                >
                  {{ this.$store.state.config.extraMsg }}
                </small>
                <small v-else class="labelendPromo">
                  {{ this.$store.state.config.extraMsg }}
                </small>
              </section>
            </div>
            <!-- <div class="text-center">
					  <small>{{this.$store.state.config.extraMsg}} </small>
					</div> -->
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="this.$store.state.config.promoSpecial"
      class="row contenedorPromo"
    >
      <div class="container-fluid p-0 m-0 adornosPromo">
        <div class="row mx-0 pt-3 pb-1 px-0">
          <div class="col-4 my-2 px-md-1 px-lg-3 text-center">
            <img
              v-if="this.$store.state.config.interior === 'aba'"
              src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/insurance/chubb/chubb-dark.webp"
              alt="logo promocion"
              class="m-auto img-fluid"
              width="140"
              height="34"
            />
            <img
              v-else-if="this.$store.state.config.interior === 'hdi'"
              :src="this.$store.state.config.logoAseguradora.hdi"
              alt="logo promocion"
              class="m-auto img-fluid"
              width="80"
              height="34"
            />
            <img
              v-else-if="this.$store.state.config.interior === 'mapfre'"
              src="https://prod-mx.sfo3.digitaloceanspaces.com/insurance/mapfre/logotipo-agente.png"
              alt="logo promocion"
              class="m-auto img-fluid logMap"
              width="70"
              height="70"
            />
            <img
              v-else-if="this.$store.state.config.interior === 'gnp'"
              src="https://prod-mx.sfo3.digitaloceanspaces.com/insurance/gnp/logotipo-agente.png"
              alt="logo promocion"
              class="m-auto img-fluid"
              width="110"
              height="34"
            />
            <img
              v-else
              :src="
                'img/aseguradoras-logo/color/' +
                this.$store.state.config.interior +
                '.svg'
              "
              alt="logo promocion"
              class="m-auto img-fluid"
              width="140"
              height="34"
            />
          </div>
          <div v-if="this.$store.state.config.promoSpecial" class="col-2 px-1">
            <img
              :src="this.$store.state.config.promoImg"
              alt="logo promocion"
              class="m-auto img-fluid"
              width="75"
              height="75"
            />
          </div>
          <div
            :class="this.$store.state.config.promoSpecial ? 'col-6' : 'col-8'"
          >
            <small class="labelPromo">{{
              this.$store.state.config.promoLabel
            }}</small>

            <p class="descuentosPromo">{{ $store.state.config.dto }}</p>
            <div v-if="this.$store.state.config.msi !== ''">
              <small class="msiPromo">{{ this.$store.state.config.msi }}</small>
              <section
                v-if="
                  !this.$store.state.config.msi.toLowerCase().includes('meses')
                "
              >
                <small
                  v-if="this.$store.state.config.aseguradora == 'QUALITAS'"
                  class="labelendPromo"
                >
                  {{ this.$store.state.config.extraMsg }}
                </small>
                <small v-else class="labelendPromo">
                  {{ this.$store.state.config.extraMsg }}
                </small>
              </section>
            </div>
            <!-- <div class="text-center">
					  <small>{{this.$store.state.config.extraMsg}} </small>
					</div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row" v-if="this.$store.state.config.aseguradora == 'AFIRME'">
      <div class="col-12 ia mx-auto">
        <img
          src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/prod_asmx/ahorraseguros.mx/wp-content/themes/nexoslab/assets/logotipos/operado-por-ahorraguros.svg"
          width="460"
          height="30"
          class="img-fluid"
          alt="agente"
        />
      </div>
    </div>

    <div
      class="rounded-3 text-center mx-0 mx-md-5 px-2 py-1"
      v-if="this.$store.state.config.interior === 'hdi'"
      style="background-color: #f3f3f3"
    >
      <img
        :src="this.$store.state.config.agenteAutorizado"
        width="390"
        height="30"
        class="img-fluid"
        alt="agente autorizado"
      />
    </div>
  </div>
</template>
<script>
import getInsurerPromo from "~/plugins/promoData.js";
export default {
  async created() {
    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.dto = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      //Texto extra
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
    } catch (err) {
      console.log(err);
    }
  },
};
</script>
<style>
.contenedorPromo {
  min-height: 80px;
  height: auto;
}

.contenedorPromo {
  background: #fff;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 2px 2px 5px #bababa;
  max-width: 760px;
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
}

.adornosPromo {
  border: 4px dotted #e30613;
  border-radius: 6px;
}
.adornosProm {
  border: 4px dotted #ffc300;
  border-radius: 6px;
}

.labelPromo {
  position: absolute;
  top: 12px;
  background: #909191;
  color: #fff;
  border-radius: 10px;
  padding: 0px 12px;
  margin-left: -12px;
}

.descuentosProm {
  background: #ffc300;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0;
  padding: 8px;
  padding: 0.8rem 0rem;
  border-radius: 5px;
  line-height: 1;
}
.descuentosPromo {
  background: #e30613;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
  padding: 8px;
  padding: 0.8rem 0rem;
  border-radius: 5px;
  line-height: 1;
}

.msiPromo {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  line-height: 1;
}

.labelendPromo {
  font-weight: bold!important;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  display: block;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 930px) {
  .descuentosPromo {
    font-size: 0.55rem;
  }
  .labelendPromo {
    font-size: 0.5rem;
  }
  .msiPromo {
    font-size: 0.9rem;
  }
}
@media (min-width: 420px) and (max-width: 767px) {
  .descuentosPromo {
    font-size: 0.8rem;
  }
  .labelendPromo {
    font-size: 0.7rem;
  }
  .msiPromo {
    font-size: 0.9rem;
  }
}
@media (max-width: 419px) {
  .descuentosPromo {
    font-size: 0.55rem;
  }
  .labelendPromo {
    font-size: 0.55rem;
  }
}
</style>
