<template>
  <div>
   <div class="container-fluid footer">
    <div class="row">
      <div class="col-6 col-md-3 mb-2 text-center">
        <a href="https://comparaya.mx/" target="_blank">
          <span class="logocom  "></span>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-2 text-center">
        <p class="sites mb-0 mt-md-2">Comparador</p>
        <a href="https://comparaya.mx/tarjeta-de-credito" target="_blank" class="link-ahorra ps-lg-1">Tarjetas de credito</a>
      </div>

      <div class="col-6 col-md-3 mb-2 text-center" itemtype="http://schema.org/Product" itemscope="">
        <meta itemprop="name" content="comparaya.mx">
          <a class="mb-0" href="https://comparaya.mx/opiniones-comparaya/" style="text-decoration:none;">
            <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
            <meta itemprop="reviewCount" content="55">
            <span itemprop="name" class="d-none">Review</span>
            <span class="color_star mt-2 mb-0 fsOp text-center" >
                <meta itemprop="ratingValue" content="5">
                <span class="styleratestar">
                    <i class="estrella"></i>
                    <i class="estrella"></i>
                    <i class="estrella"></i>
                    <i class="estrella"></i>
                    <i class="estrella"></i>
                </span>
            </span>
            <p class="text-center">55 OPINIONES</p>
            </span>
          </a>
      </div>
      <div class="col-6 g-s col-md-3  text-center">
        <p class="sites mb-0 mt-md-2">Group Sites</p>
        <a href="https://ahorraseguros.mx" target="_blank" class="link-ahorra ps-lg-1">Ahorra Seguros</a>
        <a href="https://onlineseguros.mx/" target="_blank" rel="nofollow" class="link-ahorra  d-inline-flex  ps-lg-3">Online Seguros</a>

      </div>
    </div>  
    <div class="row">
      <div class=" col-12">
        <p class="center text-f">© Copyright 2020 Comparaya.mx todos los derechos reservados. </p>
      </div>
    </div>
<svg width="0" height="0" class="hidden">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.347 28.347" id="comentario"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="20.136" y1="8.718" x2="24.952" y2="8.718"><stop offset="0" stop-color="#c5baeb"></stop><stop offset="1" stop-color="#d7d1eb"></stop></linearGradient><path d="M23.373 7.08c-.182-.14-.433-.147-.712.014l-2.525 1.458v1.91l4.176-2.411a.815.815 0 01.333-.11l.016-.003a.514.514 0 01.287.06l.004-.006-1.579-.912z" fill="url(#a)"></path><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="8.555" y1="23.291" x2="10.607" y2="23.291"><stop offset="0" stop-color="#c5baeb"></stop><stop offset="1" stop-color="#d7d1eb"></stop></linearGradient><path d="M10.45 26.212l-.016-.019a.653.653 0 01-.103-.142l-.023-.044a.963.963 0 01-.059-.175c-.006-.022-.013-.04-.017-.063a1.47 1.47 0 01-.027-.28V20.26l-1.65 2.311v1.958c0 .423.148.714.379.824l1.67.968.004-.005a.532.532 0 01-.158-.105z" fill="url(#b)"></path><path d="M24.948 7.997a.524.524 0 00-.287-.06l-.016.003a.795.795 0 00-.333.11l-4.176 2.412v1.315c0 .735-.448 1.59-.998 1.909l-7.21 4.162-1.723 2.413v5.227c0 .103.01.195.027.281.004.023.011.042.017.063a.99.99 0 00.059.175l.023.044c.03.053.063.102.102.142l.017.019c.048.045.1.081.157.105.166.072.371.056.596-.074l9.532-5.504 2.747.82v-2.406l.83-.478c.552-.319.998-1.173.998-1.908v-7.96c0-.412-.142-.693-.362-.81z" fill="#e9e5f6"></path><path d="M19.138 3.062L6.029 10.629c-.552.318-.999 1.173-.999 1.908v7.961c0 .735.447 1.073 1 .755l2.46-1.422v2.831l.065-.09 1.65-2.311 1.723-2.413 7.21-4.162c.55-.32.998-1.174.998-1.909V3.816c0-.735-.447-1.074-.998-.754z" fill="#06daae"></path><linearGradient id="c" gradientUnits="userSpaceOnUse" x1="278.157" y1="311.33" x2="279.531" y2="308.95" gradientTransform="translate(-270.565 -297.435)"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path d="M5.03 20.498v-7.96c0-.736.447-1.59 1-1.91l13.108-7.566c.243-.142.464-.148.637-.054l.003-.006-1.58-.912c-.181-.14-.432-.148-.71.014L4.377 9.67c-.55.32-.998 1.173-.998 1.91v7.96c0 .422.147.713.379.823l1.669.968.006-.003c-.244-.102-.404-.393-.404-.831z" fill="url(#c)"></path><linearGradient id="d" gradientUnits="userSpaceOnUse" x1="281.603" y1="313.319" x2="282.977" y2="310.939" gradientTransform="translate(-270.565 -297.435)"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path fill="url(#d)" d="M6.84 20.784v.921l1.65.957v-2.83z"></path></symbol>

<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.738 12.834" id="logo-color"><path d="M52.055 2.877a.64.64 0 01.45.193.59.59 0 01.202.44c0 .148-.059.29-.17.42l-1.952 2.317v2.325c0 .225-.066.4-.196.516a.692.692 0 01-.49.18.725.725 0 01-.51-.18c-.13-.116-.195-.29-.195-.516V6.247L47.26 3.929a.587.587 0 01-.17-.42c0-.167.063-.311.193-.44a.586.586 0 01.904.041l1.702 2.075 1.703-2.074a.58.58 0 01.463-.234m3.421 2.322c.31.312.464.789.464 1.43v2.015c0 .196-.055.348-.169.46-.113.11-.27.164-.472.164a.615.615 0 01-.46-.176.609.609 0 01-.174-.448v-.063c-.089.22-.237.391-.443.517-.21.125-.454.19-.73.19-.299 0-.567-.063-.808-.18a1.425 1.425 0 01-.57-.5 1.288 1.288 0 01-.212-.713c0-.32.084-.573.247-.758.164-.182.426-.317.789-.4.36-.082.858-.125 1.488-.125h.231v-.16c0-.25-.054-.431-.165-.544-.11-.112-.294-.171-.548-.171-.255 0-.623.09-1.104.268a.836.836 0 01-.348.1.397.397 0 01-.313-.138.557.557 0 01-.115-.362.51.51 0 01.08-.294.741.741 0 01.258-.213 2.9 2.9 0 01.762-.268c.302-.065.597-.098.887-.098.643 0 1.118.156 1.425.467m-1.06 2.896c.162-.175.241-.402.241-.682V7.26h-.153c-.479 0-.817.04-1.009.117-.192.077-.29.218-.29.42 0 .165.055.3.164.405.11.105.248.155.413.155a.814.814 0 00.634-.263" fill="#09cc8f"></path><path d="M13.422 4.57a1.79 1.79 0 00-.519.079 5.354 5.354 0 00-1.36-1.892.299.299 0 00-.397.448 4.747 4.747 0 011.308 1.933c.1.28.173.572.22.865.035.24.055.48.055.724v.07a4.698 4.698 0 01-.098.888 4.772 4.772 0 01-2.164 3.068 2.55 2.55 0 00.11-.747 2.56 2.56 0 00-.082-.641 2.556 2.556 0 001.848-2.457 2.563 2.563 0 00-2.56-2.563 2.54 2.54 0 00-1.767.708 2.563 2.563 0 00-4.33 1.854 2.559 2.559 0 001.85 2.458 2.64 2.64 0 00-.082.641c0 .255.037.506.112.747a4.75 4.75 0 01-2.169-3.079 4.758 4.758 0 01-.096-.906v-.041a4.79 4.79 0 01.27-1.573A4.72 4.72 0 019.816 2.37a.299.299 0 00.227-.553 5.248 5.248 0 00-1.347-.358L9.249.91a.305.305 0 000-.424.3.3 0 00-.424 0l-.511.51v-.43a.298.298 0 10-.597 0v.429l-.51-.51a.3.3 0 10-.423.425l.554.551a5.33 5.33 0 00-4.215 3.197A1.78 1.78 0 102.886 8.1c.203.764.58 1.478 1.098 2.083a5.352 5.352 0 002.082 1.484 2.549 2.549 0 001.95.899c.752 0 1.46-.325 1.947-.899a5.342 5.342 0 002.08-1.48 5.265 5.265 0 001.099-2.081 1.78 1.78 0 10.28-3.536M2.85 5.497a.898.898 0 00-1.17.853.899.899 0 001.05.885c.011.095.019.187.034.283a1.183 1.183 0 01-1.37-1.168 1.183 1.183 0 011.529-1.13 4.886 4.886 0 00-.073.277m-.108.602a5.391 5.391 0 00-.034.52.303.303 0 01-.13.032.3.3 0 11.164-.552m6.81 5.132a1.96 1.96 0 01-3.071 0c-.006-.007-.013-.02-.021-.027h3.112c-.008.007-.015.02-.02.027m.279-1.974c.101.24.147.492.147.75 0 .205-.029.404-.093.598H6.146A1.952 1.952 0 016.2 9.257a.3.3 0 00-.018-.261.302.302 0 00-.217-.146 1.974 1.974 0 01-1.682-1.942c0-1.085.881-1.966 1.964-1.966.601 0 1.16.27 1.536.74a.3.3 0 00.233.11.29.29 0 00.231-.11 1.96 1.96 0 011.536-.74c1.083 0 1.964.88 1.964 1.966 0 .968-.726 1.804-1.682 1.942a.302.302 0 00-.217.146.304.304 0 00-.018.261m3.592-1.725c-.052 0-.105-.004-.155-.01.014-.094.023-.189.035-.281a.898.898 0 10-.123-1.754c-.02-.091-.048-.185-.074-.275a1.18 1.18 0 11.317 2.32m-.136-1.449a.297.297 0 01.434.266.3.3 0 01-.298.302.366.366 0 01-.097-.015 5.535 5.535 0 00-.039-.553" fill="#495f72"></path><path d="M10.837 2.228c-.014-.008-.025-.018-.039-.025-.142-.085-.325-.042-.412.097s-.041.325.1.412c.009.008.022.014.032.024a.3.3 0 00.16.045.3.3 0 00.16-.553m-4.29 4.085a.735.735 0 00-.733.734c0 .136.113.25.25.25a.248.248 0 00.246-.25.236.236 0 11.473 0c0 .136.11.25.248.25a.25.25 0 00.25-.25.736.736 0 00-.734-.734m3.111 0a.735.735 0 00-.735.734c0 .136.111.25.25.25a.252.252 0 00.25-.25.235.235 0 11.47 0c0 .136.11.25.249.25a.25.25 0 00.249-.25.736.736 0 00-.733-.734m-2.343 1.65a.63.63 0 10-.002 1.26.63.63 0 00.002-1.26m0 .764a.137.137 0 01-.136-.134c0-.072.062-.135.136-.135.072 0 .133.063.133.135 0 .072-.06.134-.133.134m1.377-.764a.631.631 0 00-.63.63.632.632 0 001.262 0 .632.632 0 00-.632-.63m0 .764a.135.135 0 01-.132-.134c0-.072.06-.135.132-.135.073 0 .136.063.136.135a.138.138 0 01-.136.134m7.848.283a1.895 1.895 0 01-.765-.785c-.178-.338-.267-.734-.267-1.185s.095-.852.283-1.198c.185-.35.45-.618.787-.808.34-.189.728-.285 1.169-.285.23 0 .462.034.697.098.236.066.442.155.621.269.189.124.286.281.286.47a.503.503 0 01-.095.319.304.304 0 01-.243.12.52.52 0 01-.208-.047 1.654 1.654 0 01-.214-.105 2.26 2.26 0 00-.373-.182 1.11 1.11 0 00-.41-.069c-.369 0-.652.12-.85.36-.198.241-.3.59-.3 1.04 0 .445.102.788.3 1.028.198.241.481.362.85.362.149 0 .28-.023.395-.066.117-.045.247-.104.388-.183a1.85 1.85 0 01.233-.12.506.506 0 01.196-.043c.093 0 .175.043.242.126a.506.506 0 01.096.314.48.48 0 01-.068.262.568.568 0 01-.218.2 2.2 2.2 0 01-.639.28c-.245.07-.496.106-.75.106-.434 0-.815-.094-1.143-.279" fill="#495f72"></path><path d="M20.38 9.01c-.336-.186-.595-.45-.78-.794s-.276-.744-.276-1.204c0-.456.092-.854.277-1.197a1.91 1.91 0 01.779-.79 2.418 2.418 0 011.173-.276c.442 0 .836.094 1.172.277.334.182.594.447.775.789.182.343.27.741.27 1.197 0 .46-.088.86-.27 1.204-.18.344-.441.608-.775.793a2.4 2.4 0 01-1.172.277c-.446 0-.838-.092-1.173-.277m1.991-.945c.191-.237.285-.589.285-1.052 0-.456-.094-.806-.285-1.045-.188-.24-.465-.362-.818-.362-.359 0-.631.121-.826.362-.193.239-.289.59-.289 1.045 0 .463.094.815.286 1.052.19.24.46.355.819.355.361 0 .64-.116.828-.355m8.052-2.891c.253.283.379.739.379 1.368v2.192c0 .174-.052.306-.157.396a.582.582 0 01-.405.14.582.582 0 01-.396-.14c-.104-.09-.155-.222-.155-.396V6.54c0-.327-.06-.56-.173-.698-.118-.14-.296-.21-.532-.21-.292 0-.523.102-.694.3-.173.198-.26.47-.26.813v1.988c0 .174-.052.306-.153.396a.59.59 0 01-.4.14.593.593 0 01-.4-.14c-.106-.09-.161-.222-.161-.396V6.54c0-.327-.059-.56-.173-.698-.117-.14-.292-.21-.531-.21-.291 0-.523.102-.69.3-.17.198-.255.47-.255.813v1.988c0 .174-.052.306-.16.396a.598.598 0 01-.402.14.57.57 0 01-.395-.14c-.104-.09-.157-.222-.157-.396V5.285a.47.47 0 01.161-.384.606.606 0 01.4-.136c.157 0 .283.045.379.133.1.085.147.207.147.37v.213c.138-.237.321-.42.548-.545a1.63 1.63 0 01.791-.186c.651 0 1.089.272 1.309.82.132-.248.323-.448.577-.599a1.72 1.72 0 01.865-.221c.477 0 .84.14 1.093.423m4.483-.139c.293.19.523.459.686.808.164.346.245.746.245 1.198s-.081.847-.245 1.185a1.85 1.85 0 01-.682.784 1.84 1.84 0 01-1.007.277 1.69 1.69 0 01-.828-.198 1.368 1.368 0 01-.562-.542v1.818c0 .156-.05.276-.15.366a.591.591 0 01-.404.132.579.579 0 01-.404-.142.487.487 0 01-.155-.375v-5.05c0-.163.047-.289.145-.386a.555.555 0 01.396-.14.57.57 0 01.403.14.51.51 0 01.151.385v.222a1.36 1.36 0 01.565-.564 1.72 1.72 0 01.843-.202c.375 0 .707.095 1.003.284m-.478 3.026c.196-.241.295-.581.295-1.02 0-.452-.099-.801-.295-1.052s-.47-.375-.819-.375c-.358 0-.631.123-.824.365-.194.245-.29.594-.29 1.044 0 .445.096.79.29 1.032.193.245.466.365.824.365.35 0 .622-.118.819-.359m5.031-2.861c.295.301.441.756.441 1.369v2.175a.506.506 0 01-.142.377.534.534 0 01-.392.14.528.528 0 01-.38-.143.502.502 0 01-.147-.374v-.199a1.156 1.156 0 01-.475.544 1.415 1.415 0 01-.754.198 1.77 1.77 0 01-.793-.177 1.438 1.438 0 01-.56-.49 1.241 1.241 0 01-.206-.697c0-.32.082-.573.245-.757.163-.184.43-.32.797-.4.37-.083.877-.126 1.524-.126h.224v-.205c0-.293-.063-.502-.187-.636-.126-.134-.326-.2-.606-.2-.176 0-.349.023-.527.073-.177.051-.39.125-.632.218-.156.078-.268.116-.338.116a.333.333 0 01-.265-.116.448.448 0 01-.1-.303c0-.101.022-.187.075-.26a.717.717 0 01.253-.21c.21-.114.455-.203.745-.269.287-.064.571-.098.848-.098.607 0 1.059.15 1.352.45m-.899 2.986c.185-.2.279-.457.279-.772v-.187h-.16c-.399 0-.706.018-.925.055-.22.035-.38.098-.473.186a.474.474 0 00-.144.367c0 .189.066.345.2.467a.71.71 0 00.495.181c.298 0 .54-.097.728-.297m4.734-3.32c.09.079.137.194.137.347 0 .161-.04.28-.119.358-.076.078-.216.129-.419.152l-.267.025c-.348.037-.605.154-.77.358-.164.2-.245.453-.245.756v1.872c0 .174-.052.306-.16.396a.592.592 0 01-.4.14.57.57 0 01-.397-.14c-.104-.09-.157-.222-.157-.396v-3.45c0-.165.053-.292.157-.382a.572.572 0 01.388-.136c.152 0 .28.045.373.133.095.085.144.207.144.37v.355c.11-.262.28-.464.502-.605a1.5 1.5 0 01.744-.241l.126-.012c.154-.009.274.024.363.1" fill="#495f72"></path><path d="M46.596 5.199c.295.301.443.756.443 1.369v2.175a.5.5 0 01-.144.377c-.093.093-.223.14-.393.14a.53.53 0 01-.379-.143.509.509 0 01-.145-.374v-.199c-.1.234-.26.414-.475.544a1.418 1.418 0 01-.755.198c-.29 0-.555-.06-.792-.177a1.451 1.451 0 01-.562-.49 1.241 1.241 0 01-.207-.697c0-.32.083-.573.248-.757.16-.184.43-.32.796-.4.37-.083.877-.126 1.525-.126h.222v-.205c0-.293-.063-.502-.187-.636s-.327-.2-.607-.2c-.171 0-.346.023-.525.073s-.39.125-.632.218c-.155.078-.267.116-.34.116a.338.338 0 01-.264-.116.443.443 0 01-.1-.303.44.44 0 01.075-.26.708.708 0 01.255-.21c.208-.114.454-.203.743-.269.287-.064.573-.098.852-.098.605 0 1.054.15 1.348.45m-.899 2.986c.187-.2.28-.457.28-.772v-.187h-.16c-.398 0-.707.018-.926.055-.22.035-.377.098-.473.186a.48.48 0 00-.142.367c0 .189.066.345.2.467.132.12.297.181.494.181a.949.949 0 00.727-.297" fill="#495f72"></path></symbol>

  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.347 28.347" id="check"><path d="M23.669 4.048L11.24 16.476a.858.858 0 01-1.213 0l-5.35-5.35L.45 15.354l8.07 8.07a2.99 2.99 0 004.228 0L27.894 8.275 23.67 4.048z" fill="#a5eb78"></path><path d="M26.498 6.877L10.506 22.869a3.266 3.266 0 01-1.6.878 2.99 2.99 0 003.84-.323l15.15-15.15-1.398-1.397z" fill="#84bf5e"></path></symbol>

<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.346 28.347" id="circulito"><path d="M14.172 9.746a4.428 4.428 0 10.004 8.856 4.428 4.428 0 00-.004-8.856zm.015 8.258a3.826 3.826 0 113.829-3.826 3.826 3.826 0 01-3.828 3.826z" fill="#09cc8f"></path></symbol>

<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.347 28.347" id="chevron-right"><path fill="#fff" d="M20.088 13.293L10 3.006c-.464-.472-1.278-.472-1.741 0a1.257 1.257 0 000 1.75l9.227 9.411-9.227 9.411a1.255 1.255 0 000 1.75c.235.24.536.367.87.367.335 0 .635-.127.871-.367l10.087-10.286a1.256 1.256 0 000-1.749z"></path></symbol>

<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.738 12.834" id="logo-blanco"><path fill="#fff" d="M52.055 2.877a.64.64 0 01.45.193.59.59 0 01.202.44c0 .148-.059.29-.17.42l-1.952 2.317v2.325c0 .225-.066.4-.196.516a.692.692 0 01-.49.18.725.725 0 01-.51-.18c-.13-.116-.195-.29-.195-.516V6.247L47.26 3.929a.587.587 0 01-.17-.42c0-.167.063-.311.193-.44a.586.586 0 01.904.041l1.702 2.075 1.703-2.074a.58.58 0 01.463-.234m3.421 2.322c.31.312.464.789.464 1.43v2.015c0 .196-.055.348-.169.46-.113.11-.27.164-.472.164a.615.615 0 01-.46-.176.609.609 0 01-.174-.448v-.063c-.089.22-.237.391-.443.517-.21.125-.454.19-.73.19-.299 0-.567-.063-.808-.18a1.425 1.425 0 01-.57-.5 1.288 1.288 0 01-.212-.713c0-.32.084-.573.247-.758.164-.182.426-.317.789-.4.36-.082.858-.125 1.488-.125h.231v-.16c0-.25-.054-.431-.165-.544-.11-.112-.294-.171-.548-.171-.255 0-.623.09-1.104.268a.836.836 0 01-.348.1.397.397 0 01-.313-.138.557.557 0 01-.115-.362.51.51 0 01.08-.294.741.741 0 01.258-.213 2.9 2.9 0 01.762-.268c.302-.065.597-.098.887-.098.643 0 1.118.156 1.425.467m-1.06 2.896c.162-.175.241-.402.241-.682V7.26h-.153c-.479 0-.817.04-1.009.117-.192.077-.29.218-.29.42 0 .165.055.3.164.405.11.105.248.155.413.155a.814.814 0 00.634-.263M13.422 4.57a1.79 1.79 0 00-.519.079 5.354 5.354 0 00-1.36-1.892.299.299 0 00-.397.448 4.747 4.747 0 011.308 1.933c.1.28.173.572.22.865.035.24.055.48.055.724v.07a4.698 4.698 0 01-.098.888 4.772 4.772 0 01-2.164 3.068 2.55 2.55 0 00.11-.747 2.56 2.56 0 00-.082-.641 2.556 2.556 0 001.848-2.457 2.563 2.563 0 00-2.56-2.563 2.54 2.54 0 00-1.767.708 2.563 2.563 0 00-4.33 1.854 2.559 2.559 0 001.85 2.458 2.64 2.64 0 00-.082.641c0 .255.037.506.112.747a4.75 4.75 0 01-2.169-3.079 4.758 4.758 0 01-.096-.906v-.041a4.79 4.79 0 01.27-1.573A4.72 4.72 0 019.816 2.37a.299.299 0 00.227-.553 5.248 5.248 0 00-1.347-.358L9.249.91a.305.305 0 000-.424.3.3 0 00-.424 0l-.511.51v-.43a.298.298 0 10-.597 0v.429l-.51-.51a.3.3 0 10-.423.425l.554.551a5.33 5.33 0 00-4.215 3.197A1.78 1.78 0 102.886 8.1c.203.764.58 1.478 1.098 2.083a5.352 5.352 0 002.082 1.484 2.549 2.549 0 001.95.899c.752 0 1.46-.325 1.947-.899a5.342 5.342 0 002.08-1.48 5.265 5.265 0 001.099-2.081 1.78 1.78 0 10.28-3.536M2.85 5.497a.898.898 0 00-1.17.853.899.899 0 001.05.885c.011.095.019.187.034.283a1.183 1.183 0 01-1.37-1.168 1.183 1.183 0 011.529-1.13 4.886 4.886 0 00-.073.277m-.108.602a5.391 5.391 0 00-.034.52.303.303 0 01-.13.032.3.3 0 11.164-.552m6.81 5.132a1.96 1.96 0 01-3.071 0c-.006-.007-.013-.02-.021-.027h3.112c-.008.007-.015.02-.02.027m.279-1.974c.101.24.147.492.147.75 0 .205-.029.404-.093.598H6.146A1.952 1.952 0 016.2 9.257a.3.3 0 00-.018-.261.302.302 0 00-.217-.146 1.974 1.974 0 01-1.682-1.942c0-1.085.881-1.966 1.964-1.966.601 0 1.16.27 1.536.74a.3.3 0 00.233.11.29.29 0 00.231-.11 1.96 1.96 0 011.536-.74c1.083 0 1.964.88 1.964 1.966 0 .968-.726 1.804-1.682 1.942a.302.302 0 00-.217.146.304.304 0 00-.018.261m3.592-1.725c-.052 0-.105-.004-.155-.01.014-.094.023-.189.035-.281a.898.898 0 10-.123-1.754c-.02-.091-.048-.185-.074-.275a1.18 1.18 0 11.317 2.32m-.136-1.449a.297.297 0 01.434.266.3.3 0 01-.298.302.366.366 0 01-.097-.015 5.535 5.535 0 00-.039-.553"></path><path fill="#fff" d="M10.837 2.228c-.014-.008-.025-.018-.039-.025-.142-.085-.325-.042-.412.097s-.041.325.1.412c.009.008.022.014.032.024a.3.3 0 00.16.045.3.3 0 00.16-.553m-4.29 4.085a.735.735 0 00-.733.734c0 .136.113.25.25.25a.248.248 0 00.246-.25.236.236 0 11.473 0c0 .136.11.25.248.25a.25.25 0 00.25-.25.736.736 0 00-.734-.734m3.111 0a.735.735 0 00-.735.734c0 .136.111.25.25.25a.252.252 0 00.25-.25.235.235 0 11.47 0c0 .136.11.25.249.25a.25.25 0 00.249-.25.736.736 0 00-.733-.734m-2.343 1.65a.63.63 0 10-.002 1.26.63.63 0 00.002-1.26m0 .764a.137.137 0 01-.136-.134c0-.072.062-.135.136-.135.072 0 .133.063.133.135 0 .072-.06.134-.133.134m1.377-.764a.631.631 0 00-.63.63.632.632 0 001.262 0 .632.632 0 00-.632-.63m0 .764a.135.135 0 01-.132-.134c0-.072.06-.135.132-.135.073 0 .136.063.136.135a.138.138 0 01-.136.134m7.848.283a1.895 1.895 0 01-.765-.785c-.178-.338-.267-.734-.267-1.185s.095-.852.283-1.198c.185-.35.45-.618.787-.808.34-.189.728-.285 1.169-.285.23 0 .462.034.697.098.236.066.442.155.621.269.189.124.286.281.286.47a.503.503 0 01-.095.319.304.304 0 01-.243.12.52.52 0 01-.208-.047 1.654 1.654 0 01-.214-.105 2.26 2.26 0 00-.373-.182 1.11 1.11 0 00-.41-.069c-.369 0-.652.12-.85.36-.198.241-.3.59-.3 1.04 0 .445.102.788.3 1.028.198.241.481.362.85.362.149 0 .28-.023.395-.066.117-.045.247-.104.388-.183a1.85 1.85 0 01.233-.12.506.506 0 01.196-.043c.093 0 .175.043.242.126a.506.506 0 01.096.314.48.48 0 01-.068.262.568.568 0 01-.218.2 2.2 2.2 0 01-.639.28c-.245.07-.496.106-.75.106-.434 0-.815-.094-1.143-.279"></path><path fill="#fff" d="M20.38 9.01c-.336-.186-.595-.45-.78-.794s-.276-.744-.276-1.204c0-.456.092-.854.277-1.197a1.91 1.91 0 01.779-.79 2.418 2.418 0 011.173-.276c.442 0 .836.094 1.172.277.334.182.594.447.775.789.182.343.27.741.27 1.197 0 .46-.088.86-.27 1.204-.18.344-.441.608-.775.793a2.4 2.4 0 01-1.172.277c-.446 0-.838-.092-1.173-.277m1.991-.945c.191-.237.285-.589.285-1.052 0-.456-.094-.806-.285-1.045-.188-.24-.465-.362-.818-.362-.359 0-.631.121-.826.362-.193.239-.289.59-.289 1.045 0 .463.094.815.286 1.052.19.24.46.355.819.355.361 0 .64-.116.828-.355m8.052-2.891c.253.283.379.739.379 1.368v2.192c0 .174-.052.306-.157.396a.582.582 0 01-.405.14.582.582 0 01-.396-.14c-.104-.09-.155-.222-.155-.396V6.54c0-.327-.06-.56-.173-.698-.118-.14-.296-.21-.532-.21-.292 0-.523.102-.694.3-.173.198-.26.47-.26.813v1.988c0 .174-.052.306-.153.396a.59.59 0 01-.4.14.593.593 0 01-.4-.14c-.106-.09-.161-.222-.161-.396V6.54c0-.327-.059-.56-.173-.698-.117-.14-.292-.21-.531-.21-.291 0-.523.102-.69.3-.17.198-.255.47-.255.813v1.988c0 .174-.052.306-.16.396a.598.598 0 01-.402.14.57.57 0 01-.395-.14c-.104-.09-.157-.222-.157-.396V5.285a.47.47 0 01.161-.384.606.606 0 01.4-.136c.157 0 .283.045.379.133.1.085.147.207.147.37v.213c.138-.237.321-.42.548-.545a1.63 1.63 0 01.791-.186c.651 0 1.089.272 1.309.82.132-.248.323-.448.577-.599a1.72 1.72 0 01.865-.221c.477 0 .84.14 1.093.423m4.483-.139c.293.19.523.459.686.808.164.346.245.746.245 1.198s-.081.847-.245 1.185a1.85 1.85 0 01-.682.784 1.84 1.84 0 01-1.007.277 1.69 1.69 0 01-.828-.198 1.368 1.368 0 01-.562-.542v1.818c0 .156-.05.276-.15.366a.591.591 0 01-.404.132.579.579 0 01-.404-.142.487.487 0 01-.155-.375v-5.05c0-.163.047-.289.145-.386a.555.555 0 01.396-.14.57.57 0 01.403.14.51.51 0 01.151.385v.222a1.36 1.36 0 01.565-.564 1.72 1.72 0 01.843-.202c.375 0 .707.095 1.003.284m-.478 3.026c.196-.241.295-.581.295-1.02 0-.452-.099-.801-.295-1.052s-.47-.375-.819-.375c-.358 0-.631.123-.824.365-.194.245-.29.594-.29 1.044 0 .445.096.79.29 1.032.193.245.466.365.824.365.35 0 .622-.118.819-.359m5.031-2.861c.295.301.441.756.441 1.369v2.175a.506.506 0 01-.142.377.534.534 0 01-.392.14.528.528 0 01-.38-.143.502.502 0 01-.147-.374v-.199a1.156 1.156 0 01-.475.544 1.415 1.415 0 01-.754.198 1.77 1.77 0 01-.793-.177 1.438 1.438 0 01-.56-.49 1.241 1.241 0 01-.206-.697c0-.32.082-.573.245-.757.163-.184.43-.32.797-.4.37-.083.877-.126 1.524-.126h.224v-.205c0-.293-.063-.502-.187-.636-.126-.134-.326-.2-.606-.2-.176 0-.349.023-.527.073-.177.051-.39.125-.632.218-.156.078-.268.116-.338.116a.333.333 0 01-.265-.116.448.448 0 01-.1-.303c0-.101.022-.187.075-.26a.717.717 0 01.253-.21c.21-.114.455-.203.745-.269.287-.064.571-.098.848-.098.607 0 1.059.15 1.352.45m-.899 2.986c.185-.2.279-.457.279-.772v-.187h-.16c-.399 0-.706.018-.925.055-.22.035-.38.098-.473.186a.474.474 0 00-.144.367c0 .189.066.345.2.467a.71.71 0 00.495.181c.298 0 .54-.097.728-.297m4.734-3.32c.09.079.137.194.137.347 0 .161-.04.28-.119.358-.076.078-.216.129-.419.152l-.267.025c-.348.037-.605.154-.77.358-.164.2-.245.453-.245.756v1.872c0 .174-.052.306-.16.396a.592.592 0 01-.4.14.57.57 0 01-.397-.14c-.104-.09-.157-.222-.157-.396v-3.45c0-.165.053-.292.157-.382a.572.572 0 01.388-.136c.152 0 .28.045.373.133.095.085.144.207.144.37v.355c.11-.262.28-.464.502-.605a1.5 1.5 0 01.744-.241l.126-.012c.154-.009.274.024.363.1"></path><path fill="#fff" d="M46.596 5.199c.295.301.443.756.443 1.369v2.175a.5.5 0 01-.144.377c-.093.093-.223.14-.393.14a.53.53 0 01-.379-.143.509.509 0 01-.145-.374v-.199c-.1.234-.26.414-.475.544a1.418 1.418 0 01-.755.198c-.29 0-.555-.06-.792-.177a1.451 1.451 0 01-.562-.49 1.241 1.241 0 01-.207-.697c0-.32.083-.573.248-.757.16-.184.43-.32.796-.4.37-.083.877-.126 1.525-.126h.222v-.205c0-.293-.063-.502-.187-.636s-.327-.2-.607-.2c-.171 0-.346.023-.525.073s-.39.125-.632.218c-.155.078-.267.116-.34.116a.338.338 0 01-.264-.116.443.443 0 01-.1-.303.44.44 0 01.075-.26.708.708 0 01.255-.21c.208-.114.454-.203.743-.269.287-.064.573-.098.852-.098.605 0 1.054.15 1.348.45m-.899 2.986c.187-.2.28-.457.28-.772v-.187h-.16c-.398 0-.707.018-.926.055-.22.035-.377.098-.473.186a.48.48 0 00-.142.367c0 .189.066.345.2.467.132.12.297.181.494.181a.949.949 0 00.727-.297"></path></symbol>

<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.347 28.347" id="money"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="284.552" y1="311.999" x2="286.456" y2="313.098" gradientTransform="translate(-270.565 -297.435)"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path d="M26.822 12.57c.003.083-.04.163-.141.222l-15.298 8.831c-.218.125-.598.111-.848-.034L.268 15.66c-.172-.1-.23-.233-.185-.349-.008.02-.02.039-.022.06v.393c-.002.097.069.199.206.279l10.268 5.929c.25.143.63.16.848.034l15.298-8.831c.1-.059.147-.136.145-.217h.001v-.374c0-.005-.005-.01-.005-.015z" fill="url(#a)"></path><path d="M26.791 12.477c-.009-.015-.01-.03-.021-.046a.5.5 0 00-.15-.128L16.351 6.375a.979.979 0 00-.436-.12.784.784 0 00-.411.085L.207 15.172a.32.32 0 00-.11.102c-.008.012-.01.026-.014.039-.045.115.013.249.185.348l10.267 5.928c.25.145.63.16.848.034l15.298-8.831c.101-.059.144-.139.141-.222a.234.234 0 00-.031-.093z" fill="#06daae"></path><path d="M16.11 7.809L2.75 15.52l8.027 4.633 13.359-7.71-8.028-4.635zm-5.973 9.287c-.5.287-1.371.252-1.947-.081-.576-.333-.638-.836-.14-1.124.499-.287 1.37-.252 1.946.08s.639.837.14 1.125zm3.088-1.23c-1.851-.225-3.247-1.256-3.12-2.304.128-1.046 1.731-1.711 3.582-1.486 1.851.225 3.248 1.257 3.12 2.304s-1.73 1.712-3.582 1.486zm5.612-3.794c-.498.288-1.37.252-1.945-.08s-.638-.836-.14-1.124 1.37-.252 1.945.081c.576.332.64.835.14 1.123z" fill="#2f878a"></path><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="291.682" y1="312.408" x2="298.652" y2="307.383" gradientTransform="translate(-270.565 -297.435)"><stop offset="0" stop-color="#cc8241"></stop><stop offset="1" stop-color="#ffc538"></stop></linearGradient><path d="M28.267 11.435c.016 1.36-1.806 2.667-4.217 2.96-2.507.306-4.679-.596-4.852-2.014-.017-.145 0-.288.025-.43-.022.124-.052.25-.042.372l-.007.001v1.733h.006c.035.568.397 1.107 1.104 1.515 1.645.95 4.516.831 6.413-.265 1.055-.608 1.584-1.39 1.569-2.125l.003-.001v-1.745h-.002v-.001z" fill="url(#b)"></path><path d="M28.2 11.027c-.007-.018-.011-.037-.017-.055a1.646 1.646 0 00-.188-.376c-.009-.015-.02-.029-.03-.043a2.122 2.122 0 00-.343-.377 3.026 3.026 0 00-.458-.327c-.003 0-.004-.002-.006-.003l-.017-.008a4.033 4.033 0 00-.619-.282c-.038-.015-.078-.026-.117-.04a5.626 5.626 0 00-.612-.167l-.191-.034a6.791 6.791 0 00-.61-.08c-.085-.008-.17-.01-.257-.014a7.708 7.708 0 00-.584-.008 7.322 7.322 0 00-.358.023c-.124.009-.243.008-.37.023-.047.006-.091.019-.139.026-.152.021-.299.05-.446.08-.139.027-.278.052-.414.087-.163.04-.318.093-.472.143-.113.037-.228.07-.337.112a5.934 5.934 0 00-.463.207c-.09.043-.183.083-.27.13-.044.024-.095.042-.138.067-.09.052-.152.111-.234.166a3.583 3.583 0 00-.623.497 3.036 3.036 0 00-.172.19 2.602 2.602 0 00-.247.328c-.036.057-.058.116-.086.174a1.9 1.9 0 00-.147.367c-.01.039-.007.078-.013.117-.024.142-.042.286-.024.43.173 1.419 2.345 2.32 4.852 2.014 2.41-.293 4.233-1.6 4.217-2.96-.001-.053.015-.106.008-.16-.01-.086-.05-.165-.076-.247z" fill="#ffc538"></path><linearGradient id="c" gradientUnits="userSpaceOnUse" x1="300.148" y1="307.367" x2="289.597" y2="311.173" gradientTransform="translate(-270.565 -297.435)"><stop offset="0" stop-color="#cc8241"></stop><stop offset="1" stop-color="#ffc538"></stop></linearGradient><path d="M26.327 10.758c-1.246-.719-3.424-.63-4.862.202-.68.392-1.072.88-1.167 1.363.073.38.34.735.818 1.01 1.246.72 3.423.63 4.861-.2.69-.399 1.078-.896 1.165-1.384-.078-.372-.345-.72-.815-.991z" fill="url(#c)"></path><linearGradient id="d" gradientUnits="userSpaceOnUse" x1="23.206" y1="11.781" x2="26.48" y2="9.891"><stop offset="0" stop-color="#cc8241"></stop><stop offset="1" stop-color="#ffc538"></stop></linearGradient><path d="M27.145 11.343c-.015-.081-.05-.16-.082-.237-.02-.045-.03-.091-.054-.135a1.479 1.479 0 00-.189-.241c-.03-.034-.05-.07-.083-.102a2.176 2.176 0 00-.41-.303c-.935-.54-2.394-.624-3.67-.281a4.949 4.949 0 00-1.192.483 3.307 3.307 0 00-.528.38c-.05.041-.086.085-.13.128a2.13 2.13 0 00-.246.287 1.526 1.526 0 00-.22.447c-.013.045-.03.092-.04.14a1.12 1.12 0 00-.004.373c.002.016-.004.032-.001.048l.002-.007c.095-.482.486-.97 1.167-1.363 1.438-.831 3.616-.921 4.862-.202.47.271.737.619.815.991 0 .005.004.01.005.015.002-.012-.001-.023 0-.034.013-.08.008-.16.005-.24-.004-.049.002-.1-.008-.147z" fill="url(#d)"></path></symbol>

<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.347 28.347" id="escudo"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="-2456.108" y1="13.763" x2="23.795" y2="13.763"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path d="M20.238 1.252a.567.567 0 00-.427-.133l-7.415.602-7.415 7.96c-.441.473-.733 1.204-.733 1.833v2.627c0 4.952 1.629 8.595 4.322 10.172v.002l.112.065c.002.001.004.003.007.003l3.506 2.025.006-.011c-2.736-1.554-4.4-5.208-4.4-10.204v-2.628c0-.627.293-1.359.735-1.832l7.414-7.96 7.415-.603a.59.59 0 01.278.047l.062.036c.024.014.042.036.065.053.006.005.008.015.014.02l.01-.021-3.556-2.053z" fill="url(#a)"></path><path d="M23.784 3.326c-.006-.005-.009-.015-.014-.02-.023-.017-.041-.04-.065-.053l-.062-.036a.59.59 0 00-.278-.047l-7.415.603-7.414 7.96c-.442.473-.734 1.205-.734 1.832v2.628c0 4.996 1.663 8.65 4.4 10.204 1.091.62 2.35.915 3.748.812 4.904-5.303 8.15-13.435 8.15-20.426V4.156c0-.39-.125-.668-.316-.83z" fill="#06daae"></path><path d="M15.395 26.572c-2.032 0-3.752-.938-4.979-2.714-1.28-1.856-1.957-4.506-1.957-7.666v-2.627c0-.462.229-1.032.558-1.385L16.17 4.5a.325.325 0 01.214-.103l6.705-.545a.329.329 0 01.354.327v2.604c0 3.27-.732 6.868-2.118 10.405-1.384 3.53-3.314 6.737-5.583 9.275a.33.33 0 01-.24.11h-.107zM16.564 5.04l-7.068 7.587c-.214.23-.38.643-.38.939v2.626c0 3.026.636 5.547 1.841 7.294 1.088 1.577 2.606 2.416 4.392 2.431 4.453-5.04 7.437-12.71 7.437-19.134V4.535l-6.223.505z" fill="#fff"></path><path d="M15.72 19.456l-2.574-1.945a.856.856 0 011.032-1.365l1.542 1.166L21.3 6.65a.497.497 0 01.88.461l-6.46 12.345z" fill="#fff"></path><path d="M15.95 22.219c-2.782 1.605-5.046-.106-5.046-3.815s2.264-8.035 5.046-9.64c.867-.501 1.723-.698 2.475-.566.415.072.797.242 1.132.505.335.263.619.615.844 1.047.389.744.595 1.723.595 2.828 0 3.71-2.263 8.034-5.046 9.64zm0-11.94c-2.155 1.244-3.908 4.595-3.908 7.47 0 2.872 1.753 4.197 3.908 2.953s3.91-4.595 3.91-7.468c0-.857-.16-1.615-.461-2.19a2.467 2.467 0 00-.655-.811 1.959 1.959 0 00-.878-.392c-.58-.1-1.244.05-1.916.438z" fill="#fff"></path></symbol>

<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.347 28.347" id="archivo"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="4.394" y1="13.846" x2="18.302" y2="13.846"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path fill="url(#a)" d="M18.302.654L17.469 0 4.394 7.549v19.49l.833.653V8.203z"></path><path d="M12.828 18.207c.25-.478.805-.675 1.284-.509l.003.002c.1.036.197.085.287.153l1.653.966v.001c.127.036.249.092.36.177l.036.027 1.85-3.562V.654L5.228 8.204v19.488l10.593-6.116-2.693-2.035a1.057 1.057 0 01-.299-1.334z" fill="#e4e8e2"></path><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="9.19" y1="7.597" x2="14.34" y2="7.597"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path fill="url(#b)" d="M14.34 5.737L9.19 8.711v.746l5.15-2.975z"></path><linearGradient id="c" gradientUnits="userSpaceOnUse" x1="7.288" y1="10.28" x2="16.241" y2="10.28"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path fill="url(#c)" d="M16.241 7.313L7.288 12.5v.747l8.953-5.188z"></path><linearGradient id="d" gradientUnits="userSpaceOnUse" x1="7.288" y1="11.961" x2="16.241" y2="11.961"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path fill="url(#d)" d="M16.241 8.994l-8.953 5.188v.746l8.953-5.188z"></path><linearGradient id="e" gradientUnits="userSpaceOnUse" x1="7.288" y1="13.643" x2="16.241" y2="13.643"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path fill="url(#e)" d="M16.241 10.676l-8.953 5.187v.746l8.953-5.187z"></path><linearGradient id="f" gradientUnits="userSpaceOnUse" x1="7.288" y1="16.781" x2="16.241" y2="16.781"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path fill="url(#f)" d="M16.241 13.815L7.288 19v.746l8.953-5.187z"></path><linearGradient id="g" gradientUnits="userSpaceOnUse" x1="7.288" y1="21.133" x2="16.241" y2="21.133"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path d="M12.827 19.155l-5.539 3.21v.745l5.978-3.463-.139-.106a1.041 1.041 0 01-.3-.386z" fill="url(#g)"></path><linearGradient id="h" gradientUnits="userSpaceOnUse" x1="7.288" y1="17.801" x2="16.241" y2="17.801"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path fill="url(#h)" d="M16.241 17.923v-.746l-1.505.872.641.375z"></path><linearGradient id="i" gradientUnits="userSpaceOnUse" x1="7.288" y1="18.463" x2="16.241" y2="18.463"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path d="M13.809 17.65l2.432-1.409v-.745l-8.953 5.188v.745l5.535-3.207c.003-.005.003-.01.005-.015.198-.38.588-.572.98-.557z" fill="url(#i)"></path><linearGradient id="j" gradientUnits="userSpaceOnUse" x1="15.556" y1="20.682" x2="16.177" y2="19.605"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path d="M14.84 19.35a1.057 1.057 0 011.216-.53h-.001l-1.653-.967a1.058 1.058 0 00-.287-.153l-.004-.002h.001a1.058 1.058 0 00-.985 1.843l3.183 2.405 2.011 1.143-3.181-2.405a1.055 1.055 0 01-.3-1.333z" fill="url(#j)"></path><linearGradient id="k" gradientUnits="userSpaceOnUse" x1="18.486" y1="17.829" x2="20.513" y2="14.319"><stop offset="0" stop-color="#236568"></stop><stop offset="1" stop-color="#2f878a"></stop></linearGradient><path d="M22.74 13.151l-1.876-1.065a.615.615 0 00-.915.205l-3.498 6.733 1.87 1.415 3.64-7.005a.615.615 0 01.778-.283z" fill="url(#k)"></path><path d="M22.875 13.229a.615.615 0 00-.915.205l-3.639 7.005-1.87-1.415-.036-.027a1.057 1.057 0 10-1.275 1.687l3.181 2.405 4.729-9.085a.614.614 0 00-.175-.775z" fill="#06daae"></path></symbol>
</svg>
  </div>
</div>
</template>
<style>
.center{text-align: center;}
.footer{background-color: white;font-size: 15px;padding-top: 1%;}
.sites{font-size: 22px; color: #888888; text-align: center;}
.link-ahorra{color: #888888; font-size: 15px;}
.link-ahorra:hover {color: #888888;}

@media (min-width: 769px) and (max-width: 1100px) {
.footer{background-color: white;font-size: 10px;}
.text-f {font-size: 12px;}
}
@media (min-width: 661px) and (max-width: 768px) {
.footer{background-color: white;font-size: 10px;}
.text-f{font-size: 13px;}
}
@media (min-width: 426px) and (max-width: 660px) {
.footer {background-color: white;font-size: 8px;}
.text-f {font-size: 10px;}
.sites{text-align: center; font-size: 20px;}
.link-ahorra{font-size: 13px;}
.g-s{text-align: center;}

}
@media (min-width: 376px) and (max-width: 425px) {
.footer {background-color: white;font-size: 8px;}
.text-f {font-size: 10px;}
.sites{text-align: center; font-size: 20px;}
.link-ahorra{font-size: 13px;}
.g-s{text-align: center;}

}
@media (min-width: 321px) and (max-width: 375px) {
.footer{background-color: white;font-size: 8px;}
.text-f{font-size: 10px;}
.sites{text-align: center; font-size: 20px;}
.link-ahorra{font-size: 13px;}
.g-s{text-align: center;}

}
@media (min-width: 280px) and (max-width: 320px) {
.footer {background-color: white;}
.text-f {font-size: 10px;}
.sites{text-align: center; font-size: 20px;}
.link-ahorra{font-size: 13px;}
.g-s{text-align: center;}
}
/*leo es genial */
.imgcompita{max-width:180px;width:100%;display:block;margin:0 auto;}
.fsOp{font-size:30px; color: gray;}
.fstar{font-size: 20px;}
.footer{padding-top:10px;}
</style>

