<template>
    <div>
     <div class="container-fluid px-0 py-md-2">
       <div class="row">
         <div class="col-6 my-auto">
           <a href="https://comparaya.mx/seguros-de-autos/">
             <svg class="icon-logo" ><use xlink:href="#logo-blanco"></use></svg>
             <img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/insurance/gnp/logotipo-agente-gris.png" width="110" height="30" class="img-fluid agente" alt="agente" />
           </a>
         </div>
   
         
   
         <div class="col-3 col-md-6 d-none d-md-inline">
           <a id="idTelDID" :href="'tel:55' +$store.state.config.telefonoAS" type="button" class=" btn-telef lista">
              <span class="imgtelef me-1"></span> 55{{$store.state.config.telefonoAS}}</a>
         </div> 
       </div>
     </div>
    </div>
   </template>
<style scoped>
@media screen and (max-width: 767px){
    .agente {
        display: none;
}
   }

   
</style>
   