<template>
 <div>
  <div class="container-fluid px-0 py-md-2">
    <div class="row">
      <div class="col-12 col-md-7 p-0 m-auto">
        <h1 class="tit1">Cotizador de Seguros de Auto</h1>
      </div>

      

      <div class="col-3 col-md-5 d-none d-md-inline">
        <a href="https://comparaya.mx/seguros-de-autos/">
          <svg class="icon-logo"><use xlink:href="#logo-blanco"></use></svg>
          <!-- <span class="logocompa mr-lg-5 float-right"></span> -->
        </a>
        <!--<a id="idTelDID" :href="'tel:55' +$store.state.config.telefonoAS" type="button" class=" btn-telef lista">
           <span class="imgtelef mr-1"></span> 55{{$store.state.config.telefonoAS}}</a>-->
      </div> 
    </div>
  </div>
 </div>
</template> 

