<template>
 <div>
  <div class="container-fluid px-0 py-md-2">
    <div class="row">
      <div class="col-6 my-auto">
        <a href="https://comparaya.mx/seguros-de-autos/">
          <svg class="icon-logo"><use xlink:href="#logo-blanco"></use></svg>

          <img src="img/agente.svg" width="150" height="30" class="img-fluid agente" alt="agente" v-if="this.$store.state.config.aseguradora == 'AFIRME'" />
        </a>
      </div>

      

      <div class="col-3 col-md-6 d-none d-md-inline">
        <a id="idTelDID" :href="'tel:55' +$store.state.config.telefonoAS" type="button" class=" btn-telef lista">
           <span class="imgtelef me-1"></span> 55{{$store.state.config.telefonoAS}}</a>
      </div> 
    </div>
  </div>
 </div>
</template> 

