<template>
  <div class="row d-none d-md-flex">
    <div class="col-12 col-md-4 mb-lg-3 text-center">
      <span class="tarjeta1c"></span>
      <small class="tsmall">{{ this.$store.state.config.dto }}</small>
    </div>
    <div class="col-12 col-md-4 mb-lg-3 text-center">
      <span class="etiq1c"></span>
      <small
        class="tsmall"
        v-if="
          this.$store.state.config.msi !== '' &&
          this.$store.state.config.aseguradora != 'QUALITAS'
        "
      >
        <small class="">{{ this.$store.state.config.msi }}</small>
        <small
          v-if="!this.$store.state.config.msi.toLowerCase().includes('meses')"
          class=""
          >{{ this.$store.state.config.extraMsg }}</small
        >
      </small>
      <small
        class="tsmall"
        v-if="
          this.$store.state.config.msi !== '' &&
          this.$store.state.config.aseguradora === 'QUALITAS'
        "
      >
        <small class="">{{ this.$store.state.config.msi }}</small>
        <small
          v-if="!this.$store.state.config.msi.toLowerCase().includes('meses')"
          class=""
        ></small>
      </small>
    </div>
    <div class="col-12 col-md-4 mb-lg-3 text-center">
      <span class="reloj1c"></span>
      <small class="tsmall">compara en 10 segundos</small>
    </div>
  </div>
</template>
