<template>
	<div>
		<div class="container-fluid bg-hdi">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto HDI</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'HDI';
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.corePer = true;
		this.$store.state.config.cotizacion = true; // se modifica el 16 julio
		this.$store.state.config.dataAli = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.descuento = 25;
		this.$store.state.config.telefonoAS = '88902230'; //
		this.$store.state.config.grupoCallback = 'VN HDI'; //
		this.$store.state.config.from = 'COMPARAYA-HDI';
		this.$store.state.config.idPagina = 159; //SE MODIFICO EN BASE AL ARCHIVO
		this.$store.state.config.idMedioDifusion = 5452; //VN HDI
		this.$store.state.config.idInteraccion = 5453; //VN Interacción
		this.$store.state.config.idEcommerce = 5454; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 17; //
		this.$store.state.config.idSubRamo = 32;
		this.$store.state.config.imgaseg = 'hdi';
		this.$store.state.config.urlRedireccion = 'hdi/ppc';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'HDI|comparaya-mx-hdi';

		this.$store.state.config.interior = 'hdi';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: '🥇HDI Seguros - Cotiza Seguro de Auto HDI - Compara Ya',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						' HDI, HDI Seguros, Seguros HDI, Seguros de Autos HDI, Seguro de Auto HDI, HDI Seguros Autos, Aseguradora HDI, Coberturas HDI',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'HDI Seguros cuenta con beneficios y servicios únicos en el mercado para tu auto ¡✅ Tu Seguro de Auto HDI en 30 segundos!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/hdi/ppc/',
				},
				{ hid: 'robots', name: 'robots', content: 'noindex, nofollow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #3b6837;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #3b6837;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #3b6837;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #3b6837;
	}
}
</style>

