<template>
	<div>
		<div class="container-fluid bg-atlas">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto ATLAS</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!-------------------------***************  CONTENIDO  *****************------------------------------>
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Ventajas de Contratar Seguros de autos Atlas
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Para que puedas disfrutar de tu auto con tranquilidad, debes
						cerciorarte de contratar un buen seguro de auto, con ello podrás
						utilizarlo con la protección y seguridad ante cualquier hecho que
						pudiera ocurrir. Compara Ya el seguro y conoce las alternativas que
						te ofrecen para que puedas tomar una decisión correcta. Por ello es
						que nos referimos a los seguros de auto que brinda Atlas, por su
						cobertura y sus beneficios.
					</p>
					<p class="text">
						Esperamos ya te hayas decidido, y si tu contratación la planeas
						hacer con Seguros Atlas, se encontrará con varias opciones, por un
						lado Atlas responde a los que establece la Comisión Nacional de
						Seguros y Fianzas, la cual estipula que todas las agencias de
						seguros de auto deben contar con una opción básica, la cual debe
						contar con una póliza con condiciones y requisitos simples. De tal
						manera, te permite beneficiarte como conductor con un seguro de auto
						que cubra lo indispensable.
					</p>
					<p class="text">
						Seguros para Autos Atlas ofrece más variedad para quienes deseen
						conseguir una protección más alta para sus autos; dentro de las
						alternativas que ofrece, se puede elegir la protección del auto por
						accidente o incluso por robo. Entre estas opciones, también se puede
						preferir asistencia en viajes, gastos médicos, daños materiales y
						más.
					</p>
					<p class="text">
						En la siguiente lista puedes observar los diferentes seguros de auto
						que se pueden conseguir.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Como en la mayoría de las
							aseguradoras, la póliza más básica es de Responsabilidad Civil.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Por consiguiente puedes encontrar
							el paquete que se llama Limitado, en donde se puede excluir la
							asistencia legal que ofrece el paquete anterior, pero al que se le
							agrega la protección en caso de robo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Una de las coberturas de seguro de
							auto más requeridas es el paquete amplio, en el que se le incluye
							la asistencia legal, la cual brinda un paquete anterior, sino que
							también ofrece protección al cliente por daños materiales y de las
							asistencias cuando realices viajes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La última opción es Atlas VIP,
							esta es una opción más completa con la que puedes obtener
							beneficios únicos, este es un plan un poco costoso, por lo que
							frecuentemente es elegida en casos específicos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Por último, se necesita saber que
							hay coberturas optativas con las que podrás seleccionar la mejor
							protección para tu póliza tomando en cuenta el precio total y tu
							situación financiera.
						</li>
					</ul>
					<p class="text">
						Como parte de las recomendaciones, la cobertura que selecciones es
						lo que te puede brindar la tranquilidad necesaria para conducir
						tranquilo, por todo ello es que se necesita que esté decidido al
						momento que se haga la solicitud de la póliza. Lo primero es que se
						piense en el uso que se le da al automóvil y de los riesgos a los
						que este se expone, así como que podrá tener en claro que clase de
						cobertura es la que necesita.
					</p>
					<p class="text">
						De cualquier forma no siempre se está a la altura económica para
						pagar el paquete que necesitamos. Es el punto en donde se analiza
						todas las posibilidades y que se trate de conseguir el mejor trato
						posible, esto es sumamente importante además de recordar que un buen
						seguro de auto, logrará que te ahorres algunos dolores de cabeza, en
						caso de accidente o incluso ante robo, una buena estrategia es que
						recibas la cotización de tu auto, así como advertir si el
						presupuesto está dentro de tus posibilidades.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Más Privilegios con Seguros Atlas en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						En Compara Ya sabemos que tu auto es parte de tu patrimonio, por
						ello es que te ofrecemos la seguridad de que con nosotros
						encontrarás las mejores coberturas para tu vehículo, con Seguros
						Atlas esto es posible compara sus beneficios y coberturas elige la
						mejor.
					</p>
					<p class="text">
						Gracias a la experiencia que tiene Seguros Atlas se encargará de
						proteger tu patrimonio y estabilidad económica; Seguros Atlas inicia
						su operación en noviembre de 1941, expidiendo las primeras pólizas
						en los ramos de Incendio, Marítimo y Transportes, Automóviles,
						Responsabilidad Civil y Diversos.
					</p>
					<p class="text">
						Es una compañía aseguradora que se caracteriza por adaptarse a los
						cambios que surgen a lo largo de su trayectoria, misma que les
						permite consolidarse con una estructura organizacional, capaz de
						efectuar los ajustes para mantener y mejorar de manera notable su
						posición en el mercado de seguros para autos.
					</p>
					<p class="text">
						Seguros Atlas, con un arriesgado espíritu de equipo y con su
						filosofía empresarial que está basada en la calidad de servicio, de
						Seguros Atlas logra ocupar hoy, una posición que destaca entre las
						compañías aseguradoras de nuestro país, en donde cabe mencionar que
						como parte de su gran tradición y experiencia de los empresarios
						mexicanos que han hecho posible este fenómeno único e irrepetible
						que es Seguros Atlas.
					</p>
					<p class="text">
						Todo esto se ve refleja no sólo por sus niveles de eficiencia y
						confiabilidad alcanzados, sino por su capacidad de respuesta
						adecuada y oportuna a las necesidades del cliente, así como el
						compromiso de seguir contribuyendo a la estabilidad y desarrollo del
						país que muestra esta compañía aseguradora.
					</p>
					<p class="text">
						Seguros para auto Atlas, tiene como principal objetivo, proporcionar
						a la sociedad a través de una contraprestación económica y de
						servicios capaces de cubrir las necesidades de seguridad ante los
						imprevistos que se presenten en contra de tu patrimonio y tu visa,
						proporcionando coberturas idóneas a la situación en general que se
						pueda presentar, con ello poder brindar atención amable, oportuna y
						eficaz, para dar un servicio personalizado y de calidad en el
						mercado.
					</p>
					<p class="text">
						Con este producto se puede lograr un proceso de realización y
						satisfacción tanto para los empleados como para los clientes que la
						conforman, para así poder lograr la estabilidad y desarrollo de la
						compañía, lo seguros de auto y del país.
					</p>
					<p class="text">
						En Seguros Atlas trabajan con principios de calidad y servicio,
						además de experiencia para proteger el patrimonio y estabilidad
						económica.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Seguros Atlas es una empresa
							financieramente solvente y de las más capitalizadas del sector
							asegurador.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Esta compañía aseguradora es una
							empresa 100% mexicana.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con el respaldo de más de
							75 años de experiencia en el mercado asegurador.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguros Atlas logra distinguirse
							por su trato personalizado y de excelente servicio.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Es una institución que cuenta con
							una amplia red de ajustadores y talleres autorizados, con la más
							alta calidad en su atención y servicio.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cada uno de sus clientes cuenta
							con la respuesta inmediata y el contacto a primer nivel.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguros Atlas cuenta con más de 50
							oficinas en toda la República Mexicana.
						</li>
					</ul>
					<p class="text">
						Una de las cosas que más valoran los usuarios o clientes es su
						tiempo, por ello es que Compara Ya te ofrece la eficacia de que en
						unos pasos consigas el mejor seguro para tu auto, conoce tus
						necesidades y los beneficios que te puede ofrecer Seguros Atlas.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="atlas#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">Coberturas de Seguros de Auto Atlas</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Si lo que necesitas es un paquete básico con el que puedas estar
						tranquilo, Seguros Atlas debe tener los datos del auto y el
						conductor para que pueda cotizar la póliza, en primer caso, es el
						que te brinda los beneficios más esenciales que la ley pide, la
						prima es fija para cualquier situación, pero no sucede lo mismo con
						los demás paquetes.
					</p>
					<p class="text">
						Al depender del tipo de seguro con un contrato y las cláusulas que
						se tenga en el contrato, es necesario recabar toda la información
						posible antes de que se establezca el precio por pagar, o cuando se
						ponga en contacto con un asesor Atlas y que le proporcione la
						información, este le informará la cotización para que pueda tomar la
						decisión adecuada.
					</p>
					<ul class="ps-3">
						<p class="text">
							<strong>Cobertura de Seguro Básico Atlas:</strong>
						</p>
						<li class="text lista">
							<span class="circulito"></span> Este seguro es exclusivo para
							autos particulares, sin que sea incluida las motocicletas, el
							transporte público, los taxis ni los vehículos de carga.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Brinda la protección a través de
							una cobertura de Responsabilidad Civil en Bienes y personas,
							exclusivas en la República Mexicana.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Es un plan de seguro que cuenta
							con una suma asegurada única, limitada a $250,000 ya sea para
							bienes como para personas o de la combinación de ambas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Te cubre los daños inclusive a
							falta de licencia o conduciendo bajo estado de ebriedad o de
							drogas, siempre y cuando se deriven de un hecho de tránsito.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La forma de pago es mensual,
							trimestral, semestral o anual.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Vigencia anual.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La tarifa varía por Entidad
							Federativa.
						</li>
					</ul>
					<ul class="ps-3">
						<p class="text">
							<strong
								>Seguro Obligatorio Federal de Caminos y Puentes Atlas:</strong
							>
						</p>
						<li class="text lista">
							<span class="circulito"></span> Es una póliza de seguro
							obligatorio, que ampara la Responsabilidad Civil a personas, con
							una suma asegurada de hasta $100,000 pesos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La cobertura del Seguro
							Obligatorio es exigible también para los asegurados con pólizas
							tradicionales de automóviles que sean contratados o renueven.
						</li>
					</ul>
					<ul class="ps-3">
						<p><strong>Cobertura Limitada Seguros Atlas:</strong></p>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil por daños a
							terceros.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos Médicos a ocupantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Defensa legal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Daños materiales.
						</li>
					</ul>
					<p class="text">
						Podemos destacar que es una empresa de seguros integrante de la
						sociedad mexicana, por lo que se puede inferir que conoce a la
						perfección las necesidades que cada uno de sus clientes mexicanos
						necesita. Con ello es que la compañía aseguradora puede ofrecerte
						las herramientas necesarias para que elijas alguna de sus
						coberturas, conocer los beneficios es algo elemental. Inclusive
						puedes elegir alguna de sus especificaciones adicionales con las que
						tu seguro estará complementado.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';

export default {
	layout: 'sin-alerta',

	beforeCreate() {
		this.$store.state.config.aseguradora = 'ATLAS';
		this.$store.state.config.cotizacion = false;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.corePer = true;
		this.$store.state.config.motor = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '47495143';
		this.$store.state.config.grupoCallback = 'VN Atlas';
		this.$store.state.config.from = 'COMPARAYA-ATLAS';
		this.$store.state.config.idPagina = 159; // se cambio 1220;
		this.$store.state.config.idMedioDifusion = 1292; // se cambio 1220;
		this.$store.state.config.idInteraccion = 2716; //VN Interacción
		this.$store.state.config.idEcommerce = 2715; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 43; //se cambio 43;
		this.$store.state.config.idSubRamo = 47; //8 5;
		this.$store.state.config.imgaseg = 'atlas';
		this.$store.state.config.urlRedireccion = 'atlas';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'ATLAS|comparaya-mx-atlas';

		this.$store.state.config.interior = 'atlas';
	},
	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'Seguros Atlas - Cotiza Seguros de Autos Atlas - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Seguros Atlas, Atlas Seguros, Seguros de autos Atlas, Cotizador Atlas, Aseguradora Atlas, Cotizar seguro de auto Atlas, Seguros Atlas Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con Seguros Atlas al mejor precio en Comparaya.mx! Compara 20 Aseguradoras, elige y en 30 Segundos tendrás tu seguro de auto Atlas. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/atlas',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #c31f39;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #c31f39;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #c31f39;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #c31f39;
	}
}
</style>
