<template>
  <div class="bg-atlas">
              <header-component/>
    <div class="container-fluid espacio-arr">
      <div class="row ">
        <div class="col-4 offset-1 d-none d-md-block">
          <div class="text-end">
            <img src="/seguros-de-autos/img/mono2.png" alt="mono compara" class="mono-grac">
          </div>
        </div>
       
        <div class="col-12 col-md-5 ms-md-5 my-4 my-md-auto">
          <h3 id="graciasPorcotizar" class="asegcoloraba titlethanks mb-0 mt-0">Hola {{this.$store.state.formData.nombre}},</h3>
          <h3 class="asegcoloraba titlethanks mb-0 mt-0"> ya tenemos las coberturas para tu seguro de auto:</h3>
          <h5 class="texto-a"> {{this.$store.state.formData.marca}} {{this.$store.state.formData.modelo}} {{this.$store.state.formData.descripcion}}   {{this.$store.state.formData.detalle}} </h5>
        </div>

      </div>
    </div>
    <thankaba-content/>
  </div>
</template>
<script>
  import HeaderComponent from '~/components/common/Header-gracias.vue'
  import ThankabaContent from '~/components/content/agradecimiento/Thankatlas.vue'
  export default {
    layout: 'thanks',
    async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
      HeaderComponent,
      ThankabaContent
    },
     head() {
      return {
        title: 'Seguros Atlas - Cotiza Seguros de Autos Atlas - Comparaya.mx',
        meta: [
         {hid: 'keywords', name: 'keywords', content: 'Seguros Atlas, Atlas Seguros, Seguros de autos Atlas, Cotizador Atlas, Aseguradora Atlas, Cotizar seguro de auto Atlas, Seguros Atlas Autos'}, 
          {hid: 'description', name: 'description', content: '¡Cotiza con Seguros Atlas al mejor precio en Comparaya.mx! Compara 20 Aseguradoras, elige y en 30 Segundos tendrás tu seguro de auto Atlas. ¡Es fácil y rápido!'}, 
          {hid: 'author', name: 'author', content: 'twitter | @vargasdesignMx'}, 
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'}, 
          {hid: 'canonical', rel: 'canonical', href:'https://comparaya.mx/seguros-de-autos/atlas/thanks/'}, 
          {hid: 'robots', name:'robots', content:'index,follow'},
        ]
      }
    },
    created: function () {
      if (this.$store.state.formData.nombre != '') {
        this.$store.state.config.loading = true;
        this.$store.state.cotizacionInterna = true;
        this.$store.commit('validateData');
      }
      else {
        this.$router.replace({path: '/error/'});
      }
      this.$store.state.config.telefonoAS = '5547495115';
    }
  
  };
  
</script>
<style>
  .asegcolor{color: #c4243e;font-weight: bold;}
  .btnv{display: none;}
  .subtitleh1{color: #888;}
  .h1style{color: #555;}
</style>

