<template>
	<div>
		<div class="container-fluid bg-sura">
			<header-component />

			<div class="row">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto Sura</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!---------------------------------*************  C O N T E N I D O  *************------------------------------------>
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Ventajas de Contratar Seguros de autos Sura</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Sura Seguros se encuentra consolidada como una de las compañías
						aseguradoras más importantes en nuestro país, Sura Seguros de Autos
						además de trabajar para poder ofrecerte las mejores alternativas y
						soluciones del mercado contra toda clase de imprevistos que se te
						puedan presentar, puedes recibir el respaldo financiero necesario
						contra cualquier tipo de siniestros e imprevistos que te puedan
						ocurrir, para que de la misma manera puedas mantener el cuidado de
						tu estabilidad economica y tu patrimonio, pero objetivamente que
						obtengas la estabilidad y tranquilidad que tu familia requiere.
					</p>
					<p class="text">
						Con Compara Ya, siéntete seguro y confiado de que obtendrás el mejor
						servicio eficiente que necesitas, pues estas iniciando por la
						atención personalizada que le da a cada uno de sus clientes,
						respondiendo a todo lo que pueda sucederte. Recuerda que estos
						también te brindan los mejores beneficios como:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Respaldo económico por daños a
							terceros de hasta 3 millones de pesos, por medio de las que se
							encuentran las soluciones a los problemas que puedan ocurrir a
							causa de un accidente que provocaste, estarán cubiertos con la
							protección para ti y tu familia, ya que recibirás la
							responsabilidad civil que necesitas para afrontar cualquier tipo
							de imprevistos que se puedan presentar.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asesoría y asistencia jurídica: en
							caso de que necesites la protección de tu seguro por cualquier
							proceso penal o civil en tu contra, obtendrás el servicio de un
							abogado y de todos sus honorarios serán cubiertos en su totalidad,
							además de los pagos de fianza, etc.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia las 24 horas, los 365
							días del año, en el servicio de grúas en los envíos de gasolina,
							cambio de neumáticos, además de contar con un conductor designado
							en caso de que te encuentres en estado inconveniente.
						</li>
					</ul>
					<p class="text">
						Si lo que deseas es adquirir el mejor servicio y atención ante tus
						posibles imprevistos o prevenir gastos por accidentes, contar con tu
						seguro de auto Sura te brinda la mejor solución de atención y
						servicio. Ahorra tiempo, una de las principales recomendaciones que
						recibimos antes de contratar un seguro de auto es la de comparar y
						cotizar; esto en función de conocer las diferentes coberturas y
						planes que ofrecen las compañías aseguradoras, para ello es que en
						Compara Ya trabajamos, pues analizamos la oferta de Sura Seguros y
						resaltamos los puntos de beneficio y ventaja que esta te ofrece.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="sura#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-5 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Más Privilegios con Sura Seguros en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Contar con un seguro de auto es adquirir la garantía de bienestar,
						tranquilidad y seguridad, pues ante un imprevisto como lo resulta
						ser un accidente, tu seguro de auto Sura te otorga el apoyo y
						respaldo que necesitas para resolver las consecuencias.
					</p>
					<p class="text">
						Con la firme creencia de mejorar constantemente sus servicios, así
						como la capacidad de brindarte la más alta calidad que como cliente
						te mereces, los Sura Seguros y sus póliza de seguro de auto han
						logrado establecer un crecimiento tecnológico con la más alta
						calidad de innovación, además de ello, cuenta con una sólida
						estructura y estabilidad financiera, mediante esta pues es que te
						benefician con la atención que requieres, además de cuidarte ante
						cualquier siniestro que te pueda ocurrir.
					</p>
					<p class="text">
						Sura Seguros se caracteriza por ser una aseguradora de autos capaz
						de brindar todo lo que necesitas, es que responde de manera oportuna
						ofreciendo diferentes productos y servicios de calidad, así como
						poder mantenerse a la vanguardia, en las distintas necesidades que
						día con día aparecen en el mercado mexicano.
					</p>
					<p class="text">
						Seguros de auto Sura se preocupa por cuidar de ti, tu patrimonio y
						de tu familia, ante los posibles riesgos de perder todo, por ello es
						que se encarga de diseñar y planear, estrategias, planes accesibles
						y atractivos, mismos que se fijan un mayor valor a la indemnización
						en caso de siniestro.
					</p>
					<p class="text">
						Sura Seguros se caracteriza por ser una compañía aseguradora que
						trabaja para que cada uno de sus clientes puedan sentirse amparados
						en todo momento, en la actualidad cuenta con sistemas especializados
						para la prevención en el robo de autos, y sobre todo de las
						eficientes para una rápida recuperación, o localización de los
						vehículos.
					</p>
					<p class="text">
						En cada uno de los procedimientos Sura ha podido desarrollar a
						través de sus esfuerzos y de los localizadores digitales con los que
						trabaja, y gracias a este servicio es que te puede garantizar la
						seguridad que necesitas, así como las herramientas para que
						verdaderamente procuren tu tranquilidad y la de tu familia, pues
						además de todo esto, logra determinar también todos los deducibles
						desde su inicio, hasta lo que le permite ofrecer las mejores
						alternativas para la suma asegurada de tu auto desde el momento de
						la contratación.
					</p>
					<p class="text">
						Suramericana S.A. surgió en 1944 en Colombia como compañía
						aseguradora, con el tiempo generó diferentes líneas de negocio, que
						en la actualidad se especializa en el aseguramiento de tendencias y
						riesgos. Se puede distinguir por sus buenas prácticas en materia
						económica, con responsabilidad social y ambiental.
					</p>
					<p class="text">
						Sura Seguros forma parte del índice mundial de sustentabilidad Dow
						Jones con las operaciones en el Salvador, República Dominicana,
						Panamá y Brasil. En 2016, se logra consolidar con su presencia en
						América Latina, gracias a la adquisición de las operaciones de RSA
						en México, Chile, Argentina, Brasil, Uruguay y Colombia.
					</p>
					<p class="text">
						En Latinoamérica Sura Seguros ofrece productos como las pólizas
						corporativas:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Seguro de vida de familiares.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguro contra accidentes para tus
							empleados.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos funerarios en grupo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguro de hogar contra accidentes
							o desastres naturales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguro para escuelas, seguro
							contra daños de una empresa.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguro para vehículos de
							transporte.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguro para flotillas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguro para maquinarias y equipo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguro contra daños materiales
							durante trabajos de una construcción.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguro para PyMe.
						</li>
					</ul>
					<p class="text">
						También te brinda soluciones en seguridad social, con servicios
						especializados en laboratorios clínicos, consultoría en gestión de
						riesgos, instituciones que se encargan de prestar servicios de salud
						y seguros especializados como el del seguro para quemaduras,
						fracturas de hueso y de desempleo, entre otros.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">Coberturas de Sura Seguros de Auto</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Con Sura Seguros podrás disfrutar de adquirir el respaldo de una
						compañía aseguradoras con una importante experiencia en toda
						Latinoamérica; Sura ofrece una cobertura C Premium, con la gama de
						beneficios más completa del mercado diseñada para los clientes más
						exigentes, con cobertura de todo riesgo, una cobertura tan completa
						como accesible, con una red propia de talleres sugeridos para
						reparar los vehículos, además de sus amplios beneficios en las
						opciones de autos clásicos, con coberturas especiales para estos
						automóviles.
					</p>
					<p class="text">
						Así como el beneficio de encontrar las coberturas diseñadas para
						autos como pick ups y motos clásicas o de colección, en cuya
						antigüedad esta sea mayor a 30 años, misma en la que los asegurados
						podrán contar con los beneficios si sus autos fueron fabricados en
						serie, 100% originales de fábrica, en cuyo casos sea destinado a
						exposición, con participación en competencias y pruebas de habilidad
						conductiva, además de la cobertura a Terceros Completos Clima, misma
						que se diseñó para ofrecer una respuesta efectiva ante daño
						ocasionados por el clima.
					</p>
					<p class="text">
						Cada una de las coberturas Sura Seguros cuenta con importantes
						ventajas:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Reposición de cristales laterales
							por intento de robo sin límite.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Reposición de parabrisas y lunetas
							sin límite.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura de daños a cerraduras.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cláusula por destrucción total del
							80%.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Reposición de 0 Km durante el
							primer año.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura de daños por robo o
							hurto total sin límite.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Reposición de cubiertas sin
							desgaste hasta por 2 años de antigüedad.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura por accidentes
							personales del conductor.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Mecánica y Legal las 24
							horas, los 365 días del año.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Alcance de la cobertura para
							granizo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Alcance de la cobertura para
							accesorios.
						</li>
					</ul>
					<p class="text">
						Cobertura de Seguro Sura Top Driver: Es una cobertura de los
						productos de auto más completo del mercado con las coberturas y
						beneficios que te darán el respaldo que requieres durante todo tu
						camino.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Daños materiales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Accidentes automovilísticos al
							conductor.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos a ocupantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia vial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia legal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cubre tu Responsabilidad civil.
						</li>
					</ul>
					<p class="text">
						Sura Seguros Coberturas adicionales sin costo: Son los planes de
						cobertura adicional que te otorgan mayor beneficio y estabilidad en
						cada una de tus coberturas, pues lograrás concretar con ciertos
						beneficios adicionales que le agregaran valor a tu póliza de seguro
						y protección.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Devolución de primas en caso de
							pérdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Auto sustituto en caso de la
							pérdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Extensión de responsabilidad
							civil.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos en exceso.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Accidentes de auto al conductor
							por exceso.
						</li>
						<li class="text lista">
							<span class="circulito"></span> 0% de deducible en daños
							materiales y robo en pérdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguros Sura Agencias 10 años: Con
							la que te ofrece el servicio de agencia para auto con hasta 10
							años de antigüedad.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguros Sura de Neumáticos: Puedes
							proteger los neumáticos de tu auto en caso de daño accidental.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguros Sura Muévete: En caso de
							pérdidas parciales te ofrecerán un auto con las mismas
							características que el tuyo, durante el tiempo estimado de la
							reparación.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguros Sura Protégete: Serás
							capaz de eliminar el pago de deducible en caso de que un tercero
							no cuente con su seguro vigente.
						</li>
					</ul>
					<p class="text">Seguro Sura Cobertura Amplia:</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Daños materiales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo Total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Accidentes de auto al conductor.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos Médicos a ocupantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia vial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia legal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil.
						</li>
					</ul>
					<p class="text">Seguro Sura Cobertura Limitada:</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Daños materiales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Accidentes automovilísticos al
							conductor.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos a ocupantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia vial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia legal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad civil.
						</li>
					</ul>
					<p class="text">Seguro Sura Cobertura Básica:</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Accidentes automovilísticos al
							conductor.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos a ocupantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia vial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia legal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad civil.
						</li>
					</ul>
					<p class="text">
						Seguros Sura Cobertura de RC Obligatoria: Es la protección mínima e
						indispensable con la que puedes circular en las carreteras federales
						de acuerdo a la nueva disposición de CAPUFE (Caminos y Puentes
						Federales.)
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Daños a personas, en sus lesiones
							físicas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Daños materiales.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'SURA';
		this.$store.state.config.motor = true;
			this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 10;
		this.$store.state.config.telefonoAS = '88902306';
		this.$store.state.config.grupoCallback = 'VN Sura';
		this.$store.state.config.from = 'COMPARAYA-SURA';
		this.$store.state.config.idPagina = 187;
		this.$store.state.config.idMedioDifusion = 1287;
		this.$store.state.config.idInteraccion = 2740; //VN Interacción
		this.$store.state.config.idEcommerce = 2739; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 110;
		this.$store.state.config.idSubRamo = 34; //8
		this.$store.state.config.imgaseg = 'sura';
		this.$store.state.config.urlRedireccion = 'sura';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'SURA|comparaya-mx-sura';

		this.$store.state.config.interior = 'sura';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'Sura Seguros - Cotiza Seguros de Autos Sura - Comparaya.mx ',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Sura, Sura Seguros, Seguros Sura, Seguros de autos Sura, Cotizador Sura, Aseguradora Sura, Cotizar seguro de auto Sura, Seguros Sura Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con Sura Seguros al mejor precio en Comparaya.mx! Compara 20 Aseguradoras, elige y en 30 Segundos tienes tu seguro de auto Sura. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/sura/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
</style>
