<template>
	<div>
		<div class="container-fluid bg-mapfre">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto Mapfre</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>

		<!--***************  C O N T E N I D O S  ****************-->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Ventajas de Contratar Seguros de autos Mapfre
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Es importante que sepas, que desde el momento de tu contratación con
						alguna de las coberturas de Mapfre Seguros, está te está
						garantizando un sinfín de beneficios y ventajas sobre las demás
						aseguradoras, los cuáles corresponden a cada uno de las necesidades
						que los clientes han demostrado tener, sin importar la situación en
						la que se encuentre el asegurado, esté estará respaldado.
					</p>
					<p></p>
					<p class="text">
						Al contratar tu póliza de seguro para auto de Mapfre estás
						obteniendo un servicio eficiente que necesitas, además que comienzas
						con la protección y la atención personal, de alguno de los asesores
						expertos en el tema asegurador, los cuáles te responderán a todo lo
						que tengas duda, acerca de los Seguros de Autos Mapfre, puedes
						apoyarte de ellos para elegir la cobertura que mejor te convenga,
						recibe beneficios tales como:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Asistencia Vial sin límite de
							eventos, en los que se te suele incluir el servicio de grúa y sin
							algún costo adicional.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Garantía para cada uno de tus
							neumáticos, contra cualquier daño que le puedan ocasionar o que
							puedan sufrir, a causa de accidentes o pinchaduras.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Uno de los más grandes beneficios
							que Mapfre tiene es la protección por el establecimiento del
							motor, esto solo en caso de que sea provocado por un choque,
							vuelco o inundación del auto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cubre tu rotura de cristales y
							espejos, con Mapfre estarás cubierto ante cualquier situación en
							la que se te pueda generar este problema, pero además de ello se
							te incluye también la mano de obra por la reparación.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cada uno de los servicios
							mecánicos o de cualquier otro tipo de reparaciones, se llevarán a
							cabo en agencia, aunque también dispondrás de talleres de apoyo
							certificados. Este tipo de beneficio es para los autos que cuenten
							con una antigüedad no mayor a 10 años.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Mapfre es la única compañía
							aseguradora que cuenta con pólizas para vehículos de todo terreno,
							a los cuáles protegerá contra cualquier daño que llegue a sufrir
							en caso de encontrarse en una eco aventura por lugares poco
							transitables.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes disponer de un conductor,
							esto en caso de que te encuentres en estado inconveniente para
							manejar, pero que además puedes solicitarlo en situaciones como la
							reparación de tu auto o durante el proceso de indemnización por
							pérdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Si tu auto supera los daños por el
							50% del costo total sobre la reparación, podrás determinar si esta
							toma la alternativa de pérdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Tu Responsabilidad Civil te
							protege en todo México y en el extranjero, con la asesoría legal
							incluida, además del pago de la fianza.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Coberturas de Mapfre Seguros de Auto</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Cómo te puedes dar cuenta un dato muy importante son las coberturas
						que ofrece Mapfre para tu seguro de auto, dentro de las que
						seguramente encontraras la que mejor se adapte a tus necesidades, ya
						que puedes estar tranquilo pues este te respalda en cada momento que
						lo necesites.
					</p>
					<ul class="ps-3">
						<li class="text">
							<strong>Cobertura Mapfre Responsabilidad Civil:</strong>
						</li>
						<li class="text lista">
							<span class="circulito"></span> Este tipo de cobertura asegura los
							daños que sean causados por el vehículo asegurado a terceros en
							sus bienes y/o personas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Como parte de sus ventajas este
							junto con el producto de Cobertura Básica ofrecen a los
							automóviles:
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección derivada de la
							Responsabilidad Civil por daños a terceros en bienes y personas
							hasta por $250,000. En caso de que sufras algún accidente, puedes
							contar con el respaldo de una gran institución como Mapfre.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con una red propia de
							atención, cabina, ajustadores y valuación de siniestros Mapfre.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La cobertura opera sin el cobro de
							los deducibles.
						</li>
					</ul>
					<ul class="ps-3">
						<li class="text">
							<strong
								>Como parte de los beneficios que más destacan de este plan de
								cobertura son:</strong
							>
						</li>
						<li class="text lista">
							<span class="circulito"></span> Fácil de cotizar y contratar.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Se trata de un seguro más barato,
							al alcance de todo el mundo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La vigencia de este seguro es que
							se contrata de manera anual, eres tu quien eliges la manera y
							forma de pago que te resulte más cómoda, ya sea de contado,
							semestral o trimestral.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Este plan logra cubrir los daños
							incluso a la falta de licencia o de conducir bajo el estado de
							ebriedad, siempre y cuando estos sean derivados de un hecho de
							tránsito.
						</li>
					</ul>
					<ul class="ps-3">
						<li class="text">
							<strong>Seguro de auto amplia premium:</strong>
						</li>
						<li class="text">
							<strong>
								Como parte de las principales ventajas que ofrece este plan
								podemos encontrar:
							</strong>
						</li>
						<li class="text lista">
							<span class="circulito"></span> Central de emergencias con
							atención bilingue las 24 horas, los 365 días del año.
						</li>
						<li class="text lista">
							<span class="circulito"></span>Red propia de ajustadores y
							talleres exclusivos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Consulta de tu reparación en
							Internet.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Red de abogados para propia
							necesidad pues te otorgan el servicio de asistencia legal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Agencias en convenio.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Una vez que te hayan entregado
							toda la documentación para las indemnizaciones por pérdida total o
							de los pagos en transfericia se realizan en los 5 días habiles.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Un portal de venta que es
							exclusivo, con el cual se pueden cotizar diferentes paquetes y
							encontrar el que se adecue a todas tus necesidades y presupuestos.
						</li>
					</ul>
					<ul class="ps-3">
						<li class="text">
							<strong
								>Como parte de sus beneficios más representativos
								encontramos:</strong
							>
						</li>
						<p class="text lista">
							<span class="circulito"></span
							><strong>Beneficios de la cobertura de Daños Materiales:</strong>
							Además de amparar las pérdidas materiales que sufra el vehículo a
							consecuencia de Colisiones, Incendio, Fenómenos
							hidrometeorológicos, esta cobertura cubre daños por impacto de
							bala, la rotura y el desprendimiento de espejos laterales, así
							como el desbielamiento por inundación y por daños a las Partes
							Bajas. En caso de pérdida total se indemnizará con el valor de
							venta de la guía EBC.
						</p>
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Beneficios de la Cobertura de Robo total:</strong> con
							este beneficio el cliente puede recibir una indemnización en caso
							de que su vehículo sea robado en tu totalidad, o en caso de
							pérdida total se puede indemnizar con el valor de venta.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong
								>Beneficios de la Cobertura de Responsabilidad Civil:</strong
							>
							Cubre la responsabilidad civil del hijo del asegurado aunque sea
							menor y carezca de licencia de conducir; cubre los daños
							ocasionados por el vehículo asegurado aunque el conductor carezca
							de licencia de conducir vigente, además cubre los daños causados
							por accesorios como portaequipajes, portabicicletas, etc.,
							instalados en el vehículo.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="mapfre#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">Más Privilegios con Mapfre en Compara Ya</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						En Compara Ya sabemos que el cuidado de tu auto es uno de los
						pendientes más importantes en tu mente, pues ante cualquier tipo de
						daño o de siniestro que te pueda ocurrir, corres un gran riesgo tu y
						tu patrimonio, sobre todo al momento de buscar una estabilidad para
						tu familia. Quizá una de las cosas más importantes es encontrar un
						seguro de auto óptimo y eficaz, por ello es que Seguros Mapfre te
						brinda la protección que necesitas para poder sentirte protegido en
						cualquier parte del país, contra toda clase de imprevistos que te
						puedan ocurrir.
					</p>
					<p class="text">
						Seguros Mapfre se especializa a lo largo de sus años de experiencia
						en brindar los mejores servicios de la más alta calidad, además de
						enfocarse en el sector automotriz que estudia día a día las
						exigencias que surgen en el mercado, con un respaldo que brinda la
						solidez financiera que cada uno de sus clientes necesita. Además de
						todo ello, Mapfre es una compañía aseguradora que se caracteriza por
						contar con una amplia variedad en sus coberturas, con las cuáles se
						puedan adaptar a tus necesidades, lo que significa importante, pues
						de estas formas podrás elegir la que mejor te convenga, y a los
						mejores precios del mercado.
					</p>
					<p class="text">
						Seguros Mapfre se ha especializado durante toda la trayectoria en
						brindar servicios de las más alta calidad, que se puede enfocar al
						sector automotriz o que estudia día con día a las necesidades que
						surgen en el mercado, respaldando con la solidez financiera que los
						clientes necesitan. Pero con ello es que la compañía aseguradora
						Mapfre es una compañía que se caracteriza por contar con una amplia
						oferta de beneficios, lo que significa importante, pues de esta
						manera podrás elegir la que mejor te convenga y a los mejores
						precios del mercado.
					</p>
					<p class="text">
						Puedes obtener lo que necesitas con Seguros Mapfre, además de la
						tranquilidad de que te sentirás respaldado, ya que era un apoyo
						total por accidentes, como el robo o la pérdida total de tu auto, y
						es que los seguros de auto Mapfre te brindan la atención en
						distintos talleres mecánicos por todo México, inclusive si fuiste tú
						quien haya provocado a otros autos, estarás amparado totalmente por
						Mapfre, así como la protección que necesites dentro y fuera de tu
						territorio, incluyendo en el extranjero, pues en caso de daños a
						terceros, recibirás la solidez financiera que necesitas.
					</p>
					<p class="text">
						Con Mapfre puedes estar protegido ante toda clase de accidentes que
						pudieran pasarse, ya que te brinda lo necesario para que tu
						bienestar sea óptimo; realmente tu economía es algo primordial para
						que puedas disfrutar de un buen futuro, es así que en Compara Ya
						trabajamos con Seguros Mapfre porque nos preocupamos por cuidar de
						ti y proteger tu inversión, y es que si no cuentas con un seguro de
						auto, puedes correr el riesgo de perder todo, tu patrimonio y
						dinero.
					</p>
					<p class="text">
						Por todo ello es que adquirir tu póliza de seguro de auto en Mapfre
						es necesario, para que te sientas seguro desde el momento en que
						enciendas tu vehículo, durante todo tu trayecto y en cualquier lugar
						en donde te encuentres, pues estas respaldado de una compañía que es
						destacada por su responsabilidad y capacidad de respuesta, esta te
						va a amparar contra todo tipo de imprevistos a los que siempre te
						encuentras expuesto, además que se caracteriza por responder lo más
						pronto a las necesidades y solicitudes de sus clientes, teniendo
						como principio puntual siempre ir más allá, tratando siempre de dar
						los mejores servicios.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'MAPFRE';
		this.$store.state.config.motor = true;
		this.$store.state.config.corePer = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '88902266'; //SE MODIFICO A BASE DEL ARCHIVO
		this.$store.state.config.grupoCallback = 'VN COMPARADOR M';
		this.$store.state.config.from = 'COMPARAYA-MAPFRE';
		this.$store.state.config.idPagina = 187; //MODIFICADO CONFORME AL ARCHIVO
		this.$store.state.config.idMedioDifusion = 1281; //VN MAPFRE
		this.$store.state.config.idInteraccion = 2404; //VN Interacción
		this.$store.state.config.idEcommerce = 2403; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 43; //
		this.$store.state.config.idSubRamo = 43; //8
		this.$store.state.config.imgaseg = 'mapfre';
		this.$store.state.config.urlRedireccion = 'mapfre';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'MAPFRE|comparaya-mx-mapfre';

		this.$store.state.config.interior = 'mapfre';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'Mapfre Seguros - Cotiza Seguros de Autos Mapfre - Comparaya.mx ',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Mapfre, Seguros Mapfre, Mapfre Seguros, Seguros de autos Mapfre, Cotizador Mapfre, Aseguradora Mapfre, Cotizar seguro de auto Mapfre, Seguros Mapfre Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con Mapfre Seguros al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Mapfre. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/mapfre/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #ff021b;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #ff021b;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #ff021b;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #ff021b;
	}
}
</style>

