<template>
	<div>
		<div class="container-fluid bg-aba">
			<header-component />
			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />
					<div class="d-none d-md-block text-center mt-md-5">
						<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto ABA</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>

	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';

export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'ABA';
		this.$store.state.config.corePer = true;
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.descuento = 20;
		this.$store.state.config.telefonoAS = '88902269'; //modificado cono en el archivo
		this.$store.state.config.grupoCallback = 'VN ABA';
		this.$store.state.config.from = 'COMPARAYA-ABA';
		this.$store.state.config.idPagina = 187; // se cambio 1220 a 1080;
		this.$store.state.config.idMedioDifusion = 4454; // VN ABA
		this.$store.state.config.idInteraccion = 4455; //VN Interacción
		this.$store.state.config.idEcommerce = 4456; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 4; //se cambio 43;
		this.$store.state.config.idSubRamo = 39; //8;
		this.$store.state.config.imgaseg = 'aba';
		this.$store.state.config.urlRedireccion = 'aba/gen';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'ABA|comparaya-mx-aba';

		this.$store.state.config.interior = 'aba';
		this.$store.state.config.imgcarro = 'mono1';
	},
	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: '🥇ABA Seguros de Autos - Cotiza en Segundos  - Compara Ya',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'ABA Seguros, Seguros ABA, Seguros de Autos ABA, Seguro de Auto ABA, ABA Seguros Autos, Aseguradora ABA, ABA Seguros de Autos, Póliza de Seguros ABA',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'  ABA Seguros, empresa presente en 54 países respalda tu patrimonio y tu auto. ¡✅ Seguro de Auto ABA en segundos en Compara Ya! ',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/aba/gen/',
				},
				{ hid: 'robots', name: 'robots', content: 'noindex, nofollow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
</style>
