<template>
	<div>
		<div class="container-fluid bg-aig">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />
					<div class="d-none d-md-block text-center mt-md-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto AIG</h1>
					<p class="text-center text-peq">
						Ingresa los datos de tu auto y conductor para encontrar el mejor
						precio en Aig
					</p>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
				<!--VISTA DE CEL-->
				<div class="row m-0 d-md-none py-3">
					<div class="col-4 col-md-4 mb-lg-3 text-center">
						<span class="tarjeta1c"></span>
						<small class="">12 Meses Sin Intereses </small>
					</div>
					<div class="col-4 col-md-4 mb-lg-3 text-center">
						<span class="etiq1c"></span>
						<small class="">Ahorra hasta el 50%</small>
					</div>
					<div class="col-4 col-md-4 mb-lg-3 text-center">
						<span class="reloj1c"></span>
						<small class="">compara en 10 segundos</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';

export default {
	layout: 'sin-alerta',

	beforeCreate(){ 
		this.$store.state.config.aseguradora = 'AIG';
    	this.$store.state.config.motor = true;
		this.$store.state.config.corePer = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '28814666';
		this.$store.state.config.grupoCallback = 'VN AIG';
		this.$store.state.config.from = 'COMPARAYA-AIG';
		this.$store.state.config.idPagina = 159;
		this.$store.state.config.idMedioDifusion = 1289;
		this.$store.state.config.idInteraccion = 2712; //VN Interacción
		this.$store.state.config.idEcommerce = 2711; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 43;
		this.$store.state.config.idSubRamo = 44; //8
		this.$store.state.config.imgaseg = 'aig';
		this.$store.state.config.urlRedireccion = 'aig/gen';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'AIG|comparaya-mx-aig';

		this.$store.state.config.interior = 'aignuevo';
	},
	async created() {
		this.$store.commit("telApi");
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'AIG Seguros - Cotiza Seguros de Autos AIG - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'AIG, AIG Seguros, Seguros AIG, Seguros de autos AIG, Cotizador AIG, Aseguradora AIG, Cotizar seguro de auto AIG, Seguros AIG Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con AIG Seguros al mejor precio en Comparaya.mx! Compara 20 Aseguradoras, elige y en 30 Segundos tendrás tu seguro de auto AIG. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/aig/gen/',
				},
				{ hid: 'robots', name: 'robots', content: 'noindex, nofollow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #7fa0d2;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #7fa0d2;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #7fa0d2;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #7fa0d2;
	}
}
</style>
