<template>
  <div>
      <!-- <cookies/> -->
    <nuxt/>
  </div>
</template>
<script>

  import cookies from '~/components/common/cookies.vue'
  export default {
    
    components: {
      cookies
    }
  };
</script>

