<template>
  <div>
    <nuxt/>
    <!-- <footer-component/> -->
  </div>
</template>
<script>

  import FooterComponent from '~/components/common/Footer.vue'
  export default {
    
    components: {
      FooterComponent
    }
  };
</script>






