<template>
  <div>
    <botonarriba-component />
    <nuxt/>
    <footer-component/>
  </div>
</template>
<script>
  import botonarribaComponent from '~/components/common/boton-arriba.vue' 

  import FooterComponent from '~/components/common/Footer.vue'
  export default {
    
    components: {
      botonarribaComponent,
      FooterComponent
    }
  };
</script>
