<template>
	<div>
		<div class="container-fluid bg-aig">
			<header-component></header-component>
			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<ficha></ficha>
					<div class="row d-none d-md-block text-center mt-md-5">
						<div class="col-12">
						<!-- Prueba de 15/12/2022 -->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
						</div>
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto AIG</h1>
					<p class="text-center text-peq">
						Ingresa los datos de tu auto y conductor para encontrar el mejor
						precio en Aig
					</p>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
				<div class=" m-0 d-md-none ">
					<div class="col-4 col-md-4 mb-lg-3 text-center">
						<span class="tarjeta1c"></span>
						<small class="">12 Meses Sin Intereses </small>
					</div>
					<div class="col-4 col-md-4 mb-lg-3 text-center">
						<span class="etiq1c"></span>
						<small class="">Ahorra hasta el 50%</small>
					</div>
					<div class="col-4 col-md-4 mb-lg-3 text-center">
						<span class="reloj1c"></span>
						<small class="">compara en 10 segundos</small>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Ventajas de Contratar Seguros de autos AIG</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">AIG es una de las compañías aseguradoras mejor calificadas por cada uno de sus clientes, su calificación es tomada del Buró de Entidades Financieras, esta es la herramienta que logra evaluar a las entidades financieras. Para cada aseguradora, se pueden apreciar las Reclamaciones y Controversias que se reciben, así como las Sanciones aplicadas por la Condusef.</p>
					<p class="text"> Se debe tomar como referencia el Seguro Básico Estandarizado de Automóviles, mismo que puede funcionar como el Seguro de Responsabilidad Civil Obligatorio, y que además cubre los requerimientos básicos por ley, con las mismas coberturas de AIG Seguros que se obtiene como calificación, para poder ocupar el puesto 19 de las 23 compañías aseguradoras que entran a estas valoraciones.</p>
					<p class="text"> Los tres paquetes principales que ofrece AIG en su seguro de auto cuenta con diferentes coberturas del mercado; pero de la suma asegurada que ofrece este suelen ser superiores al promedio, en especial a las coberturas de Gastos Médicos destinadas para los ocupantes.</p>
					<p class="text"> Como parte de sus beneficios o ventajas sobre las demás Seguros AIG brinda la protección de tu auto ante los daños, que pueda sufrir, o de los daños que se les pueda causar a un tercero.</p>
					<ul id="check" class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Automóvil Turista: Para los vehículos de uso particular turístico que circulan en México por un tiempo determinado y que fueron adquiridos en el extranjero.
						</li>
						<li class="text lista"><span class="circulito"></span> Cobertura Básica: Son protecciones que AIG auto, ofrece la cobertura básica que respalda a su patrimonio y a la tranquilidad de su familia asegurando su auto contra los daños a terceros o de la responsabilidad civil con un límite único y de combinado, así como los gastos médicos de los ocupantes, asistencia vial, defensa legal y de fianza.</li>
					</ul>
					<ul id="check" class="ps-3">
						<li class="text lista"><span class="circulito"></span>Cobertura Limitada: Es la protección que AIG Auto brinda en su cobertura limitada para su vehículo contra robo total del auto, más daños a terceros, con la responsabilidad civil límite único y en los gastos médicos de los ocupantes, asistencia vial, defensa legal y fianza.</li>
						<li class="text lista"><span class="circulito"></span> Blindaje y Movilidad Total.</li>
						<li class="text lista"><span class="circulito"></span> Cobertura Amplia: Contarás con laprotección de AIG Auto amplia, este es un seguro muy completo conel que podrás proteger tu auto contra cualquier eventualidad,además te incluye la responsabilidad civil.</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura Gold: Es la protección de AIG AUTO con mayor beneficios, cuenta con la máxima cobertura e incluye el paquete amplio con el que se puede eliminar el deducible en caso de la pérdida total y de la devolución de las primas netas, entre otro tipo de beneficios.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura para Flotilla de autos: Esta es la que brinda atenciones especialmente diseñadas para la protección de flotillas o agrupaciones a partir de 5 unidades y de su uso comercial o de particulares. Preferentemente esta debe ser compuesta con al menos 50% de autos, se le puede comprender como uso comercial aquellas unidades que sean utilizadas directamente en las actividades lucrativas.
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img src="/seguros-de-autos/img/circulo-mono.png" alt="mono2" class="monocirc d-none d-md-block" />
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a href="/seguros-de-autos/aig/#formulario" class="my-2 btn btn-block btn-success btncotiza">
								<div class="form-e">Cotizar Ahora <span class="f-sig"></span></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Más Privilegios con AIG Seguros en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">AIG es una de las compañías aseguradoras que cuenta con más experiencia en el mercado de seguros en el mercado mexicano. Cuenta con más de 400 empleados alrededor de todo el país y cuenta con una red de más de mil agentes.</p>
					<p class="text">En nuestro país, AIG tiene el precedente de la experiencia de una compañía aseguradora yucateca la Interamericana en 1945; para la década de los noventa American International Group (AIG) y que pueda adquirir el 49% de las acciones de Seguros Interamericana de los años noventa, el 49% de las acciones de Seguros Interamericana y se renombra como AIG México Seguros Interamericana S.A. de C.V.</p>
					<p class="text">En el año 2013, se consolida como una empresa estable gracias a su liderazgo en el mercado de los seguros y se logra instituir legalmente como filial de American International Group. En territorio nacional y el mundo, AIG Seguros es sinónimo de esfuerzo e innovación, comprometida con los ciudadanos mexicanos y su bienestar.</p>
					<p class="text">Probablemente una de las decisiones más importantes cuando tienes un auto es elegir qué seguro de auto te brinde la protección que requieres, con el mercado que te brinde la protección necesaria; en el mercado asegurador AIG tiene distintas alternativas y de las coberturas que están a tu alcance y para saber cuál es tu mejor opción pues es dar a conocer los detalles de cada uno de los planes.</p>
					<p class="text">Como una alternativa, conocerás las características de AIG Seguros, como una de las compañías de gran tamaño de negocio a nivel mundial, con más de 90 años de experiencia y con la mejor atención de servicio al cliente.</p>
					<p class="text">AIG se encarga de ofrecer programas de prevención, con los que puedas protegerte, beneficiarte y conseguir las mejores opciones, podrás encontrar diferentes consejos y precauciones para que evites siniestros catastróficos como:</p>
					<ul id="check" class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Antes de conducir, siempre
							abróchese el cinturón de seguridad.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asegurate de que todos los
							pasajeros lo utilicen.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En caso de que lo requieras,
							asegurate de que usen los implementos para los niños, con sus
							sillas y las adaptaciones especiales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Si tu auto cuenta con las bolsas
							de aire, nunca lleves a un bebé o a un infante pequeño en el
							asiento delantero. Por disposición oficial, los niños menores de
							12 años deberán viajar únicamente en el asiento trasero.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Nunca arranques el auto hasta que
							cada uno de tus acompañantes tengan el cinturón de seguridad
							colocado.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Nunca use un cinturón para
							asegurar a dos personas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Nunca deje a un bebé o a un niño
							pequeño solo y desatendido en un automóvil
						</li>
						<li class="text lista">
							<span class="circulito"></span> Procura guardar en la cajuela el
							equipaje y otros artículos que podrían convertirse en proyectiles.
						</li>
						<li class="text lista">
							<span class="circulito"></span> No dejes los artículos sueltos en
							la bandeja debajo de la ventana trasera, en el tablero o en la
							parte trasera de una camioneta, ya que estos podrían volar contra
							los pasajeros del vehículo en una parada repentina o un choque.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Es muy importante que utilices tus
							direccionales:
						</li>
						<li class="text lista">
							<span class="circulito"></span> Utilizarlas antes de cambiar de
							carril.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Para dar vuelta a la derecha o a
							la izquierda.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Al momento que te incorpores al
							tránsito o al estacionarse.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Señale con la mayor anticipación
							que pueda, trate de señalar por lo menos tres segundos antes de
							efectuar su movimiento.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Después de haber efectuado un
							cambio de carril o de haber dado vuelta, asegúrese de que su
							direccional esté apagada.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';

export default {
	layout: 'sin-alerta',

	beforeCreate(){ 
		this.$store.state.config.aseguradora = 'AIG';
    	this.$store.state.config.motor = true;
		this.$store.state.config.corePer = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '28814666';
		this.$store.state.config.grupoCallback = 'VN AIG';
		this.$store.state.config.from = 'COMPARAYA-AIG';
		this.$store.state.config.idPagina = 159;
		this.$store.state.config.idMedioDifusion = 1289;
		this.$store.state.config.idInteraccion = 2712; //VN Interacción
		this.$store.state.config.idEcommerce = 2711; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 43;
		this.$store.state.config.idSubRamo = 44; //8
		this.$store.state.config.imgaseg = 'aig';
		this.$store.state.config.urlRedireccion = 'aig';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'AIG|comparaya-mx-aig';

		this.$store.state.config.interior = 'aignuevo';
	},
	async created() {
		this.$store.commit("telApi");
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'AIG Seguros - Cotiza Seguros de Autos AIG - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'AIG, AIG Seguros, Seguros AIG, Seguros de autos AIG, Cotizador AIG, Aseguradora AIG, Cotizar seguro de auto AIG, Seguros AIG Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con AIG Seguros al mejor precio en Comparaya.mx! Compara 20 Aseguradoras, elige y en 30 Segundos tendrás tu seguro de auto AIG. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/aig',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 240px) {.tpromo,.tdesc {color: #7fa0d2;}}
</style>