<template>
	<div>
		<div class="container-fluid bg-prim">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">
						Cotiza tu Seguro de Auto Primero Seguros
					</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!----------------------------------------****************  C O N T E N I D O  ***************------------------------------------>
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Más Privilegios con Primero Seguros en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						una de las compañías aseguradoras de nueva creación o más jóvenes en
						el sector asegurador, cuyas calificaciones por sus usuarios son muy
						buenas pues en la Condusef el promedio de reclamaciones es de 1 por
						cada 1,000 siniestros, con un índice de reclamaciones de 0.1% mismos
						que se basan en la información que sale año con año.
					</p>
					<p class="text">
						El seguro de auto es uno de los primeros tipos de aseguramiento que
						ofrece esta empresa en el ramo de daños, pero en la actualidad desde
						principios del año 2013 se caracteriza por ofrecer más pólizas de
						seguro con la finalidad de ampliar su oferta y mercado; Primero
						Seguros es una institución que dispone de oficinas en muchas de las
						ciudades alrededor de nuestro país, esto son el fin de brindar mejor
						asistencia directa y a la hora que la necesites, estas
						principalmente se encuentran en Mérida, León, Ciudad Juárez, Ciudad
						de México, Guadalupe, Monterrey, Nuevo Laredo, Reynosa, Sabinas,
						Saltillo, San Nicolás de los Garza y Torreón.
					</p>
					<p class="text">
						Además que dentro de su oferta Primero Seguros de Autos Básicos
						Estandarizados, cumple como aseguradora con la protección que
						necesitas, dentro de lo que ofrece esta su plan de cobertura de 250
						mil pesos en Responsabilidad Civil para los daños ocasionados a
						terceros en sus bienes y personas, de venta exclusiva para los autos
						particulares. Este es un seguro capaz de cumplir y exceder con el
						plan de seguro obligatorio que por ley está establecido para poder
						circular por caminos y puentes federales en todo nuestro país,
						además que este es de bajo costo y con opciones de pago desde
						mensual a anual.
					</p>
					<p class="text">
						Primero Seguros de Autos Particulares, es una empresa que ofrece las
						alternativas de planes Básicos que cubren la Responsabilidad Civil y
						demás coberturas adicionales, Cobertura Limitada que incluye el Robo
						Total del Vehículo, Cobertura Amplia misma que logra añadir la
						protección de Daños Materiales y demás opciones de cobertura
						complementarias.
					</p>
					<p class="text">
						Primero Seguros de Autos Taxis, este es ofrecido en diversas
						opciones similares a las de los vehículos particulares que también
						incluyen planes básicos, limitados y de cobertura amplia, aunque
						resulta con primas y demás condiciones diferentes esto gracias a que
						cuentan con un mayor riesgo cada una de estas unidades y que son
						específicas en las cláusulas de la póliza.
					</p>
					<p class="text">
						En Compara Ya sabemos que es lo que necesitas por eso trabajamos
						para que conozcas y elijas el mejor plan de cobertura que Primero
						Seguros te ofrece, además que cuenta con suficientes soportes
						estructurales que le hacen frente a cada uno de los problemas que el
						conductor pueda tener, esto de la mejor manera más rápido y preciso
						por lo que en caso de que cuentes con algún seguro en Primero
						Seguros encuentres la solución que necesitas evitando la perdida de
						tu economía o patrimonio.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Ventajas de Contratar Primero Seguros de Auto
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Primero Seguros de Auto, es una empresa que cuenta con grupos de
						profesionales y expertos que estudian los parámetros y variables que
						se relacionan con el riesgo imperante en su compañía aseguradora y
						de la misma manera puede determinarse de forma más precisa y certera
						con las alternativas que brinda para evitar accidentes, brindando
						una gran variedad de coberturas alrededor del país, nadie se
						encuentra exento de sufrir algún percance.
					</p>
					<p class="text">
						Con Primero Seguros de Auto podrás contar con los expertos,
						investigadores e ingenieros que respaldan su servicio, que es
						específico y sea como tu lo estabas buscando, para que tengas un
						proceso con la seriedad y solidez necesaria; con estos seguros de
						auto lo primero que debes considerar es que obtienes muchos
						beneficios y ventajas para que tengas un proceso con mejor atención
						y tranquilidad.
					</p>
					<p class="text">
						En Primero Seguros puedes tener el respaldo que necesitas, en el
						momento y en donde lo necesites, puedes formalizar el ofrecimiento
						que el seguro tiene para ti, en un determinado seguro se tiene en
						cuenta muchas cosas entre ellas, los requisitos o las grandes
						ventajas que ofrece Primero Seguro mismos que van desde los pedidos
						que se pueden aplicar en el. Misma institución que ha trabajado
						incansable en ese mismo punto cuando esté diseñado en los servicios
						y su responsabilidad civil o que para esa alternativa ofrece seguros
						de auto más bajos, en donde también brinda condiciones más sencillas
						de cumplir en cada instante. Ahora es por esto que te diremos cuales
						son las principales ventajas que obtienes con Primero Seguros.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Según la póliza de seguro que
							necesites, se te ofrecerá la solicitud necesaria, que se
							completará con ciertos requisitos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Para que puedas identificar te
							ofrece las mejores coberturas, pensadas en ti.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Para la documentación que
							necesitas de tu auto solamente se te pedirá la tarjeta de
							circulación para contratar tu seguro.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Acredita tu domicilio a través de
							un comprobante a los efectos, mismo que puede brindarte más
							beneficios.
						</li>
					</ul>
					<p class="text">
						Con tu seguro de auto estas invirtiendo en tu tranquilidad y
						beneficio, demás que en tu contratación cuentas con la asesoría de
						expertos y especializados para un mejor control, si bien estas
						alternativas consideramos que son buenas las ventajas, o de la
						oportunidad de mostrar que necesitas comparar los beneficios y
						ventajas o coberturas, Primero Seguros ofrece su servicio a miles de
						clientes, cada día más contentos.
					</p>
					<p class="text">
						Una de las prioridades de Primero Seguros es que puedes encontrar la
						mejor manera de servir a los asegurados mediante soluciones nuevas
						de gran valor, en lo que también se enfocan en el desarrollo de
						tecnología que apoye al consumidor. La compañía aseguradora se ha
						diseñado con la filosofía de afuera hacia dentro, mismo que es
						tratado para cada vez más cercanas a sus asegurados.
					</p>
					<p class="text">
						Primero Seguros no sólo se encarga de brindar diferentes paquetes de
						seguros para auto, también ofrece productos para flotillas y
						colectivos, mismos de servicio público y federal, tractos, camiones,
						motos, remolques y daños por la carga. Sus principales clientes son
						pertenecientes a los corporativos mundiales, además que cada día
						cuenta para trabajar creando diferentes opciones de seguro que se
						ajusten a las necesidades de cada persona, o que cuente con las
						diferentes modalidades de pago, o que se pueda adquirir con un
						seguro mensual, trimestral, semestral y anual.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img src="/seguros-de-autos/img/circulo-mono.png" alt="mono2" class="monocirc d-none d-md-block" />
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="primero-seguros#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">Coberturas de Seguros en Primero Seguros</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Una de las principales ventajas que obtienes con tu seguro de auto
						es que puedes estar tranquilo y confiado que tienes el respaldo que
						necesitas para transitar seguro en cada uno de tus caminos, además
						que tendrás el seguro de auto que por ley es obligatorio; al igual
						que cada una de las compañías aseguradoras esta institución Primero
						Seguros te ofrece tre paquetes más comunes en tu seguro de auto.
					</p>
					<p class="text">
						Dentro de estas lo que puede destacar es su Paquete de
						Responsabilidad Civil y la Cobertura Limitada, que Primero Seguros
						ofrece para una mejor protección extra a la cobertura estándar de
						las demás aseguradoras. Además, cuenta con la cobertura Amplia Plus,
						está que da más beneficios al asegurado.
					</p>
					<p class="text">
						Cuenta con un servicio llamado Seguro de Auto, el cual puede ser
						disposición sin problemas en el día, este que es elegido para
						distintas coberturas a su vez, mismo que depende del pertinente
						nivel de protección que uno quiera tener. Los paquetes que Primero
						Seguros ofrece son los siguientes:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Cobertura de Seguro Amplia Plus:
							Esta es una protección total que puede tener para su auto sin
							mayores dificultades, mismo que cubre la gestoría, la
							responsabilidad, los daños con un 10% sobre el valor comercial del
							auto, abogados, robos, médicos auto en sustitución, mismo que
							además puede agregarse algunas opciones adicionales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Amplia: En la actualidad una esta
							es una de las pólizas de seguro más recomendadas por dos razones,
							el precio que tiene todos los meses en las que es adecuado por la
							cantidad de coberturas brindadas, o que pueda cubrir los riesgos
							que en caso anterior, o de la única diferencia que no se otorgue
							en los porcentajes adicionales en caso de daños.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Limitada: Este es un producto más
							simple pero económico, mismo que se enfoca en las trec coberturas
							o cuestiones más importantes y necesarias, la responsabilidad
							civil al conducir, los robos del auto y la asistencia, ya sea
							mediante abogados o los médicos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad Civil: Este es un
							programa simple pero efectivo, mismo que se destina para los que
							deseen pagar lo menos posible, además de estar protegidos y
							también que puedan cumplir con las reglamentaciones establecidas
							por ley en México.
						</li>
					</ul>
					<p class="text">
						Se puede enfocar en tratar de responder a las necesidades de toda la
						población, mismo que es para las institución que brinda seguros para
						auto o de tipo en cuanto a la antigüedad, por lo que usted no debe
						de preocuparse, ya que se debe a poder encontrar siempre un servicio
						que proteja de manera correcta su auto; para aquellos vehículos que
						sean cero kilómetros hasta 1 año de uso ya que pueden acceder a
						todas las coberturas de seguro de auto.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'PRIMEROSEGUROS';
				this.$store.state.config.aseguradoraCatalogos = 'HDI';
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizacion = false;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '88902539'; //47495142
		this.$store.state.config.grupoCallback = 'VN ANA';
		this.$store.state.config.from = 'COMPARAYA-PRIMEROSEGUROS';
		this.$store.state.config.idPagina = 159;
		this.$store.state.config.idMedioDifusion = 1325;
		this.$store.state.config.idInteraccion = 2738; //VN Interacción
		this.$store.state.config.idEcommerce = 2737; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 43;
		this.$store.state.config.idSubRamo = 54;
		this.$store.state.config.imgaseg = 'primeroseguros';
		this.$store.state.config.urlRedireccion = 'primero-seguros';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo =
			'PRIMEROSEGUROS|comparaya-mx-primero-seguros';
				    this.$store.state.config.interior = "primeroseguros";


	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'Primero Seguros - Cotiza Primero Seguros Autos - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Primero Seguros, Primero Seguros Autos, Seguros de autos Primero, Aseguradora Primero Seguros',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con Primero Seguros al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Primero Seguros. ¡Es fácil y rápido! ',
				},
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/primero-seguros',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #0039b2;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #0039b2;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #0039b2;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #0039b2;
	}
}
</style>
