<template>
  <div>
    <section class="pricing">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12">
            <div class="card activebox mb-5 mb-lg-0 ficha">
              <!--v-show="this.$store.state.config.precio === 0
                 || this.$store.state.config.precio === null
                 || this.$store.state.config.precio != ''"-->
              <div class="card-header aigback">
                <h5 class="card-title text-uppercase aigcolor text-center t-a">
                  Cobertura Amplia
                </h5>
              </div>
              <div class="car-a" v-show="!$store.state.cargandocotizacion">
                <loading-Content />
              </div>

              <div
                class="card-body"
                v-show="$store.state.cargandocotizacion"
                v-if="this.$store.state.config.precio !== ''"
              >
                <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <h6 class="display h6 text-center aigcolor textcotiza">
                      Nivel Protección
                    </h6>
                    <div class="c100 p90 center green medium">
                      <span>90%</span>
                      <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4 ">
                        <img
                          src="/seguros-de-autos/img/aseguradoras-logo/color/aignuevo.svg"
                          alt="logo"
                          class="img-aseg-g"
                        />
                      </div>
                      <div class="col-12 col-md-6 col-lg-8 mt-3 mt-md-0 ">
                        <h5
                          class="text-left text-uppercase textcotiza mt-0 mb-0 t-a"
                        >
                          Precio de tu seguro
                        </h5>
                        <p class=" precio">
                          {{
                            this.$store.state.cotizacion.cotizacion.primaTotal
                              | currency
                          }}<span class="period"></span>
                        </p>
                      </div>
                    </div>

                    <botones-component />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mt-2 table-responsive">
                    <table class="table table-hover table-sm">
                      <thead>
                        <tr>
                          <th
                            style="color: #6c757d;font-weight: 800;"
                            scope="col"
                          >
                            Coberturas
                          </th>
                          <th
                            style="color: #6c757d;font-weight: 800;"
                            scope="col"
                          >
                            Suma asegurada
                          </th>
                          <th
                            style="color: #6c757d;font-weight: 800;"
                            scope="col"
                          >
                            Deducible
                          </th>
                        </tr>
                      </thead>
                      <tbody >
                        <tr class="border-white"
                          v-for="(item, index) in this.$store.state.cotizacion
                            .coberturas"
                          :key="index"
                        >
                          <td style="color: #6c757d;">{{ item | showName }}</td>
                          <td style="color: #6c757d;">{{ item | showSuma }}</td>
                          <td style="color: #6c757d;">
                            {{ item | showDeducible }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Se muestra cuando no trae precio la cotizacion -->
              <div
                class="col-lg-12 col-sm-12 col-12 my-5"
                v-if="$store.state.msjEje"
                v-show="
                  this.$store.state.config.precio === 0 ||
                    this.$store.state.config.precio === '' ||
                    this.$store.state.config.precio === null
                "
              >
                <div>
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                      <h6 class="display h6 text-center aigcolor textcotiza">
                        Nivel Protección
                      </h6>
                      <div class="c100 p90 center green medium">
                        <span>90%</span>
                        <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                      <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 ">
                          <img
                            src="/seguros-de-autos/img/aseguradoras-logo/color/aig.svg"
                            alt="logo"
                            class="img-aseg-g"
                          />
                        </div>
                        <div class="col-12 col-md-6 col-lg-8  mt-3 mt-md-0">
                          <h4
                            class="text-center text-uppercase  textcotiza mt-0 amarillo-thank"
                          >
                            Precio No <br />
                            Disponible
                          </h4>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12 mt-md-5">
                          <h5 class="text-center  textcotiza mt-0 t-a">
Gracias por cotizar en ComparaYa, uno de nuestros
                            asesores se pondrá en contacto contigo, o puedes comunicarte al
                            <a
                              class="t-a"
                              :href="
                                'tel:' +
                                  $store.state.aseguradoras.AIG.phonecotizar
                              "
                            >
                              {{
                                $store.state.aseguradoras.AIG.phonecotizar
                              }}</a
                            >
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="py-5" />
  </div>
</template>
<script>
import loadingContent from "~/components/common/loading.vue";
import VueCurrencyFilter from "~/plugins/filters.js";
import botonesComponent from "~/components/common/botonesGracias.vue";

export default {
  components: {
    loadingContent,
    botonesComponent,
  },
  data() {
    return {
      results: "",
      Coberturas: this.$store.state.cotizacion.Coberturas,
      PrimaTotal: 0,
    };
  },
  methods: {
    limpiarCoberturas() {
      if (this.$store.state.cotizacion.Coberturas) {
        for (var c in this.$store.state.cotizacion.Coberturas[0]) {
          if (this.$store.state.cotizacion.Coberturas[0][c] === "-") {
            delete this.$store.state.cotizacion.Coberturas[0][c];
          }
        }
      }
    },
  },
  created: function () {
    if (this.$store.state.formData.nombre != '') {
      this.$store.state.config.loading = true;
   }
    else {
      this.$router.replace({ path: '/error/' });
    }
    this.$store.state.config.reload = false;
  },
  filters: {
    showName: function (value) {
        return value.nombre;      
    },
    showSuma: function (value) {
      var sumaAseg = value.sumaAsegurada;
      var regExp = /[123456789]/;
      var result = regExp.exec(sumaAseg);
     if (sumaAseg == 0 || sumaAseg == "") {
        sumaAseg = "NO APLICA";
      } else if (sumaAseg == 1) {
        sumaAseg = "AMPARADA";
      } else if (result != null) {
        //tiene numeros 1-9
        var regExp2 = /[a-zA-Z]/g;
        var result2 = regExp2.exec(sumaAseg);     
        if (sumaAseg.includes("$") == false) {
          if (result2 != null) {
            //V. COMERCIAL50000
            sumaAseg =
              sumaAseg.substring(0, result.index) +
              " $ " +
              sumaAseg.substring(result.index, sumaAseg.length);
          } else {
            sumaAseg = "$ " + sumaAseg;
          }
        }
        if (sumaAseg.includes(".0") == true) {
          if (sumaAseg.includes(".00") == false) {
            sumaAseg = sumaAseg + "0";
          }
        } else {
          sumaAseg = sumaAseg + ".00";
        }
        //Comas
        var result3 = regExp.exec(sumaAseg);
        var inicio = result3.index;
        var regExp3 = /\.00/;
        var result4 = regExp3.exec(sumaAseg);
        var fin = result4.index;
        var n = (fin - inicio) / 3;
        if (n > 1 && n <= 2) {
          //1,000->100,000
          var z = sumaAseg.substring(fin - 3, fin);
          var y = sumaAseg.substring(inicio, fin - 3);
          var x = sumaAseg.substring(0, inicio);
          var zz = sumaAseg.substring(fin, sumaAseg.length);
          sumaAseg = x + y + "," + z + zz;
        } else if (n > 2 && n <= 3) {
          //1,000,000->100,000,000
          var z = sumaAseg.substring(fin - 3, fin);
          var z2 = sumaAseg.substring(fin - 6, fin - 3);
          var y2 = sumaAseg.substring(inicio, fin - 6);
          var x = sumaAseg.substring(0, inicio);
          var zz = sumaAseg.substring(fin, sumaAseg.length);
          var sumaAseg = x + y2 + "," + z2 + "," + z + zz;
        }
      }   
        return sumaAseg;     
    },
    showDeducible: function (value) {
      var deducible = value.deducible;
      var regExp = /[123456789]/;
      var result = regExp.exec(deducible);
      if (deducible == 0 || deducible == "" || deducible == "0%") {
        deducible = "NO APLICA";
      } else if (deducible.includes("$") == true) {
        if (deducible.includes(".0") == true) {
          if (deducible.includes(".00") == false) {
            deducible = deducible + "0";
          }
        } else {
          deducible = deducible + ".00";
        }
      } else if (result != null) {
        //tiene numeros 1-9
        if (deducible.includes("%") == false) {
          deducible = deducible + " %";
        }
      }
        return deducible;   

    },
  },
};
</script>
