<template>
  <div>
    <section class="pricing">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12">
            <div>
              <div v-show="!$store.state.cargandocotizacion && !$store.state.msjEje && !$store.state.msj">
              <div class="card-header axaback" >
                <h5 class="card-title text-uppercase axacolor text-center t-a">Cobertura Amplia</h5>
              </div>
              <!-- <div class="carga" >
                <loading-Content/>
              </div> -->
              </div>
              <div class="card-body" v-show="$store.state.cargandocotizacion" v-if="this.$store.state.config.precio !== '' ">
                <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <h6 class="display h6 text-center axacolor textcotiza">Nivel Protección</h6>
                    <div class="c100 p90 center green medium">
                      <span>90%</span>
                      <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4 ">
                        <img src="/seguros-de-autos/img/aseguradoras-logo/color/miituo.svg" alt="logo" class="img-aseg-g">
                      </div>
                      <div class="col-12 col-md-6 col-lg-8  mt-3 mt-md-0">
                        <h5 class="text-left text-uppercase textcotiza mt-0 mb-0 t-a">Precio de tu seguro </h5>
                        <p class=" precio">{{this.$store.state.cotizacion.Cotizacion.PrimaTotal | currency}}<span class="period"></span></p>
                      </div>
                    </div>
                    
                    
                    <botones-component/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mt-2 table-responsive">
                    <table class="table table-hover table-sm">
                      <thead>
                        <tr>
                          <th style="color: #6c757d;font-weight: 800;" scope="col">Coberturas</th>
                          <th style="color: #6c757d;font-weight: 800;" scope="col">Suma asegurada</th>
                          <th style="color: #6c757d;font-weight: 800;" scope="col">Deducible</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in this.$store.state.cotizacion.Coberturas[0]" :key="index">
                          <td style="color: #6c757d;">{{item | showName}}</td>
                          <td style="color: #6c757d;">{{item | showSuma}}</td>
                          <td style="color: #6c757d;">{{item | showDeducible}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-12 col-sm-12 col-12" v-show="!this.$store.state.config.cotizacion">
            <div class="card activebox mb-5 mb-lg-0 ficha">
              <div class="card-header axaback">
                <h5 class="card-title text-uppercase axacolor text-center t-a">Cobertura Amplia</h5>
              </div>
              <div class="card-body" >
                <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <h6 class="display h6 text-center axacolor textcotiza">Nivel Protección</h6>
                    <div class="c100 p90 center green medium">
                      <span>90%</span>
                      <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4 ">
                        <img src="/seguros-de-autos/img/aseguradoras-logo/color/miituo.svg" alt="logo" class="img-aseg-g">
                      </div>
                      <div class="col-12 col-md-6 col-lg-8  mt-3 mt-md-0">
                        <h5 class="text-left text-uppercase textcotiza mt-0 mb-0 t-a">Precio No Disponible </h5>
                      </div>
                    </div>
                   
                  </div>
                  <div class="col-12">
                    <p  class="text-center"><strong>Un asesor se pondrá en contacto contigo.</strong></p>
                    <p  class="text-center">O comunicate con nosotros y un asesor te podra atender. </p>
                    <p class="text-center">Al tel&eacute;fono: <a :href="'tel:55' +$store.state.config.telefonoAS" style="color:#888;"> 55{{this.$store.state.config.telefonoAS}}</a></p>
                  </div>
                </div>
              
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <div class="py-5"/>
  </div>
</template>
<script>
import loadingContent from '~/components/common/loading.vue'
  import VueCurrencyFilter from '~/plugins/filters.js'
    import botonesComponent  from '~/components/common/botonesGracias.vue'

  export default {
      components: {
        loadingContent,
        botonesComponent
      },
      data() {
          return {
              results : '',
              Coberturas: this.$store.state.cotizacion.Coberturas,
              PrimaTotal : 0,
              disabled: false,
          }
      },
      methods: {
        limpiarCoberturas() {
            if (this.$store.state.cotizacion.Coberturas) {
                for (var c in this.$store.state.cotizacion.Coberturas[0]) {
                    if (this.$store.state.cotizacion.Coberturas[0][c] === "-") {
                        delete this.$store.state.cotizacion.Coberturas[0][c];
                    }
                }
            }
        },
        enviarLead(cobertura) {
          this.$store.commit('sendLeadMiituo');
        },
      },
  created() {
    if (this.$store.state.formData.nombre != '') {
      this.$store.state.config.loading = true;
    }
    else {
      this.$router.replace({ path: '/error/' });
    }
this.$store.state.config.reload = false;
  },
      filters: {
          showName: function (value) {
              return value.substring(value.lastIndexOf("-N") + 2, value.lastIndexOf("-S"))
          },
          showSuma: function(value) {
              let value_aux = value.substring(
                  value.lastIndexOf("-S") + 2,
                  value.lastIndexOf("-D")
              );
              if (value_aux.indexOf(".") !== -1) {
                  // Verifica si existe un punto en la suma
                  if (value_aux.indexOf(".") === 1) {
                      // Si el punto está en la posición 1 es V. Comercial y se sustituye por VALOR COMERCIAL
                      return "VALOR COMERCIAL";
                  } else if (value_aux.indexOf(".") !== value_aux.length - 2) {
                      // Quita los decimales de Banorte
                      return value_aux.substring(0, value_aux.indexOf("."));
                      //  + "\nPOR EVENTO"
                  }
                  value_aux = value.substring(
                      value.lastIndexOf("-S") + 2,
                      value.lastIndexOf("-D") - 2
                  ); // Quita los decimales de AFIRME
              }
              // Evita las palabras y los precios de GNP debido a que ya tienen el formato requerido
              if (!isNaN(parseInt(value_aux[0], 10)) && value_aux.indexOf("$") === -1) {
                  if (value_aux.indexOf(",") !== -1) {
                      // Evita los precios sin formato de comas
                      return "$ " + value_aux;
                  }
                  if (value_aux.length > 3) {
                      // Evita los montos que no son lo suficientemente largos para tener comas
                      if (value_aux.length / 3 > 1 && value_aux.length / 3 <= 2) {
                          // Se le agrega una coma
                          value_aux =
                              value_aux.substring(0, value_aux.length - 3) +
                              "," +
                              value_aux.substring(value_aux.length - 3, value_aux.length);
                      } else if (value_aux.length / 3 > 2 && value_aux.length / 3 <= 3) {
                          // Se le agrega dos comas
                          value_aux =
                              value_aux.substring(0, value_aux.length - 6) +
                              "," +
                              value_aux.substring(value_aux.length - 6, value_aux.length - 3) +
                              "," +
                              value_aux.substring(value_aux.length - 3, value_aux.length);
                      }
                  } else if (value_aux.length === 1) {
                      if (value_aux[0] === "1") {
                          // Cambia los 1's de MAPFRE por AMPARADA
                          return "AMPARADA";
                      } else if (value_aux[0] === "0") {
                          // Cambia los 0's por NO APLICA
                          return "NO APLICA";
                      }
                  }
                  return "$ " + value_aux; // Regresa los precios con el formato requerido
              }
              return value_aux.toString().toUpperCase(); // Regresa las palabras en   mayúsculas
          },
          showDeducible: function(value) {
              let value_aux = value.substring(
                  value.lastIndexOf("-D") + 2,
                  value.lastIndex
              );
              if (value_aux.indexOf(".") !== -1) {
                  // En caso de que haya decimales en el porcentaje
                  value_aux = value_aux.substring(0, value_aux.indexOf("."));
                  //   return value_aux + "%";
              }
              // ESTA VALIDACION ESTABA ANTES NO SE BIEN QUE HACIA PERO ESTABA
              // if (value_aux.indexOf(".") !== -1) {
              //   // En caso de que haya decimales en el porcentaje
              //   value_aux = value_aux.substring(0, value_aux.indexOf("."));
              //   return value_aux + "%";
              // }
              if (value_aux[0] !== "$" && !isNaN(parseInt(value_aux[1], 10))) {
                  // Evita todos los que son dinero y los que son palabras
                  if (value_aux.length > 3) {
                      if (
                          value_aux[0] === "0" &&
                          value_aux[1] === "0" &&
                          value_aux[2] === "0"
                      ) {
                          // Evita los tres ceros de Qualitas
                          value_aux = value.substring(
                              value.lastIndexOf("-D") + 5,
                              value.lastIndex
                          );
                          if (value_aux[0] === "0") {
                              // Si es cero se evita poner el signo de porcentaje
                              return "NO APLICA";
                          }
                          return value_aux + " %";
                      }
                  } else if (value_aux[value_aux.length - 1] === "%") {
                      // Evita colocar dos veces el signo de porcentaje
                      return value_aux;
                  } else {
                      return value_aux + " %";
                  }
              } else if (value_aux.length === 1) {
                  // Verifica si solo es un caracter
                  if (value_aux[0] === "0") {
                      // Si es cero se sustituye por NO APLICA
                      return "NO APLICA";
                  }
                  return value_aux + " %";
              } else if (value_aux.length === 0) {
                  // Sustituye los espacios en blanco por NO APLICA
                  return "NO APLICA";
              } else if (value_aux[0] !== "$") {
                  return value_aux.toString().toUpperCase();
              }
              return value_aux;
          }
      }
  };
</script>
