<template>
	<div>
		<div class="container-fluid bg">
			<headerGNPComponent />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto GNP</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!--------------------------------------*************  C O N T E N I D O S  **************---------------------------------------------->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-gnp">
						¿Por qué usar Compara Ya al contratar Seguro de Auto GNP?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2">
					<p class="text">
						En Compara Ya nos caracterizamos por agregarle valor a cada uno de
						nuestros clientes, ofreciendo beneficios especialmente diseñados
						para sus necesidades su perfil de conductor y las especificaciones
						de su auto. Conoce las mejores coberturas, los planes de
						financiamiento y pago.
					</p>
					<p class="text">
						Es importante que conozcas tus necesidades, las exigencias que
						buscas para tu vehículo y su protección, recuerda que es tu
						responsabilidad cuidar de tu patrimonio, hoy y siempre, atrévete y
						Compara Ya con tu experto aliado.
					</p>
				</div>
			</div>
		</div>
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-gnp">Ventajas de Contratar con GNP Seguros</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2">
					<p class="text">
						GNP Seguros es respaldado por los comentarios de cada uno de sus
						clientes satisfechos, ya sea por su excelente servicio o atención
						oportuna, además de contar con las mejores coberturas del mercado
						asegurador; cuenta con una póliza de seguro especialmente diseñada
						para ti, puedes conseguir una de los planes establecidos y
						completarla con las adicionales que harán de tu seguro el adecuado
						para tus necesidades y las de tu auto.
					</p>

					<ul class="ps-1 ps-md-3">
						<li class="text lista">
							<span class="circulito"></span> Es una empresa 100% mexicano, lo
							que le agrega valor pues conoce las necesidades y exigencias como
							mexicanos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Lo que le resalta valor a esta
							compañía aseguradora son sus 100 años de experiencia.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Podrás obtener un precio exclusivo
							con los mejores descuentos del mercado.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con diferentes manera y
							formas de pago, mismas que facilitarán tu contratación.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia vial en cualquier
							momento del día.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Sus plazos de pago son muy
							accesibles puedes pagar tu seguro de auto a 6 y 12 meses sin
							intereses.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cero pago de deducible en caso de
							pérdida total de tu auto por robo o choque.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura para daños parciales
							como la rotura de cristales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asesoría legal y apoyo jurídico
							con un profesional de la red de asesores de GNP.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En caso de accidente cuenta con
							atención médica para el conductor del vehículo y los acompañantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Precios competitivos y con
							coberturas que se adapten a tus necesidades.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Aplicación móvil para reportar
							siniestros desde tu teléfono inteligente, así como demás servicios
							en la palma de tu mano.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Recibe la atención y un asesor
							personalizado exclusivo por cliente.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con apoyo y asistencia vial
							en caso de necesitarlo, como el servicio de grúa, envío de
							gasolina, refacciones, paso de corriente, servicio de cerrajeria y
							cambio de llantas ante cualquier situación.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Atención completa de calidad y
							profesional de cada uno de los ajustadores.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Obtén la cobertura y el mejor plan
							con alta tecnología en cada uno de los procedimientos, desde la
							contratación hasta la resolución de tu percance.
						</li>
					</ul>
					<ul class="ps-1 ps-md-3">
						<li class="text">
							<strong
								>Con Seguros de autos GNP también te ofrece planes o beneficios
								extra como:</strong
							>
						</li>
						<li class="text lista">
							<span class="circulito"></span> Auto sustituto.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En caso de reparación, esta será
							realizada en la agencia de autos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con el servicio de llaves
							de repuesto y ayuda ante pérdida de rines o de neumáticos.
						</li>
					</ul>
					<p class="text">
						Tener una póliza de seguro completa y a la medida nos hará sentir
						mejor y más tranquilos, puedes sacarle mayor provecho a tu seguro de
						auto, solo tienes que conocer cuáles son sus términos, condiciones y
						derechos que obtienes como beneficiario, además de poder disfrutar
						de un plan a la medida porque tu eres quien decide la cobertura y
						sus adicionales.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="gnp#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-gnp">
						Más Privilegios con GNP Seguros en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						En Compara Ya y GNP estamos convencidos que lo más importante de un
						seguro de auto, es la función que le puede dar el cliente a su auto,
						con el seguro de auto podrá viajar en carretera y transitar
						libremente por las calles con la confianza y seguridad que está
						respaldado ante un accidente o percance que pudiera ocurrir.
					</p>
					<p class="text">
						Por este motivo es importante que conozcas los diferentes planes de
						cobertura que ofrecen las compañías aseguradoras, así como los
						planes de pago que te ofrecen y como te puedes beneficiar con ellos,
						conoce más de GNP y encuentra la póliza de seguro que más te
						convenza.
					</p>
					<p class="text">
						Se conoce a GNP Seguros como una de las más mejores y de las más
						importantes compañías aseguradoras de nuestro país, esta es una de
						las compañías más grande en todo el mercado mexicano, cuenta con más
						de 100 años de experiencia que lo respaldan para probar que su
						principal objetivo ha sido cumplir y satisfacer las necesidades de
						sus clientes.
					</p>
					<p class="text">
						Además de contar con el respaldo de sus años de experiencia en el
						mercado asegurador, es una de las instituciones mejor calificadas
						por sus clientes, gracias a su capacidad de respuesta y ventaja
						sobre las demás compañías que ofrecen servicios similares; Seguros
						GNP es una de las aseguradoras más completas del mercado ya que
						ofrece apoyo en diversas necesidades de la población mexicana como
						son los servicio de seguros de vida, seguros de autos, seguros de
						gastos médicos y daños materiales.
					</p>
					<p class="text">
						La estabilidad y la solidez de GNP seguros hacen que se distingue de
						otras aseguradoras.En pocas palabras seguros de autos gnp es la
						compañía ideal para adquirir tu seguro de auto.
					</p>
					<p class="text">
						En la actualidad y día a día es una de las compañías que cuenta con
						miles de clientes circulando en toda la República Mexicana, esto
						incrementa cada vez, pues los riesgos que acechan nuestra vida
						cotidiana son muchos, el riesgo de sufrir un accidente vial va en
						incremento. Por todo esto la gran necesidad de contar con un plan de
						respaldo en caso de accidente o siniestro, además que te beneficia,
						pues por ley ya es obligatorio contar con un plan de seguro, que te
						cubra de responsabilidad civil ante un accidente.
					</p>
					<p class="text">
						En la actualidad solo el 28% del parque vehicular se encuentra
						asegurado lo que puede resultar un golpe fuerte al bolsillo de los
						conductores, si tu perteneces a ese 72% que no cuenta con un seguro
						es importante y sumamente necesario que lo comiences a considerar,
						ya que con los nuevos lineamientos en el reglamento de tránsito
						contar con tu seguro de auto es obligatorio y sin él podrás ser
						acreedor de una multa de hasta $2,900 pesos.
					</p>
					<p class="text">
						GNP Seguros te ofrece diversas coberturas del mercado pensando en
						todas aquellas necesidades y características de cada uno de los
						usuarios.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-gnp">Coberturas de GNP Seguros de Auto</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Los seguros de auto de Nacional Provincial o mejor conocida como GNP
						son productos pensados y especialmente diseñados para cada uno de
						sus clientes y usuarios además de ser más integrales del mercado, ya
						que se ajustan a distintos perfiles de conductores y ofrecen planes
						completos que entienden las necesidades de cada familia. Entre las
						garantías que se incluyen en las pólizas automotrices destacan:
					</p>
					<ul class="ps-1 ps-md-3">
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos ocupantes: Centa
							con atención médica al asegurado y sus familiares directos, así
							como gastos funerarios hasta por $50 mil pesos o apoyo en trámites
							funerarios, inhumación y cremación.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección para tu auxilio: En
							caso de necesitarlo existen muchas situaciones en las que te puede
							ayudar GNP pues cuenta con asistencia jurídica, médica o hasta
							administrativa. Por ello, en caso de asalto con violencia, la
							compañía se hace cargo de las lesiones que requieran atención de
							un médico o especialista y los Daños Materiales provocados al
							vehículo a consecuencia del robo y de su pérdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Auto Elite. Ésta es una cobertura
							adicional en el paquete Amplio que ofrece, entre otros beneficios,
							ayuda en la sustitución de llantas, rines y llaves de repuesto,
							así como reparación en agencia, auto sustituto y cero deducible en
							pérdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia médica. Este beneficio
							protege al asegurado y a sus familiares directos de cualquier
							emergencia que necesite de la atención de un doctor. También
							ofrece referencias médicas cercanas al domicilio con una sola
							llamada, consultas a domicilio y traslado en ambulancia terrestre.
						</li>
					</ul>
					<ul class="ps-1 ps-md-3">
						<p>
							<strong
								>Plan de Cobertura amplia GNP Seguros: Es la más completa, con
								ella tendrás seguridad contra:
							</strong>
						</p>
						<li class="text lista">
							<span class="circulito"></span> Te protege en caso de Robo total
							del auto o si este es declarado como pérdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cubre tus daños materiales o
							pérdidas parciales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos para ocupantes del
							auto al momento de un accidente.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Extensión de responsabilidad civil
							en caso de sufrir accidente y que este no sea conducido por el
							titular de la póliza.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con defensa jurídica,
							asistencia legal y fianzas
						</li>
						<li class="text lista">
							<span class="circulito"></span> Adaptaciones, conversiones y/o
							equipo especial
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia vial en caso de fallas
							mecánicas o imprevistos en tus viajes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Plan de Cobertura por
							Responsabilidad civil para bienes y personas GNP Seguros o
							conocida como La cobertura limitada:
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad civil, en caso de
							accidente cubre el daño material y lesiones físicas a terceras
							personas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia legal, así como fianza
							garantizada en caso de resultar implicado en un siniestro o
							colisión.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos para los ocupantes
							en caso de accidente.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Servicios de asistencia o auxilio
							vial
						</li>
						<li class="text lista">
							<span class="circulito"></span> Extensión de responsabilidad
							civil, si estas conduciendo un auto que no sea el asegurado podrás
							estar protegido como conductor y tu responsabilidad.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Te cubre en caso de Robo total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Es importante que consideres que
							no cubre los daños del auto.
						</li>
					</ul>
					<p class="text">
						A pesar de que estos dos tipos de coberturas son las más populares y
						reconocidos por los clientes de GNP, no debemos pasar por alto otro
						tipo de cobertura en la Ciudad de México y en el resto del país,
						además que fue diseñada por qué más clientes la necesitaban. La
						Cobertura de Responsabilidad Civil o de daños a terceros.
					</p>
					<p class="text">
						Esta es la protección mínima para tu auto, es un plan que se pide
						como mínimo para cumplir con tu responsabilidad de seguro
						obligatorio por ley, no cubre los daños materiales, ni el robo del
						coche y sus servicios están integrados por:
					</p>
					<ul class="ps-1 ps-md-3">
						<li class="text lista">
							<span class="circulito"></span> Cubre tu Responsabilidad civil
							para bienes y personas físicas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con defensa jurídica y
							asistencia legal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes adquirir la extensión de
							responsabilidad civil
						</li>
						<li class="text lista">
							<span class="circulito"></span> Apoyo y asistencia vial en caso
							necesario.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos para los ocupantes
							en caso de accidente.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import headerGNPComponent from '~/components/common/header-gnp.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';

export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'GNP';
		this.$store.state.config.corePer = true;
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '88902239'; //SE MODIFICO
		this.$store.state.config.grupoCallback = 'VN GNP';
		this.$store.state.config.from = 'COMPARAYA-GNP';
		this.$store.state.config.idPagina = 187; //SE MODIFICO CON BASE DEL ARCHIVO
		this.$store.state.config.idMedioDifusion = 1267; //VN GNP
		this.$store.state.config.idInteraccion = 2485; //VN Interacción
		this.$store.state.config.idEcommerce = 2484; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 2; //SE MODIFICO CON BASE DEL ARCHIVO
		this.$store.state.config.idSubRamo = 40; //8
		this.$store.state.config.imgaseg = 'gnp';
		this.$store.state.config.urlRedireccion = 'gnp';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'GNP|comparaya-mx-gnp';

		this.$store.state.config.interior = 'gnp';
	},
	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		headerGNPComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'GNP Seguros - Cotiza Seguros de Autos GNP - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'GNP, GNP Seguros, Seguros GNP, Seguros de autos GNP, GNP Cotizador, Aseguradora GNP, Cotizar seguro de auto GNP, GNP Seguros Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con GNP Seguros al mejor precio en Comparaya.mx! Compara 20 Aseguradoras, elige y en 30 Segundos tendrás tu seguro de auto GNP. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/gnp/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #ff6f29;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #ff6f29;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #ff6f29;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #ff6f29;
	}
}
</style>
