<template>
	<div>
		<div class="container-fluid bg-banorte">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
							alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto Banorte</h1>
					<small class="text-center text-peq d-block text-muted">Ingresa los datos de tu auto para cotizar en
						segundos</small>
					<autos-form-landing :config="this.$store.state.config.aseguradora"></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!--*****************  C O N T E N I D O  *******************-->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Seguros Banorte te ofrece una protección adecuada para tu auto
						¡Descúbrelo!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Seguros Banorte es una de las pocas aseguradoras en el país que
						cuentan con el respaldo de una sólida y prestigiosa institución como
						lo es Banorte Banco, lo cual los ha posicionado como una de las
						empresas más confiables, eficaces y con amplia capacidad operativa y
						financiera para ampararte ante cualquier riesgo.
					</p>
					<p class="text">
						El hecho de pertenecer a uno de los grupos financieros más
						importantes y grandes de México, Banorte ha creado la suficiente
						confianza y satisfacción de los usuarios para posicionar a la
						aseguradora entre las 10 mejores en los últimos años y que sigue
						creciendo a pasos agigantados.
					</p>
					<p class="text">
						Es por ello que forman parte del selecto grupo de ofertas que
						Comparaya.mx te ofrece para ti, pues al estar respaldada por años de
						experiencia, satisfacción y amplio conocimiento sobre finanzas, te
						aseguran brindarte las mejores coberturas a los mejores costos y con
						diversas formas de financiamiento.
					</p>
					<p class="text">
						Así que no esperes más y contrata tu Seguro de Auto Banorte y
						disfruta de la tranquilidad que te otorga estár protegido por una
						empresa que siempre pone como premisa la calidad de sus servicios y
						el bienestar económico de cada uno de los usuarios de sus servicios.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿De qué manera Seguros Banorte protege mi automóvil y mi seguridad?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Uno de los principales servicios que ofrece Grupo Banorte es el
						seguro de Auto Banorte, el cual está enfocado en salvaguardar
						nuestra seguridad, la de nuestra familia y desde luego nuestro
						patrimonio y la importante inversión que hicimos en él.
					</p>
					<p class="text">
						Aseguradora Banorte entiende mejor que nadie los grandes esfuerzos y
						sacrificios realizados para obtener un automóvil hoy en día que
						mejore significativamente la calidad de vida de toda tu familia. Por
						ello cuenta con planes y coberturas únicas que garantizan que esta
						inversión jamás esté desprotegida.
					</p>
					<p class="text">
						Como sabemos, hay múltiples amenazas en todo momento y en todo lugar
						que ponen en peligro nuestro vehículo e inclusive a nosotros mismos,
						por lo que resulta indispensable asegurarnos lo antes posible para
						no estar vulnerables ante una pérdida o incidente que ponga en
						riesgo nuestra economía y hasta nuestras vidas.
					</p>
					<p class="text">
						¡Verdaderamente no se trata de un gasto, sino de una inversión para
						proteger nuestra inversión!
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Pero ¿Por qué es importante contar con un Seguro de Auto Banorte?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Los vehículos motorizados, por su simple función y su valor
						monetario, son blanco de todo tipo de amenazas que pueden poner en
						riesgo su funcionalidad, prevalencia e inclusive la salud y vidas de
						su conductor, pasajeros y terceros.
					</p>
					<p class="text">Es por ello que Banorte Seguros te protege ante:</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad civil: También
							conocido como daños a terceros, es cuando generamos daños
							materiales o personales a personas fuera del vehículo, ya sea en
							afectaciones a otros autos, casas o inmuebles, bienes materiales o
							la salud directa de implicados.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Siniestros viales: Los accidentes
							de tránsito son la amenaza más común para todo vehículo, ya sea en
							pequeña o gran proporción, es casi seguro que en algún momento
							suframos un incidente como este, ya sea por nuestra
							responsabilidad o la de otros. Estos pueden generar desde daños
							materiales superficiales, hasta pérdida total e inclusive causar
							lesiones y hasta fallecimientos, por lo cual contar con una
							cobertura ante daños materiales y gastos médicos es prioritario.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo: Los robos de automóviles es
							otra de las grandes problemáticas y amenazas que vulneran nuestro
							patrimonio y que ponen en riesgo la importante inversión que
							hacemos en adquirirlos. Por ello no nos podemos dar el lujo de
							circular o estacionar nuestro auto desprotegido contra la
							incidencia criminal.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Cuales son los beneficios de contar con Seguros Banorte para tu
						auto?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						La aseguradora Banorte ofrece grandes beneficios y facilidades
						únicas en el mercado para sus clientes, en específico para los
						usuarios de Seguros Banorte Autos.
					</p>
					<p class="text">
						Estos beneficios son adicionales a la cobertura que incluye cada una
						de sus pólizas o paquetes, y están sujetos a ciertas condiciones de
						contratación y cumplimiento por parte de los usuarios.
					</p>
					<p class="text">Entre los más destacables se encuentran:</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Eliminación de deducibles: Este
							beneficio aplica en caso de robo total de tu automóvil, una vez
							declarada la pérdida, la empresa podrá ayudarte a eliminar los
							costos del deducible. Inclusive en algunas pólizas se te podrá
							brindar un auto sustituto en lo que hacer la reposición del
							vehículo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos funerarios: Este servicio
							se incluye en la cobertura de responsabilidad civil, en la cual en
							caso de fallecimiento por siniestro vial del conductor, pasajeros
							o terceros, se cubrirán los gastos derivados de servicios
							funerarios.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Auto con chofer: Este servicio se
							brinda cuando ocurre un accidente vial en el que tu carro tiene
							que ser remolcado o queda incapacitado para seguir circulando. De
							igual manera se puede solicitar el servicio en caso de que te
							encuentres en estado inconveniente para conducir.
						</li>
					</ul>
					<p class="text">
						Todos estos servicios vienen incluidos en determinadas pólizas y
						aplican condiciones para la aplicación de los mismos.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Cuáles son las coberturas que ofrece Banorte para mi auto?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Al igual que las demás aseguradoras, Seguros Banorte Autos ofrece
						diferentes pólizas o paquetes dependiendo las necesidades del
						automóvil y de cada persona que esté interesada en asegurar su
						patrimonio.
					</p>

					<p class="text">
						Estas están pensadas y configuradas dependiendo las exigencias
						personales de los clientes así como de sus posibilidades económicas
						para poder encontrar un equilibrio perfecto entre seguridad y
						precio.
					</p>
					<p class="text">Las coberturas que Banorte ofrece son:</p>

					<strong>RC. Básica</strong>
					<p class="text">
						El seguro básico o de responsabilidad civil es también el conocido
						como obligatorio (en México desde 2019) y consiste en cubrir los
						gastos de daños a terceros que puedan generarse por responsabilidad
						nuestra al volante. Esto incluye afectaciones en vehículos, casas o
						edificios privados, mobiliario público y lesiones o muerte de
						personas fuera de nuestro coche.
					</p>
					<p class="text">
						También se añade a esta el servicio de asesoría legal en caso de
						vernos inmersos en un problema jurídico por nuestra responsabilidad
						ante un daño grave con sanciones administrativas y penales.
					</p>

					<strong>Básica</strong>
					<p class="text">
						Este seguro es un poco más completo que el anterior, pues a pesar de
						que sigue siendo de responsabilidad civil, permite extender esta
						protección cuando nos encontramos conduciendo un auto distinto al
						registrado en la póliza o en el extranjero.
					</p>

					<strong>Limitada</strong>
					<p class="text">
						En esta póliza, además de lo anteriormente mencionado, contaremos
						con cobertura por montos mayores en cuanto a servicios médicos,
						aparte de que incluirá el seguro contra robo, lo cual garantiza la
						permanencia y seguridad de nuestra inversión en caso de ser víctimas
						de actividad criminal.
					</p>

					<strong>Amplia</strong>
					<p class="text">
						La cobertura amplia es la más completa de todas las que ofrece
						Seguros Banorte, ésta aparte de todo lo anterior mencionado y de que
						evidentemente nos asegura por cifras mayores, incluye la cobertura
						en daños materiales que puedan ocurrirle a nuestro vehículo.
					</p>
					<p class="text">
						Una prioridad en especial importante para los autos nuevos salidos
						de agencia, los cuales siempre procuramos mantener íntegros en todas
						sus cualidades estéticas y mecánicas.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¡Conoce todos los servicios que Seguros Banorte Autos te ofrece!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<div class="table-responsive col-12 col-md-8 offset-md-2">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Cobertura</th>
									<th scope="col">Amplia</th>
									<th scope="col">Limitada</th>
									<th scope="col">Básica</th>
									<th scope="col">RC. Básica</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Responsabilidad civil</th>
									<td>$5,000,000</td>
									<td>$4,000,000</td>
									<td>$4,000,000</td>
									<td>$3,000,000</td>
								</tr>
								<tr>
									<th scope="row">RC Extranjero</th>
									<td>$100,000 USD</td>
									<td>$100,000 USD</td>
									<td>$50,000 USD</td>
									<td>NO</td>
								</tr>
								<tr>
									<th scope="row">Extensión RC</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>NO</td>
								</tr>
								<tr>
									<th scope="row">Robo Total</th>
									<td>VALOR COMERCIAL 5%</td>
									<td>VALOR COMERCIAL 10%</td>
									<td>NO</td>
									<td>NO</td>
								</tr>
								<tr>
									<th scope="row">Daños Materiales</th>
									<td>VALOR COMERCIAL 3%</td>
									<td>NO</td>
									<td>NO</td>
									<td>NO</td>
								</tr>
								<tr>
									<th scope="row">Gastos Médicos</th>
									<td>$100,000</td>
									<td>$50,000</td>
									<td>$30,000</td>
									<td>$25,000</td>
								</tr>
								<tr>
									<th scope="row">Cristales</th>
									<td>VALOR REPOSIC. 20%</td>
									<td>NO</td>
									<td>NO</td>
									<td>NO</td>
								</tr>
								<tr>
									<th scope="row">EMME Auto Protegido</th>
									<td>SI</td>
									<td>SI</td>
									<td>NO</td>
									<td>NO</td>
								</tr>
								<tr>
									<th scope="row">Asistencia Vial</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">Asesoría Jurídica</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">Auto Sustituto/Chofer</th>
									<td>30 DÍAS</td>
									<td>15 DÍAS</td>
									<td>NO</td>
									<td>NO</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4  d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img src="/seguros-de-autos/img/circulo-mono.png" alt="mono2" class="monocirc d-none d-md-block"
							width="270" height="270" />
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a href="seguros-banorte/#formulario" class="my-2 btn btn-block btn-success btncotiza">
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¡Privilegios de ser parte de Seguros Banorte!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Con aseguradora Banorte puedes
							proteger vehículos particulares, comerciales y de transporte
							público.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes adquirir el servicio más
							básico a un precio bastante económico para cumplir con el
							requisito mínimo del seguro obligatorio (responsabilidad civil).
						</li>
						<li class="text lista">
							<span class="circulito"></span> Si eres usuario de servicios
							financieros Banorte recibirás ofertas y descuentos especiales, así
							como meses sin intereses y planes exclusivos de financiamiento al
							obtener tu póliza.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes asegurar vehículos
							regularizados o nacionalizados.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Si eres mujer, te extiende
							protección a diversos artículos como bolsas, tarjetas y dinero en
							efectivo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Recibe hasta 10% en deducible en
							caso de robo.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Cómo uso mi Seguro de Auto Banorte en caso de accidente?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						En caso de que se presente algún siniestro vial en donde nuestro
						vehículo se vea involucrado, deberás seguir un procedimiento para
						que los beneficios y servicios de Banorte Seguros te sean brindados
						de forma oportuna y satisfactoria.
					</p>
					<p class="text">Lo que debes hacer en estos casos es:</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Mueve lo menos posible tu vehículo
							del lugar de los hechos y trata de dejar todo en las condiciones
							en que quedó, no hagas ningún tipo de acuerdo personal con los
							demás involucrados ni aceptes ninguna responsabilidad hasta que el
							ajustador llegue al lugar.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Por medio de la línea de atención
							24 horas o en la app que disponen para ti, notifica el incidente
							con tu ubicación precisa para que se te pueda brindar el auxilio.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Notifica a los agentes los
							pormenores del incidente, si hay daños de gravedad y en dado caso,
							solicita asistencia médica o legal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Siempre ten a la mano tus
							documentos como tu póliza de auto, identificación y licencia de
							conducir.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Qué necesito para asegurar mi auto con Seguros Banorte?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Los requisitos para contratar tu seguro con Banorte son sencillos y
						prácticamente los mismo que requiere cualquier institución:
					</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> El vehículo debe estar en regla y
							contar con todos los papeles necesarios para su circulación y
							verificar su legalidad.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Tener placas en regla y que
							pertenezcan a algún estado de la República Mexicana. En caso de
							que sean autos regularizados o nacionalizados deberán cumplir con
							las mismas condiciones.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Los automóviles no pueden tener un
							valor superior a $1,500,000 pesos mexicanos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Para contar con las coberturas
							limitada y amplia el vehículo no podrá tener una antigüedad mayor
							a 20 años.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En el caso de vehículos con más de
							30 años de antigüedad, solo podrán acceder a la cobertura básica.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Todos los contratantes deberán ser
							mayores de 18 años y comprobar ingresos.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-5 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">
						¿Cómo elegir la Póliza Banorte adecuada para mi?
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Para elegir tu Seguro de Auto Banorte y la cobertura más adecuada
						para ti y para tu coche, es indispensable que analices
						exhaustivamente cuales son las necesidades y exigencias reales que
						tienes en tu día a día y que son indispensables proteger tu
						patrimonio, tus finanzas personales y hasta tu salud y tu vida.
					</p>
					<p class="text">
						Es común la idea generalizada erróneamente de que los seguros para
						auto representan un elevado e innecesario gasto al cual pocas veces
						sacamos provecho, inclusive muchas veces optamos por contratar solo
						el más básico para cumplir con la normativa.
					</p>
					<p class="text">
						Sin embargo, no hay nada más equivocado, pues los seguros más que un
						gasto, son una inversión para proteger el patrimonio de tu familia o
						negocio ante cualquier inconveniente que pueda presentarse.
					</p>
					<p class="text">
						De igual manera, debemos estar conscientes de que el seguro más
						económico no es siempre el mejor, pues este no nos brindará de las
						verdaderas coberturas que exige nuestro automóvil y nuestra
						integridad.
					</p>
					<p class="text">
						Por ello, antes que nada debes considerar los riesgos que están
						presentes dependiendo el lugar donde vives, pues es una realidad que
						todos, dependiendo de nuestra ubicación geográfica, nos encontramos
						expuestos a diferentes factores.
					</p>
					<p class="text">
						Se deben considerar aspectos como los índices de accidentes de tu
						ciudad, susceptibilidad a fenómenos naturales como inundaciones,
						huracanes, incendios, derrumbes, etc. Y finalmente también debemos
						contemplar la incidencia delictiva a la cual siempre está propenso
						nuestro vehículo en mayor o menor medida.
					</p>
					<p class="text">
						Una vez detectadas y consideradas estas condiciones, debemos
						considerar el tipo de vehículo que tenemos, el valor actual en el
						mercado, si tiene piezas o adaptaciones, la frecuencia de uso que le
						damos y muy importante, para qué lo utilizamos el vehículo.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">
						¿Por qué contratar mi Seguro Banorte desde Compara Ya?
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Si estás decidido a contratar el servicio de Seguros Banorte para
						asegurar tu auto Comparaya.mx es tu mejor aliado. Aquí podrás de
						forma fácil, sencilla y rápida hacer una comparación de ofertas
						entre más de 27 aseguradoras registradas con nosotros y que operan
						en todo el país.
					</p>
					<p class="text">
						Ingresando tu información personal básica y las características de
						tu vehículo, en tan sólo 30 segundos encontraremos en Seguros
						Banorte la póliza más adecuada, que se adapte a tus necesidades
						personales, a los requerimientos de tu vehículo y sobre todo a tu
						presupuesto.
					</p>
					<p class="text">
						Todo esto para que resultes completamente satisfecho y puedas tomar
						la mejor opción para asegurar tu auto y garantizar la tranquilidad y
						seguridad de los tuyos.
					</p>
					<p class="text">
						Si ya eres usuario de Seguros Banorte por medio de Comparaya.mx
						podrás hacer la renovación de tu póliza de forma rápida y segura.
					</p>
					<p class="text">
						También podrás contratar nuevos servicios, coberturas e informarte
						de los beneficios y ofertas especiales por ser cliente Banorte.
					</p>
					<p class="text">
						No esperes más y asegura tu patrimonio y tu futuro.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',

	beforeCreate() {
		this.$store.state.config.aseguradora = 'BANORTE';
		this.$store.state.config.corePer = true;
		
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '88902228';
		this.$store.state.config.grupoCallback = 'VN BANORTE';
		this.$store.state.config.from = 'COMPARAYA-BANORTE';
		this.$store.state.config.idPagina = 187; //SE MODIFICO EN BASE DEL ARCHIVO
		this.$store.state.config.idMedioDifusion = 1276; //VN BANORTE
		this.$store.state.config.idInteraccion = 2425; //VN Interacción
		this.$store.state.config.idEcommerce = 2424; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 11; //
		this.$store.state.config.idSubRamo = 38; //8
		this.$store.state.config.imgaseg = 'banorte';
		this.$store.state.config.urlRedireccion = 'seguros-banorte';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'BANORTE|comparaya-mx-banorte';
		this.$store.state.config.interior = 'banorte';
	},



	async created() {
		try {
			const telefono = await telefonoService(
				this.$store.state.config.idMedioDifusion
			)
			if (parseInt(telefono.data.telefono)) {
				var tel = telefono.data.telefono + ""
				var tel2 = tel.substring(2, tel.length)
				//console.log(tel2);
				this.$store.state.config.telefonoAS = tel2
			} else {
				//console.log(telefono.data.telefono);
			}
		} catch (error) {
			console.log(error);
		}
		this.$store.state.config.reload = false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: '🥇Seguros Banorte - Compara Ya Seguro de Autos Banorte',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Seguros Banorte, Seguros Banorte Autos, Seguro de auto Banorte, Aseguradora Banorte',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'Seguros Banorte, una institución fuerte en el mercado, protege tu auto. ¡✅ Cotiza Seguros de Autos Banorte en 30 segundos!',
				},
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/seguros-banorte/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {

	.tpromo,
	.tdesc {
		color: #e11a21;
	}
}

@media (max-width: 425px) and (min-width: 376px) {

	.tpromo,
	.tdesc {
		color: #e11a21;
	}
}

@media (max-width: 375px) and (min-width: 321px) {

	.tpromo,
	.tdesc {
		color: #e11a21;
	}
}

@media (max-width: 320px) and (min-width: 240px) {

	.tpromo,
	.tdesc {
		color: #e11a21;
	}
}
</style>
