<template>
	<div>
		<div class="container-fluid bg-multiva">
			<header-component />
			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto Multiva</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!---------------------------*****************  C O N T E N I D O  *******************--------------------------->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Ventajas de Contratar con Seguros Multiva</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						El seguro de auto es uno de los principales ramos de la compañía
						aseguradora, que desde 2015 logró posicionarse con sus ventas de
						seguros para auto con un 0.2% del mercado mexicano, esta es una de
						las aseguradoras que mejor consiente a cada uno de sus clientes, con
						la firme creencia de que un buen conductor, cuenta con el mejor
						respaldo en su seguro de auto, y con ello cada día habrá más
						seguridad vial en nuestro país.
					</p>
					<p class="text">
						Seguros Multiva es una de las compañías aseguradoras que destaca en
						México, en la Condusef presenta pocas denuncias o quejas con
						respecto a sus respuestas y soluciones, cada año las aseguradoras
						son valoradas, y en el caso de Seguros Multiva su plan de Seguro
						Básico Estandarizado de autos contó con una excelente calificación.
					</p>
					<p class="text">
						En Compara Ya y Seguros Multiva sabemos que para ti una de las cosas
						más importantes es cuidar de tu patrimonio, para poder brindar una
						mejor estabilidad económica a tu familia, además de que conozcas a
						detalle sobre los beneficios que Multiva ha diseñado para ti, esto
						es un indicativo que te servirá para poder elegir una mejor
						cobertura.
					</p>
					<p class="text">
						Cuidar de ti, de tu auto es tarea de Multiva Seguros, además que
						todo esto es importante para que puedas protegerte en caso de
						accidente o siniestro, si llegas a necesitar de la reparación de tu
						auto, es ahí en donde los Seguros de Auto Multiva harán su trabajo,
						pues recuerda que Multiva destaca por su gran fortalecimiento
						económico, mismo capaz de brindar a cada uno de sus clientes la
						tranquilidad y respaldo que necesitan.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Con Seguros de Auto Multiva puedes
							disponer de un conductor para el robo o la pérdida total de tu
							auto, además de contar con la protección en caso de que te
							encuentres en estado de ebriedad.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Podrás contar con los mejores
							talleres calificados para que estos se encarguen de resolver las
							fallas mecánicas de tu vehículo, además de cuidar de la estética
							de tu auto con hojalateria y pintura.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Recuerda que puedes obtener el 0%
							en tu deducible en caso de que sufras el robo de tu auto, así como
							de la pérdida a causa de un accidente.
						</li>
					</ul>
					<p class="text">
						Contar con el respaldo de seguros Multiva, significa que estarás
						protegido en todo nuestro país y en el extranjero, además de que te
						puede brindar la solidez financiera que necesitas, para poder hacer
						frente a cualquier eventualidad a la que te enfrentes o estes
						expuesto, además que puedes contar con la asistencia y solución que
						requieres como:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Asistencia Médica con hasta 400
							mil pesos de límite para el conductor y para los acompañantes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con hasta el 0% de
							deducible en la pérdida total a causa de robo y daños materiales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Este es un seguro de fácil
							contratación.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Podrás contar con el auto
							sustituto, este es un servicio que te provee de un vehículo en
							caso de que el auto asegurado no esté en condiciones para
							circular.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con el regreso seguro, es
							la opción que ofrece Multiva, con la que te ofrece un conductor en
							caso de no poder circular por un estado inconveniente.
						</li>
					</ul>
					<p class="text">
						Dentro de los principales beneficios de seguros de autos Multiva
						está el de “Fácil Contratación”, pues esto va a implicar la rapidez
						y la agilidad en los trámites que suelen anteceder a la adquisición
						de una póliza, además que podrás acceder a las mejores atenciones,
						en donde no sólo es viable su contratación, sino que también
						disponen de cotizaciones sin costo y comparaciones entre el mismo
						plan de diversas compañías.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="multiva#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Más Privilegios con Seguros Multiva en Compara Ya
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Contratar un seguro de auto es lo más idóneo que puedes conseguir,
						pues este es un requisito que debes cumplir para poder circular en
						las carreteras y puentes de nuestro país, por ello es que Compara Ya
						trabaja para brindarte las mejores ofertas y servicios que necesitas
						para contratar con seguros Multiva.
					</p>
					<p class="text">
						Multiva es una empresa mexicana con más de treinta años de
						experiencia en el mercado financiero, además que está constituido
						por la Casa de Bolsa, Operadora de Fondos de Inversión, Banco y
						Seguros Multiva S.A. es una empresa que nació en el año de 1980 en
						el sistema financiero de Multivalores Casa de Bolsa y cinco años
						después dando paso al inicio de Interamericana Casa de Cambio, dando
						lugar tres años después a Multiva Casa de Cambio.
					</p>
					<p class="text">
						En el año de 2006 cambió imagen además se integró al Grupo
						Empresarial Ángeles, que cuenta con una red hospitalaria privada que
						está reconocida en el país, con una cadena hotelera, compañía de
						medios, construcción y aseguradoras. En ese mismo año se creo Banco
						Multiva. Multiva es una de las empresas con mayor crecimiento en el
						sector asegurador además de su gran desarrollo constante, con mayor
						rentabilidad en la capital contable.
					</p>
					<p class="text">
						Esta es una empresa que aparte de contar con una banca joven, una
						casa de bolsa de inversión, además de que también ofrece servicios
						de seguros de gastos médicos, hogar y automóviles.
					</p>
					<p class="text">
						Seguros Multiva ofrece servicios en caso de algún siniestro con el
						automóvil de cualquier conductor, pues su cobertura estará más
						completa y brinda un 0% de deducible por Pérdida Total o de los
						Daños Materiales, en la indemnización que otorga en un 10% del valor
						comercial al auto.
					</p>
					<p class="text">
						Puede contar con la cobertura de Auto Sustituto en caso de que el
						conductor no pueda manejar por algún impedimento corporal; asimismo,
						cuenta con el servicio de conductor para que el asegurado regrese a
						su domicilio si se encuentra en un estado inconveniente, o de la
						contratación de este tipo de seguro será muy sencilla con las formas
						de pago, ya que pueden ser anuales, semestrales, mensuales con cargo
						automático a una tarjeta de crédito o de la cuenta de cheques.
					</p>
					<p class="text">
						Grupo Financiero Multiva Seguros cuenta con una larga trayectoria
						que lo respalda, con una amplia experiencia en los negocios, por
						ello es que realizó la venta de su subsidiaria de seguros con la
						compañía Ve Por Más, con el propósito principal de enfocarse en el
						fortalecimiento de su banco, esto logra significar que la
						institución bancaria se quedará sin ese producto, sino que su
						servicio lo ofrece a través de su banco.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Puedes estar tranquilo que
							contrataras los mejores beneficios y atención con seguros Multiva
							gracias a que esta empresa cuenta con atributos calificados como:
						</li>
						<li class="text lista">
							<span class="circulito"></span> Multiva es una empresa 100%
							mexicana, lo que le agrega cierto valor, pues conoce las
							necesidades que tenemos como mexicanos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con más de 30 años de
							experiencia en nuestro país.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Tiene en su gama de servicios con
							seguros de vida, accidentes, hogar y automóviles.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En su Cobertura Completa para
							autos particulares elimina el deducible.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Sede central de Multiva se
							encuentra en la Ciudad de México.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">Coberturas de Multiva Seguros de Auto</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						La necesidad de contratar la mejor protección para ti y tu auto, es
						algo que si puedes conseguir esto lo puedes obtener de la forma más
						sencilla, en Compara Ya, podrás contratar la póliza de Seguro de
						Auto para Multiva de manera completamente sencilla y rápida. Con
						Seguros Multiva puedes obtener los beneficios adecuados para que
						puedas cuidar de tu patrimonio ante cualquier situación que te
						suceda o que se pueda presentar, además que de esta se determinará
						la cobertura que mejor se adapte a tus necesidades.
					</p>
					<p class="text">
						Esta es una empresa que te muestra su gran potencial para que puedas
						crear soluciones más eficientes contra todo tipo de imprevistos a
						los que estamos expuestos, así como la manera de estructurar
						servicios sumamente atractivos.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Seguros Multiva de Autos Plan
							Básico Estandarizado: Este plan económico de Responsabilidad Civil
							que te cubre hasta por 250 mil pesos por daños a terceros en sus
							bienes o personas, de manera exclusiva para los autos
							particulares. Este es Plan que le sirve a los conductores que
							desean cumplir con el seguro de ley para transitar por caminos y
							puentes federales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguros de Autos Multiva Cobertura
							Básica: Cuenta con el Plan de Responsabilidad Civil que además
							cuenta con las demás coberturas adicionales como la Cobertura de
							Gastos Médicos, ya sea para los ocupantes o cuenta con la
							Asistencia Legal y del Auxilio Vial, esto a partir del plan que
							puede ser contratado por las empresas aseguradoras.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguros Multiva de Autos Cobertura
							Limitada: Es el plan de cobertura que incluye todo lo de la
							cobertura básica más la protección contra Robo Total y del
							automovíl substituto, además permite contratar otras coberturas
							adicionales como muerte accidental del conductor, responsabilidad
							civil hacia los ocupantes o de la exención de deducible en pérdida
							total por daños materiales o de robo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguro de Auto de Cobertura Amplia
							Multiva: Cuenta con la disposición de atención para empresas y
							particulares, misma que incluye todo lo de una cobertura limitada
							más la protección de Daños Materiales y de la rotura de cristales
							con un acceso a diferentes coberturas adicionales como el auto
							sustituto por los daños parciales, para el pago de multas y
							corralon.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura de Seguro de Auto
							Cobertura Amplia Plus Multiva: Es la póliza de seguro que incluye
							el pago de las multas y el corralón, además de otros endosos que
							son opcionales en los demás planes que también permite contratar
							una mayor protección.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguros de auto Multiva para
							Camiones: Los Planes con diversas coberturas básicas y adicionales
							para que pueda ofrecer la protección a los camiones de transporte.
						</li>
					</ul>
					<p class="text">
						Multiva con sus 30 años de experiencia se incursiona en el mercado
						como una de las compañías de origen mexicano, misma que cuenta con
						los servicios de la más alta calidad, mediante las que se considera
						como una de las compañías de seguros con un mayor prestigio, así
						como la manera de afianzarse entre las más importantes compañías de
						seguros de autos en nuestro país.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'BXMAS';
		this.$store.state.config.motor = true;
		
		this.$store.state.config.cotizacion = false;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.grupoCallback = 'VN Multiva Bx+';
		this.$store.state.config.from = 'COMPARAYA-MULTIVA';
		this.$store.state.config.idPagina = 159; // se cambio 1220;
		this.$store.state.config.idMedioDifusion = 1294; // se cambio 1220;
		this.$store.state.config.idInteraccion = 2736; //VN Interacción
		this.$store.state.config.idEcommerce = 2735; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 43; //se cambio 43;
		this.$store.state.config.idSubRamo = 36; //8;
		this.$store.state.config.imgaseg = 'multiva';
		this.$store.state.config.urlRedireccion = 'multiva';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'MULTIVA|comparaya-mx-multiva';

		this.$store.state.config.interior = 'multiva';
		this.$store.state.config.telefonoAS = '28814670';
		this.$store.state.config.txtBtn = 'de Multiva';
		this.$store.state.config.img = 'multiva';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'Multiva Seguros - Cotiza Seguros de Autos Multiva - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Multiva, Multiva Seguros, Seguros Multiva, Seguros de autos Multiva, Aseguradora Multiva, Multiva Cotizador, Cotiza Seguros de Autos Multiva',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con Multiva Seguros al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Multiva. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/multiva/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #28487c;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #28487c;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #28487c;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #28487c;
	}
}
</style>
