<template>
	<div>
		<div class="container-fluid bg-aba">
			<header-component />
			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />
					<div class="d-none d-md-block text-center mt-md-5">
						<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto ABA</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¡Contrata tu seguro de auto con ABA Seguros y Compara Ya!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						ABA Seguros cuenta con más de 60 años de operaciones en México,
						adquiriendo gran experiencia en cuanto a las necesidades y
						exigencias de los usuarios en el país se refiere. Es reconocida como
						una de las 4 mejores aseguradoras a nivel nacional en el sector
						automotriz por su gran presencia en el territorio y la variedad de
						servicios que brindan.
					</p>
					<p class="text">
						Actualmente aseguran a más de 850 mil automóviles a nivel nacional y
						cuentan con una confiable y sólida estabilidad financiera al ser una
						marca subsidiaria de CHUBB, una de las empresas aseguradoras más
						grandes a nivel mundial.
					</p>
					<p class="text">
						Es por ello que en Comparaya.mx trabajamos en colaboración con
						Seguros ABA para ofrecerte los servicios de la más alta calidad al
						mejor precio y de manera sencilla.
					</p>
					<p class="text">
						De esta forma podrás proteger lo antes posible tu patrimonio y tu
						propia seguridad ante cualquier riesgo que se pueda presentar.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Por qué asegurar mi vehículo con ABA Seguros?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						El Seguro de Auto ABA te ofrece la tranquilidad y confianza de poder
						viajar contando con la mejor calidad de protección, atención y
						respaldo financiero que tanto necesitas.
					</p>
					<p class="text">
						Sabemos que en todo momento te preocupa la protección de tu
						patrimonio así como la seguridad de tu familia, por lo que este
						seguro te ofrece una amplia gama de beneficios y cobertura para
						blindar todos los aspectos de tu interés.
					</p>
					<p class="text">
						Entre las coberturas más importantes que ofrece ABA Seguros está:
					</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Responsabilidad Civil: </strong> Quedas cubierto ante
							daños que puedas llegar a generar en terceras personas, tales como
							afectaciones a vehículos, vivienda, negocios y lesiones o muerte.
							De igual manera quedan cubiertos los gastos en caso de daño o
							destrucción de mobiliario público.
						</li>
						<li class="text lista">
							<span class="circulito"></span> <strong>Proliber: </strong> Este
							servicio te protege en cuanto a temas legales y fianzas. En dado
							caso de presentarse un accidente donde cometiste un delito
							involuntario, se te brindará defensa legal para que puedas obtener
							tu libertad provisional, liberar tu vehículo e inclusive se pagará
							la fianza si es necesario.
						</li>
						<li class="text lista">
							<span class="circulito"></span> <strong>Robo: </strong> En caso de
							que seas víctima del robo de tu automóvil, se te indemnizará con
							el valor del vehículo menos el deducible. Esto no aplica para robo
							de autopartes.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Asistencia Vial: </strong> En caso de que tu vehículo
							sufra una avería tanto en ciudad como carretera se te enviará
							apoyo con servicios mecánicos, cambio de llantas, paso de
							corriente, suministro de gasolina y servicio de grúa.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Daños Materiales: </strong> ABA Seguros Autos también te
							protege ante los daños materiales que pueda sufrir tu vehículo
							ante distintas causas. Cubre desde daños superficiales hasta los
							más graves o inclusive la pérdida total. Está contemplado para
							ofrecer la cobertura en caso de choques, volcaduras, daños por
							fenómenos naturales, vandalismo y caída de objetos.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¡Conoce las coberturas que ABA Seguros tiene para ti!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Seguros ABA se ha destacado por proporcionar las coberturas más
						completas en el mercado, pues desde el paquete más básico y
						económico que ofrecen, incluyen bastos y utilices beneficios
						indispensables para todo auto y conductor.
					</p>
					<p class="text">
						En Comparaya.mx te mostramos todos los paquetes que ofrecen y sus
						beneficios:
					</p>

					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">COBERTURAS</th>
									<th scope="col">INTEGRAL</th>
									<th scope="col">AMPLIA</th>
									<th scope="col">LIMITADA</th>
									<th scope="col">RC</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">RC DAÑOS A TERCEROS</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">RC FAMILIAR</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">RC A PERSONAS</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">DAÑOS MATERIALES</th>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">ROBO TOTAL</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">GASTOS MÉDICOS</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">ASISTENCIA VIAL</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>OPCIONAL</td>
								</tr>
								<tr>
									<th scope="row">ASISTENCIA EN VIAJE</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">PROLIBER</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">AUTO RELEVO</th>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
									<td>-</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Ventajas y beneficios adicionales de contratar un Seguro de Auto ABA
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Aparte de los beneficios que anteriormente se te mostraron,
						contratar una póliza con Aseguradora ABA te provee grandes ventajas
						y beneficios adicionales que también puedes contratar si lo
						necesitas.
					</p>
					<p class="text">
						Entre los beneficios ya incluidos en todas sus coberturas se
						encuentra:
					</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Cobertura de RC hasta por 2
							millones de pesos en México y 100 mil dólares en E.U. y Canadá.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura de RC Familiar, un
							beneficio único de Seguros ABA con la cual se cubren todos los
							gastos que puedan surgir de daños a tus familiares a bordo del
							vehículo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Vial ilimitada toda vez
							que necesites que se te apoye en caso de avería o remolque de tu
							vehículo.
						</li>
					</ul>

					<p class="text">
						Además de estos servicios únicos que vienen incluidos en tu póliza,
						también podrás solicitar la contratación de seguros para
						complementos o modificaciones en tu vehículo, cristales, rines y
						llantas, equipaje, etc.
					</p>
					<p class="text">
						De esta manera puedes personalizar aún más tu seguro para que cubras
						todo aquello que necesites ante cualquier situación inesperada.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Cuáles son las diferencias entre las Coberturas ABA y cuál me
						conviene?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Ahora que ya has visto las diferentes coberturas que ofrece ABA
						Seguros y los múltiples beneficios que tienen te explicaremos
						brevemente las características más destacables y para qué tipo de
						vehículo y usuario va dirigida.
					</p>
					<p class="text">
						Seguros ABA ofrece tipos de coberturas para automóviles:
					</p>

					<strong>Responsabilidad Civil</strong>
					<p class="text">
						Esta cobertura es la más básica y económica que ofrece la
						aseguradora, y está pensada en cubrir las necesidades más
						indispensables de todo vehículo y automovilista. En este caso se
						basa en la cobertura en gastos de daños a terceros o responsabilidad
						civil.
					</p>
					<p class="text">
						Esto, como ya lo hemos comentado, es cuando causamos daños
						materiales o personales a personas fuera del vehículo por un
						accidente de nuestra responsabilidad, por lo que el Seguro de Auto
						ABA nos ayuda a reparar el daño.
					</p>
					<p class="text">
						Sin embargo, este seguro no solo tiene esta cobertura, pues a
						diferencia de todos los demás en el mercado, añade también el
						servicio de RC familiar, que de igual manera cubre a tu familia a
						bordo del vehículo ante daños materiales y lesiones.
					</p>
					<p class="text">
						De igual manera proporciona el servicio de cobertura en gastos
						médicos, que protege al conductor en caso de necesitar traslado,
						hospitalización y medicamentos.
					</p>
					<p class="text">
						Incluye también el servicio de asistencia en viajes para que puedas
						conducir seguro y respaldado en caso de que tu auto tenga alguna
						falla.
					</p>
					<p class="text">
						Y finalmente incluye la cobertura Proliber, en la cual se te dará
						asesoría y defensa legal pagada las 24 horas así como el pago de
						fianzas y multas derivadas de accidentes viales.
					</p>

					<strong>Cobertura Limitada</strong>
					<p class="text">
						Esta cobertura sigue conservando los beneficios anteriormente
						mencionados, pero con la diferencia de que se te brindará protección
						ante el robo total de tu vehículo, en la cual en caso de no
						localizarlo, se te brindará una indemnización por el valor total del
						coche con un deducible del 10%.
					</p>
					<p class="text">
						Además se te ofrecerá el servicio de asistencia vial ilimitada tanto
						en carretera como en ciudades para que te encuentres protegido en
						todo momento en caso de que tengas alguna falla mecánica o inclusive
						una emergencia médica.
					</p>

					<strong>Cobertura Amplia e Integral</strong>
					<p class="text">
						En estos dos últimos paquetes aparte de todos los beneficios
						anteriormente mencionados se te protege también ante daños
						materiales que pueda sufrir el vehículo de forma superficial o en
						cuestiones mecánicas.
					</p>
					<p class="text">
						Estos son cubiertos en todo tipo de situaciones: Choques, volcadura,
						vandalismo, caída de objetos, fenómenos naturales, etc.
					</p>
					<p class="text">
						En dado caso de que el auto sea declarado pérdida total por daños,
						se te indemnizará por el costo total del vehículo menos el
						deducible, y en la cobertura integral se te puede hacer la omisión
						de este cargo.
					</p>
					<p class="text">
						De igual manera tiene el beneficio de que se te entrega un auto
						relevo mientras tu vehículo está siendo reparado o en caso de robo o
						pérdida, mientras repones la unidad.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="aba/#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Cómo elegir la Póliza ABA adecuada para mi vehículo?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Después de haber visto todos los tipos de cobertura que ABA Seguros
						te ofrece y los diferentes beneficios que contienen, seguro te
						preguntarás ¿Cuál es la cobertura indicada para mi auto? Pues no te
						preocupes, ¡en Comparaya.mx te decimos cómo elegir!
					</p>
					<p class="text">
						Antes que nada, debemos aclarar que no se debe anteponer el costo de
						los paquetes como punto de partida para tu elección, pues aunque
						sabemos que tenemos una cultura del ahorro en la que procuramos
						hacer el menor gasto posible al contratar un servicio de este tipo,
						lo cierto es que en cuanto a seguros se refiere, no es lo indicado.
					</p>
					<p class="text">
						Este será un servicio del que dependerá la seguridad de nuestro
						patrimonio, la inversión monetaria que hicimos en él y a parte la
						seguridad de nosotros y la de nuestra familia, por lo que antes de
						tomar una decisión de compra nos debemos enfocar en nuestras
						verdaderas necesidades.
					</p>
					<p class="text">
						Para asegurarnos que todas nuestras necesidades queden debidamente
						cubiertas, debemos analizar bien cuáles son los riesgos y
						particularidades únicas del lugar donde residimos y por los cuales
						vamos a utilizar el vehículo.
					</p>
					<p class="text">Los principales factores a considerar son:</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Incidencia de accidentes
						</li>
						<li class="text lista">
							<span class="circulito"></span> Incidencia delictiva
						</li>
						<li class="text lista">
							<span class="circulito"></span> Frecuencia de uso del vehículo
						</li>
						<li class="text lista">
							<span class="circulito"></span> Empleo del auto
						</li>
					</ul>

					<p class="text">
						De esta manera y contemplando todos estos factores es como podemos
						analizar y elegir el seguro de auto que mejor satisfaga nuestras
						necesidades para no quedar vulnerables ante algún imprevisto que nos
						pueda afectar tanto económicamente como en nuestra salud o nuestras
						vidas.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Recomendaciones para tener una buena experiencia con Seguros ABA
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Para tener una experiencia satisfactoria con ABA Seguros y el uso de
						sus servicios y beneficios te recomendamos informarte a fondo sobre
						todas las características que incluya tu póliza, los deducibles
						establecidos y las condiciones especiales para que apliquen.
					</p>
					<p class="text">
						Siempre ten en cuenta que cumplas con todos los requerimientos
						expuestos por la empresa para que tu seguro funcione y aplique
						efectivamente para ti y tu vehículo.
					</p>
					<p class="text">
						Por último te aconsejamos que uses correctamente todos los
						beneficios, cumpliendo los protocolos y conociendo las restricciones
						para que no dejes de recibir la atención.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¡Contrata tu póliza de ABA Seguros con Compara Ya!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Comparaya.mx pone a tu disposición toda la información de las
						coberturas que Aseguradora ABA tiene para ti, ayudándote a elegir la
						más conveniente según tus necesidades y las características de tu
						vehículo, siempre al mejor precio.
					</p>
					<p class="text">
						Hacerlo es fácil y rápido, solo te toma 30 segundos comparar y
						cotizar para que puedas contratar y comenzar a proteger tu
						patrimonio y tu seguridad hoy mismo.
					</p>
					<p class="text">
						Contrata ahora con ABA Seguros y protege tu patrimonio ante diversas
						situaciones como robos, accidentes, etc.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'ABA';
		this.$store.state.config.corePer = true;
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.descuento = 20;
		this.$store.state.config.telefonoAS = '88902269'; //modificado cono en el archivo
		this.$store.state.config.grupoCallback = 'VN ABA';
		this.$store.state.config.from = 'COMPARAYA-ABA';
		this.$store.state.config.idPagina = 187; // se cambio 1220 a 1080;
		this.$store.state.config.idMedioDifusion = 1280; // VN ABA
		this.$store.state.config.idInteraccion = 2487; //VN Interacción
		this.$store.state.config.idEcommerce = 2486; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 4; //se cambio 43;
		this.$store.state.config.idSubRamo = 39; //8;
		this.$store.state.config.imgaseg = 'aba';
		//this.$store.state.config.pathPromo = '/promos-normales/';
		this.$store.state.config.pathPromo = '/promos-mes/'; //promo del mes
		this.$store.state.config.urlRedireccion = 'aba';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'ABA|comparaya-mx-aba';

		this.$store.state.config.interior = 'aba';
		this.$store.state.config.imgcarro = 'mono1';
	},
	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        // //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: '🥇ABA Seguros de Autos - Cotiza en Segundos  - Compara Ya',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'ABA Seguros, Seguros ABA, Seguros de Autos ABA, Seguro de Auto ABA, ABA Seguros Autos, Aseguradora ABA, ABA Seguros de Autos, Póliza de Seguros ABA',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'  ABA Seguros, empresa presente en 54 países respalda tu patrimonio y tu auto. ¡✅ Seguro de Auto ABA en segundos en Compara Ya! ',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/aba/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #2f9fb5;
	}
}
</style>
