<template>
	<div>
		<div class="container-fluid bg-sura">
			<header-component />

			<div class="row">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto Sura</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'SURA';
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true; // se modifico 16julio a false// se volvio a modificar el 24-12 por true
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 10;
		this.$store.state.config.telefonoAS = '88902306';
		this.$store.state.config.grupoCallback = 'VN Sura';
		this.$store.state.config.from = 'COMPARAYA-SURA';
		this.$store.state.config.idPagina = 187;
		this.$store.state.config.idMedioDifusion = 1287;
		this.$store.state.config.idInteraccion = 2740; //VN Interacción
		this.$store.state.config.idEcommerce = 2739; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 110;
		this.$store.state.config.idSubRamo = 34; //8
		this.$store.state.config.imgaseg = 'sura';
		this.$store.state.config.urlRedireccion = 'sura/dsp';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'SURA|comparaya-mx-sura';

		this.$store.state.config.interior = 'sura';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'Sura Seguros - Cotiza Seguros de Autos Sura - Comparaya.mx ',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Sura, Sura Seguros, Seguros Sura, Seguros de autos Sura, Cotizador Sura, Aseguradora Sura, Cotizar seguro de auto Sura, Seguros Sura Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con Sura Seguros al mejor precio en Comparaya.mx! Compara 20 Aseguradoras, elige y en 30 Segundos tienes tu seguro de auto Sura. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/sura/dsp/',
				},
				{ hid: 'robots', name: 'robots', content: 'noindex, nofollow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
</style>
