<template>
	<div>
		<div class="container-fluid bg-inb">
			<header-component />

			<div class="row">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-comparaya-inbursa.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto en Inbursa</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>
			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!-------------------------------*****************  C O N T  E N I D O  ****************------------------------------->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Asegura tu vehículo con Inbursa Seguros y disfruta de sus beneficios
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						El contar con Seguros Inbursa te ofrece la tranquilidad de estar
						protegido y respaldado por una de las empresas más sólidas,
						prestigiosas y responsables de nuestro país. Una vez que entiendes
						los riesgos y las necesidades específicas que están presentes en
						México para los conductores y sus vehículos.
					</p>
					<p class="text">
						Por ello, Inbursa Seguros ofrece una amplia garantía de satisfacción
						para que siempre que viajes puedas tener la certeza de que tu
						patrimonio, tu familia y tu seguridad están bien protegidas.
					</p>
					<p class="text">
						Sabemos que cualquier inconveniente puede presentarse sin previo
						aviso en cualquier momento, y más vale estar protegido ampliamente
						ante situaciones como:
					</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Accidentes viales: El más
							frecuente de los incidentes que afectan a los vehículos, y ante
							los cuales Seguros Inbursa Autos te brinda protección en gastos
							médicos, daños materiales, indemnizaciones y pérdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Responsabilidad civil: En caso de
							ocasionar daños a terceras personas en un choque cuya
							responsabilidad sea nuestra, la póliza te ayuda haciéndose
							responsable de pagar los daños materiales provocados, gastos
							médicos, indemnizaciones e inclusive, si es necesario, te brinda
							asistencia legal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo: Otro de los problemas que
							sin duda quitan el sueño a muchos propietarios es el robo de
							autos. Este es un incidente generalizado en todo el país, y el
							cual lamentablemente puede ocurrir en cualquier momento, ya sea
							que estemos circulando o dejemos nuestro auto estacionado. Por
							ello resulta indispensable proteger nuestro patrimonio y la gran
							inversión que representa ante la incidencia criminal.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia vial: Por más nuevo que
							sea nuestro vehículo o que seamos cuidadosos al conducir, los
							riesgos de tener alguna avería mecánica de cualquier tipo siempre
							están presentes, es por ello que Inbursa pone a tu disposición
							servicios de asistencia vial en caso de que necesites un mecánico,
							pasar corriente, gasolina o servicio de grúa.
						</li>
					</ul>

					<p class="text">
						Estos son solo algunos de los beneficios esenciales que brinda el
						Seguro de Auto Inbursa para satisfacer todas tus necesidades y para
						que puedas dormir y viajar tranquilo sabiendo que tú y tu auto se
						encuentran siempre protegidos ante cualquier suceso.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¡Conoce los beneficios únicos que solo Seguros Inbursa ofrece!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Seguros Inbursa Autos también ofrece beneficios especiales para sus
						clientes que ninguna otra aseguradora en el país manejan. Estos
						están enfocados en ofrecerte la mejor experiencia y comodidad en
						caso de que necesites utilizar cualquiera de los servicios.
					</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Seguros Inbursa conoce la
							necesidad de los clientes de obtener apoyo inmediato en caso de
							algún siniestro, por lo que cuenta con una de las redes más
							grandes de ajustadores que cubren todo el país.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuentan con una garantía de
							llegada de máximo 30 minutos. En caso de que sobrepase este
							tiempo, se te descontarán $200 pesos de tu deducible por cada
							minuto de atraso.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Se establece una garantía de pago
							en un máximo de 48 horas por daños materiales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En caso de que tu vehículo sea
							declarado pérdida total, podrás obtener tu indemnización en un
							máximo de 72 horas y por cada día de retraso recibirás el 10% de
							acuerdo al valor del vehículo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes elegir el taller mecánico y
							hojalatería de tu preferencia en todo el país para la reparación
							de tu coche. En caso de que no se cumpla con la fecha pactada de
							entrega, se te pagará una indemnización por cada día de retraso.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Se ofrece asistencia legal en todo
							México así como en el extranjero, inclusive tienes derecho a pago
							de fianza en caso de ser necesario.
						</li>
						<li class="text lista">
							<span class="circulito"></span> El seguro de Responsabilidad Civil
							te cubre hasta por $3,000,000 de pesos en la República Mexicana y
							por $100,000 dólares en E.U. y Canadá.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Si sufres un siniestro y no sabes
							donde te encuentras, por medio de la app un ajustador puede
							localizarte geográficamente para asistir de manera inmediata.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Qué coberturas hay en el Seguro de Autos Inbursa?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p>
						En Comparaya.mx sabemos lo importante que es para ti poder comparar
						y cotizar de manera sencilla los precios y los beneficios que maneja
						Inbursa Seguros, por lo cual te mostramos toda la información
						actualizada para que conozcas a detalle las características y puedas
						elegir el mejor seguro para ti.
					</p>

					<div class="table-responsive col-12 col-md-8 offset-md-2">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">COBERTURA</th>
									<th scope="col">PLUS</th>
									<th scope="col">AMPLIA</th>
									<th scope="col">LIMITADA</th>
									<th scope="col">BÁSICA</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">RESPONSABILIDAD CIVIL</th>
									<td>$4,000,000</td>
									<td>$3,500,000</td>
									<td>$3,000,000</td>
									<td>$2,000,000</td>
								</tr>
								<tr>
									<th scope="row">RC EN EL EXTRANJERO</th>
									<td>$200,000 USD</td>
									<td>$100,000 USD</td>
									<td>$100,000 USD</td>
									<td>$50,000 USD</td>
								</tr>
								<tr>
									<th scope="row">EXTENSIÓN RC</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">DAÑOS MATERIALES</th>
									<td>VALOR COMERCIAL 5%</td>
									<td>VALOR COMERCIAL 10%</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">ROBO TOTAL</th>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">GASTOS MÉDICOS</th>
									<td>$250,000</td>
									<td>$200,000</td>
									<td>$100,000</td>
									<td>$100,000</td>
								</tr>
								<tr>
									<th scope="row">AUTO SUSTITUTO/CHOFER</th>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">ASISTENCIA VIAL</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">ASESORÍA JURÍDICA</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¡También puedes contratar algunos beneficios adicionales!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Adicional a los beneficios anteriormente mencionados, también puedes
						contratar servicios o coberturas especiales para tu vehículo en caso
						de que quieras personalizar aún más tu Póliza Inbursa y garantizar
						que todos los pormenores o factores de riesgo se encuentran
						cubiertos.
					</p>

					<div class="table-responsive col-12 col-md-8 offset-md-2">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">COBERTURA ADICIONAL</th>
									<th scope="col">PLUS</th>
									<th scope="col">AMPLIA</th>
									<th scope="col">LIMITADA</th>
									<th scope="col">BÁSICA</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">MUERTE ACCIDENTAL</th>
									<td>-</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">CLÁUSULA ELID</th>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">VALOR FACTURA</th>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">ADAPTACIONES</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">EXCESO DE RC</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">EQUIPO SATELITAL</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Cómo elegir la Cobertura Inbursa ideal para mi auto?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Sabemos que elegir tu seguro de auto ideal para cubrir tus
						necesidades y exigencias no es nada fácil, y a pesar de que ya
						cuentas con herramientas como Comparaya.mx que te muestran toda la
						información necesaria para comparar y cotizar las pólizas, hay
						muchos otros factores que debes tener en cuentan antes de decidirte
						por un Seguro Inbursa.
					</p>
					<p class="text">
						Es común que muchos opten por simplemente contratar el seguro que
						sea más económico y represente un menor impacto a las finanzas
						personales. Sabemos que obtener y mantener un carro es bastante
						elevado, por lo que es comprensible que muchas personas crean
						conveniente reducir los gastos en pólizas, sin embargo no es lo más
						recomendable.
					</p>
					<p class="text">
						Si bien la póliza más económica, que es la de responsabilidad civil,
						te cubre ante un riesgo muy importante que son los daños a terceros,
						lo cual no puede ayudar a tener que pagar por nuestra cuenta
						afectaciones que hagamos en otros, nos deja a nosotros y a nuestro
						vehículo desprotegidos.
					</p>
					<p class="text">
						Por ello debemos considerar cuales son las verdaderas necesidades y
						amenazas que corre nuestro vehículo y nosotros mismos.
					</p>
					<p class="text">
						Entre los factores que debemos contemplar para elegir nuestra Póliza
						Inbursa están:
					</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Lugar de residencia:</strong> Debemos contemplar cuales
							son las amenazas y las cualidades únicas del lugar donde vivimos
							tanto para elegir un vehículo adecuado como una póliza que cubra
							las diferentes situaciones que podamos afrontar. Ya sea desde
							factores del entorno social hasta geográfico.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Incidencia criminal:</strong> Se debe tomar en cuenta el
							índice delictivo registrado en tu comunidad, ya que a pesar de que
							es un problema generalizado en todo el país, hay zonas en
							específico que tienen cifras por arriba de la media y la cual
							resulta indispensable asegurar tu vehículo contra este crimen y
							evitar la pérdida irreparable de tu patrimonio.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Fenómenos naturales:</strong> De igual forma hay que
							considerar los eventos o desastres naturales a los que puede
							quedar expuesto nuestro vehículo. Dependiendo de nuestra ubicación
							geográfica, podemos ser más propensos a diferentes eventos como
							inundaciones, incendios, terremotos, caída de árboles, huracanes,
							tornados, etc. Estos fenómenos pueden ocasionar daños fatales para
							nuestro vehículo y para nosotros mismos, por lo cual debemos
							hallar una cobertura que nos ampare ante cualquiera de estas
							situaciones.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Frecuencia de uso:</strong> Se tiene que analizar la
							constancia de uso que le damos al vehículo así como las distancias
							que recorremos, pues entre mayor uso, más estamos expuestos a
							cualquier situación de riesgo. Por el contrario, si solo usamos
							muy poco el automóvil, quizá nos convenga más optar por una opción
							más austera o básica.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Empleo del vehículo:</strong> Otro factor determinante
							para elegir nuestro seguro de auto es el uso o propósito que tiene
							el transporte, ya que dependiendo de la labor que desempeña cada
							auto, este tiene distintas necesidades. Hay seguros para autos
							particulares, comerciales, de carga y de transporte de pasajeros,
							por lo que debemos asegurarnos con una póliza que realmente cubra
							las exigencias.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="seguros-inbursa#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Cómo utilizar mi Seguro de Auto Inbursa en caso de siniestro?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> En caso de sufrir un accidente
							vial es necesario que inmediatamente reportes el suceso vía
							telefónica o por medio de la app i - móvil, por la cual inclusive
							podrás mandar tu geolocalización en caso de que desconozcas el
							lugar donde te encuentras.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Trata de mover lo menos posible el
							vehículo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> No hagas tratos personales ni
							aceptes ninguna responsabilidad antes de que llegue el ajustador.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Recuerda que tienes una garantía
							de llegada de máximo 30 minutos, en caso de exceder este tiempo se
							te descontarán $200 pesos por cada minuto de atraso.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En caso de necesitar auxilio
							médico o asesoría legal notificalo en la llamada.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Ten a la mano la información del
							vehículo (modelo, placas, color, etc) así como el número de tu
							póliza.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta siempre con tu licencia de
							conducir e identificación oficial.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¡Conoce i-móvil, la app de Inbursa que te facilitará el servicio!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						i-móvil es una aplicación desarrollada por Seguros Inbursa, en la
						cual podrás solicitar de manera fácil y practica la atención y los
						servicios que te brinda tu póliza.
					</p>
					<p class="text">
						En esta puedes realizar consultas sobre la información de tu póliza,
						procesos, transacciones, reportar un siniestro en tiempo real,
						compartir tu ubicación para ser auxiliado, solicitar asistencia vial
						y asistencia médica.
					</p>
					<p class="text">
						Esta aplicación es gratuita y se encuentra disponible tanto en Apple
						Store como Play Store, además es compatible para todo tipo de
						sistemas operativos y Ipads.
					</p>
					<p class="text">
						Para ingresar únicamente tienes que proporcionar el número de tu
						póliza y la información básica que se te solicita. De esta manera
						podrás tener acceso fácil y rápido a los servicios con solo tener
						conexión a internet.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Qué necesito para obtener mi póliza de auto con Seguros Inbursa?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Los requisitos para obtener tu seguro Autotal Inbursa son muy
						sencillos. Una vez que has consultado, cotizado y elegido tu
						cobertura adecuada en Comparaya.mx, solicita el servicio por medio
						de nuestra página o bien, contacta a un agente de seguros.
					</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Necesitarás contar con una
							identificación oficial (INE o Pasaporte).
						</li>
						<li class="text lista">
							<span class="circulito"></span> Comprobante de domicilio (recibo
							de luz, agua o teléfono no mayor a 3 meses).
						</li>
						<li class="text lista">
							<span class="circulito"></span> Tarjeta de circulación.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Placas del automóvil.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Datos del vehículo (modelo, marca,
							etc.).
						</li>
						<li class="text lista">
							<span class="circulito"></span> Ser mayor de 18 años.
						</li>
					</ul>

					<p class="text">
						Seguros Inbursa también ofrece descuentos especiales a ciertos
						profesionistas. Para aplicar a estos beneficios necesitas:
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Cédula Profesional
						</li>
						<li class="text lista">
							<span class="circulito"></span> Último recibo de nómina
						</li>
						<li class="text lista">
							<span class="circulito"></span> Solicitud de oferta de seguro de
							auto
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¡Contrata tu póliza de Aseguradora Inbursa desde Compara Ya!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						En Comparaya.mx podrás comparar, cotizar y contratar tu seguro ideal
						para ti y para tu auto de manera fácil, sencilla, rápida y segura.
						Comparamos y encontramos el seguro que necesitas de entre más de 27
						aseguradoras en tan sólo 30 segundos. Si Autotal Inbursa es lo que
						estás buscando, te mostramos de forma práctica, teniendo en cuenta
						tus necesidades y las características de tu vehículo, cual es el
						seguro más conveniente y a mejor precio.
					</p>
					<p class="text">
						También podrás disponer de toda la información que necesites para
						conocer los por menores de los servicios y las formas de
						financiamiento más convenientes para tu economía personal.
					</p>
					<p class="text">
						No esperes más y dejes indefenso tu patrimonio, tu salud y tu vida.
						Contrata en este momento tu Seguro de Auto Inbursa y ahorra tiempo y
						dinero.
					</p>
					<p class="text">
						En Comparaya.mx también tienes la oportunidad de renovar tu póliza
						en caso de que esté próxima a vencer o inclusive puedes contratar
						diferentes beneficios adicionales para complementar tu protección y
						la de tu coche.
					</p>
					<p class="text">
						Es rápido y sencillo, nosotros te llevamos de la mano para que
						puedas tomar la decisión más informada y conveniente.
					</p>
					<p class="text">
						Ingresa ahora o ponte en contacto con nosotros para brindarte las
						mejores ofertas en tan solo unos segundos.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.corePer=true
		this.$store.state.config.aseguradora = 'INBURSA';
		this.$store.state.config.aseguradoraCatalogos = 'QUALITAS';
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizacion = false; // se modifico el 16 julio
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '47495128'; //
		this.$store.state.config.grupoCallback = 'VN INBURSA'; //
		this.$store.state.config.from = 'COMPARAYA-INBURSA';
		this.$store.state.config.idPagina = 159; // SE CAMBIO REFERENTE DEL ARCHIVO
		this.$store.state.config.idMedioDifusion = 1277; // SE CAMBIO REFERENTE DEL ARCHIVO
		this.$store.state.config.idInteraccion = 2728; //VN Interacción
		this.$store.state.config.idEcommerce = 2727; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 18; //
		this.$store.state.config.idSubRamo = 37; //8
		this.$store.state.config.imgaseg = 'inbursa';
		this.$store.state.config.urlRedireccion = 'seguros-inbursa';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'INBURSA|comparaya-mx-inbursa';

		this.$store.state.config.interior = 'inbursa';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: '🥇Seguros Inbursa - Cotiza Seguro de Auto Inbursa en Segundos ',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Inbursa, Inbursa Seguros, Seguros Inbursa Autos, Seguro de auto Inbursa, Aseguradora Inbursa, Autotal Inbursa, Seguros de Autos Inbursa',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'Seguros Inbursa, el grupo financiero líder en México tiene coberturas para tu auto. ✅ Tu Seguro de Auto Inbursa en Comparaya.mx',
				},
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/seguros-inbursa/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #0d1e3a;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #0d1e3a;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #0d1e3a;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #0d1e3a;
	}
}
</style>
