<template>
	<div>
		<div class="container-fluid bg-zur">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-comparaya-zurich.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto Zurich</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!--********************  C O N T E N I D O  ***********************-->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Ventajas de Contratar Seguros de autos Zurich
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						La contratación de la cobertura ideal puedes encontrarla en Zurich,
						ampara los daños materiales que sufra el vehículo asegurado y que se
						pueda generar a consecuencia de los riesgos conocidos. Debes conocer
						que el seguro de auto de Zurich puede brindar principalmente tres
						paquetes, pero de las coberturas y ventajas sobre las demás
						compañías aseguradoras.
					</p>
					<p class="text">
						Actos de personas que tomen parte en paros, mítines, huelgas,
						disturbios de carácter obrero, o de personas mal intencionadas u
						ocasionadas por medidas de represión tomadas por las autoridades
						legalmente reconocidas con motivos de sus funciones que puedan
						intervenir de dichos actos.
					</p>
					<p class="text">
						Como de la transportación, varadura, hundimiento, incendio,
						explosión, colisión o vuelco, descarrilamiento o caída del medio de
						transporte en que el auto asegurado sea transportado, así como la
						caída del misma durante las maniobras que sean transportados a
						descarga y de las contribuciones por avería gruesa o por cargos de
						salvamento.
					</p>
					<p class="text">
						Los transportes, varadura, hundimiento, incendio, explosión,
						colisión o vuelco, para la protección de esta cobertura puede operar
						aún cuando los hechos que den lugar a la reclamación, constituyan el
						delito de abuso de confianza, excepto cuando dicho delito sea
						cometido por familiares del asegurado.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Valor convenido que es la suma
							asegurada de la unidad estipulada en la carátula de la póliza, con
							la cual se mantiene durante la vigencia del seguro.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Si tu auto es último modelo,
							Zurich puede ser reemplazado por un auto nuevo de iguales
							características al tuyo en caso de la pérdida total por colisión o
							robo, de la cobertura opcional.
						</li>
						<li class="text lista">
							<span class="circulito"></span> La licencia de manejo no es un
							requisito para el pago de siniestros en donde se limita con
							excepción a servicio público, camiones y conductores menores de 18
							años que no cuenten con permiso provisional.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Queda amparado el desbielamiento
							de tu auto por una colisión, incendio o de los denominados
							fenómenos naturales.
						</li>
					</ul>
					<p class="text">
						De la facturación y nivel de negocio que ofrece Zurich por daños
						ocupa el lugar 16 entre 84 aseguradoras en nuestro país, con el 1.6%
						del mercado al cierre de 2017 según estadísticas de la Asociación
						Mexicana de Instituciones de Seguros o conocida como AMIS. En el
						ramo de los automóviles en particular, Seguros Zurich tiene un 3.7%
						del mercado, ubicándose en el noveno lugar de entre las 33 compañías
						aseguradoras que se presentan en nuestro país.
					</p>
					<p class="text">
						Zurich es una empresa comprometida a ofrecer los servicios
						confiables y con productos que ayudan a cada uno de sus clientes
						para poder administrar y minimizar el costo asociado a los riesgos.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="zurich#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-5 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						Más Privilegios con Seguros Zurich en Compara
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Seguros Zurich es una de las compañías aseguradoras de gran
						prestigio en nuestro país, además del reconocimiento mundial, esta
						llegó con la misión de brindar su experiencia internacional a este
						mercado mexicano, con la que ofrece productos aseguradores para
						Auto, personas, pymes y multinacionales.
					</p>
					<p class="text">
						Es una compañías que se instaló en nuestro país en el año de 1985,
						con una oficina de representación de la multinacional, con un
						principio básico que ofrece sólo productos de Vida y Daños, con un
						buen recibimiento del mercado mexicano, Zurich expandió sus
						productos a seguros de auto y demás, brindando siempre la calidad y
						compromiso.
					</p>
					<p class="text">
						En su misión principal de expandirse por el mundo, en 2010, la
						compañía aseguradora realizó una alianza con la institución bancaria
						Santander de América Latina con la que pudo ofrecer seguros
						generales y de Vida. En 2015, vuelve a ser hito en el mercado
						asegurador mundial al ser la primera empresa reconocida con la
						certificación EDGE /Economic Dividends for Gender Equality), esta
						que se enfoca a la igualdad de género, desde ese entonces Zurich es
						sinónimo de innovación y calidad en el mundo de los seguros de
						autos.
					</p>
					<p class="text">
						En Compara Ya sabemos que en la actualidad es tan necesario como
						obligatorio contar con una póliza de seguro de auto con la que
						podamos sentirnos respaldados, debido a la importancia de esta
						decisión, por ello lo que principalmente deseamos es que tu
						contratación y del proceso de contratación sea muy sencillo, en
						Compara Ya trabajamos para que la información que tengas en tus
						manos sea la que buscas de manera útil y objetiva sobre cada una de
						las alternativas que ofrece Zurich para tu seguro de auto.
					</p>
					<p class="text">
						Por todo esto es que creamos la guía con la que puedas encontrar las
						diferentes ventajas que te ofrece Compara Ya y Zurich Seguros para
						tu seguro de auto, junto con las coberturas y paquetes disponibles
						para ti y tu vehículo, con ello es que debes conocer los beneficios
						como asegurado y como conductor, además de las especificaciones de
						tu auto.
					</p>
					<p class="text">
						Encuentra tu seguro de auto ideal, con la información acerca de los
						puntos clave e importantes en un seguro de auto Zurich, entre dichos
						puntos que debes considerar se encuentran, el precio, el nivel de
						atención al cliente, las coberturas, las valoraciones ante la
						Condusef y Buró de Entidades Financieras, con datos relevantes sobre
						cada una de las aseguradoras y en este caso de las coberturas.
					</p>
					<p class="text">
						En primer instancia es importante que conozcas los tipos de
						vehículos para los Zúrich que ofrece la cobertura para los seguros
						de auto, los cuáles son los siguientes.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Autos particulares.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Pick Ups.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Camiones de carga de hasta 3.5
							toneladas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Fronterizos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Legalizados.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Turistas.
						</li>
					</ul>
					<p class="text">
						Zurich Seguros, ampara tu vehículo que circula en el territorio
						mexicano y algunas partes del extranjero, además de cubrir los daños
						materiales que pueda sufrir el vehículo asegurado y que se genere a
						consecuencia de los siguientes riesgos.
					</p>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Colisiones, vuelcos o choques.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Rotura, desprendimiento y robo de
							cristales, parabrisas, laterales, aletas, medallón y quemacocos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Incendio, rayo o explosión.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Ciclón, huracán, granizo,
							terremoto, erupción volcánica, alud, derrumbe de tierra o piedras,
							caída o derrumbe de construcciones, edificaciones, estructuras u
							otro tipo de objetos, caída de árboles o sus ramas e inundación.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class=" borde-tit">Coberturas de Seguros de Auto Zurich</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						En Compara Ya, sabemos lo necesario e importante que es contratar tu
						póliza de seguro de auto, por este motivo nos dimos la tarea de
						conocer los beneficios, ventajas y precios de las coberturas de
						seguro, por ello te ofrecemos las características de las coberturas
						y planes de seguro para tu bienestar y servicio de calidad.
					</p>
					<ul class="ps-3">
						<p class="text">Conoce las coberturas principales y básicas.</p>
						<li>
							<strong>Cobertura de Daños Materiales Seguros Zurich:</strong> Se
							amparan los daños materiales que sufra el auto asegurado y que se
							genere a consecuencia de los siguientes riesgos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Colisiones y vuelcos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Incendio, rayo o explosión.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Fenómenos naturales.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Transportación, varadura,
							hundimiento.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Desbielamiento del vehículo
							originado por la colisión, incendio o fenómenos naturales.
						</li>
					</ul>
					<ul class="ps-3">
						<li class="text">
							<strong>Cobertura de Robo Total en Zurich Seguros:</strong> Este
							ampara los daños que se ocasionan por los riesgos de incendio,
							rayo o explosión, mítines o disturbios de carácter obrero,
							desbielamiento.
						</li>
						<li>
							<strong
								>Cobertura de Responsabilidad Civil Bienes en Zurich
								Seguros:</strong
							>
							Es la cobertura que te cubre y ampara ante la responsabilidad
							legal en que incurra el asegurado o ante cualquier persona que con
							su conocimiento expreso o tácito pueda usa el vehículo del titular
							o asegurado y que como consecuencia de dicho uso pueda causar a
							terceros daños materiales en sus bienes. En adición hasta una
							cantidad igual al límite máximo de responsabilidad, esta cobertura
							se extiende a cubrir los gastos y las cosas que sean ocasionados
							por parte del asegurado o del conductor del auto que esté en la
							póliza de seguro, en caso de juicio seguido en su contra con tales
							motivos de su Responsabilidad Civil.
						</li>
					</ul>
					<ul class="ps-3">
						<li class="text">
							<strong
								>Cobertura de Responsabilidad Civil por daños a terceros en sus
								personas:</strong
							>
						</li>
						<p class="text">
							Ampara la Responsabilidad Civil legal al límite máximo de la
							responsabilidad civil, con una cobertura que se extiende a cubrir
							los gastos y los costos que se fuera a concertar con el asegurado
							o del conductor del vehículo asegurado, en caso de juicio seguido
							en su contra con tales motivos de su Responsabilidad Civil; además
							de amparar la responsabilidad civil legal en que se pueda incurrir
							con el asegurado o conductor del vehículo asegurado, que a
							consecuencia de su uso este pueda ocasionar lesiones corporales o
							hasta la muerte a terceros, que pueda incluir la indemnización por
							daño moral que legalmente corresponda.
						</p>
					</ul>

					<ul class="ps-3">
						<li class="text">
							<b
								>Cobertura por Responsabilidad Civil Catastrófica Seguros
								Zurich:</b
							>
						</li>
						<p class="text">
							Logra ofrecer como suma asegurada única en exceso de las sumas
							aseguradas contratadas para las coberturas de Responsabilidad
							Civil por Daños a Terceros en sus bienes y en sus personas, Gastos
							Médicos para los acompañantes, puede amparar los gastos médicos
							como consecuencia de un accidente de tránsito o un asalto se
							causen lesiones corporales a cualquier persona ocupante del
							vehículo asegurado.
						</p>
						<li class="text lista">
							<span class="circulito"></span> Gastos medicos.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos de hospitalización
						</li>
						<li class="text lista">
							<span class="circulito"></span> Servicio de ambulancia
						</li>
						<li></li>
						<li class="text lista">
							<span class="circulito"></span> Prótesis ortopédicas a
							consecuencia del accidente.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Prótesis dentales a consecuencia
							del accidente
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos funerarios
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia Legal
						</li>
						<p class="text">
							Con este tipo de cobertura se te brinda atención a cualquier hora
							del día, cualquier día del año, los servicios profesionales de
							abogados para asistencia y defensa legal a la persona que conduzca
							el vehículo asegurado en caso de juicio por responsabilidad penal
							a causa de la comisión culposa de delitos por tránsito de
							vehículos.
						</p>
						<li class="text lista">
							<span class="circulito"></span> Apoyo Vial
						</li>
						<li class="text lista">
							<span class="circulito"></span> En Caso de Falla Mecánica (grúa,
							ponchadura de llanta, batería, falta de gasolina etc.) desde el
							momento en que sale de su domicilio.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'ZURICH';		
		this.$store.state.config.corePer = true;
		this.$store.state.config.motor = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '88902273';
		this.$store.state.config.grupoCallback = 'VN ZURICH';
		this.$store.state.config.from = 'COMPARAYA-ZURICH';
		this.$store.state.config.idPagina = 187;
		this.$store.state.config.idMedioDifusion = 1284;
		this.$store.state.config.idInteraccion = 2747; //VN Interacción
		this.$store.state.config.idEcommerce = 2746; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 31;
		this.$store.state.config.idSubRamo = 31; //8
		this.$store.state.config.imgaseg = 'zurich';
		this.$store.state.config.urlRedireccion = 'zurich';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'ZURICH|comparaya-mx-zurich';

		this.$store.state.config.interior = 'zurich';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: 'Zurich Seguros - Cotiza Seguros de Autos Zurich - Comparaya.mx',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'Zurich, Zurich Seguros, Seguros Zurich, Seguros de autos Zurich, Cotizador Zurich, Aseguradora Zurich, Cotizar seguro de auto Zurich, Seguros Zurich Autos',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'¡Cotiza con Zurich Seguros al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Zurich. ¡Es fácil y rápido!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/zurich/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #0030a6;
	}
}
</style>

