<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card card-body mt-3">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="media">
                  <img class="ms-0 mt-0 img-fluid axaimg imgaseg" src="/seguros-de-autos/img/aseguradoras-logo/color/zurich.svg">
                  <div class="media-body ms-3">
                    <h5 class="asegcolor mt-2">Seguros Zurich</h5>
                    <p class="review">reviews 4.5</p>
                    <span class="starthanks comparacolor">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                <h3 id="graciasPorcotizar" class="asegcolor titlethanks mb-0 mt-0">Hola {{this.$store.state.formData.nombre}} ya tenemos las coberturas para tu seguro de auto:</h3>
                <h5 class="texto-a"> {{this.$store.state.formData.marca}} {{this.$store.state.formData.modelo}} {{this.$store.state.formData.descripcion}}   {{this.$store.state.formData.detalle}} </h5>
                <p>Asesor: {{this.$store.state.solicitud.nombreEjecutivo}}   Tel&eacute;fono: {{this.$store.state.solicitud.telefonoAS}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <thankzurich-content/>
  </div>
</template>
<script>
  import ThankzurichContent from '~/components/content/agradecimiento/Thankzurich.vue'
  export default {
    layout: 'thanks',
    async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
      ThankzurichContent
    },
    head() {
      return {
        title: 'Zurich Seguros - Cotiza Seguros de Autos Zurich - Comparaya.mx',
        meta: [
         {hid: 'keywords', name: 'keywords', content: 'Zurich, Zurich Seguros, Seguros Zurich, Seguros de autos Zurich, Cotizador Zurich, Aseguradora Zurich, Cotizar seguro de auto Zurich, Seguros Zurich Autos'}, 
          {hid: 'description', name: 'description', content: '¡Cotiza con Zurich Seguros al mejor precio en Comparaya.mx! Compara, elige y en 30 Segundos tendrás tu seguro de auto Zurich. ¡Es fácil y rápido!'}, 
          {hid: 'author', name: 'author', content: 'twitter | @vargasdesignMx'}, 
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'}, 
          {hid: 'canonical', rel: 'canonical', href:'https://comparaya.mx/seguros-de-autos/zurich/thanks/'}, 
          {hid: 'robots', name:'robots', content:'index,follow'},
        ]
      }
    },
    created: function () {
      if (this.$store.state.formData.nombre != '') {
        this.$store.state.config.loading = true;
        this.$store.commit('validateData');
      }
      else {
   this.$router.replace({path: '/error/'});
      }
      this.$store.state.config.telefonoAS = '5547495115';
    }
  
  };
  
</script>
<style>
  .asegcolor{color: #00539d;font-weight: bold;}
  .btnv{display: none;}
  .subtitleh1{color: #888;}
  .h1style{color: #555;}
</style>

