<template>
	<div>
		<div class="container-fluid bg-hdi">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto HDI</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>
		<!---------------------------------*************  C O N T E N I D O  ************-------------------------------->
		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Por qué proteger mi auto con HDI Seguros? ¡Encuentra la respuesta
						en Compara Ya!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						HDI Seguros es una de las aseguradoras de mayor prestigio y
						preferencia en el país, posicionada como la quinta más importante en
						el ramo de seguros para auto debido a su amplia cobertura en todo el
						territorio y asegurar en la actualidad a más de 1.2 millones de
						autos en México.
					</p>
					<p class="text">
						HDI es una empresa alemana presente en más de 150 países y se ha
						ganado su lugar en el país gracias a su excelente servicio y
						eficiencia, siempre innovando con nuevos servicios y garantías
						enfocadas a cubrir todas las necesidades de los conductores en la
						república mexicana.
					</p>
					<p class="text">
						Su solidez financiera le ha permitido ofrecer diversos servicios,
						como seguros de vida, para negocios o desastres naturales. Sin
						embargo el más destacado es el aseguramiento de autos, pues para
						ello posee más de 80 centros de atención en todo el territorio,
						garantizandote estar cubierto a donde vayas.
					</p>
					<p class="text">
						Por ello en Comparaya.mx colaboramos de cerca con Seguros HDI,
						trayéndote toda la información que debes conocer sobre sus
						servicios, beneficios, coberturas y ofertas especiales. De esta
						manera podrás tomar la mejor decisión y asegurar tu auto ante
						cualquier riesgo o imprevisto.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Ventajas de contar con HDI Seguros</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						HDI Seguros de Autos cuenta con más de un siglo de experiencia
						ofreciendo la mejor protección para sus usuarios. Entiende las
						preocupaciones y los riesgos actuales que son la principal
						preocupación de todos los propietarios, por lo cual está en
						constante adaptación para ofrecer pólizas con el equilibrio perfecto
						entre seguridad y precio.
					</p>
					<p class="text">
						Además del compromiso con la seguridad y la calidad de atención,
						también implementan ofertas o beneficios especiales para la
						satisfacción de los clientes ante cualquier servicio que soliciten a
						la empresa.
					</p>
					<p class="text">
						Algunos de estos beneficios únicos que solo el Seguro de Auto HDI
						tiene son:
					</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Garantía de calidad en
							reparaciones de pintura y hojalatería de por vida.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Pago garantizado en 2 días en caso
							de pérdida total. En caso de algún retraso se te pagará $1000
							pesos por cada día de retraso.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección a mascotas en la cual
							recibirás un monto de $15 mil pesos para gastos veterinarios o
							funerarios.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Apoyo mecánico en el lugar en caso
							de falla mecánica.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Servicio de chofer en caso de
							estado de ebriedad.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos médicos y cirugías
							estéticas en caso de accidentes.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En caso de robo total no pagarás
							deducible (aplica solo en ciertas coberturas).
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes asegurar tus llantas y
							rines contra daños o robo.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Cuales son los servicios básicos que ofrece Seguros HDI?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Así como todas las aseguradoras, HDI Seguros se enfoca en ofrecer la
						protección básica e indispensable en todos los paquetes o pólizas
						que ofrece a los usuarios, pues a pesar de que son variadas tanto en
						costos como en cantidad de beneficios, todas ellas cuentan con los
						requerimientos mínimos para asegurar tu bienestar en los imprevistos
						más delicados.
					</p>
					<p class="text">Entre los servicios básicos de HDI se encuentran:</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span>
							<strong>Cobertura de Responsabilidad Civil:</strong> Esta cubre
							los gastos en daños causados a terceras personas, como daños
							materiales a vehículos, viviendas, negocios, mobiliario público y
							lesiones o muerte en personas involucradas.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong> Gastos Médicos:</strong> Todas las pólizas también
							incluyen la cobertura de gastos médicos extendidos para los
							ocupantes del vehículo, la cual en caso de lesiones por accidente
							costea gastos de traslados, hospitalización, cirugías,
							medicamentos, etc.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong> Asistencia Legal:</strong> En caso de que tengas un
							problema jurídico, ya sea una demanda o estés detenido por un tema
							relacionado con tu vehículo, se te brindará defensa y asesoría
							legal. De igual manera se contempla el pago de multas o fianzas
							según aplique el caso.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong> Servicio de traslado:</strong> En caso de que te
							encuentres en estado inconveniente para poder conducir tu
							vehículo, podrás solicitar un auto con chofer para que te lleve a
							tu domicilio o cualquier lugar que necesites con seguridad.
						</li>
						<li class="text lista">
							<span class="circulito"></span>
							<strong> RC en el Extranjero:</strong> Si viajas al extranjero con
							tu vehículo contarás con la cobertura de responsabilidad civil
							para protegerte contra gastos y responsabilidades de daños a
							terceros.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¡Conoce todas las coberturas que HDI Seguros Autos tiene para ti!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p>
						Ya conoces los servicios básicos que ofrecen las Pólizas HDI, sin
						embargo, dependiendo de la extensión de cada una, se implementan más
						beneficios y protecciones para tu vehículo de igual manera
						necesarias y entre las cuales puedes elegir para tener la protección
						adecuada a un costo adecuado.
					</p>
					<p>
						En Comparaya.mx te mostramos de forma sencilla y rápida todas las
						Coberturas HDI de las que dispones:
					</p>

					<div class="table-responsive col-12 col-md-8 offset-md-2">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">COBERTURA</th>
									<th scope="col">PREMIER</th>
									<th scope="col">ESTÁNDAR</th>
									<th scope="col">BÁSICA</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">RESPONSABILIDAD CIVIL</th>
									<td>$3,500,000</td>
									<td>$2,000,000</td>
									<td>$1,500,000</td>
								</tr>
								<tr>
									<th scope="row">GASTOS MÉDICOS</th>
									<td>$300,000</td>
									<td>$250,000</td>
									<td>$200,000</td>
								</tr>
								<tr>
									<th scope="row">ASISTENCIA VIAL</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">ASISTENCIA LEGAL</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">DAÑOS MATERIALES</th>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">ROBO TOTAL</th>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">VANDALISMO</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">REPARACIÓN EN AGENCIA</th>
									<td>SI</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">AUTO SUSTITUTO</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">RC EN EXTRANJERO</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿En qué consiste el Seguro de Auto HDI y para que vehículos
						funcionan?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p>
						Ahora que ya has visto todos los beneficios y los tipos de pólizas
						que te ofrece el Seguro de Auto HDI te preguntarás ¿Cuál es la
						diferencia y para quién funciona mejor? No te preocupes, en Compara
						Ya te explicamos.
					</p>
					<p>
						Aparte de la obvia diferencia en cuanto a costos, las diferentes
						coberturas de HDI Seguros están hechas para satisfacer las
						necesidades de diferentes públicos y los vehículos con los que
						cuentan.
					</p>
					<p>
						Todas cuentan con los servicios básicos y obligados en México para
						poder circular, sin embargo van aumentando los beneficios en función
						de las exigencias especiales, los costos de los vehículos y la
						susceptibilidad de las personas a enfrentarse a diversas situaciones
						dependiendo su contexto.
					</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Protección Básica: También
							conocida como cobertura de responsabilidad civil, es la cobertura
							más básica que cubre los daños a terceros que podamos provocar con
							nuestro vehículo, incluyendo en este caso para mayor seguridad el
							beneficio de gastos médicos, asistencia legal y servicio de
							traslados. Esta cobertura se recomienda a vehículos de más de 10
							años de antigüedad.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección estándar: Esta
							cobertura tiene el plus de que tu vehículo estará cubierto ante
							robo total, además de contar con todos los beneficios de la
							cobertura básica pero con extensión a todos los ocupantes del
							vehículo. Este seguro se recomienda para vehículos de 5 a 10 años
							de antigüedad.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Protección Premier: Esta cobertura
							está diseñada para cubrir a tu carro, a ti y a tus acompañantes
							ante todo tipo de situaciones o riesgos que puedan enfrentar.
							Cubre aparte de todos los servicios anteriormente mencionados,
							daños materiales por accidente, factores externos como caída de
							objetos, vandalismo y fenómenos naturales. De igual manera se te
							proporciona un auto sustituto en caso de robo o reparación del
							auto. Esta póliza está pensada para vehículos último modelo o con
							una antigüedad menor a 5 años.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Un seguro para autos turistas? ¡Aseguradora HDI lo tiene para ti!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Este es uno de los seguros más completos y eficientes en el mercado
						para autos turistas con placas de otros países que circulen en
						México. Esta póliza de HDI está diseñada para brindar la mayor
						protección al carro y los ocupantes ante las amenazas que pueden
						sufrir en el país.
					</p>
					<p class="text">
						Esto incluye apoyo ante accidentes, robo, fallas mecánicas,
						servicios médicos y asesoría legal entre muchos otros servicios
						útiles e indispensables para un viaje seguro, tranquilo y
						satisfactorio.
					</p>
					<p class="text">
						Entre los beneficios que ofrece el Seguro de Turista HDI se
						encuentran:
					</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Vandalismo o robo parcial: En caso
							de sufrir daños derivados de vandalismo o robo de autopartes, se
							te indemnizará con hasta $5,000 dólares.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En caso de robo, avería o
							accidente, se te brindará el pago de transporte para llevarte a tu
							destino y de igual manera se cubrirán los costos de hospedaje en
							hoteles.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asesoría legal en caso de tener un
							inconveniente con las autoridades (cuentas con servicios bilingües
							y contacto a embajadas).
						</li>
						<li class="text lista">
							<span class="circulito"></span> Servicio médico nacional en caso
							de sufrir algún accidente o una emergencia médica.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Derecho a transporte en ambulancia
							aérea a E.U. o Canadá.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Podrás elegir el taller que
							prefieras para la reparación de tu vehículo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Si el vehículo solo tiene garantía
							en E.U. se transportará hasta la frontera para que puedas darle
							atención en tu país de residencia.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Asistencia vial en la cual se te
							brindará ayuda en caso de que necesites cambio de neumáticos,
							suministro de gasolina, paso de corriente o arrastre por grúa.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="hdi#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">¿Para qué sirve la app HDI Contigo?</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Se trata de una aplicación para dispositivos móviles desarrollada
						por HDI Seguros en la cual podrás disponer de todos los servicios
						que te proporciona tu seguro de autos de forma práctica y rápida a
						donde sea que vayas.
					</p>
					<p class="text">
						Esta aplicación se encuentra disponible para su descarga gratuita en
						las tiendas digitales Apple Stores y Play Stores.
					</p>
					<p class="text">Por medio de esta plataforma podrás:</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Reportar un siniestro o accidente.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Solicitar apoyo vial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Solicitar asistencia médica.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Administrar y consultar tus
							pólizas.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Consultar los servicios que tienes
							contratados.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Aclaración de dudas en torno a tu
							contrato.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Qué debo hacer en caso de accidente, robo o algún imprevisto?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						En caso de que llegues a sufrir cualquier tipo de percance o
						inconveniente con tu vehículo y necesites disponer de la ayuda de la
						Aseguradora HDI, lo primero que necesitas es guardar la calma y
						ponerte en contacto inmediatamente por las líneas de asistencia
						telefónica disponibles para ti, tanto en México como en el
						extranjero, o por medio de la app móvil.
					</p>
					<p class="text">
						Debes informar al centro de atención a clientes cuál es la situación
						que tienes con todas las especificaciones posibles. En el caso de
						accidente, deberás notificar si hay heridos y solicitar la
						asistencia médica en caso de que sea necesaria.
					</p>
					<p class="text">
						Deberás tratar de mover el vehículo y las autopartes que se hayan
						desprendido lo menos posible. De igual manera no deberás hacer
						ningún trato personal o admitir ningún responsabilidad con los
						terceros implicados.
					</p>
					<p class="text">
						El tiempo de llegada del ajustador es de en promedio 30 minutos a
						partir del reporte. Deberás proporcionar bien tu ubicación o
						compartirla por la app y esperar a que este llegue para poder darte
						la ayuda necesaria y que te de indicaciones de como proceder según
						sea el caso.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Cómo elegir la cobertura adecuada para mi auto?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Como habrás podido ver, HDI Seguros ofrece una extensa cantidad de
						coberturas y beneficios especiales que puedes adquirir para la
						protección de tu carro, tu familia y la tuya misma. Sin embargo no
						todas son aptas para todo público, están diseñadas para tipos de
						usuarios en específico, por lo cual, antes de contratar debes
						analizar cuál de ellas es la adecuada para ti.
					</p>
					<p class="text">
						Antes de elegir la póliza para tu auto basándote en el precio
						(práctica muy común entre los consumidores) debes contemplar cuales
						son tus verdaderas necesidades a cubrir y los riesgos a los que te
						puedes enfrentar.
					</p>
					<p class="text">
						Sabemos que todos somos vulnerables a sufrir cualquier tipo de
						percance en todo lugar y momento al conducir, sin embargo, hay
						quienes por el contexto que viven en su lugar de residencia,
						trayectos por los que circulan y características personales, son más
						propensos a ciertos riesgos que otros.
					</p>
					<p class="text">
						Tenemos que considerar factores como nuestro lugar de residencia, la
						incidencia de accidentes, incidencia en robo de autos, los fenómenos
						naturales que puedan presentarse, las características propias de
						nuestro vehículo y el uso que le damos a este.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">¡Compara Ya y obtén tu Seguro de Auto HDI!</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Con Comparaya.mx podrás cotizar, comparar y elegir en solo segundos
						la póliza HDI Seguros que mejor se adapte a ti en cuestión de
						cobertura y precio.
					</p>
					<p class="text">
						Solo necesitas conocer los datos esenciales de tu vehículo e
						información básica para poder comenzar a proteger tu patrimonio, a
						tu familia y a ti ante cualquier riesgo que se presente.
					</p>
					<p class="text">
						¡Asegurate ahora mismo y conduce con la tranquilidad y confianza de
						estar protegido en todo lugar y momento!
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';


export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'HDI';
		this.$store.state.config.motor = true;
		this.$store.state.config.corePer = true;
		this.$store.state.config.cotizaciones = true;
		this.$store.state.config.cotizacion = true; // se modifica el 16 julio
		this.$store.state.config.dataAli = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.descuento = 25;
		this.$store.state.config.telefonoAS = '88902230'; //
		this.$store.state.config.grupoCallback = 'VN HDI'; //
		this.$store.state.config.from = 'COMPARAYA-HDI';
		this.$store.state.config.idPagina = 159; //SE MODIFICO EN BASE AL ARCHIVO
		this.$store.state.config.idMedioDifusion = 1278; //VN HDI
		this.$store.state.config.idInteraccion = 2409; //VN Interacción
		this.$store.state.config.idEcommerce = 2372; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 17; //
		this.$store.state.config.idSubRamo = 32;
		this.$store.state.config.imgaseg = 'hdi';
		this.$store.state.config.urlRedireccion = 'hdi';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'HDI|comparaya-mx-hdi';

		this.$store.state.config.interior = 'hdi';
	},

	

	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: '🥇HDI Seguros - Cotiza Seguro de Auto HDI - Compara Ya',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						' HDI, HDI Seguros, Seguros HDI, Seguros de Autos HDI, Seguro de Auto HDI, HDI Seguros Autos, Aseguradora HDI, Coberturas HDI',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						'HDI Seguros cuenta con beneficios y servicios únicos en el mercado para tu auto ¡✅ Tu Seguro de Auto HDI en 30 segundos!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/hdi/',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #3b6837;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #3b6837;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #3b6837;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #3b6837;
	}
}
</style>

