<template>
	<div>
		<div class="container-fluid bg-axa">
			<header-component />

			<div class="row marg-arriba">
				<div class="col-12 col-md-5">
					<!--PROMO HOTSALE-->
					<ficha />

					<div class="d-none d-md-block text-center mt-5">
						<!--<img
								src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png"
								alt="mono compara"
								class="fig1 img-fluid d-none d-md-block"
								width="358"
								height="307"
						  />-->
						<img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/car-compara.png" alt="Buen fin" width="358" height="307" class="img-fluid" />
					</div>
					<infoad-component />
				</div>
				<div class="col-md-7 col-lg-7 px-1 px-md-4">
					<h1 class="tprin text-center">Cotiza tu Seguro de Auto AXA</h1>
					<small class="text-center text-peq d-block text-muted"
						>Ingresa los datos de tu auto para cotizar en segundos</small
					>
					<autos-form-landing
						:config="this.$store.state.config.aseguradora"
					></autos-form-landing>
				</div>
			</div>

			<!--VISTA DE CEL-->
			<div class="row  d-md-none py-3">
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="tarjeta1c"></span>
					<small class="">12 Meses Sin Intereses </small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="etiq1c"></span>
					<small class="">Ahorra hasta el 50%</small>
				</div>
				<div class="col-4 col-md-4 mb-lg-3 text-center">
					<span class="reloj1c"></span>
					<small class="">compara en 10 segundos</small>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Por qué asegurar tu auto con AXA Seguros? ¡Descúbrelo en Compara
						Ya!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						AXA Seguros hoy en día y desde hace años se ha destacado como una de
						las principales y más importantes aseguradoras en México y en el
						mundo. Sus altos estándares de calidad enfocados a ofrecer a sus
						clientes la más amplia seguridad y satisfacción los han vuelto
						líderes en preferencia por el público.
					</p>
					<p class="text">
						El éxito y reputación de AXA lo han ganado ofreciendo varias de las
						más extensas coberturas en cuanto a servicios de aseguramiento,
						adaptándose tanto a las necesidades como la economía de los
						diferentes usuarios que buscan proteger su patrimonio y a sus
						familias.
					</p>
					<p class="text">
						En Comparaya.mx podrás conocer más acerca de los grandes beneficios
						y ventajas que te ofrece AXA Seguros, así como también podrás
						comparar, cotizar y contratar la póliza de auto más adecuada para
						ti, que cubra todas tus necesidades y exigencias y sobre todo ¡al
						mejor precio!
					</p>
					<p class="text">
						¡Así que no esperes más y asegura tu patrimonio, tu vida y la de tu
						familia! Y comienza a manejar con la seguridad y confianza que te
						brinda estar protegido por unas de las más fuertes, responsables y
						eficientes aseguradoras que puedes encontrar.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¡Con AXA Seguros protege tu patrimonio y tu vida!
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Contar con AXA Seguros Autos significa poder viajar y recorrer tu
						día a día con la tranquilidad y confianza de estar respaldado en
						todo momento ante cualquier situación inesperada que pueda ocurrirle
						a tu vehículo o a tu persona.
					</p>
					<p class="text">
						En todo momento puedes tener la certeza de que contarás con la
						atención oportuna y la más amplia cobertura garantizada para tu
						integridad.
					</p>
					<p class="text">
						Sabemos que en todo momento puede presentarse un incidente que pueda
						generarte algún problema, gasto imprevisto o inclusive poner en
						riesgo a ti y a los tuyos, por lo que Seguros AXA está preparado
						para brindarte protección ante:
					</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Accidentes viales: Ésta sin duda
							es la principal preocupación y riesgo que corren todos los
							automovilistas en todo el mundo. Ya sea desde un ligero choque con
							daños materiales menores hasta una colisión grave y letal, todos
							estamos expuestos en todo momento, por lo que contar con la
							cobertura en daños materiales, gastos médicos, asesoría legal e
							indemnizaciones de primordial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Robo parcial y total: El robo de
							vehículos es de igual forma una de las principales preocupaciones
							de los propietarios, especialmente en el contexto de seguridad que
							se vive actualmente en nuestro país, donde todos conocemos las
							alarmantes cifras en cuanto a incidencia delictiva. Conocemos el
							esfuerzo que cuesta obtener un automóvil y el gran valor que tiene
							para tu negocio o tu vida diaria, por lo que Seguros AXA protege
							tu inversión.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Daños a terceros o Responsabilidad
							Civil: Otro punto importante y obligatorio hoy en día es contar
							con una cobertura que te ampare y repare los daños que puedas
							llegar a ocasionar accidentalmente a terceras personas, ya sea en
							sus bienes como en su salud. El vernos involucrados en una
							situación así puede ocasionarnos muchos problemas tanto legales
							como económicos, por lo que contar con AXA Seguros es
							indispensable.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cobertura en el extranjero: AXA
							Seguros es una de las pocas empresas que ofrece su cobertura
							también en el extranjero, por lo que si eres de los que
							acostumbran viajar a E.U. o Canadá por negocios, visitar a la
							familia o simplemente para pasar unas vacaciones, este es el
							seguro perfecto para ti.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Beneficios únicos de contar con Seguros AXA</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						AXA está comprometido con brindarte la mejor y más eficiente
						experiencia como usuario, por lo que cuenta con una de las mejores
						organizaciones logísticas para auxiliarte en cualquier lugar y en
						todo momento.
					</p>
					<p class="text">Sus beneficios y garantías únicas son:</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Se realiza el pago de tu
							indemnización en un máximo de 72 horas en caso de pérdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Cuenta con una de las mayores
							redes de ajustadores en todo el país, asegurando tu atención
							rápida y oportuna.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Centros de reparación y talleres
							certificados en todo México.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Todas las necesidades cubiertas
							ofreciendo asistencia vial, atención médica, asesoría legal y
							atención administrativa.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Los asesores y los servicios se
							encuentran disponibles las 24 horas del día los 365 días del año.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">¡Ahora también cuentas con MyAXA!</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						MyAXA es la innovadora y eficiente aplicación para teléfonos móviles
						que AXA ha desarrollado para sus clientes. Esta tiene la finalidad
						de mantenerte al tanto de todos los servicios disponibles así como
						de los movimientos de tus diferentes pólizas.
					</p>
					<p class="text">
						Esta app es compatible para cualquier dispositivo móvil y la puedes
						descargar de manera gratuita en Apple Stores y Play Store.
					</p>
					<p class="text">
						Para poder ingresar únicamente tienes que ingresar el número de tu
						póliza y seguir todos los pasos que van siendo señalados.
					</p>
					<p class="text">
						En esta app no solo podrás consultar la información de la póliza de
						tu auto, en dado caso de que tengas otro servicio de seguro con AXA,
						como lo son los seguros de vida, de hogar, entre otros, aquí también
						los podrás consultar.
					</p>
					<p class="text">Entre las funciones de la app se encuentran:</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Reportar una emergencia.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Conocer la ubicación y el avance
							del ajustador en camino al lugar de un incidente.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Conocer en tiempo real el estatus
							sobre tu siniestro reportado.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes consultar dudas sobre tu
							póliza en el chat de la app.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Consultar y descargar de manera
							digital tus pólizas de cualquier servicio que tengas contratado.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes obtener tu tarjeta de
							póliza de forma digital.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Ubicación de todos los servicios
							AXA (agencias, talleres mecánicos, pintura, hojalatería, etc.)
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes realizar el pago de tu
							póliza con diferentes medios.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Puedes solicitar asistencia médica
							en caso de emergencia.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Cuales son los tipos de coberturas de AXA Seguro de Autos?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Dentro de AXA Seguro de Autos se ofrecen diferentes pólizas, cada
						una de ellas pensada para las distintas necesidades de cada vehículo
						y persona.
					</p>
					<p class="text">
						Por lo cual dispondrás de una amplia variedad de opciones en cuanto
						a beneficios, costos y condiciones para elegir y que se adapten
						perfectamente a tus exigencias en cuanto a protección.
					</p>
					<p class="text">Las principales coberturas de AXA Seguros son:</p>

					<strong>Cobertura básica.</strong>
					<p class="text">
						Esta es la póliza más austera y económica, pues como su nombre lo
						dice, solo incluye los servicios básicos que todos los
						automovilistas por obligación deben tener. Tal cobertura ampara ante
						responsabilidad civil, defensa legal y extensión de R.C. (opcional).
					</p>

					<strong>Cobertura esencial.</strong>
					<p class="text">
						Esta cobertura limitada ya incluye algunos beneficios más, como la
						extensión de R.C. a ocupantes del auto y protección ante robo. Tanto
						esta cobertura como la básica solo es recomendable para vehículos de
						más de 10 años de antigüedad y con un costo actual bajo.
					</p>

					<strong>Amplia Básica.</strong>
					<p class="text">
						En este paquete se agrega la cobertura ante daños materiales, gastos
						médicos y servicio de asistencia vial. Se sugiere como la cobertura
						mínima para autos con una antigüedad menor a 10 años.
					</p>

					<strong>Cobertura Amplia.</strong>
					<p class="text">
						Esta póliza está diseñada para proteger el auto y los ocupantes ante
						casi todas las circunstancias de riesgo posibles. Se cubren daños
						materiales, responsabilidad civil, robo, gastos médicos,
						indemnizaciones, asesoría legal, asistencia vial, robo de autopartes
						y cobertura en el extranjero.
					</p>

					<strong>Cobertura Amplia Plus.</strong>
					<p class="text">
						Esta cobertura es la más completa que brinda Seguros AXA, pues
						cuenta con todos los servicios anteriormente mencionados pero con
						montos mucho más altos y beneficios especiales en cuanto a cobro de
						deducibles y devolución de prima.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Qué beneficios te brinda la Aseguradora AXA?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<div class="table-responsive col-12 col-md-8 offset-md-2">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">COBERTURAS</th>
									<th scope="col">Amplia Plus</th>
									<th scope="col">Amplia</th>
									<th scope="col">Amplia Básica</th>
									<th scope="col">Esencial</th>
									<th scope="col">Básica</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Daños Materiales</th>
									<td>Valor comercial, 3%</td>
									<td>Valor comercial, 5%</td>
									<td>Valor comercial, 8%</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">Robo Total</th>
									<td>Valor comercial, 5%</td>
									<td>Valor comercial, 10%</td>
									<td>Valor comercial, 12%</td>
									<td>Valor comercial, 10%</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">Responsabilidad Civil</th>
									<td>$1,250,000</td>
									<td>$1,000,000</td>
									<td>$800,000</td>
									<td>$750,000</td>
									<td>$750,000</td>
								</tr>
								<tr>
									<th scope="row">Servicios de Asistencia</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">Gastos Médicos a Ocupantes</th>
									<td>$250,000</td>
									<td>$200,000</td>
									<td>$100,000</td>
									<td>$150,000</td>
									<td>$150,000</td>
								</tr>
								<tr>
									<th scope="row">Defensa Legal</th>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
								<tr>
									<th scope="row">Extensión de RC</th>
									<td>SI</td>
									<td>Opcional</td>
									<td>-</td>
									<td>Opcional</td>
									<td>Opcional</td>
								</tr>
								<tr>
									<th scope="row">RC personas en exceso</th>
									<td>$3,000,000</td>
									<td>$3,000,000</td>
									<td>$2,000,000</td>
									<td>$3,000,000</td>
									<td>$3,000,000</td>
								</tr>
								<tr>
									<th scope="row">Accidentes al conductor</th>
									<td>$100,000</td>
									<td>Opcional</td>
									<td>-</td>
									<td>Opcional</td>
									<td>Opcional</td>
								</tr>
								<tr>
									<th scope="row">Auto Consentido</th>
									<td>SI</td>
									<td>Opcional</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">Robo parcial de autopartes</th>
									<td>$25,000 Ded 25%</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">
										Eliminación de deducible y devolución de primas
									</th>
									<td>SI</td>
									<td>Opcional</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<th scope="row">Responsabilidad Civil en el Extranjero</th>
									<td>SI</td>
									<td>SI</td>
									<td>-</td>
									<td>SI</td>
									<td>SI</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">Coberturas adicionales en el Seguro AXA</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						A parte de todos los beneficios mencionados en las diferentes
						pólizas, Seguros AXA también ofrece paquetes o beneficios
						adicionales para poder personalizar justo a la medida cada cobertura
						en caso de que tu auto o tú tengan necesidades especiales.
					</p>
					<p class="text">Entre estas coberturas adicionales se encuentran:</p>

					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Equipo especial: Protege el equipo
							adicional que instales en tu auto aparte del original.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Adaptaciones/Conversiones: Ampara
							daños o robo de piezas extra que hayas instalado en el carro.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Multas y Corralón: Se te reembolsa
							el pago de multas y corralón derivado de algún accidente vial.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Gastos de transporte: En caso de
							que tu auto se encuentre en reparación se te dará un monto de $300
							pesos diarios como sustento para transportarte hasta que se te
							devuelva el vehículo.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid my-3 my-lg-4 d-none d-md-block">
			<div class="row">
				<div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
					<picture>
						<source srcset="/seguros-de-autos/img/circulo-mono.webp" type="image/webp" />
						<img
							src="/seguros-de-autos/img/circulo-mono.png"
							alt="mono2"
							class="monocirc d-none d-md-block"
							width="270"
							height="270"
						/>
					</picture>
				</div>
				<div class="col-7 col-md-6  my-auto">
					<div class="row">
						<div class="col-12 px-lg-5 fichabtn py-3 d-grid gap-2">
							<p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
							<a
								href="axa#formulario"
								class="my-2 btn btn-block btn-success btncotiza"
							>
								<div class="form-e">
									Cotizar Ahora <span class="f-sig"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-4 pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h3 class="borde-tit">
						¿Cual es el proceso de atención de AXA Seguros?
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<strong>Reparación </strong>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Para este servicio es necesario
							que asistas al taller con el pase que te entrega el ajustador
							cuando se registra el accidente. En un tiempo no mayor a 72 horas
							tu auto será revisado.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Al evaluar tu auto y de acuerdo
							con la gravedad de los daños, se estimará el tiempo de reparación.
							En promedio se manejan 12 días en el taller.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En la app de AXA podrás dar
							seguimiento a la reparación.
						</li>
					</ul>

					<strong>Pérdida total</strong>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> El vehículo será revisado en un
							plazo máximo de 72 horas, y en caso de que los daños sean graves e
							irreparables se decretará la perdida total.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Seguros AXA solicitará la entrega
							de la documentación correspondiente especificada en tu contrato
							para poder proseguir.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Se realizará la entrega de tu
							dinero en un plazo máximo de 72 horas a partir de que los
							documentos estén correctos.
						</li>
					</ul>

					<strong>Daños materiales</strong>
					<ul>
						<li class="text lista">
							<span class="circulito"></span> Deberás asistir al taller o
							agencia asignada con el pase emitido por tu ajustador.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Debes asistir a ventanillas con
							los documentos pertinentes (póliza del auto, INE, pase del
							ajustador, formato firmado, etc).
						</li>
						<li class="text lista">
							<span class="circulito"></span> Si los documentos están correctos
							se hará el pago de la indemnización por daños materiales en un
							plazo máximo de 48 horas.
						</li>
					</ul>

					<strong>Robo del auto</strong>
					<ul class="ps-3">
						<li class="text lista">
							<span class="circulito"></span> Al momento de hacer el reporte de
							robo, se te solicitará levantar la denuncia correspondiente en la
							agencia del Ministerio Público más cercana al lugar de los hechos.
							A partir de esto se contarán 30 días para la localización del
							vehículo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> En caso de que pase este límite de
							tiempo sin haber localizado tu auto, podrás asistir a la
							ventanilla de atención a clientes para tramitar tu carta de
							pérdida total por robo.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Tendrás que dar de baja las placas
							de tu automóvil robado.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Tendrás que entregar toda la
							documentación que se te sea requerida y que se encuentra
							especificada en el contrato.
						</li>
						<li class="text lista">
							<span class="circulito"></span> Una vez que todo el procedimiento
							y los documentos estén correctos, se procederá a pagarte la
							indemnización en un plazo máximo de 72 horas.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">¿Cómo elijo la Póliza AXA ideal para mí?</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						Para elegir tu Seguro de Auto AXA y la cobertura más adecuada para
						ti y para tu vehículo, es necesario que analices detenidamente
						cuáles son las necesidades y exigencias reales que tienes en tu día
						a día y que son indispensables protegerte.
					</p>
					<p class="text">
						Muchas personas cometen el error de optar por el seguro más
						económico, y a pesar de que brindan las protecciones básicas y
						obligatorias, no quiere decir que sea suficiente para garantizar la
						integridad de tu patrimonio y de tu salud.
					</p>
					<p class="text">
						Por ello primero que nada debes considerar los riesgos que están
						presentes dependiendo el lugar donde resides, pues es una realidad
						que todos, dependiendo de nuestra ubicación geográfica, nos
						encontramos expuestos a diferentes factores.
					</p>
					<p class="text">
						Se deben considerar aspectos como los índices de accidentes de tu
						ciudad, susceptibilidad a fenómenos naturales como inundaciones,
						huracanes, incendios, derrumbes, etc. Y finalmente también debemos
						contemplar la incidencia delictiva a la cual siempre está propenso
						nuestro vehículo en mayor o menor medida.
					</p>
					<p class="text">
						Una vez detectadas y consideradas estas condiciones, debemos
						considerar el tipo de vehículo que tenemos, el valor actual en el
						mercado, si tiene piezas o adaptaciones, la frecuencia de uso que le
						damos y muy importante, para qué lo utilizamos.
					</p>
					<p class="text">
						Esto último porque no es el mismo valor y necesidades que tiene un
						vehículo de uso particular al que tiene uno de uso comercial, del
						cual puede depender el desarrollo de un negocio.
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-t pt-md-4 pt-lg-5">
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 ps-md-0">
					<h4 class="borde-tit">
						¡Contrata tu Seguro de Auto AXA fácil y rápido desde Compara Ya!?
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-11 mx-auto col-md-11 ms-md-3 ms-lg-5 mt-2 ">
					<p class="text">
						En Comparaya.mx tienes una excelente herramienta con la cual podrás
						comparar, cotizar y contratar tu Seguro de Auto AXA entre más de 27
						aseguradoras en sólo 30 segundos.
					</p>
					<p class="text">
						Asegurandote de esta forma que tomas la mejor decisión, de forma
						rápida, informada y segura.
					</p>
					<p class="text">
						De igual manera, si ya eres usuario de AXA Seguros Autos, a través
						de Comparaya.mx podrás realizar la renovación y modificación de tu
						póliza de manera rápida y sencilla.
					</p>
					<p class="text">
						¡No te quedes sin asegurar, recuerda que de eso depende la seguridad
						de tu patrimonio y tu familia!
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-inter.vue';
import AutosFormLanding from '~/components/forms/AutosFormLandingInternos.vue';
import telefonoService from "~/plugins/telefonoService.js";
import ficha from '~/components/common/fichaDescuentos.vue';
import infoadComponent from '~/components/common/infoad.vue';

export default {
	layout: 'sin-alerta',


	beforeCreate() {
		this.$store.state.config.aseguradora = 'AXA';
		this.$store.state.config.corePer = true;		
		this.$store.state.config.cotizaciones = true;		
		this.$store.state.config.dataAli = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.cotizacion = true;
		this.$store.state.config.motor = true;
		this.$store.state.config.emision = true;
		this.$store.state.config.dataAli = true;
		this.$store.state.config.descuento = 0;
		this.$store.state.config.telefonoAS = '88902232';
		this.$store.state.config.grupoCallback = 'VN AXA';
		this.$store.state.config.from = 'COMPARAYA-AXA';
		this.$store.state.config.idPagina = 159; //SE MODIFICO CON BASE AL ARCHIVO
		this.$store.state.config.idMedioDifusion = 1268; //VN AXA
		this.$store.state.config.idInteraccion = 2518; //VN Interacción
		this.$store.state.config.idEcommerce = 2377; //Venta en Linea Ecommerce
		this.$store.state.config.idCampana = 10; //SE MODIFICO
		this.$store.state.config.idSubRamo = 45; //8
		this.$store.state.config.imgaseg = 'axa';
		this.$store.state.config.urlRedireccion = 'axa';
		this.$store.state.config.textoSMS =
			'Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.';
		this.$store.state.formData.dominioCorreo = 'AXA|comparaya-mx-axa';

		this.$store.state.config.interior = 'axa';
	},
	async created() {
		 try {
    const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
    )
    if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        //console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
    }else{
        //console.log(telefono.data.telefono);
    }	
    }   catch (error) {
    console.log(error);
    }
    this.$store.state.config.reload= false;
	},
	components: {
		HeaderComponent,
		AutosFormLanding,
		ficha,
		infoadComponent,
	},
	head() {
		return {
			title: '🥇AXA Seguros - Cotiza Seguro de Auto AXA - Compara Ya',
			meta: [
				{
					hid: 'keywords',
					name: 'keywords',
					content:
						'AXA Seguros, Seguros AXA, Seguro de auto AXA, AXA Seguros Autos, Cotizar Seguro AXA',
				},
				{
					hid: 'description',
					name: 'description',
					content:
						' AXA Seguros, Multinacional con más de 100 millones de clientes en el mundo protege tu auto. ¡✅ Tu seguro de auto AXA en Segundos!',
				},
				{ hid: 'author', name: 'author', content: '' },
				{
					hid: 'sitemap',
					rel: 'sitemap',
					type: 'application/xml',
					title: 'sitemap',
					href: 'sitemap.xml',
				},
				{
					hid: 'canonical',
					rel: 'canonical',
					href: 'https://comparaya.mx/seguros-de-autos/axa',
				},
				{ hid: 'robots', name: 'robots', content: 'index,follow' },
			],
		};
	},
};
</script>
<style>
@media (max-width: 767px) and (min-width: 426px) {
	.tpromo,
	.tdesc {
		color: #004b92;
	}
}
@media (max-width: 425px) and (min-width: 376px) {
	.tpromo,
	.tdesc {
		color: #004b92;
	}
}
@media (max-width: 375px) and (min-width: 321px) {
	.tpromo,
	.tdesc {
		color: #004b92;
	}
}
@media (max-width: 320px) and (min-width: 240px) {
	.tpromo,
	.tdesc {
		color: #004b92;
	}
}
</style>
